{% extends "admin/_main.html.twig" %}

{% block title %}{{ 'admin.resources.types.label'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('admin') }}">{{ 'admin.label'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('admin_resources') }}">{{ 'admin.resources.label'|trans }}</a> </li>
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block inner %}
    <div class="card">
        <div class="table-responsive">
            <table class="table table-striped table-hover card-table">
                <colgroup>
                    <col class="column-sm">
                    <col>
                    <col class="column-sm">
                </colgroup>

                <thead>
                <tr>
                    <th></th>
                    <th>{{ 'label.name'|trans }}</th>
                    <th></th>
                </tr>
                </thead>

                <tbody>
                {% for type in types %}
                    <tr>
                        <td>
                            {% if type.icon is not empty %}
                                <i class="{{ type.icon }}"></i>
                            {% endif %}
                        </td>
                        <td>
                            {{ type.name }}
                            {% include "_includes/_id.html.twig" with { id: type.id } %}
                        </td>
                        <td>
                            <div class="dropdown">
                                <button type="button" class="btn btn-outline-secondary btn-sm dropdown-toggle" data-bs-toggle="dropdown">
                                    <i class="fas fa-ellipsis-v"></i>
                                </button>

                                <div class="dropdown-menu dropdown-menu-end">
                                    {% if is_granted('edit', type) %}
                                        <a href="{{ path('edit_resource_type', { uuid: type.uuid }) }}" class="dropdown-item">
                                            <i class="fa fa-edit"></i> {{ 'actions.edit'|trans }}
                                        </a>
                                    {% endif %}

                                    {% if is_granted('remove', type) %}
                                        <a href="{{ path('remove_resource_type', { uuid: type.uuid }) }}" class="dropdown-item text-danger">
                                            <i class="fa fa-trash"></i> {{ 'actions.remove'|trans }}
                                        </a>
                                    {% else %}
                                        {% set reason = '' %}

                                        {% if type.id == 1 %}
                                            {% set reason = 'admin.resources.types.remove.error.rooms'|trans %}
                                        {% elseif type.resources.count > 0 %}
                                            {% set reason = 'admin.resources.types.remove.error.in_use'|trans %}
                                        {% endif %}

                                        {% if reason is not empty %}
                                            <a href="#" class="dropdown-item disabled">
                                                <i class="fa fa-trash"></i> {{ 'admin.resources.types.remove.label'|trans }}
                                            </a>
                                            <p class="px-4">
                                                {{ reason }}
                                            </p>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    <div class="card">
        <div class="list-group list-group-flush">
            <a href="{{ path('add_resource_type') }}" class="list-group-item list-group-item-action">
                <i class="fa fa-plus"></i> {{ 'admin.resources.types.add.label'|trans }}
            </a>

            <a href="{{ path('admin_resources') }}" class="list-group-item list-group-item-action">
                <i class="fa fa-arrow-left"></i> {{ 'actions.back'|trans }}
            </a>
        </div>
    </div>
{% endblock %}