{% extends "main.html.twig" %}

{% block title %}{{ 'admin.tuition_grade_types.add.label'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('admin') }}">{{ 'admin.label'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('admin_tuition_grades') }}">{{ 'admin.tuition_grades.label'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('admin_tuition_grade_types') }}">{{ 'admin.tuition_grade_types.label'|trans }}</a></li>
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block post_javascript %}
    <script src="{{ asset('build/collection.js') }}"></script>
{% endblock %}

{% block content %}
    {{ knp_menu_render('dataMenu', {'currentClass': 'active', 'template': 'admin/_menu.html.twig' }) }}

    {{ form_start(form) }}

    <div class="card">
        <div class="card-header">{{ 'label.general'|trans }}</div>

        <div class="card-body">
            {{ form_row(form.displayName) }}

            <div class="mt-2 row">
                {{ form_label(form.values) }}
                <div class="col-md-10">
                    <div class="values" data-collection="values" data-prototype="{{ form_widget(form.values.vars.prototype)|e('html_attr') }}">
                        {% for value in form.values %}
                            {{ form_widget(value) }}
                        {% endfor %}
                    </div>

                    <button class="btn btn-outline-primary btn-sm btn-add" type="button" data-collection="values">
                        <i class="fas fa-plus"></i> {{ 'actions.add'|trans }}
                    </button>

                    {{ form_errors(form.values) }}
                    {{ form_help(form.values) }}

                    {% do form.values.setRendered %}
                </div>
            </div>
        </div>
    </div>

    <div class="buttons">
        <button type="submit" class="btn btn-primary btn-sm">
            <i class="fa fa-plus"></i> {{ 'actions.add'|trans }}
        </button>

        <a href="{{ path('admin_tuition_grade_types') }}" class="btn btn-secondary btn-sm">
            <i class="fa fa-arrow-left"></i> {{ 'actions.back'|trans }}
        </a>
    </div>

    {{ form_end(form) }}
{% endblock %}