{% extends "main.html.twig" %}

{% block title %}{{ 'admin.tuition_grade_types.label'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('admin') }}">{{ 'admin.label'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('admin_tuition_grades') }}">{{ 'admin.tuition_grades.label'|trans }}</a> </li>
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block content %}
    {{ knp_menu_render('dataMenu', {'currentClass': 'active', 'template': 'admin/_menu.html.twig' }) }}

    <div class="container-fluid px-0">
        <div class="row">
            <div class="col-md-9">
                {% if types|length == 0 %}
                    <div class="bs-callout bs-callout-info">
                        <h4>{{ 'info.label'|trans }}</h4>

                        <p>{{ 'admin.tuition_grade_types.empty'|trans }}</p>
                    </div>
                {% else %}
                    <div class="card">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover card-table">
                                <colgroup>
                                    <col>
                                    <col class="column-sm">
                                </colgroup>

                                <thead>
                                <tr>
                                    <th>{{ 'label.display_name'|trans }}</th>
                                    <th></th>
                                </tr>
                                </thead>

                                <tbody>
                                {% for type in types %}
                                    <tr>
                                        <td class="align-middle">{{ type.displayName }}</td>
                                        <td class="align-middle">
                                            <div class="dropdown" >
                                                <button type="button" class="btn btn-outline-secondary btn-sm dropdown-toggle" data-bs-toggle="dropdown">
                                                    <i class="fas fa-ellipsis-v"></i>
                                                </button>

                                                <div class="dropdown-menu dropdown-menu-end">
                                                    <a href="{{ path('edit_tuition_grade_type', { uuid: type.uuid })}}" class="dropdown-item">
                                                        <i class="fa fa-edit"></i> {{ 'actions.edit'|trans }}
                                                    </a>

                                                    <a href="{{ path('remove_tuition_grade_type', { uuid: type.uuid })}}" class="dropdown-item text-danger">
                                                        <i class="fa fa-trash"></i> {{ 'actions.remove'|trans }}
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% endif %}
            </div>

            <div class="col-md-3">
                <div class="card">
                    <div class="list-group list-group-flush">
                        <a href="{{ path('add_tuition_grade_type') }}" class="list-group-item list-group-item-action">
                            <i class="fa fa-plus"></i> {{ 'admin.tuition_grade_types.add.label'|trans }}
                        </a>
                        <a href="{{ path('admin_tuition_grades') }}" class="list-group-item list-group-item-action">
                            <i class="fa fa-arrow-left"></i> {{ 'actions.back'|trans }}
                        </a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ 'admin.tuition_grade_types.presets.label'|trans }}</h5>
                    </div>

                    <div class="list-group list-group-flush">
                        {% for preset in ['onetosix_notrend', 'onetosix_trend', 'zerotofiveteen'] %}
                            <a href="{{ path('add_tuition_grade_type', { preset: preset}) }}" class="list-group-item list-group-item-action">
                                <i class="fa fa-plus"></i> {{ ('admin.tuition_grade_types.presets.'~preset)|trans }}
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}