{% extends "main.html.twig" %}

{% block title %}{{ 'admin.tuition_grade_types.remove.label'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('admin') }}">{{ 'admin.label'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('admin_tuition_grades') }}">{{ 'admin.tuition_grades.label'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('admin_tuition_grade_types') }}">{{ 'admin.tuition_grade_types.label'|trans }}</a></li>
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block content %}
    {{ knp_menu_render('dataMenu', {'currentClass': 'active', 'template': 'admin/_menu.html.twig' }) }}

    {{ form_start(form) }}

    <div class="card border-danger">
        <div class="card-header bg-danger text-white">{{ 'remove.header'|trans }}</div>

        <div class="card-body">
            {{ form_widget(form.group_general.confirm) }}
        </div>
    </div>

    <div class="buttons">
        <button type="submit" class="btn btn-danger btn-sm">
            <i class="fa fa-trash"></i> {{ 'remove.confirm'|trans }}
        </button>

        <a href="{{ path('admin_tuition_grade_types')}}" class="btn btn-secondary btn-sm">
            <i class="fa fa-arrow-left"></i> {{ 'actions.back'|trans }}
        </a>
    </div>

    {{ form_end(form) }}
{% endblock %}