{% extends "profile/_profile.twig" %}

{% block title %}{{ 'profile.switch.label'|trans }}{% endblock %}

{% block switch_active %}active{% endblock %}

{% block javascript %}
    {{ parent() }}

    <script src="{{ asset('build/autocomplete.js') }}"></script>
{% endblock %}

{% block profile_card_body %}
    <div class="card-body">
        {{ form_start(form) }}

        {{ form_widget(form) }}

        <div class="buttons">
            <button type="submit" class="btn btn-primary btn-sm">
                <i class="fa fa-arrow-right"></i> {{ 'profile.switch.button'|trans }}
            </button>
        </div>

        {{ form_end(form) }}
    </div>
{% endblock %}