{% extends "main.html.twig" %}

{% block title %}{{ 'plans.exams.export.label'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('exams') }}">{{ 'plans.exams.label'|trans }}</a></li>
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ 'plans.exams.export.download.label'|trans }}</h5>

            <div class="bs-callout bs-callout-warning">
                <h4>{{ 'plans.exams.export.download.warning'|trans }}</h4>
                <p>{{ 'plans.exams.export.download.info'|trans }}</p>
            </div>

            <a href="{{ path('exams_ics') }}" class="btn btn-outline-primary btn-sm">
                <i class="fa fa-download"></i> {{ 'plans.exams.export.download.filename'|trans }}
            </a>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ 'plans.exams.export.sync.label'|trans }}</h5>

            <p>{{ 'plans.exams.export.sync.info'|trans }}</p>

            {% if token.token is null %}
                {{ form_start(form) }}
                {{ form_row(form.name) }}

                <button type="submit" class="btn btn-outline-primary btn-sm">
                    <i class="fa fa-check"></i> {{ 'actions.create'|trans }}
                </button>

                {{ form_end(form) }}
            {% else %}
                <div class="bs-callout bs-callout-success">
                    <h4>{{ 'plans.exams.export.sync.success_head'|trans }}</h4>
                    <p>{{ 'plans.exams.export.sync.success'|trans }}</p>
                </div>

                <div class="input-group mb-3">
                    <input type="text" class="form-control" value="{{ url('exams_ics_token', { token: token.token }) }}" disabled="disabled">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" data-toggle="tooltip" data-clipboard-text="{{ url('exams_ics_token', { token: token.token }) }}" title="{{ 'clipboard.copy'|trans }}"><i class="fa fa-copy"></i></button>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
