{% extends "main.html.twig" %}

{% block title %}{{ 'plans.exams.label'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="container-fluid px-0">
        <div class="row">
            <div class="col-md-9">

                {% include "_messages.html.twig" %}
                {% set currentFilter = {
                    section: sectionFilter.currentSection ? sectionFilter.currentSection.uuid.toString : null,
                    student: studentFilter.currentStudent ? studentFilter.currentStudent.uuid.toString : null,
                    teacher: teacherFilter.currentTeacher ? teacherFilter.currentTeacher.uuid.toString : null,
                    grade : gradeFilter.currentGrade ? gradeFilter.currentGrade.uuid.toString : null,
                    study_group: studyGroupFilter.currentStudyGroup ? studyGroupFilter.currentStudyGroup.uuid.toString() : null
                } %}
                <div class="card">
                    <div class="card-header border-bottom-0">
                        {% if teacherFilter.currentTeacher is not null %}
                            {{ 'plans.exams.title'|trans({'%for%' : teacherFilter.currentTeacher|teacher}) }}
                        {% elseif studentFilter.currentStudent is not null %}
                            {{ 'plans.exams.title'|trans({'%for%' : studentFilter.currentStudent|student}) }} ({{ studentFilter.currentStudent.grade.name }})
                        {% elseif gradeFilter.currentGrade is not null %}
                            {{ 'plans.exams.title_grades'|trans({'%for%' : gradeFilter.currentGrade.name}) }}

                            {% include "_includes/grade_teachers.html.twig" with { grade: gradeFilter.currentGrade } %}
                        {% else %}
                            {{ 'plans.exams.label'|trans }}
                        {% endif %}
                    </div>
                </div>

                {% if not isVisible %}
                    <div class="bs-callout bs-callout-info">
                        <h4>{{ 'info.label'|trans }}</h4>

                        <p>{{ 'plans.exams.not_visible'|trans }}</p>
                    </div>
                {% elseif isVisibleAdmin %}
                    <div class="bs-callout bs-callout-info">
                        <h4>{{ 'info.label'|trans }}</h4>

                        <p>{{ 'plans.exams.visible_admin'|trans({'%type%': app.user.userType|enum }) }}</p>
                    </div>
                {% elseif examWeekGroups|length == 0 %}
                    <div class="bs-callout bs-callout-info">
                        <h4>{{ 'info.label'|trans }}</h4>

                        <p>{{ 'plans.exams.empty'|trans }}</p>
                    </div>
                {% endif %}

                {% for group in examWeekGroups %}
                    <div class="spacer">
                        <span>
                            {{ 'admin.exams.week'|trans({'%week%': group.weekOfYear.weekNumber }) }}
                            <span class="badge badge-primary badge-pill">{{ group.exams|length }}</span>
                        </span>
                    </div>

                    {% for exam in group.exams %}
                        {% include "_includes/exam.html.twig" with { exam: exam, showDate: true } %}
                    {% endfor %}
                {% endfor %}

                {% include '@Common/includes/pagination.html.twig' with {
                    currentFilters: currentFilter|merge({ past: includePastExams}),
                    currentPage: page,
                    paginationPath: 'exams',
                    lastPage: pages,
                    showAlwaysFirstAndLast: true
                } only %}
            </div>
            <div class="col-md-3 sticky-sidebar">
                <div class="card">
                    <div class="list-group list-group-flush">
                        <a href="{{ path('exams_export') }}" class="list-group-item list-group-item-action">
                            <i class="fas fa-download"></i> {{ 'plans.exams.export.label'|trans }}
                        </a>

                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('admin_settings_exams') }}" class="list-group-item list-group-item-action">
                                <i class="fa fa-wrench"></i> {{ 'admin.settings.label'|trans }}
                            </a>
                        {% endif %}

                        {% if is_granted('manage-exams') %}
                            <a href="{{ path('admin_exams') }}" class="list-group-item list-group-item-action">
                                <i class="fas fa-cogs"></i> {{ 'admin.exams.label'|trans }}
                            </a>
                        {% endif %}
                    </div>
                </div>

                {% if contains_active_filters([teacherFilter, studentFilter, gradeFilter, studyGroupFilter]) %}
                <div class="card">
                    <div class="card-body">
                        {% include "_filter/section.html.twig" %}
                        {% set params = { section: sectionFilter.currentSection ? sectionFilter.currentSection.uuid.toString : null } %}

                        {% if teacherFilter.teachers|length > 0 %}
                            {% include "_filter/teacher.html.twig" with { params: params } %}
                        {% endif %}

                        {% if studentFilter.studentGradeGroups|length > 0 %}
                            {% include "_filter/student.html.twig" with { params: params } %}
                        {% endif %}

                        {% if gradeFilter.grades|length > 0 %}
                            {% include "_filter/grade.html.twig" with { params: params } %}
                        {% endif %}

                        {% if studyGroupFilter.studyGroupGroups|length > 0 %}
                            {% include "_filter/study_group.html.twig" with { params: params } %}
                        {% endif %}

                        <form role="form" method="get" class="form">
                            <div class="form-group mb-0">
                                {% include "_filter/_params.html.twig" with { params: currentFilter } %}

                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="include-past" data-trigger="submit" name="past" value="1" {% if includePastExams %}checked="checked"{% endif %}>
                                    <label class="custom-control-label" for="include-past">{{ 'plans.exams.include_past'|trans }}</label>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="card-footer">
                        <a href="{{ path('exams') }}" class="btn btn-primary btn-sm">{{ 'filter.reset'|trans }}</a>
                    </div>
                </div>
                {% endif %}

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fa fa-info-circle"></i> {{ 'label.last_import'|trans }}</h5>
                        <p>
                            {% if last_import is not null %}
                                {{ last_import.updatedAt|format_datetime }}
                            {% else %}
                                {{ 'label.never'|trans }}
                            {% endif %}
                        </p>
                    </div>
                </div>

                <div class="w-100">
                    <a href="#" class="btn btn-primary btn-sm float-right" data-trigger="scroll">
                        <i class="fa fa-arrow-up"></i> {{ 'actions.top'|trans }}
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}