{% extends "main.html.twig" %}

{% block title %}{{ 'plans.exams.label'|trans }}{% endblock %}

{% block content %}
    {% include "_messages.html.twig" %}

    <div class="contentbox">
        <div class="row">
            {% if teacherFilter.teachers|length > 0 %}
                {% include "_filter/teacher.html.twig" %}
            {% endif %}

            {% if studentFilter.studentGradeGroups|length > 0 %}
                {% include "_filter/student.html.twig" %}
            {% endif %}

            <div class="col-md-4 col-sm-4 col-xs-12">
                <form role="form" method="get" class="form hidden-print">
                    <label class="control-label">{{ 'label.options'|trans }}:</label>
                    <div class="form-check">
                        {% if teacherFilter.currentTeacher is not null %}<input type="hidden" name="teacherAcronym" value="{{ teacherFilter.currentTeacher.acronym }}">{% endif %}
                        {% if studentFilter.currentStudent is not null %}<input type="hidden" name="studentId" value="{{ studentFilter.currentStudent.id }}">{% endif %}
                        <input class="form-check-input" data-trigger="form-submit" type="checkbox" value="true" id="all" name="all" {% if showAll %} checked="checked"{% endif %}>
                        <label for="all" class="form-check-label">
                            {{ 'plans.exams.show_all'|trans }}
                        </label>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% if teacherFilter.currentTeacher is not null or studentFilter.currentStudent is not null %}
    <div class="contentbox">
        <h4>
            {% if teacherFilter.currentTeacher is not null %}
                {{ 'plans.exams.title'|trans({'%for%' : teacherFilter.currentTeacher|teacher}) }}
            {% elseif studentFilter.currentStudent is not null %}
                {{ 'plans.exams.title'|trans({'%for%' : studentFilter.currentStudent|student}) }} ({{ studentFilter.currentStudent.grade.name }})
            {% endif %}
        </h4>

        {% if examGroups|length == 0 %}
            <div class="bs-callout bs-callout-info">
                <h4>{{ 'info.label'|trans }}</h4>

                <p>{{ 'plans.exams.empty'|trans }}</p>
            </div>
        {% else %}
            {% for group in examGroups %}
                <h5>{{ group.date|format_date }}</h5>

                {% for exam in group.exams %}
                    {% include "exams/_exam.html.twig" with { exam: exam } %}
                {% endfor %}
            {% endfor %}
        {% endif %}
    </div>
    {% endif %}
{% endblock %}