{% extends "main.html.twig" %}

{% block title %}{{ 'plans.exams.label'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block content %}
    {% include "_messages.html.twig" %}

    <div class="card">
        <div class="card-body">
            <div class="row">
                {% if teacherFilter.teachers|length > 0 %}
                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                        {% include "_filter/teacher.html.twig" with { params: { all: showAll } } %}
                    </div>
                {% endif %}

                {% if studentFilter.studentGradeGroups|length > 0 %}
                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                        {% include "_filter/student.html.twig" with { params: { all: showAll } } %}
                    </div>
                {% endif %}

                {% if studentFilter.studentGradeGroups|length > 0 %}
                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                        {% include "_filter/grade.html.twig" with { params: { all: showAll } } %}
                    </div>
                {% endif %}

                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <form role="form" method="get" class="form hidden-print">
                        {% set params = { } %}
                        {% if teacherFilter.currentTeacher is not null %}
                            {% set params = params|merge({ teacherAcronym: teacherFilter.currentTeacher.acronym }) %}
                        {% endif %}
                        {% if studentFilter.currentStudent is not null %}
                            {% set params = params|merge({ studentId: studentFilter.currentStudent.id }) %}
                        {% endif %}
                        {% if gradeFilter.currentGrade is not null %}
                            {% set params = params|merge({ gradeId: gradeFilter.currentGrade.id }) %}
                        {% endif %}

                        {% include "_filter/_params.html.twig" %}

                        <label class="control-label">{{ 'label.options'|trans }}:</label>
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">

                                <input class="custom-control-input" data-trigger="submit" type="checkbox" value="true" id="all" name="all" {% if showAll %} checked="checked"{% endif %}>
                                <label for="all" class="custom-control-label">
                                    {{ 'plans.exams.show_all'|trans }}
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% if not isVisible %}
        <div class="bs-callout bs-callout-info">
            <h4>{{ 'info.label'|trans }}</h4>

            <p>{{ 'plans.exams.not_visible'|trans }}</p>
        </div>
    {% elseif teacherFilter.currentTeacher is not null or studentFilter.currentStudent is not null or gradeFilter.currentGrade is not null %}
        <h2 class="mb-3">
            {% if teacherFilter.currentTeacher is not null %}
                {{ 'plans.exams.title'|trans({'%for%' : teacherFilter.currentTeacher|teacher}) }}
            {% elseif studentFilter.currentStudent is not null %}
                {{ 'plans.exams.title'|trans({'%for%' : studentFilter.currentStudent|student}) }} ({{ studentFilter.currentStudent.grade.name }})
            {% endif %}
        </h2>

        {% if examGroups|length == 0 %}
            <div class="bs-callout bs-callout-info">
                <h4>{{ 'info.label'|trans }}</h4>

                <p>{{ 'plans.exams.empty'|trans }}</p>
            </div>
        {% else %}
            {% for group in examGroups %}
                <h5>{{ group.date|format_date }}</h5>

                {% for exam in group.exams %}
                    {% include "_includes/exam.html.twig" with { exam: exam } %}
                {% endfor %}
            {% endfor %}
        {% endif %}
    {% endif %}

    <div class="buttons">
        <a href="{{ path('exams_export') }}" class="btn btn-primary btn-sm">
            {{ 'plans.exams.export.label'|trans }}
        </a>
    </div>
{% endblock %}