{% extends "main.html.twig" %}

{% block title %}{{ 'documents.label'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <div class="row">
                {% set studyGroupParam = (studyGroupFilter.currentStudyGroup == null) ? null : studyGroupFilter.currentStudyGroup.id %}
                {% set userTypeParam = (userTypeFilter.currentType == null or userTypeFilter.types|length == 0) ? null : userTypeFilter.currentType.value %}

                {% if studyGroupFilter.studyGroupGroups|length > 0 %}
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        {% include "_filter/study_group.html.twig" with { grouped: false, params: { q: q, userType: userTypeParam } } %}
                    </div>
                {% endif %}

                {% if userTypeFilter.types|length > 0 %}
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        {% include "_filter/user_type.html.twig" with { params: { q: q, studyGroupId: studyGroupParam } } %}
                    </div>
                {% endif %}

                <div class="col-md-4 col-sm-4 col-xs-12">
                    {% include "_filter/query.html.twig" with { params: { q: q, studyGroupId: studyGroupParam }, route: 'documents' } %}
                </div>
            </div>
        </div>
    </div>

    {% if categories|length == 0 %}

            <div class="bs-callout bs-callout-info">
                <h4>{{ 'info.label'|trans }}</h4>

                {% if q is not null %}
                    <p>{{ 'documents.empty_search'|trans }}</p>
                {% else %}
                    <p>{{ 'documents.empty'|trans }}</p>
                {% endif %}
            </div>
    {% else %}
        {% for group in categories %}
            <div class="card">
                <div class="card-header">
                    <i class="far fa-folder"></i> {{ group.category.name }} <span class="badge badge-primary badge-pill">{{ group.documents|length }}</span>
                </div>

                <div class="list-group list-group-flush">
                    {% for document in group.documents %}
                        <a href="{{ path('document', { id: document.id, alias: document.alias }) }}" class="list-group-item list-group-item-action"><i class="far fa-file"></i> {{ document.title }}</a>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    {% endif %}

    <div class="buttons">
        {% if is_granted('new-document') %}
            <a href="{{ path('admin_add_document') }}" class="btn btn-primary btn-sm">
                <i class="fa fa-plus"></i> {{ 'admin.documents.add.label'|trans }}
            </a>
        {% endif %}
    </div>
{% endblock %}