{% extends "main.html.twig" %}

{% block title %}{{ 'documents.label'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="container-fluid px-0">
        <div class="row">
            <div class="col-md-9">
                {% if categories|length == 0 %}
                    <div class="bs-callout bs-callout-info">
                        <h4>{{ 'info.label'|trans }}</h4>

                        {% if q is not null %}
                            <p>{{ 'documents.empty_search'|trans }}</p>
                        {% else %}
                            <p>{{ 'documents.empty'|trans }}</p>
                        {% endif %}
                    </div>
                {% else %}
                    <div class="card-columns">
                        {% for group in categories %}
                            <div class="card">
                                <div class="card-header">
                                    <i class="far fa-folder"></i> {{ group.category.name }} <span class="badge badge-primary badge-pill">{{ group.documents|length }}</span>
                                </div>

                                <div class="list-group list-group-flush">
                                    {% for document in group.documents %}
                                        <a href="{{ path('show_document', { uuid: document.uuid }) }}" class="list-group-item list-group-item-action"><i class="far fa-file"></i> {{ document.title }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="col-md-3 sticky-sidebar">
                {% if is_granted('new-document') or is_granted('admin-documents') %}
                <div class="card">
                    <div class="list-group list-group-flush">
                        {% if is_granted('new-document') %}
                            <a href="{{ path('admin_add_document') }}" class="list-group-item list-group-item-action">
                                <i class="fa fa-plus"></i> {{ 'admin.documents.add.label'|trans }}
                            </a>
                        {% endif %}
                        {% if is_granted('admin-documents') %}
                            <a href="{{ path('admin_documents') }}" class="list-group-item list-group-item-action">
                                <i class="fa fa-cogs"></i> {{ 'admin.documents.overview.label'|trans }}
                            </a>
                        {% endif %}
                    </div>
                </div>
                {% endif %}

                <div class="card">
                    <div class="card-body">
                        {% set studyGroupParam = (studyGroupFilter.currentStudyGroup == null) ? null : studyGroupFilter.currentStudyGroup.uuid %}
                        {% set userTypeParam = (userTypeFilter.currentType == null or userTypeFilter.types|length == 0) ? null : userTypeFilter.currentType.value %}

                        {% if studyGroupFilter.studyGroupGroups|length > 0 %}
                            {% include "_filter/study_group.html.twig" with { grouped: false, params: { q: q, user_type: userTypeParam } } %}
                        {% endif %}

                        {% if userTypeFilter.types|length > 0 %}
                            {% include "_filter/user_type.html.twig" with { params: { q: q, study_group: studyGroupParam } } %}
                        {% endif %}

                        {% include "_filter/query.html.twig" with { params: { q: q, study_group: studyGroupParam }, class: 'mb-0', route: 'documents' } %}
                    </div>
                    <div class="card-footer">
                        <a href="{{ path('documents') }}" class="btn btn-primary btn-sm">{{ 'filter.reset'|trans }}</a>
                    </div>
                </div>

                <div class="w-100">
                    <a href="#" class="btn btn-primary btn-sm float-right" data-trigger="scroll">
                        <i class="fa fa-arrow-up"></i> {{ 'actions.top'|trans }}
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}