{% extends "main.html.twig" %}

{% block title %}{{ document.title }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('documents') }}">{{ 'documents.label'|trans }}</a></li>
        <li class="breadcrumb-item">{{ document.category.name }}</li>
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="container-fluid px-0">
        <div class="row">
            <div class="col-md-9">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            {{ document.title }}
                            {% include "_includes/_id.html.twig" with { id: document.id } %}
                        </h5>

                        {{ document.content|markdown }}
                    </div>

                    {% if document.attachments|length > 0 %}
                        <div class="card-footer">
                            <ul class="nav nav-pills card-header-pills">
                            {% for attachment in document.attachments %}
                                <li class="nav-item">
                                    <a class="nav-link link-hover" href="{{ path('download_document_attachment', { uuid: attachment.uuid }) }}"><i class="fa fa-download"></i> {{ attachment.filename }}</a>
                                </li>
                            {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </div>


            </div>

            <div class="col-md-3">
                <div class="card">
                    <div class="list-group list-group-flush">
                        {% if is_granted('edit', document) %}
                            <a href="{{ path('admin_edit_document', { uuid: document.uuid, ref: 'view' }) }}" class="list-group-item list-group-item-action">
                                <i class="fa fa-edit"></i> {{ 'admin.documents.edit.label'|trans }}
                            </a>
                        {% endif %}
                        {% if is_granted('remove', document) %}
                            <a href="{{ path('admin_remove_document', { uuid: document.uuid, ref: 'view' }) }}" class="list-group-item list-group-item-action list-group-item-danger">
                                <i class="fa fa-trash"></i> {{ 'admin.documents.remove.label'|trans }}
                            </a>
                        {% endif %}
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ 'label.details'|trans }}</h5>

                        <p>
                            <span class="text-muted">{{ 'label.lastchange'|trans }}</span> {{ document.updatedAt|format_datetime }}
                        </p>

                        <p>
                            <span class="text-muted">{{ 'label.visibility'|trans }}</span>
                            {% for visibility in document.visibilities %}{{ visibility.userType|enum }}{% if not loop.last %}, {% endif %}{% endfor %}
                        </p>

                        {% if document.grades|length > 0 %}
                            <p>
                                <span class="text-muted">{{ 'label.grades'|trans({'%count%': document.grades|length}) }}</span>
                                {% for grade in document.grades %}{{ grade.name }}{% if not loop.last %}, {% endif %}{% endfor %}
                            </p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}