{% extends "main.html.twig" %}

{% block title %}{{ 'admin.documents.categories.label'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item">{{ 'admin.label'|trans }}</li>
        <li class="breadcrumb-item"><a href="{{ path('admin_documents') }}">{{ 'admin.documents.label'|trans }}</a></li>
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block content %}
        {% if categories|length == 0 %}
            <div class="bs-callout bs-callout-info">
                <h5>{{ 'info.label'|trans }}</h5>

                <p>{{ 'admin.documents.categories.overview.empty'|trans }}</p>
            </div>
        {% else %}
            <div class="card">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>{{ 'label.name'|trans }} </th>
                        <th>{{ 'admin.documents.categories.overview.num_documents'|trans }}</th>
                        <th> </th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for category in categories %}
                        <tr>
                            <td>
                                {{ category.name }}
                            </td>
                            <td>
                                {{ category.documents.count }}
                            </td>
                            <td>
                                <a href="{{ path('admin_edit_document_category', { id: category.id }) }}" class="btn btn-primary btn-sm">
                                    <i class="fa fa-edit"></i>
                                </a>

                                <a href="{{ path('admin_remove_document_category', { id: category.id }) }}" class="btn btn-danger btn-sm">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}

    <div class="buttons">
        <a href="{{ path('admin_add_document_category') }}" class="btn btn-primary btn-sm">
            <i class="fa fa-plus"></i> {{ 'admin.documents.categories.add.label'|trans }}
        </a>

        <a href="{{ path('admin_documents') }}" class="btn btn-secondary btn-sm">
            <i class="fa fa-arrow-left"></i> {{ 'admin.documents.categories.overview.back'|trans }}
        </a>
    </div>
{% endblock %}