<ul class="nav nav-pills card-header-pills">
    <li class="nav-item">
        <a class="nav-link {% if active|default('general') == 'general' %}active{% endif %}" href="{{ path('show_student', { uuid: student.uuid, section: sectionFilter.currentSection.uuid }) }}">
            <i class="fas fa-contact-card"></i> {{ 'students.general.label'|trans }}
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if active|default('general') == 'tuitions' %}active{% endif %}" href="{{ path('student_tuitions_details', { uuid: student.uuid, section: sectionFilter.currentSection.uuid }) }}">
            <i class="fas fa-chalkboard-teacher"></i> {{ 'students.tuitions.label'|trans }}
        </a>
    </li>

    {% if is_enabled('return_item') %}
        <li class="nav-item">
            <a class="nav-link {% if active|default('general') == 'return_items' %}active{% endif %}" href="{{ path('student_return_details', { uuid: student.uuid, section: sectionFilter.currentSection.uuid }) }}">
                <i class="fa-solid fa-repeat"></i> {{ 'students.return_items.label'|trans }}
            </a>
        </li>
    {% endif %}
    {% if is_granted('ROLE_BOOK_VIEWER') and is_enabled('book') %}
        <li class="nav-item">
            <a class="nav-link {% if active|default('general') == 'attendance' %}active{% endif %}" href="{{ path('student_attendance_details', { uuid: student.uuid, section: sectionFilter.currentSection.uuid }) }}">
                <i class="fas fa-user-times"></i> {{ 'students.attendance.label'|trans }}
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link {% if active|default('general') == 'comments' %}active{% endif %}" href="{{ path('student_comments_details', { uuid: student.uuid, section: sectionFilter.currentSection.uuid }) }}">
                <i class="fas fa-comments"></i> {{ 'students.comments.label'|trans }}
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link {% if active|default('general') == 'extra' %}active{% endif %}" href="{{ path('student_extra_details', { uuid: student.uuid, section: sectionFilter.currentSection.uuid }) }}">
                <i class="fas fa-info-circle"></i> {{ 'students.extra.label'|trans }}
            </a>
        </li>
    {% endif %}
    {% if is_granted('privacy') and is_enabled('privacy') %}
        <li class="nav-item">
            <a class="nav-link {% if active|default('general') == 'privacy' %}active{% endif %}" href="{{ path('student_privacy_details', { uuid: student.uuid, section: sectionFilter.currentSection.uuid }) }}">
                <i class="fas fa-user-shield"></i> {{ 'students.privacy.label'|trans }}
            </a>
        </li>
    {% endif %}
</ul>