{% extends 'main.html.twig' %}

{% block title %}{{ student|student }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('students') }}">{{ 'students.label'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('show_student', { uuid: student.uuid }) }}">{{ block('title') }}</a></li>
        <li class="breadcrumb-item active">{{ 'students.extra.label'|trans }}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <div class="d-flex">
                <div class="flex-fill">
                    {% include "student/_navigation.html.twig" with { active: 'extra' } %}
                </div>

                <div class="ms-auto align-self-center">
                    <form method="get">
                        {% include "_filter/simple/section.html.twig" %}
                    </form>
                </div>
            </div>
        </div>

        {% if extra|length > 0 %}
            <div class="list-group list-group-flush">
                {% for info in extra %}
                    <div class="list-group list-group-item">
                        <div class="text-muted">
                            <span class="badge text-bg-primary">{{ info.type|trans }}</span>

                            <i class="fas fa-calendar-alt"></i> {{ info.from|format_date }} - {{ info.until|format_date }}
                        </div>

                        <div class="mb-n3">
                            {{ info.content|markdown }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="card-body">
                <div class="bs-callout bs-callout-success mb-0">
                    <i class="fas fa-check-circle"></i> {{ 'students.extra.empty'|trans }}
                </div>
            </div>
        {% endif %}

        <div class="card-footer">
            <a href="{{ path('add_student_information', { student: student.uuid }) }}" class="btn btn-primary btn-sm">
                <i class="fas fa-plus"></i> {{ 'students.extra.add.label'|trans }}
            </a>

            <a href="{{ path('student_information_index', { student: student.uuid }) }}" class="btn btn-outline-primary btn-sm">
                <i class="fas fa-external-link"></i> {{ 'students.extra.label'|trans }}
            </a>
        </div>
    </div>
{% endblock %}