{% if absentTeachers|length > 0 or absentStudyGroups|length > 0 %}
<div class="card {{ classes|default('') }}">
    <div class="card-body {{ bodyClasses|default('') }}">
        {% if absentTeachers|length > 0 %}
        <div class="d-flex align-items-baseline {% if absentStudyGroups|length > 0 %}mb-2{% endif %}">
            <span class="mr-1"><i class="fa fa-graduation-cap"></i> {{ 'plans.substitutions.absence.teacher'|trans }}:</span>
            <span>
                {% for absence in absentTeachers -%}
                    {{ absence.teacher|teacher }}
                    {%- if absence.lessonStart is not null and absence.lessonEnd is not null %}
                        ({{ 'label.substitution_lessons'|trans({'%start%': absence.lessonStart, '%end%': absence.lessonEnd, '%count%': (absence.lessonEnd - absence.lessonStart)}) }})
                    {%- endif -%}
                    {%- if not loop.last -%}, {%- endif %}
                {% endfor %}
            </span>
        </div>
        {% endif %}

        {% if absentStudyGroups|length > 0 %}
        <div class="d-flex align-items-baseline">
            <span class="mr-1"><i class="fa fa-users"></i> {{ 'plans.substitutions.absence.study_groups'|trans }}:</span>
            <span>
                {% for absence in absentStudyGroups -%}
                    {{ absence.studyGroup|studygroup(true) }}
                    {%- if absence.lessonStart is not null and absence.lessonEnd is not null %}
                        ({{ 'label.substitution_lessons'|trans({'%start%': absence.lessonStart, '%end%': absence.lessonEnd, '%count%': (absence.lessonEnd - absence.lessonStart)}) }})
                    {%- endif -%}
                    {%- if not loop.last -%}, {%- endif %}
                {% endfor %}
            </span>
        </div>
        {% endif %}
    </div>
</div>
{% endif %}