{% set showDate = showDate|default(false) %}
{% set hideDetails = hideDetails|default(false) %}
<div class="card">
    {% if header|default("") is not empty %}
    <div class="card-header">
        {{ header|trans }}
    </div>
    {% endif %}

    <div class="d-flex">
        <div class="align-self-center text-center p-3 exam-lesson text-black-50">
            {% if showDate %}
                <div class="d-block exam-date">
                    {{ exam.date.format('w')|weekday(true) }}, {{ exam.date|date('date.format_short'|trans) }}
                </div>
            {% endif %}

            {{ 'label.substitution_lessons'|trans({'%start%': exam.lessonStart, '%end%': exam.lessonEnd, '%count%': (exam.lessonEnd - exam.lessonStart)}) }}
        </div>

        <div class="card-body align-self-center d-flex align-items-sm-center pl-0">
            <div class="mr-auto align-self-center d-flex flex-wrap">
                {% for tuition in exam.tuitions %}
                    <span class="d-flex flex-wrap align-self-center mb-1">
                        <span>
                            <span class="badge badge-primary">{{ tuition.name|upper }}</span>
                            <span class="mx-1"></span>
                        </span>
                        <span>
                            <i class="fa fa-users"></i> {{ tuition.studyGroup.grades|grades }}
                            <span class="mx-1"></span>
                        </span>
                        <span>
                            <i class="fa fa-graduation-cap"></i> {% for teacher in tuition.teachers %}{{ teacher|teacher }}{% if not loop.last %}, {% endif %}{% endfor %}
                            <span class="mx-1"></span>
                        </span>
                    </span>
                {% endfor %}

                {% if exam.room is not null %}
                    <span>
                        <i class="fa fa-door-open"></i> {{ exam.room.name }}
                    </span>
                {% endif %}
            </div>

            {% if hideDetails == false %}
            <a href="{{ path('show_exam', { uuid: exam.uuid }) }}" class="btn btn-outline-primary btn-sm align-self-center">
                {{ 'label.details'|trans }}
            </a>
            {% endif %}
        </div>
    </div>
    {% if exam.description is not null %}
        <div class="card-footer">
            <i class="fa fa-info-circle"></i> {{ exam.description }}
        </div>
    {% endif %}
    {% if exam.supervisions|length > 0 and is_granted('supervisions', exam) %}
        <div class="card-footer">
            <i class="fa fa-eye"></i>

            {% for invigilator in exam.supervisions -%}
                {{ invigilator.teacher|teacher }} ({{ 'label.exam_lessons'|trans({'%start%': invigilator.lesson, '%count%': 0}) }}) {%- if not loop.last -%}, {% endif %}
            {%- endfor -%}
        </div>
    {% endif %}
</div>
