{% set showDate = showDate|default(false) %}
{% set hideDetails = hideDetails|default(false) %}
{% set relatedExams = relatedExams|default([]) %}
<div class="card">
    {% if header|default("") is not empty %}
    <div class="card-header">
        {{ header|trans }} {% include "_includes/_id.html.twig" with { id: exam.id } %}
    </div>
    {% endif %}

    <div class="d-flex">
        <div class="align-self-center text-center p-3 exam-lesson text-black-50">
            {% if showDate %}
                <div class="d-block exam-date">
                    {{ exam.date.format('w')|weekday(true) }}, {{ exam.date|date('date.format_short'|trans) }}
                </div>
            {% endif %}

            {{ 'label.substitution_lessons'|trans({'%start%': exam.lessonStart, '%end%': exam.lessonEnd, '%count%': (exam.lessonEnd - exam.lessonStart)}) }}
        </div>

        <div class="card-body align-self-center d-flex align-items-sm-center ps-0">
            <div class="me-auto align-self-center">
                {% for tuition in exam.tuitions %}
                    <div class="d-flex flex-wrap align-self-center mb-1">
                        <span>
                            <span class="badge text-bg-primary">{{ tuition.name|upper }}</span>
                            <span class="mx-1"></span>
                        </span>
                        <span>
                            <i class="fa fa-users"></i> {{ tuition.studyGroup.grades|grades }}
                            <span class="mx-1"></span>
                        </span>
                        <span>
                            <i class="fa fa-graduation-cap"></i> {% for teacher in tuition.teachers %}{{ teacher|teacher }}{% if not loop.last %}, {% endif %}{% endfor %}
                            <span class="mx-1"></span>
                        </span>
                    </div>
                {% endfor %}
            </div>

            {% if hideDetails == false %}
            <a href="{{ path('show_exam', { uuid: exam.uuid }) }}" class="btn btn-outline-primary btn-sm align-self-center">
                {{ 'label.details'|trans }}
            </a>
            {% endif %}
        </div>
    </div>
    {% if exam.room is not null %}
        <div class="card-footer">
            <i class="fa fa-door-open"></i> {{ exam.room.name }}
        </div>
    {% endif %}
    {% if exam.description is not null %}
        <div class="card-footer">
            <i class="fa fa-info-circle"></i> {{ exam.description }}
        </div>
    {% endif %}
    {% if exam.supervisions|length > 0 and is_granted('supervisions', exam) %}
        <div class="card-footer">
            <i class="fa fa-eye"></i>

            {% for invigilator in exam.supervisions -%}
                {{ invigilator.teacher|teacher }} ({{ 'label.exam_lessons'|trans({'%start%': invigilator.lesson, '%count%': 0}) }}) {%- if not loop.last -%}, {% endif %}
            {%- endfor -%}
        </div>
    {% endif %}
    {% if relatedExams|length > 0 %}
        <div class="card-footer">
            {% for relatedExam in relatedExams %}
                {% for examTuition in relatedExam.tuitions %}
                    <a href="{{ path('show_exam', { uuid: relatedExam.uuid }) }}" class="btn btn-outline-primary btn-sm">
                        <span class="badge text-bg-primary">{{ examTuition.name }}</span>
                        <span>
                            <i class="fa fa-users"></i> {{ examTuition.studyGroup.grades|grades }}
                        </span>
                        <span>
                            <i class="fa fa-graduation-cap"></i> {% for teacher in examTuition.teachers %}{{ teacher|teacher }}{% if not loop.last %}, {% endif %}{% endfor %}
                        </span>
                    </a>
                {% endfor %}
            {% endfor %}
        </div>
    {% endif %}
</div>
