{% set missingUploads = missing_uploads(message) %}

{% set mustConfirm = message.mustConfirm and is_granted('confirm', message) and not is_confirmed(message) %}
{% set mustUpload = message.uploadsEnabled and is_granted('upload', message) and missingUploads|length > 0 %}
{% set userDownloads = message_downloads(message) %}

<div class="card {% if mustConfirm or mustUpload %}border-warning{% endif %} {% if message.priority == 'emergency' %}message-danger{% elseif message.priority == 'important' %}message-warning{% endif %}">
    <div class="card-body">
        <div class="d-flex align-items-center flex-wrap {% if not is_dismissed(message) %}mb-2{% endif %}">
            <h5 class="card-title mr-auto mb-0 mr-2"><a href="{{ path('show_message', { uuid: message.uuid }) }}">{{ message.title }}</a></h5>

            <span class="text-secondary d-none d-lg-block">
                {{ 'message.expires'|trans({'%date%': message.expireDate|format_date}) }}
            </span>

            <div class="flex-shrink-0">

                <button data-toggle="popover" data-popover-title="{{ 'label.details'|trans }}" data-popover-container="#message-{{ message.uuid }}-info" class="btn btn-outline-secondary btn-sm">
                    <i class="fa fa-info-circle"></i>
                </button>

                <div class="d-none" id="message-{{ message.uuid }}-info">
                    <p class="m-0 mb-1">
                        <span class="text-muted">{{ 'label.lastchange'|trans }}</span> {{ message.updatedAt|format_datetime }}
                    </p>

                    <p class="m-0 mb-1">
                        <span class="text-muted">{{ 'label.visibility'|trans }}</span>
                        {% for visibility in message.visibilities %}{{ visibility.userType|enum }}{% if not loop.last %}, {% endif %}{% endfor %}
                    </p>

                    {% if message.studyGroups|length > 0 %}
                        <p class="m-0 mb-1">
                            <span class="text-muted">{{ 'label.study_groups'|trans({'%count%': message.studyGroups|length }) }}</span> {% include '_includes/study_groups.html.twig' with { studyGroups: message.studyGroups, id: message.uuid } only  %}
                        </p>
                    {% endif %}
                </div>

                {% if is_dismissed(message) and (message.attachments|length > 0 or userDownloads|length > 0) %}
                    <div class="dropdown d-inline">
                        <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                            <i class="fa fa-download"></i>
                        </button>

                        <div class="dropdown-menu">
                            {% for attachment in message.attachments %}
                                <a class="dropdown-item" href="{{ path('download_message_attachment', { uuid: attachment.uuid, message: message.uuid }) }}">{{ attachment.filename }}</a>
                            {% endfor %}
                            {% if message.downloadsEnabled %}
                                {% for file in userDownloads %}
                                    <a class="dropdown-item" href="{{ path('download_user_file', { uuid: message.uuid, filename: file.basename }) }}">{{ file.basename }}</a>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                {% endif %}

                {% if message.mustConfirm and is_granted('confirm', message) %}
                    {% if not is_confirmed(message) and is_granted('confirm', message) %}
                        <a href="{{ path('confirm_message', { uuid: message.uuid }) }}" class="btn btn-warning btn-sm" title="{{ 'actions.confirm'|trans }}">
                            <i class="fa fa-check"></i>
                        </a>
                    {% else %}
                        <button type="button" class="btn btn-success btn-sm" title="{{ 'messages.confirm.confirmed'|trans }}">
                            <i class="fa fa-check"></i>
                        </button>
                    {% endif %}
                {% endif %}

                {% if message.uploadsEnabled and is_granted('upload', message) %}
                    <div class="btn-group" role="group">
                        <a href="{{ path('show_message', { uuid: message.uuid }) }}" class="btn {% if missingUploads|length > 0 %}btn-warning{% else %}btn-success{% endif %} btn-sm" title="{{ 'messages.uploads.info'|trans }}">
                            <i class="fa fa-upload"></i>
                        </a>
                    </div>
                {% endif %}

                {% if is_granted('edit', message) or is_granted('remove', message) %}
                    <div class="btn-group" role="group">
                        {% if is_granted('edit', message) %}
                            <a href="{{ path('edit_message', { uuid: message.uuid, ref: 'view' }) }}" class="btn btn-primary btn-sm" title="{{ 'actions.edit'|trans }}">
                                <i class="fa fa-edit"></i>
                            </a>

                            {% if message.mustConfirm %}
                                <a href="{{ path('message_confirmations', { uuid: message.uuid })}}" class="btn btn-primary btn-sm" title="{{ 'admin.messages.confirmations.label'|trans }}">
                                    <i class="fas fa-tasks"></i>
                                </a>
                            {% endif %}
                        {% endif %}
                        {% if is_granted('remove', message) %}
                            <a href="{{ path('remove_message', { uuid: message.uuid })}}" class="btn btn-danger btn-sm" title="{{ 'actions.remove'|trans }}">
                                <i class="fa fa-trash"></i>
                            </a>
                        {% endif %}
                    </div>
                {% endif %}

                {% if is_granted('dismiss', message) %}
                    {% if is_dismissed(message) %}
                        <a href="{{ path('reenable_message', { uuid: message.uuid }) }}" class="btn btn-secondary btn-sm" title="{{ 'message.reenable'|trans }}">
                            <span aria-hidden="true"><i class="fas fa-eye"></i></span>
                        </a>
                    {% else %}
                        <a href="{{ path('dismiss_message', { uuid: message.uuid }) }}" class="btn btn-secondary btn-sm" title="{{ 'message.dismiss'|trans }}">
                            <span aria-hidden="true"><i class="fas fa-eye-slash"></i></span>
                        </a>
                    {% endif %}
                {% endif %}
            </div>

        </div>

        {% if not is_dismissed(message) %}
            {{ message.content|markdown }}
        {% endif %}
    </div>

    {% if not is_dismissed(message) and (message.attachments|length > 0 or userDownloads|length > 0) %}
        <div class="card-footer">
            <ul class="nav nav-pills card-header-pills">
            {% for attachment in message.attachments %}
                <li class="nav-item">
                    <a class="nav-link link-hover" href="{{ path('download_message_attachment', { uuid: attachment.uuid, message: message.uuid }) }}"><i class="fa fa-download"></i> {{ attachment.filename }}</a>
                </li>
            {% endfor %}
            {% if message.downloadsEnabled %}
                {% for file in userDownloads %}
                    <li class="nav-item">
                        <a class="nav-link link-hover" href="{{ path('download_user_file', { uuid: message.uuid, filename: file.basename }) }}"><i class="fa fa-download"></i> {{ file.basename }}</a>
                    </li>
                {% endfor %}
            {% endif %}
            </ul>
        </div>
    {% endif %}

    {% if message.mustConfirm and is_granted('confirm', message) and not is_dismissed(message) and not is_confirmed(message) %}
        <div class="card-footer bg-warning text-dark">
            <i class="fa fa-info-circle"></i> {% if is_granted('confirm', message) %}{{ 'messages.confirm.prompt'|trans }}{% else %}{{ 'messages.confirm.info'|trans }}{% endif %}
        </div>
    {% endif %}

    {% if message.uploadsEnabled and is_granted('upload', message) and missingUploads|length > 0 %}
        <div class="card-footer bg-warning text-dark">
            <i class="fa fa-exclamation-triangle"></i> {{ 'messages.uploads.status.missing_long'|trans({'%count%': missingUploads|length }) }}
        </div>
    {% endif %}

</div>