{% set mustConfirm = message.mustConfirm and is_granted('confirm', message) and not is_confirmed(message) %}

<div class="card {% if mustConfirm %}border-warning{% endif %}">
    <div class="card-body">
        <div class="float-right ml-2">

            <div class="btn-group d-none d-md-inline-flex" role="group">
                <button type="button" class="btn btn-sm btn-outline-secondary" title="{{ message.createdBy|user }}">
                    <i class="fa fa-user"></i>
                </button>
                <button type="button" class="btn btn-sm btn-outline-secondary" title="{% include "_includes/visibilities.html.twig" with { visibilities: message.visibilities } only  %}">
                    <i class="fa fa-users"></i>
                </button>
                <button type="button" class="btn btn-sm btn-outline-secondary" title="{{ message.studyGroups|studygroups(true) }}">
                    <i class="fa fa-graduation-cap"></i>
                </button>
                <button type="button" class="btn btn-sm btn-outline-secondary" title="{{ message.updatedAt|format_datetime }}">
                    <i class="fa fa-calendar"></i>
                </button>
                <!--{% include '_includes/study_groups.html.twig' with { studyGroups: message.studyGroups, id: message.id } only  %}-->
            </div>

            {% if message.mustConfirm %}
                {% if not is_confirmed(message) and is_granted('confirm', message) %}
                    <a href="{{ path('confirm_message', { id: message.id }) }}" class="btn btn-warning btn-sm" title="{{ 'actions.confirm'|trans }}">
                        <i class="fa fa-check"></i>
                    </a>
                {% else %}
                    <button type="button" class="btn btn-success btn-sm" title="{{ 'messages.confirm.confirmed'|trans }}">
                        <i class="fa fa-check"></i>
                    </button>
                {% endif %}
            {% endif %}

            <div class="btn-group" role="group">
                {% if message.downloadsEnabled %}
                    <a href="{{ path('show_message', { id: message.id }) }}" class="btn btn-primary btn-sm" title="{{ 'messages.downloads.info'|trans }}">
                        <i class="fa fa-download"></i>
                    </a>
                {% endif %}
                {% if message.downloadsEnabled %}
                    <a href="{{ path('show_message', { id: message.id }) }}" class="btn btn-primary btn-sm" title="{{ 'messages.uploads.info'|trans }}">
                        <i class="fa fa-upload"></i>
                    </a>
                {% endif %}
            </div>

            {% if is_granted('edit', message) or is_granted('remove', message) %}
                <div class="btn-group" role="group">
                    {% if is_granted('edit', message) %}
                        <a href="{{ path('edit_message', { id: message.id, ref: 'view' }) }}" class="btn btn-primary btn-sm" title="{{ 'actions.edit'|trans }}">
                            <i class="fa fa-edit"></i>
                        </a>

                        {% if message.mustConfirm %}
                            <a href="{{ path('message_confirmations', { id: message.id })}}" class="btn btn-primary btn-sm" title="{{ 'admin.messages.confirmations.label'|trans }}">
                                <i class="fas fa-tasks"></i>
                            </a>
                        {% endif %}
                    {% endif %}
                    {% if is_granted('remove', message) %}
                        <a href="{{ path('remove_message', { id: message.id })}}" class="btn btn-danger btn-sm" title="{{ 'actions.remove'|trans }}">
                            <i class="fa fa-trash"></i>
                        </a>
                    {% endif %}
                </div>
            {% endif %}

            {% if is_granted('dismiss', message) %}
                {% if is_dismissed(message) %}
                    <a href="{{ path('reenable_message', { id: message.id }) }}" class="btn btn-secondary btn-sm">
                        <span aria-hidden="true"><i class="fas fa-eye"></i></span>
                    </a>
                {% else %}
                    <a href="{{ path('dismiss_message', { id: message.id }) }}" class="btn btn-secondary btn-sm">
                        <span aria-hidden="true"><i class="fas fa-eye-slash"></i></span>
                    </a>
                {% endif %}
            {% endif %}
        </div>

        <h5 class="card-title"><a href="{{ path('show_message', { id: message.id }) }}">{{ message.title }}</a></h5>

        {% if not is_dismissed(message) %}
            {{ message.content|markdown }}
        {% endif %}
    </div>

    {% set userDownloads = message_downloads(message) %}
    {% if message.attachments|length > 0 or userDownloads > 0 %}
        <div class="card-footer">
            {% for attachment in message.attachments %}
                <span class="mr-2">
                    <a href="{{ path('download_message_attachment', { id: attachment.id, message: message.id }) }}"><i class="fa fa-download"></i> {{ attachment.filename }}</a>
                </span>
            {% endfor %}
            {% if message.downloadsEnabled %}
                {% for file in userDownloads %}
                    <span class="mr-2">
                        <a href="{{ path('download_user_file', { id: message.id, filename: file.basename }) }}"><i class="fa fa-download"></i> {{ file.basename }}</a>
                    </span>
                {% endfor %}
            {% endif %}
        </div>
    {% endif %}

    {% if message.mustConfirm and not is_dismissed(message) and not is_confirmed(message) %}
        <div class="card-footer bg-warning">
            <i class="fa fa-info-circle"></i> {% if is_granted('confirm', message) %}{{ 'messages.confirm.prompt'|trans }}{% else %}{{ 'messages.confirm.info'|trans }}{% endif %}
        </div>
    {% endif %}

</div>