{% set missingUploads = missing_uploads(message) %}

{% set mustConfirm = message.mustConfirm and is_granted('confirm', message) and not is_confirmed(message) %}
{% set mustUpload = message.uploadsEnabled and is_granted('upload', message) and missingUploads|length > 0 %}
{% set userDownloads = message_downloads(message) %}
{% set hasPoll = message.pollEnabled and is_granted('poll', message) %}

<div class="card {% if mustConfirm or mustUpload %}border-warning{% endif %} {% if message.priority.value == 'emergency' %}border-danger bg-danger-subtle{% elseif message.priority.value == 'important' %}border-warning bg-warning-subtle{% endif %}">
    <div class="card-body">
        <div class="d-flex align-items-top flex-nowrap {% if not is_dismissed(message) %}mb-2{% endif %}">
            <h5 class="card-title me-auto mb-0 me-2">
                <a href="{{ path('show_message', { uuid: message.uuid }) }}">
                    {{ message.title }}
                </a>
            </h5>

            <div class="flex-shrink-0 d-flex">
                {% if is_dismissed(message) and (message.attachments|length > 0 or userDownloads|length > 0) %}
                    <div class="dropdown ms-1">
                        <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-download"></i>
                        </button>

                        <div class="dropdown-menu dropdown-menu-end">
                            {% for attachment in message.attachments %}
                                <a class="dropdown-item" href="{{ path('download_message_attachment', { uuid: attachment.uuid, message: message.uuid }) }}">{{ attachment.filename }}</a>
                            {% endfor %}
                            {% if message.downloadsEnabled %}
                                {% for file in userDownloads %}
                                    <a class="dropdown-item" href="{{ path('download_user_file', { uuid: message.uuid, filename: file.basename }) }}">{{ file.basename }}</a>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                {% endif %}

                {% if message.mustConfirm and is_granted('confirm', message) %}
                    {% if not is_confirmed(message) and is_granted('confirm', message) %}
                        <a href="{{ path('confirm_message', { uuid: message.uuid }) }}" class="btn btn-warning btn-sm ms-1" title="{{ 'actions.confirm'|trans }}">
                            <i class="fa fa-check"></i>
                        </a>
                    {% else %}
                        <button type="button" class="btn btn-success btn-sm ms-1" title="{{ 'messages.confirm.confirmed'|trans }}">
                            <i class="fa fa-check"></i>
                        </button>
                    {% endif %}
                {% endif %}

                {% if message.uploadsEnabled and is_granted('upload', message) %}
                    <div class="btn-group ms-1" role="group">
                        <a href="{{ path('show_message', { uuid: message.uuid }) }}" class="btn {% if missingUploads|length > 0 %}btn-warning{% else %}btn-success{% endif %} btn-sm" title="{{ 'messages.uploads.info'|trans }}">
                            <i class="fa fa-upload"></i>
                        </a>
                    </div>
                {% endif %}

                {% if hasPoll %}
                    <div class="btn-group ms-1" role="group">
                        <a href="{{ path('show_message', { uuid: message.uuid }) }}" class="btn btn-primary btn-sm" title="{{ 'messages.poll.info'|trans }}">
                            <i class="fas fa-poll"></i>
                        </a>
                    </div>
                {% endif %}

                <div class="dropdown ms-1">
                    <button type="button" class="btn btn-outline-secondary btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-ellipsis-v"></i>
                    </button>

                    <div class="dropdown-menu dropdown-menu-end">
                        {% set showDivider = false %}
                        {% if is_granted('dismiss', message) %}
                            {% set showDivider = true %}
                            {% if is_dismissed(message) %}
                                <a href="{{ path('reenable_message', { uuid: message.uuid }) }}" class="dropdown-item">
                                    <i class="fas fa-eye"></i> {{ 'message.reenable'|trans }}
                                </a>
                            {% else %}
                                <a href="{{ path('dismiss_message', { uuid: message.uuid }) }}" class="dropdown-item">
                                    <i class="fas fa-eye-slash"></i> {{ 'message.dismiss'|trans }}
                                </a>
                            {% endif %}
                        {% endif %}

                        {% if is_granted('edit', message) and message.mustConfirm %}
                            {% set showDivider = true %}
                            <a href="{{ path('message_confirmations', { uuid: message.uuid })}}" class="dropdown-item">
                                <i class="fas fa-tasks"></i> {{ 'admin.messages.confirmations.label'|trans }}
                            </a>
                        {% endif %}

                        {% if is_granted('edit', message) and message.pollEnabled %}
                            {% set showDivider = true %}
                            <a href="{{ path('poll_result', { uuid: message.uuid })}}" class="dropdown-item">
                                <i class="fas fa-poll"></i> {{ 'messages.poll.result.label'|trans }}
                            </a>
                        {% endif %}

                        {% if is_granted('edit', message) or is_granted('remove', message) %}
                            <div class="dropdown-divider"></div>

                            {% if is_granted('edit', message) %}
                                <a href="{{ path('edit_message', { uuid: message.uuid, ref: 'view' }) }}" class="dropdown-item">
                                    <i class="fa fa-edit"></i> {{ 'actions.edit'|trans }}
                                </a>
                            {% endif %}

                            {% if is_granted('remove', message) %}
                                <a href="{{ path('remove_message', { uuid: message.uuid })}}" class="dropdown-item text-danger">
                                    <i class="fa fa-trash"></i> {{ 'actions.remove'|trans }}
                                </a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>

        </div>

        {% if not is_dismissed(message) %}
            {{ message.content|markdown }}
        {% endif %}
    </div>

    {% if not is_dismissed(message) and (message.attachments|length > 0 or userDownloads|length > 0) %}
        <div class="card-footer">
            <ul class="nav nav-pills card-header-pills">
            {% for attachment in message.attachments %}
                <li class="nav-item">
                    <a class="nav-link link-hover" href="{{ path('download_message_attachment', { uuid: attachment.uuid, message: message.uuid }) }}"><i class="fa fa-download"></i> {{ attachment.filename }}</a>
                </li>
            {% endfor %}
            {% if message.downloadsEnabled %}
                {% for file in userDownloads %}
                    <li class="nav-item">
                        <a class="nav-link link-hover" href="{{ path('download_user_file', { uuid: message.uuid, filename: file.basename }) }}"><i class="fa fa-download"></i> {{ file.basename }}</a>
                    </li>
                {% endfor %}
            {% endif %}
            </ul>
        </div>
    {% endif %}

    {% if message.mustConfirm and is_granted('confirm', message) and not is_dismissed(message) and not is_confirmed(message) %}
        <div class="card-footer bg-warning text-dark">
            <i class="fa fa-info-circle"></i> {% if is_granted('confirm', message) %}{{ 'messages.confirm.prompt'|trans }}{% else %}{{ 'messages.confirm.info'|trans }}{% endif %}
        </div>
    {% endif %}

    {% if message.uploadsEnabled and is_granted('upload', message) and missingUploads|length > 0 %}
        <div class="card-footer bg-warning text-dark">
            <i class="fa fa-exclamation-triangle"></i> {{ 'messages.uploads.status.missing_long'|trans({'%count%': missingUploads|length }) }}
        </div>
    {% endif %}

</div>