{% import "_macros/replacement.html.twig" as _macro %}
{% set onlyAcronym = onlyAcronym|default(false) %}
{% set onlyContent = onlyContent|default(false) %}

{% set duration = substitution.lessonEnd - substitution.lessonStart %}
{% if not onlyContent %}
<div class="card">
    <div class="card-body p-0">
{% endif %}
        <div class="d-flex">
            {% if prefix is defined %}
            <div class="align-self-center text-center p-2 substitution-lesson">
                <strong>{{ prefix }}</strong>
            </div>
            {% endif %}
            <div class="align-self-center text-center p-2 substitution-lesson {% if substitution.startsBefore %}text-small{% endif%} text-black-50">
                {% if substitution.startsBefore %}
                    {{ substitution.lessonStart|before_lesson }}
                {% else %}
                    {{ 'label.substitution_lessons'|trans({'%start%': substitution.lessonStart, '%end%': substitution.lessonEnd, '%count%': duration }) }}
                {% endif %}
            </div>

            <div class="align-self-center d-flex flex-wrap">
                <span class="align-self-center badge badge-primary my-1 mr-3">
                    {% if substitution.type is not empty %}
                        {{ substitution.type|upper }}
                    {% else %}
                        {{ 'dashboard.substitution'|trans|upper }}
                    {% endif %}
                </span>

                <div class="card-body align-self-center pl-0 py-1 py-sm-1 d-flex flex-wrap">
                    {% if (substitution.subject is not empty or substitution.replacementSubject is not empty) %}
                        <span>
                            {{ _macro.replacement(substitution.subject, substitution.replacementSubject) }}
                            <span class="mx-1"></span>
                        </span>
                    {% endif %}

                    {% if substitution.studyGroups|length > 0 or substitution.replacementStudyGroups|length > 0 or substitution.replacementGrades|length > 0 %}
                        <span>
                            <i class="fa fa-users"></i> {{ _macro.replacement(substitution.studyGroups|studygroups, substitution.replacementStudyGroups|studygroups) }}
                            {% if substitution.replacementGrades|length > 0 %}
                                {% if substitution.studyGroups|length > 0 or substitution.replacementStudyGroups|length > 0 %}
                                    ⟶
                                {% endif %}
                                {% for grade in substitution.replacementGrades %}
                                    {{ grade.name }}{% if not loop.last %}, {% endif %}
                                {% endfor %}
                            {% endif %}

                            <span class="mx-1"></span>
                        </span>
                    {% endif %}

                    <span>
                        <i class="fa fa-graduation-cap"></i> {{ _macro.replacement(substitution.teachers|teachers, substitution.replacementTeachers|teachers) }}
                        <span class="mx-1"></span>
                    </span>

                    {% if substitution.roomsAsString is not empty or substitution.replacementRoomsAsString is not empty %}
                        <span>
                            <i class="fa fa-door-open"></i> {{ _macro.replacement(substitution.roomsAsString, substitution.replacementRoomsAsString) }}
                            <span class="mx-1"></span>
                        </span>
                    {% endif %}

                    {% if onlyContent and substitution.remark is not empty %}
                        <span>
                            <i class="fa fa-info-circle"></i> {{ substitution.remark }}
                        </span>
                    {% endif %}
                </div>
            </div>
        </div>
{% if not onlyContent %}
    </div>

    {% if substitution.remark %}
        <div class="card-footer">
            {{ substitution.remark }}
        </div>
    {% endif %}
</div>
{% endif %}