{% macro replacement(original, replacement) %}
    {% if original is not empty and replacement is not empty %}<s>{{ original }}</s> ⟶ {% elseif original is not empty %}{{ original }}{% endif %}{% if replacement is not empty %}{{ replacement }}{% endif %}
{% endmacro %}

{% set duration = substitution.lessonEnd - substitution.lessonStart %}
<div class="card">
    <div class="card-body">
        <div class="row no-gutters">
            <p class="col">
                <strong>{{ 'label.substitution_lessons_label'|trans({'%count%': duration}) }}:</strong>
                {% if substitution.startsBefore %}
                    {{ substitution.lessonStart|before_lesson }}
                {% else %}
                    {{ 'label.substitution_lessons'|trans({'%start%': substitution.lessonStart, '%end%': substitution.lessonEnd, '%count%': duration }) }}
                {% endif %}
            </p>

            {% if substitution.room is not empty or substitution.replacementRoom is not empty %}
            <p class="col">
                <strong>{{ 'label.room'|trans }}:</strong> {{ _self.replacement(substitution.room, substitution.replacementRoom) }}
            </p>
            {% endif %}

            <p class="col">
                <strong>{{ 'label.subject'|trans }}:</strong> {{ _self.replacement(substitution.subject, substitution.replacementSubject) }}
            </p>

            <p class="w-100">
                <strong>{{ 'label.teachers'|trans({'%count%': max(substitution.teachers|length, substitution.replacementTeachers|length)}) }}:</strong> {{ _self.replacement(substitution.teachers|teachers, substitution.replacementTeachers|teachers) }}
            </p>

            {% if substitution.remark is not empty and substitution.type is not empty %}
                <p class="w-100">
                    <strong>{{ 'label.type'|trans }}:</strong> {{ substitution.type }}
                </p>
            {% endif %}

            {% if substitution.studyGroups|length > 0 or substitution.replacementStudyGroups|length > 0 %}
                <p class="w-100">
                    <strong>{{ 'label.study_group'|trans }}:</strong> {{ _self.replacement(substitution.studyGroups|studygroups, substitution.replacementStudyGroups|studygroups) }}
                </p>
            {% endif %}

            {% if substitution.type is not empty or substitution.remark is not empty %}
                <hr class="w-100"/>

                <p class="w-100 remark">
                    {% if substitution.remark is not empty %}
                        {{ substitution.remark }}
                    {% else %}
                        {{ substitution.type }}
                    {% endif %}
                </p>
            {% endif %}
        </div>
    </div>
</div>