{% extends "main.html.twig" %}

{% block post_javascript %}
    <script src="{{ asset('build/collection.js') }}"></script>
    <script src="{{ asset('build/editor.js') }}"></script>
{% endblock %}

{% block title %}{{ 'admin.documents.add.label'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item">{{ 'admin.label'|trans }}</li>
        <li class="breadcrumb-item"><a href="{{ path('admin_documents') }}">{{ 'admin.documents.label'|trans }}</a></li>
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block content %}

    {{ form_start(form) }}

    {{ form_row(form.group_general) }}

    <div class="card mb-3">
        <div class="card-header">{{ 'label.attachments'|trans }}</div>

        <div class="card-body">
            <div class="attachments" data-collection="attachments" data-prototype="{{ form_widget(form.group_attachments.attachments.vars.prototype)|e('html_attr') }}">
                {{ form_widget(form.group_attachments.attachments) }}
            </div>

            {{ form_errors(form.group_attachments.attachments) }}
        </div>

        <div class="card-footer">
            <button class="btn btn-outline-primary btn-sm btn-add" type="button" data-collection="attachments">
                <i class="fa fa-plus"></i> {{ 'actions.add'|trans }}
            </button>
        </div>
    </div>

    {% if form.group_authors is defined %}
        {{ form_row(form.group_authors) }}
    {% endif %}

    <div class="buttons">
        <button type="submit" class="btn btn-primary btn-sm">
            <i class="fa fa-plus"></i> {{ 'actions.add'|trans }}
        </button>

        <a href="{{ path('admin_documents') }}" class="btn btn-secondary btn-sm">
            <i class="fa fa-arrow-left"></i> {{ 'actions.back'|trans }}
        </a>
    </div>

    {{ form_end(form) }}

{% endblock %}