{% extends "admin/_form.html.twig" %}

{% block title %}{{ 'versions.show.label'|trans({'%version%': entry.version }) }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('admin') }}">{{ 'admin.label'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('admin_wiki') }}">{{ 'admin.documents.label'|trans }}</a></li>
        <li class="breadcrumb-item">{{ document.title }}</li>
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block inner %}
    <div class="container-fluid px-0">
        <div class="row">
            <div class="col-md-9">
                <div class="bs-callout bs-callout-danger">
                    <h5>{{ 'info.label'|trans }}</h5>

                    <p>{{ 'versions.show.info'|trans({'%date%': entry.loggedAt|format_datetime, '%version%': entry.version }) }}</p>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ document.title }}</h5>

                        {{ document.content|markdown }}
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card">
                    <div class="list-group list-group-flush">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#restore-modal" class="list-group-item list-group-item-action">
                            <i class="fa fa-trash-restore"></i> {{ 'versions.restore.button'|trans }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block post_javascript %}

    <script src="{{ asset('build/modal.js') }}"></script>

    <div class="modal fade" id="restore-modal" tabindex="-1" role="dialog" aria-labelledby="restore-modal" aria-hidden="true">
        <form method="post" action="{{ path('restore_document_version', { uuid: document.uuid }) }}">
            <input type="hidden" name="{{ token_param }}" value="{{ csrf_token(token_id) }}">
            <input type="hidden" name="{{ version_param }}" value="{{ entry.version }}">

            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{ 'versions.restore.label'|trans }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {{ 'versions.restore.confirm'|trans({'%date%': entry.loggedAt|format_datetime}) }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ 'actions.cancel'|trans }}</button>
                        <button type="submit" class="btn btn-primary"><i class="fa fa-trash-restore"></i> {{ 'versions.restore.button'|trans }}</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}