{% extends "main.html.twig" %}

{% block title %}{{ 'versions.label'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('admin') }}">{{ 'admin.label'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('admin_documents') }}">{{ 'admin.documents.label'|trans }}</a></li>
        <li class="breadcrumb-item">{{ document.title }}</li>
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block content %}
    {{ knp_menu_render('dataMenu', {'currentClass': 'active', 'template': 'admin/_menu.html.twig' }) }}

    <div class="card">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover card-table">
                <colgroup>
                    <col class="column-sm">
                    <col class="column-sm">
                    <col class="column-lg">
                    <col class="column-lg">
                </colgroup>
                <thead>
                <tr>
                    <th>{{ 'label.version'|trans }}</th>
                    <th>{{ 'versions.type.label'|trans }}</th>
                    <th>{{ 'label.user'|trans }}</th>
                    <th>{{ 'label.date'|trans }}</th>
                    <th> </th>
                </tr>
                </thead>

                <tbody>
                    {% for entry in logs %}
                    <tr>
                        <td>{{ entry.version }}</td>
                        <td>{{ ('versions.type.'~entry.action)|trans }}</td>
                        <td>{{ entry.username }}</td>
                        <td>{{ entry.loggedAt|format_datetime }}</td>
                        <td>
                            <a href="{{ path('show_document_version', { uuid: document.uuid, version: entry.version}) }}" class="btn btn-sm btn-primary">
                                <i class="fa fa-eye"></i> {{ 'versions.show.button'|trans }}
                            </a>

                            <a href="#" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#restore-modal" data-modal-content="{{ 'versions.restore.confirm'|trans({'%date%': entry.loggedAt|format_datetime}) }}" data-entity-target="input[name={{ version_param }}]" data-entity-id="{{ entry.id }}">
                                <i class="fa fa-trash-restore"></i> {{ 'versions.restore.button'|trans }}
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="buttons">
        <a href="{{ referer_path({'view': 'show_document'}, 'admin_documents', { uuid: document.uuid }) }}" class="btn btn-secondary btn-sm">
            <i class="fa fa-arrow-left"></i> {{ 'actions.back'|trans }}
        </a>
    </div>
{% endblock %}

{% block post_javascript %}

    <script src="{{ asset('build/modal.js') }}"></script>

    <div class="modal fade" id="restore-modal" tabindex="-1" role="dialog" aria-labelledby="restore-modal" aria-hidden="true">
        <form method="post" action="{{ path('restore_document_version', { uuid: document.uuid }) }}">
            <input type="hidden" name="{{ token_param }}" value="{{ csrf_token(token_id) }}">
            <input type="hidden" name="{{ version_param }}" value="">

            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{ 'versions.restore.label'|trans }}</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">{{ 'actions.cancel'|trans }}</button>
                        <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-trash-restore"></i> {{ 'versions.restore.button'|trans }}</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
