<!DOCTYPE html>
<html lang="{{ app.request.locale }}" {% if is_darkmode() %} data-bs-theme="dark"{% endif %}>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block meta %}{% endblock %}
    <title>{{ config.name }} | {% block title %}{% endblock %}</title>

    {% block css %}
    {% endblock %}

    {% block head %}{% endblock %}
</head>

<body class="d-flex flex-column"{% if is_darkmode() %} data-bs-theme="dark"{% endif %}>

<header>
    <div class="container-fluid" data-role="menu" data-menu="#menu" data-submenu="#submenu">
        <div class="row align-items-end ms-0 me-0 mt-3 ">
            <div class="col m-0 p-0">
                <div class="navbar navbar-dark navbar-expand-sm rounded-top {% if config.smallLogo is defined and config.smallLogo is not empty %}has-logo{% else %}no-logo{% endif %}">
                    {% if config.smallLogo is defined and config.smallLogo is not empty %}
                    <a class="navbar-brand align-items-center-center d-flex rounded text-center p-0 ms-2 me-2 bg-white" style="min-width: 32px; max-width: 32px; height: 32px;" {% if config.logoLink is not empty %} href="{{ path(config.logoLink) }}"{% endif %}>
                        <img src="{{ asset(config.smallLogo) }}" alt="" class="mx-auto" style="width: calc(100% - 2 * 0.25rem)">
                    </a>
                    {% endif %}

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse text-white" id="menu" data-trigger="collapsible-menu">
                        {% block menu %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar navbar-sub mb-3 rounded-bottom">
            <div class="navbar text-white w-100" id="submenu">
                {% block submenu %}{% endblock %}
            </div>
        </div>
    </div>
</header>

<div class="container-fluid main flex-grow-1">

    {% block container %}{% endblock %}

</div>

<footer class="hidden-print">
    <div class="container-fluid">
        <div class="row">
            {% if config.logo is defined and config.logo is not empty %}
            <div class="col-auto d-none d-sm-block">
                <img src="{{ asset(config.logo) }}" class="logo" alt="">
            </div>
            {% endif %}

            <div class="col">
                <h3>{{ config.name }}</h3>

                <p>
                    {{ 'version'|trans({'%version%': config.version }) }}
                </p>
                <p>
                    © {{ "now"|date("Y") }} SchulIT – <a href="{{ path('list_composer_dependencies') }}">{{ 'licenses.label'|trans }}</a>{% if config.projectUrl is not null %} – <i class="fab fa-github"></i> <a href="{{ config.projectUrl }}" target="_blank">GitHub</a>{% endif %}{% block footer_links %}{% endblock %}
                </p>
            </div>
        </div>
    </div>
</footer>

{% block pre_javascript %}{% endblock %}
{% block javascript %}{% endblock %}
{% block post_javascript %}{% endblock %}

</body>
</html>