{% use "bootstrap_5_horizontal_layout.html.twig" %}

{% block form_label_errors %}{% endblock %}

{% block form_row -%}
    <div class="mb-3 row{% if (not compound or force_error|default(false)) and not valid %} is-invalid{% endif %}">
        {{- form_label(form) -}}
        <div class="{{ block('form_group_class') }}">
            {{- form_widget(form) -}}
            {{- form_errors(form) -}}
            {{- form_help(form) -}}
        </div>
    </div>
{%- endblock form_row %}

{% block fieldset_row %}
    <div class="card">
        {% if legend is defined and legend is not empty %}
            <div class="card-header">{{ legend | trans({}, translation_domain) }}</div>
        {% endif %}

        <div class="card-body">
            {{ form_widget(form) }}
        </div>
    </div>
{% endblock %}

{% block datetime_widget -%}
    {%- if widget == 'single_text' -%}
        {{- block('form_widget_simple') -}}
    {%- else -%}
        {%- if widget != 'single_text' and not valid -%}
            {% set attr = attr|merge({class: (attr.class|default('') ~ ' is-invalid')|trim}) -%}
            {% set valid = true %}
        {%- endif -%}

        {% set attr = attr|merge({class: (attr.class|default('') ~ ' input-group')|trim}) -%}
        <div {{ block('widget_container_attributes') }}>
            <span class="input-group-text"><i class="fa fa-calendar"></i></span>

            {{- form_widget(form.date, { datetime: true, hide_input_group: true } ) -}}

            <span class="input-group-text border-left-0"><i class="fa fa-clock"></i></span>

            {{- form_widget(form.time, { datetime: true, hide_input_group: true } ) -}}
        </div>

        <div class="sr-only">
            {%- if form.date.year is defined %}{{ form_label(form.date.year) }}{% endif -%}
            {%- if form.date.month is defined %}{{ form_label(form.date.month) }}{% endif -%}
            {%- if form.date.day is defined %}{{ form_label(form.date.day) }}{% endif -%}
            {%- if form.time.hour is defined %}{{ form_label(form.time.hour) }}{% endif -%}
            {%- if form.time.minute is defined %}{{ form_label(form.time.minute) }}{% endif -%}
            {%- if form.time.second is defined %}{{ form_label(form.time.second) }}{% endif -%}
        </div>

        {{- form_errors(form.date) -}}
        {{- form_errors(form.time) -}}
    {%- endif -%}
{%- endblock datetime_widget %}

{% block date_widget -%}
    {% if hide_input_group|default(false) is same as(false) %}
        <div class="input-group">
            <span class="input-group-text">
                <i class="fa fa-calendar"></i>
            </span>

            {{ parent() }}
        </div>
    {% else %}
        {{ parent() }}
    {% endif %}
{%- endblock date_widget %}

{% block time_widget -%}
    {% if hide_input_group|default(false) is same as(false) %}
        <div class="input-group">
            <span class="input-group-text">
                <i class="fa fa-clock"></i>
            </span>

            {{ parent() }}
        </div>
    {% else %}
        {{ parent() }}
    {% endif %}
{%- endblock time_widget %}

{% block icon_picker_widget %}
    <div class="input-group">
        <span class="input-group-text" id="icon_{{ form.vars.id }}"> </span>

        {{ block('form_widget_simple') }}
    </div>
{% endblock %}