{% import "knp_menu.html.twig" as macros %}

{% for rootItem in item %}
    {% if rootItem.children|length > 0 %}
        {% set isCurrent = false %}
        {%- if matcher.isCurrent(rootItem) or matcher.isAncestor(rootItem) %}
            {%- set isCurrent = true %}
        {%- endif -%}

        <div id="{{ rootItem.extras['menu'] }}" class="w-100 {% if isCurrent %}show{% else %}hide{% endif %}" data-role="submenu">
            <ul class="nav nav-pills {% if rootItem.extras['pull-right'] is defined and rootItem.extras['pull-right'] == true %}justify-content-end{% endif %}">
                {% for child in rootItem.children %}
                    <li class="nav-item">
                        <a href="{{ child.uri }}" class="nav-link {% if matcher.isCurrent(child) %}active{% endif %}" {{ macros.attributes(child.attributes) }}>
                            {% if child.extras['icon'] is defined %}
                                <span class="d-none d-xs-none d-sm-none d-md-none d-lg-block d-xl-block">
                                    <i class="{{ child.extras['icon'] }}"></i>
                                    {{ child.label|trans }}
                                </span>
                                <span class="d-block d-xs-block d-sm-block d-md-block d-lg-none d-xl-none">
                                    <i class="{{ child.extras['icon'] }}"></i>
                                </span>
                            {% else %}
                                {{ child.label|trans }}
                            {% endif %}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endfor %}