{% extends "main.html.twig" %}

{% block title %}{{ 'book.comment.remove.label'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('book') }}">{{ 'remove.label'|trans }}</a></li>
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block content %}
    {{ form_start(form) }}

    <div class="card border-danger">
        <div class="card-header bg-danger text-white">{{ 'remove.header'|trans }}</div>

        <div class="card-body">
            <div class="card">
                <div class="card-body d-flex align-items-center">
                    <div class="book-lesson m-0 p-0">
                        <i class="far fa-comment-alt"></i>
                    </div>

                    <div class="ms-2 flex-fill">
                        <div class="d-flex align-items-center mb-1">
                            <div>
                                <i class="fas fa-chalkboard-teacher"></i> {{ comment.teacher|teacher }}
                            </div>

                            {% for student in comment.students %}
                                <div class="ms-2">
                                    <i class="fas fa-user-graduate"></i> {{ student|student }}
                                </div>
                            {% endfor %}
                        </div>

                        <div>
                            {{ comment.text }}
                        </div>
                    </div>
                </div>
            </div>

            {{ form_widget(form.group_general.confirm) }}
        </div>
    </div>

    <div class="buttons">
        <button type="submit" class="btn btn-danger btn-sm">
            <i class="fa fa-trash"></i> {{ 'remove.confirm'|trans }}
        </button>

        <a href="javascript:history.back();" class="btn btn-secondary btn-sm">
            <i class="fa fa-arrow-left"></i> {{ 'actions.back'|trans }}
        </a>
    </div>

    {{ form_end(form) }}
{% endblock %}

