{% extends "main.html.twig" %}

{% block title %}{{ 'plans.rooms.label'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="container-fluid px-0">
        <div class="row">
            <div class="col-md-3 order-md-2 sticky-sidebar">
                {% if is_granted('ROLE_ADMIN') %}
                    <div class="card">
                        <div class="list-group list-group-flush">
                            <a href="{{ path('admin_rooms') }}" class="list-group-item list-group-item-action">
                                <i class="fa fa-cogs"></i> {{ 'admin.rooms.label'|trans }}
                            </a>
                        </div>
                    </div>
                {% endif %}

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ 'plans.rooms.filter.label'|trans }}</h5>

                        <form method="get" role="form">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <div class="custom-control custom-checkbox">
                                            <input class="mr-1 custom-control-input" value="✓" type="checkbox" id="check-name" name="name" {% if query.hasName() %} checked{% endif %}>
                                            <label class="custom-control-label" for="check-name">{{ 'plans.rooms.filter.name.label'|trans }}</label>
                                        </div>
                                    </div>
                                </div>

                                <input type="text" name="name-value" class="form-control input-sm" value="{{ query.getName() }}" data-enable="#check-name">

                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <i class="fa fa-info-circle" title="{{ 'plans.rooms.filter.name.help'|trans }}" data-toggle="tooltip"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <div class="custom-control custom-checkbox">
                                            <input class="mr-1 custom-control-input" value="✓" type="checkbox" id="check-seats" name="seats" {% if query.hasSeats() %} checked{% endif %}>
                                            <label for="check-seats" class="custom-control-label">
                                                {{ 'plans.rooms.seats'|trans }}
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <input type="number" min="0" name="seats-value" class="form-control input-sm" value="{{ query.getSeatsValueOrDefault() }}" data-enable="#check-seats">

                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <i class="fa fa-info-circle" title="{{ 'plans.rooms.filter.seats.help'|trans }}" data-toggle="tooltip"></i>
                                    </div>
                                </div>
                            </div>

                            {% for tag in tags %}
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend {% if not tag.hasValue() %}flex-fill{% endif %}">
                                        <div class="input-group-text {% if not tag.hasValue() %}w-100{% endif %}">
                                            <div class="custom-control custom-checkbox">
                                                <input class="mr-1 custom-control-input" type="checkbox" id="check-tag-{{ tag.uuid }}" name="tag-{{ tag.uuid }}" value="✓" {% if query.hasTag(tag) %} checked{% endif %}>
                                                <label for="check-tag-{{ tag.uuid }}" class="custom-control-label">
                                                    {{ tag.name }}
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    {% if tag.hasValue() %}
                                        <input type="number" min="0" name="tag-{{ tag.uuid }}-value" class="form-control input-sm" value="{{ query.getValueOrDefault(tag) }}" data-enable="#check-tag-{{ tag.uuid }}">
                                    {% endif %}

                                    {% if not tag.description is empty %}
                                        <div class="input-group-append">
                                            <div class="input-group-text">
                                                <i class="fa fa-info-circle" title="{{ tag.description }}" data-toggle="tooltip"></i>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            {% endfor %}

                            <button type="submit" name="submit" value="" class="btn btn-primary btn-sm">
                                <i class="fa fa-search"></i> {{ 'actions.search'|trans }}
                            </button>
                        </form>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fa fa-info-circle"></i> {{ 'label.last_import'|trans }}</h5>
                        <p>
                            {% if last_import is not null %}
                                {{ last_import.updatedAt|format_datetime }}
                            {% else %}
                                {{ 'label.never'|trans }}
                            {% endif %}
                        </p>
                    </div>
                </div>

                <div class="w-100">
                    <a href="#" class="btn btn-primary btn-sm float-right" data-trigger="scroll">
                        <i class="fa fa-arrow-up"></i> {{ 'actions.top'|trans }}
                    </a>
                </div>
            </div>

            <div class="col-md-9 order-md-1">
                {% for room in rooms %}
                    <div class="card">
                        <div class="card-body">
                            {% if is_granted('edit', room) or is_granted('remove', room) %}
                            <div class="float-right ml-2">
                                <div class="btn-group" role="group">
                                    {% if is_granted('edit', room) %}
                                        <a href="{{ path('edit_room', { uuid: room.uuid }) }}" class="btn btn-primary btn-sm" title="{{ 'admin.rooms.edit.label'|trans }}">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                    {% endif %}
                                    {% if is_granted('remove', room) %}
                                        <a href="{{ path('remove_room', { uuid: room.uuid }) }}" class="btn btn-danger btn-sm" title="{{ 'admin.rooms.remove.label'|trans }}">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                            {% endif %}

                            <div class="float-right ml-2">
                                <a href="{{ path('room_reservations', { rooms: [ room.uuid.toString ]}) }}" class="btn btn-outline-primary btn-sm" title="{{ 'admin.rooms.show_reservations'|trans }}">
                                    <i class="fa fa-door-closed"></i>
                                </a>
                            </div>

                            <h5 class="card-title">
                                {{ room.name }}

                                {% if room.capacity is not null %}
                                <span class="badge badge-primary">
                                    <i class="fas fa-chair"></i> {{ room.capacity }}
                                </span>
                                {% endif %}
                            </h5>

                            <p>
                                {% for tagInfo in room.tags %}
                                    <span class="badge badge-secondary">
                                        <i class="fa fa-check"></i> {{ tagInfo.tag.name }}{% if tagInfo.tag.hasValue %}: {{ tagInfo.value() }}{% endif %}
                                    </span>
                                {% endfor %}
                            </p>
                        </div>

                        {% if room.description is not empty %}
                            <div class="card-footer">
                                {{ room.description }}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}