{% extends "main.html.twig" %}

{% block title %}{{ 'lists.privacy.label'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="container-fluid px-0">
        <div class="row">
            <div class="col-md-9">
                <div class="card">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover card-table">
                            <colgroup>
                                <col>
                                {% for category in categories %}
                                <col class="column-md">
                                {% endfor %}
                            </colgroup>

                            <thead>
                            <tr>
                                <th>{{ 'label.student'|trans }}</th>
                                {% for category in categories %}
                                    <th>{{ category.label }}</th>
                                {% endfor %}
                            </tr>
                            </thead>
                            <tbody>
                            {% for student in students %}
                                <tr class="{% if student.approvedPrivacyCategories|length == categories|length %}table-success{% else %}table-warning{% endif %}">
                                    <td>{{ student|student }}</td>
                                    {% for category in categories %}
                                    <td>
                                        {% if category in student.approvedPrivacyCategories %}
                                            <i class="fa fa-check"></i>
                                        {% else %}
                                            <i class="fa fa-times"></i>
                                        {% endif %}
                                    </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    {% if students|length == 0 %}
                    <div class="card-body">
                        {% if isStart %}
                            <p>{{ 'lists.privacy.start'|trans }}</p>
                        {% else %}
                            <p>{{ 'lists.privacy.empty'|trans }}</p>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>

                <div class="accordion mb-2" id="privacy-explanations">
                    <div class="card mb-0">
                        <div class="card-header">{{ 'lists.privacy.explanations'|trans }}</div>
                    </div>

                    {% for category in categories %}
                        <div class="card mb-0">
                            <div class="card-header pointer d-flex align-items-center" data-toggle="table-collapse" data-target="#category-{{ category.uuid }}">
                                <span class="mr-auto align-self-center">{{ category.label }}</span>

                                <i class="fa fa-chevron-down indicator align-self-center"></i>
                            </div>

                            <div class="collapse" id="category-{{ category.uuid }}" data-parent="#privacy-explanations">
                                <div class="card-body">
                                    <p class="text-justify">{{ category.description }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="col-md-3 sticky-sidebar">
                <div class="card">
                    <div class="card-body pb-1">
                        {% include "_filter/study_group.html.twig" %}

                        {% include "_filter/query.html.twig" with { route: 'list_privacy', params: { } } %}
                    </div>

                    <div class="card-footer">
                        <a href="{{ path('list_privacy') }}" class="btn btn-primary btn-sm">{{ 'filter.reset'|trans }}</a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h5><i class="fa fa-info-circle"></i> {{ 'info.label'|trans }}</h5>

                        <p>{{ 'lists.privacy.info'|trans }}</p>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fa fa-info-circle"></i> {{ 'label.last_import'|trans }}</h5>
                        <p class="mb-0">
                            <span class="text-muted">{{ 'label.students_simple'|trans }}</span>

                            {% if last_import_students is not null %}
                                {{ last_import_students.updatedAt|format_datetime }}
                            {% else %}
                                {{ 'label.never'|trans }}
                            {% endif %}
                        </p>
                        <p>
                            <span class="text-muted">{{ 'label.categories'|trans }}</span>

                            {% if last_import_categories is not null %}
                                {{ last_import_categories.updatedAt|format_datetime }}
                            {% else %}
                                {{ 'label.never'|trans }}
                            {% endif %}
                        </p>
                    </div>
                </div>

                <div class="w-100">
                    <a href="#" class="btn btn-primary btn-sm float-right" data-trigger="scroll">
                        <i class="fa fa-arrow-up"></i> {{ 'actions.top'|trans }}
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}