{% extends "main.html.twig" %}

{% block title %}{{ 'lists.study_groups.label'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="container-fluid px-0">
        <div class="row">
            {% if studyGroupFilter.currentStudyGroup == null and studentFilter.currentStudent == null %}
            <div class="col-md-12">
            {% else %}
            <div class="col-md-9">
            {% endif %}

                {% include "_messages.html.twig" %}

                {% if studyGroupFilter.currentStudyGroup != null %}
                    {% if students|length == 0 %}
                        <div class="bs-callout bs-callout-info">
                            <h5>{{ 'info.label'|trans }}</h5>

                            <p>{{ 'lists.study_groups.empty'|trans }}</p>
                        </div>
                    {% elseif students|length > 0 %}
                        <div class="card">
                            <div class="card-header d-flex">
                                <div class="flex-fill">
                                    {{ studyGroupFilter.currentStudyGroup.name }}
                                    {% include "_includes/_id.html.twig" with { id: studyGroupFilter.currentStudyGroup.id } %}
                                </div>

                                <div class="flex-shrink-0">
                                    <i class="fa fa-users"></i>
                                    {% for grade in studyGroupFilter.currentStudyGroup.grades %}
                                        {{ grade.name }}{% if not loop.last %}, {% endif %}
                                    {% endfor %}

                                    {% if studyGroupFilter.currentStudyGroup != null and studyGroupFilter.currentStudyGroup.type.value == "grade" %}
                                        {% set grade = studyGroupFilter.currentStudyGroup.grades[0] %}

                                        {% if grade is not null %}
                                            <i class="fa fa-graduation-cap" title="{{ 'lists.study_groups.grade_teacher'|trans }}"></i> {% include "_includes/grade_teachers.html.twig" with { grade: grade, section: sectionFilter.currentSection } %}
                                        {% endif %}
                                    {% endif %}

                                    <i class="fas fa-user-friends"></i> {{ studyGroupFilter.currentStudyGroup.memberships|length }}
                                </div>
                            </div>

                            <div class="table-responsive">
                                <table class="table table-striped table-hover card-table border-top-0" data-table="true">
                                    <colgroup>
                                        <col class="column-lg">
                                        <col class="column-lg">
                                        <col class="column-md">
                                        <col>
                                        {% if is_granted('show-birthday') %}
                                            <col class="column-md">
                                            <col class="column-md">
                                        {% endif %}
                                        <col class="column-md">
                                    </colgroup>

                                    <thead>
                                    <tr>
                                        <th>{{ 'label.lastname'|trans }}</th>
                                        <th>{{ 'label.firstname'|trans }}</th>
                                        <th>{{ 'label.grade'|trans }}</th>
                                        <th>{{ 'label.email'|trans }}</th>
                                        {% if is_granted('show-birthday') %}
                                            <th data-type="date" data-format="{{ 'date.format'|trans|upper }}">{{ 'label.birthday'|trans }}</th>
                                            <th data-sortable="false">{{ 'label.full_aged.label'|trans }}</th>
                                        {% endif %}
                                        <th>{{ 'label.gender'|trans }}</th>
                                        <th>{{ 'label.status'|trans }}</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    {% for student in students %}
                                        <tr>
                                            <td>{{ student.lastname }}</td>
                                            <td>{{ student.firstname }}</td>
                                            {% set grade = student.grade(sectionFilter.currentSection) %}
                                            <td>
                                                {% if grade is not null %}
                                                    {{ grade.name }}
                                                {% else %}
                                                    {{ 'label.not_available'|trans }}
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if student.email is not empty %}
                                                    <i class="fa fa-envelope"></i>
                                                    <a href="mailto: {{ student.email}}" target="_blank">
                                                        {{ student.email}}
                                                    </a>
                                                {% endif %}
                                            </td>
                                            {% if is_granted('show-birthday') %}
                                                <td>
                                                    {{ student.birthday|format_date }}
                                                </td>
                                                <td>
                                                    {% set params = { '%date%': today|format_date } %}
                                                    {% if student.isFullAged(today) %}
                                                        <span title="{{ 'label.full_aged.hint_dashboard'|trans(params) }}">
                                                            <i class="fas fa-check"></i>
                                                        </span>
                                                    {% else %}
                                                        <span title="{{ 'label.not_full_aged.hint_dashboard'|trans(params) }}">
                                                            <i class="fas fa-times"></i>
                                                        </span>
                                                    {% endif %}
                                                </td>
                                            {% endif %}
                                            <td>
                                                {{ student.gender|trans }}
                                            </td>
                                            <td>
                                                {{ student.status }}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header d-flex align-items-center">
                                <div class="flex-fill">
                                    {{ 'lists.tuitions.label'|trans }}
                                </div>

                                <div class="flex-shrink-0">
                                    <i class="fas fa-chalkboard-teacher"></i> {{ tuitions|length }}
                                </div>
                            </div>

                            <div class="table-responsive">
                                <table class="table table-striped table-hover card-table">
                                    <colgroup>
                                        <col class="column-lg">
                                        <col class="column-lg">
                                        <col>
                                        <col class="column-md">
                                    </colgroup>
                                    <thead>
                                    <tr>
                                        <th>{{ 'label.name'|trans }}</th>
                                        <th>{{ 'label.subject'|trans }}</th>
                                        <th>{{ 'label.teacher'|trans }}</th>
                                        <th></th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    {% for tuition in tuitions %}
                                        <tr>
                                            <td>{{ tuition.name }}</td>
                                            <td>{{ tuition.subject.name }}</td>
                                            <td>
                                                {% if tuition.teachers|length == 0 %}
                                                    <span class="badge text-bg-secondary">{{ 'label.nobody'|trans }}</span>
                                                {% else %}
                                                    {% for teacher in tuition.teachers %}
                                                        {{ teacher|teacher }}{% if not loop.last %}, {% endif %}
                                                    {% endfor %}
                                                {% endif %}
                                            </td>
                                            <td>
                                                <a href="{{ path('list_tuition', { uuid: tuition.uuid }) }}">{{ 'label.details'|trans }}</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    {% endif %}
                {% elseif studentFilter.currentStudent is not null %}
                    <div class="card">
                        <div class="card-header d-flex">
                            <div class="flex-fill">
                                {{ studentFilter.currentStudent|student }}
                            </div>

                            <div class="flex-shrink-0">
                                <div class="flex-shrink-0">
                                    {% set grade = studentFilter.currentStudent.grade(sectionFilter.currentSection) %}
                                    {% if grade is not null %}
                                        <i class="fa fa-users"></i> {{ grade.name }}
                                        <i class="fa fa-graduation-cap" title="{{ 'lists.study_groups.grade_teacher'|trans }}"></i> {% include "_includes/grade_teachers.html.twig" with { grade: grade, section: sectionFilter.currentSection } %}
                                    {% endif %}

                                    <i class="fas fa-user-friends"></i> {{ study_groups|length }}
                                </div>
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-striped card-table border-top-0" data-table="true">
                                <colgroup>
                                    <col>
                                    <col class="column-md">
                                </colgroup>

                                <thead>
                                <tr>
                                    <th>{{ 'label.name'|trans }}</th>
                                    <th>{{ 'lists.tuitions.type'|trans }}</th>
                                </tr>
                                </thead>

                                <tbody>
                                {% for studygroup in study_groups %}
                                    <tr>
                                        <td>
                                            <a href="{{ path('list_studygroups', { study_group: studygroup.uuid.toString, section: sectionFilter.currentSection.uuid.toString }) }}">
                                                {{ studygroup.name }}
                                            </a>
                                        </td>
                                        <td>{{ memberships[studygroup.id] ?? null }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% endif %}

            {% if studyGroupFilter.currentStudyGroup != null or studentFilter.currentStudent is not null %}
            </div>
            <div class="col-md-3 sticky-sidebar">
            {% endif %}
                {% if studyGroupFilter.currentStudyGroup != null and students|length > 0 and is_granted('export-lists') %}
                    <div class="card">
                        <div class="list-group list-group-flush">
                            <a href="{{ path('export_studygroup', { uuid: studyGroupFilter.currentStudyGroup.uuid }) }}" class="list-group-item list-group-item-action">
                                <i class="fas fa-download"></i> {{ 'lists.study_groups.export.csv'|trans }}
                            </a>

                            <a href="#" class="list-group-item list-group-item-action" data-clipboard-text="{% for student in students %}{% if student.email is not empty %}{{ student.email }};{% endif %}{% endfor %}">
                                <i class="fa fa-copy"></i> {{ 'lists.tuitions.export.copy'|trans }}
                            </a>

                            <a href="mailto:{% for student in students %}{% if student.email is not empty %}{{ student.email }};{% endif %}{% endfor %}" class="list-group-item list-group-item-action">
                                <i class="fa fa-envelope"></i> {{ 'lists.study_groups.export.mail'|trans }}
                            </a>
                        </div>
                    </div>
                {% endif %}

                <div class="card d-print-none">
                    <div class="card-body pb-1">
                        {% include "_filter/section.html.twig" %}
                        {% set params = { section: sectionFilter.currentSection != null ? sectionFilter.currentSection.uuid.toString() : null } %}

                        {% include "_filter/study_group.html.twig" with { params: params } %}

                        {% include "_filter/student.html.twig" with { params: params } %}
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fa fa-info-circle"></i> {{ 'label.last_import'|trans }}</h5>
                        <p>
                            {% if last_import is not null %}
                                {{ last_import.updatedAt|format_datetime }}
                            {% else %}
                                {{ 'label.never'|trans }}
                            {% endif %}
                        </p>
                    </div>
                </div>

                <div class="w-100">
                    <a href="#" class="btn btn-primary btn-sm float-right" data-trigger="scroll">
                        <i class="fa fa-arrow-up"></i> {{ 'actions.top'|trans }}
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}