{% extends "main.html.twig" %}

{% block content %}
    <div class="col-md-3 col-sm-6 col-xs-12 widget link-widget">
        <form role="form" method="get" class="form hidden-print">
            <div class="form-group">
                <label for="grade" class="control-label">Stufe:</label>
                <select name="grade" id="grade" class="form-control" data-trigger="form-submit" data-select="select2">
                    <option value="">{{ 'label.select.grade'|trans }}</option>
                    {% for grade in grades %}
                        <option value="{{ grade.getExternalId() }}">{{ grade.getName() }}</option>
                    {% endfor %}
                </select>
            </div>
        </form>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-12 widget link-widget">
        <form role="form" method="get" class="form hidden-print">
            <div class="form-group">
                <label for="student" class="control-label">Schüler:</label>
                <select name="studentId" id="student" class="form-control" data-trigger="form-submit" data-select="select2">
                    <option value="">Schüler auswählen</option>
                    {% for group in studentGroups %}
                        <optgroup label="{{ group.grade.name }}">
                            {% for s in group.students %}
                                <option value="{{ s.externalId }}">{{ s.lastname() }}, {{ s.firstname() }}</option>
                            {% endfor %}
                        </optgroup>
                    {% endfor %}
                </select>
            </div>
        </form>
    </div>
{% endblock %}