{% extends "main.html.twig" %}

{% block title %}{% if tuition.displayName is not empty %}{{ tuition.displayName }}{% else %}{{ tuition.name }}{% endif %} ({{ tuition.subject.name }}){% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('list_tuitions') }}">{{ 'lists.tuitions.label'|trans }}</a></li>
        <li class="breadcrumb-item">{% for grade in tuition.studyGroup.grades %}{{ grade.name }}{% if not loop.last %}, {% endif %}{% endfor %}</li>
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block content %}
    {% include "_messages.html.twig" %}

    <div class="container-fluid px-0">
        <div class="row">
            <div class="col-md-9">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            {% if tuition.displayName is not empty %}
                                {{ tuition.displayName }}
                            {% else %}
                                {{ tuition.name }}
                            {% endif %} ({{ tuition.subject.name }})
                        </h5>

                        <ul class="list-unstyled m-0">
                            <li>{{ 'label.study_group'|trans }}: {{ tuition.studyGroup.name }}</li>
                            <li>{{ 'label.grade'|trans }}: {% for grade in tuition.studyGroup.grades %}{{ grade.name }}{% if not loop.last %}, {% endif %}{% endfor %}</li>
                            <li>{{ 'label.teacher'|trans }}: {% for teacher in tuition.teachers %}{{ teacher|teacher }}{% if not loop.last %}, {% endif %}{% endfor %}</li>
                            <li>{{ 'label.section'|trans }}: {{ tuition.section.displayName }}</li>
                        </ul>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header d-flex align-items-center">
                        <div class="flex-fill">{{ 'label.students_simple'|trans }}</div>

                        <div class="flex-shrink-0">
                            <i class="fa fa-users"></i> {{ memberships|length }}
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-striped table-hover card-table border-top-0" data-table="true">
                            <thead>
                            <tr>
                                <th>{{ 'label.lastname'|trans }}</th>
                                <th>{{ 'label.firstname'|trans }}</th>
                                <th>{{ 'label.grade'|trans }}</th>
                                <th>{{ 'label.email'|trans }}</th>
                                <th>{{ 'lists.tuitions.type'|trans }}</th>
                                {% if is_granted('show-birthday') %}
                                <th data-type="date" data-format="{{ 'date.format'|trans|upper }}">{{ 'label.birthday'|trans }}</th>
                                <th data-sortable="false">{{ 'label.full_aged.label'|trans }}</th>
                                {% endif %}
                                <th>{{ 'label.status'|trans }}</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for membership in memberships %}
                                <tr>
                                    <td>{{ membership.student.lastname }}</td>
                                    <td>{{ membership.student.firstname }}</td>
                                    <td>
                                        {% set grade = membership.student.grade(tuition.section) %}

                                        {% if grade is not null %}
                                            {{ grade.name }}
                                        {% else %}
                                            {{ 'label.not_available'|trans }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if membership.student.email is not empty %}
                                            <i class="fa fa-envelope"></i>
                                            <a href="mailto: {{ membership.student.email}}" target="_blank">
                                                {{ membership.student.email}}
                                            </a>
                                        {% endif %}
                                    </td>
                                    <td>{{ membership.type }}</td>
                                    {% if is_granted('show-birthday') %}
                                    <td>
                                        {{ membership.student.birthday|format_date }}
                                    </td>
                                    <td>
                                        {% set params = { '%date%': today|format_date } %}
                                        {% if membership.student.isFullAged(today) %}
                                            <span title="{{ 'label.full_aged.hint_dashboard'|trans(params) }}">
                                                <i class="fas fa-check"></i>
                                            </span>
                                        {% else %}
                                            <span title="{{ 'label.not_full_aged.hint_dashboard'|trans(params) }}">
                                                <i class="fas fa-times"></i>
                                            </span>
                                        {% endif %}
                                    </td>
                                    {% endif %}

                                    <td>
                                        {{ membership.student.status }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header d-flex align-items-center">
                        <div class="flex-fill">{{ 'label.exams'|trans }}</div>
                        <div><i class="fa fa-edit"></i> {{ exams|length }}</div>
                    </div>

                    {% if exams|length == 0 %}
                        <div class="card-body">
                            <div class="bs-callout bs-callout-info">
                                <h4>{{ 'info.label'|trans }}</h4>

                                <p>{{ 'plans.exams.empty'|trans }}</p>
                            </div>
                        </div>
                    {% else %}
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th>{{ 'label.date'|trans }}</th>
                                <th>{{ 'label.lessons'|trans }}</th>
                                <th>{{ 'label.students_simple'|trans }}</th>
                                <th></th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for exam in exams %}
                                <tr>
                                    <td>{{ exam.date|format_date }}</td>
                                    <td>{{ 'label.exam_lessons'|trans({'%start%': exam.lessonStart, '%end%': exam.lessonEnd, '%count%': (exam.lessonEnd - exam.lessonStart)}) }}</td>
                                    <td>{{ exam.students|length }}</td>
                                    <td>
                                        <a href="{{ path('show_exam', { uuid: exam.uuid }) }}">{{ 'label.details'|trans }}</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>
            </div>

            <div class="col-md-3 sticky-sidebar">
                <div class="card">
                    <div class="list-group list-group-flush">
                        <a href="{{ path('export_tuition', { uuid: tuition.uuid }) }}" class="list-group-item list-group-item-action">
                            <i class="fas fa-download"></i> {{ 'lists.tuitions.export.csv'|trans }}
                        </a>

                        <a href="#" class="list-group-item list-group-item-action" data-clipboard-text="{% for membership in memberships %}{{ membership.student.email }}{% if not loop.last %};{% endif %}{% endfor %}">
                            <i class="fa fa-copy"></i> {{ 'lists.tuitions.export.copy'|trans }}
                        </a>

                        <a href="mailto:{% for membership in memberships %}{{ membership.student.email }}{% if not loop.last %};{% endif %}{% endfor %}" class="list-group-item list-group-item-action">
                            <i class="fa fa-envelope"></i> {{ 'lists.tuitions.export.mail'|trans }}
                        </a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fa fa-info-circle"></i> {{ 'label.last_import'|trans }}</h5>
                        <p>
                            {% if last_import is not null %}
                                {{ last_import.updatedAt|format_datetime }}
                            {% else %}
                                {{ 'label.never'|trans }}
                            {% endif %}
                        </p>
                    </div>
                </div>

                <div class="w-100">
                    <a href="#" class="btn btn-primary btn-sm float-right" data-trigger="scroll">
                        <i class="fa fa-arrow-up"></i> {{ 'actions.top'|trans }}
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}