{% extends "main.html.twig" %}

{% block title %}{{ 'lists.tuitions.label'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="container-fluid px-0">
        <div class="row">
            {% if studentFilter.currentStudent == null and gradeFilter.currentGrade == null and teacherFilter.currentTeacher == null %}
            <div class="col-md-12">
            {% else %}
            <div class="col-md-9">
            {% endif %}
                {% include "_messages.html.twig" %}

                {% if studentFilter.currentStudent == null and gradeFilter.currentGrade == null and teacherFilter.currentTeacher == null %}
                {% elseif tuitions|length == 0 %}
                    <div class="bs-callout bs-callout-info">
                        <h5>{{ 'info.label'|trans }}</h5>

                        <p>{{ 'lists.tuitions.empty'|trans }}</p>
                    </div>
                {% else %}
                <div class="card">
                    <div class="card-header d-flex align-items-center">
                        <div class="flex-fill">
                            {% if studentFilter.currentStudent != null %}
                                {{ 'lists.tuitions.heading.student'|trans({'%student%': studentFilter.currentStudent|student }) }}
                            {% elseif teacherFilter.currentTeacher != null %}
                                {{ 'lists.tuitions.heading.teacher'|trans({'%teacher%': teacherFilter.currentTeacher|teacher }) }}
                            {% elseif gradeFilter.currentGrade != null %}
                                {{ 'lists.tuitions.heading.grade'|trans({'%grade%': gradeFilter.currentGrade.name }) }}
                            {% endif %}
                        </div>

                        <div class="flex-shrink-0">
                            {% if studentFilter.currentStudent != null %}
                                <i class="fa fa-users"></i> {{ studentFilter.currentStudent.grade(sectionFilter.currentSection).name }}
                            {% endif %}

                            {% if gradeFilter.currentGrade is not null %}
                                <i class="fa fa-graduation-cap" title="{{ 'lists.study_groups.grade_teacher'|trans }}"></i> {% include "_includes/grade_teachers.html.twig" with { grade: gradeFilter.currentGrade, section: sectionFilter.currentSection } %}
                            {% endif %}

                            <i class="fa fa-chalkboard-teacher"></i> {{ tuitions|length }}
                        </div>

                    </div>

                    <div class="table-responsive">
                        <table class="table table-striped card-table border-top-0" data-table="true">
                            <colgroup>
                                <col class="column-md">
                                <col>
                                {% if teacherFilter.currentTeacher == null %}
                                <col class="column-lg">
                                {% endif %}
                                {% if studentFilter.currentStudent == null %}
                                <col class="column-lg">
                                <col class="column-md">
                                {% else %}
                                <col class="column-md">
                                {% endif %}
                                <col class="column-md">
                            </colgroup>

                            <thead>
                            <tr>
                                <th>{{ 'label.name'|trans }}</th>
                                <th>{{ 'label.subject'|trans }}</th>
                                {% if teacherFilter.currentTeacher == null %}
                                <th>{{ 'label.teacher'|trans }}</th>
                                {% endif %}
                                {% if studentFilter.currentStudent == null %}
                                <th>{{ 'label.study_group'|trans }}</th>
                                <th>{{ 'label.students_simple'|trans }}</th>
                                {% else %}
                                <th>{{ 'lists.tuitions.type'|trans }}</th>
                                {% endif %}
                                <th data-sortable="false"></th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for tuition in tuitions %}
                                <tr>
                                    <td>
                                        {% if tuition.displayName is not empty %}
                                            {{ tuition.displayName }}
                                        {% else %}
                                            {{ tuition.name }}
                                        {% endif %}
                                    </td>
                                    <td>{{ tuition.subject.name }}</td>
                                    {% if teacherFilter.currentTeacher == null %}
                                    <td>
                                        {% if tuition.teachers|length > 0 %}
                                            {% for teacher in tuition.teachers %}
                                                <a href="{{ path('list_tuitions', { teacher: teacher.uuid.toString }) }}">{{ teacher|teacher }}</a>{% if not loop.last %}, {% endif %}
                                            {% endfor %}
                                        {% else %}
                                            <span class="badge text-bg-secondary">{{ 'label.nobody'|trans }}</span>
                                        {% endif %}
                                    </td>
                                    {% endif %}
                                    {% if studentFilter.currentStudent == null %}
                                        <td>
                                            {% if tuition.studyGroup is not null %}
                                                <a href="{{ path('list_studygroups', { study_group: tuition.studyGroup.uuid.toString() }) }}">{{ tuition.studyGroup|studygroup(true, true) }}</a>
                                            {% else %}
                                                <span class="badge text-bg-secondary">{{ 'label.none'|trans }}</span>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if tuition.studyGroup is not null %}
                                                {{ tuition.studyGroup.memberships|length }}
                                            {% else %}
                                                <span class="badge text-bg-secondary">{{ 'label.nobody'|trans }}</span>
                                            {% endif %}
                                        </td>
                                    {% else %}
                                        <td>{{ memberships[tuition.externalId] }}</td>
                                    {% endif %}
                                    <td>
                                        <a href="{{ path('list_tuition', { uuid: tuition.uuid }) }}">{{ 'label.details'|trans }}</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                {% endif %}

            {% if studentFilter.currentStudent == null and gradeFilter.currentGrade == null and teacherFilter.currentTeacher == null %}
            {% else %}
            </div>
            <div class="col-md-3 sticky-sidebar">
            {% endif %}
                {% if teacherMailAddresses is not null and teacherMailAddresses|length > 0 %}
                    <div class="card">
                        <div class="list-group list-group-flush">
                            <a href="#" class="list-group-item list-group-item-action" data-clipboard-text="{% for address in teacherMailAddresses %}{{ address }}{% if not loop.last %};{% endif %}{% endfor %}">
                                <i class="fa fa-copy"></i> {{ 'lists.tuitions.student_teachers_export.copy'|trans }}
                            </a>

                            <a href="mailto:{% for address in teacherMailAddresses %}{{ address }}{% if not loop.last %};{% endif %}{% endfor %}" class="list-group-item list-group-item-action">
                                <i class="fa fa-envelope"></i> {{ 'lists.tuitions.student_teachers_export.mail'|trans }}
                            </a>
                        </div>
                    </div>
                {% endif %}

                <div class="card">
                    <div class="card-body pb-1">
                        {% set params = {
                            grade: gradeFilter.currentGrade != null ? gradeFilter.currentGrade.uuid.toString : null,
                            teacher: teacherFilter.currentTeacher != null ? teacherFilter.currentTeacher.uuid.toString : null,
                            student: studentFilter.currentStudent != null ? studentFilter.currentStudent.uuid.toString : null
                        } %}
                        {% include "_filter/section.html.twig" with { params: params } %}

                        {% set params = { section: sectionFilter.currentSection != null ? sectionFilter.currentSection.uuid.toString() : null } %}
                        {% include "_filter/grade.html.twig" with { params: params } %}

                        {% include "_filter/teacher.html.twig" with { params: params } %}

                        {% include "_filter/student.html.twig" with { params: params } %}
                    </div>

                    <div class="card-footer">
                        <a href="{{ path('list_tuitions') }}" class="btn btn-primary btn-sm">{{ 'filter.reset'|trans }}</a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fa fa-info-circle"></i> {{ 'label.last_import'|trans }}</h5>
                        <p>
                            {% if last_import is not null %}
                                {{ last_import.updatedAt|format_datetime }}
                            {% else %}
                                {{ 'label.never'|trans }}
                            {% endif %}
                        </p>
                    </div>
                </div>

                <div class="w-100">
                    <a href="#" class="btn btn-primary btn-sm float-right" data-trigger="scroll">
                        <i class="fa fa-arrow-up"></i> {{ 'actions.top'|trans }}
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}