{% extends "main.html.twig" %}

{% block title %}{% if tuition.displayName is not empty %}{{ tuition.displayName }}{% else %}{{ tuition.name }}{% endif %} ({{ tuition.subject.name }}){% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('list_tuitions') }}">{{ 'lists.tuitions.label'|trans }}</a></li>
        <li class="breadcrumb-item">{% for grade in tuition.studyGroup.grades %}{{ grade.name }}{% if not loop.last %}, {% endif %}{% endfor %}</li>
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block content %}
    {% include "_messages.html.twig" %}

    <div class="container-fluid px-0">
        <div class="row">
            <div class="col-md-9">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            {% if tuition.displayName is not empty %}
                                {{ tuition.displayName }}
                            {% else %}
                                {{ tuition.name }}
                            {% endif %} ({{ tuition.subject.name }})
                        </h5>

                        <ul class="list-unstyled m-0">
                            <li>{{ 'label.study_group'|trans }}: {{ tuition.studyGroup.name }} ({{ 'label.students'|trans({'%count%': tuition.studyGroup.memberships|length }) }})</li>
                            <li>{{ 'label.grade'|trans }}: {% for grade in tuition.studyGroup.grades %}{{ grade.name }}{% if not loop.last %}, {% endif %}{% endfor %}</li>
                            <li>{{ 'label.teacher'|trans }}: {{ tuition.teacher|teacher }}{% if tuition.additionalTeachers|length > 0 %}, {% for teacher in tuition.additionalTeachers %}{{ teacher|teacher }},{% endfor %}{% endif %}</li>
                        </ul>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">{{ 'label.students_simple'|trans }} <span class="badge badge-primary badge-pill">{{ memberships|length }}</span> </div>

                    <div class="table-responsive">
                        <table class="table table-striped table-hover table-bordered card-table border-top-0" data-table="true">
                            <thead>
                            <tr>
                                <th>{{ 'label.lastname'|trans }}</th>
                                <th>{{ 'label.firstname'|trans }}</th>
                                <th>{{ 'label.grade'|trans }}</th>
                                <th>{{ 'label.email'|trans }}</th>
                                <th>{{ 'lists.tuitions.type'|trans }}</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for membership in memberships %}
                                <tr>
                                    <td>{{ membership.student.lastname }}</td>
                                    <td>{{ membership.student.firstname }}</td>
                                    <td>{{ membership.student.grade.name }}</td>
                                    <td>
                                        {% if membership.student.email is not empty %}
                                            <i class="fa fa-envelope"></i>
                                            <a href="mailto: {{ membership.student.email}}" target="_blank">
                                                {{ membership.student.email}}
                                            </a>
                                        {% endif %}
                                    </td>
                                    <td>{{ membership.type }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">{{ 'label.exams'|trans }} {% if exams|length > 0 %}<span class="badge badge-primary badge-pill">{{ exams|length }}</span>{% endif %}</div>

                    {% if exams|length == 0 %}
                        <div class="card-body">
                            <div class="bs-callout bs-callout-info">
                                <h4>{{ 'info.label'|trans }}</h4>

                                <p>{{ 'plans.exams.empty'|trans }}</p>
                            </div>
                        </div>
                    {% else %}
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>{{ 'label.date'|trans }}</th>
                                <th>{{ 'label.lessons'|trans }}</th>
                                <th>{{ 'label.students_simple'|trans }}</th>
                                <th></th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for exam in exams %}
                                <tr>
                                    <td>{{ exam.date|format_date }}</td>
                                    <td>{{ 'label.exam_lessons'|trans({'%start%': exam.lessonStart, '%end%': exam.lessonEnd, '%count%': (exam.lessonEnd - exam.lessonStart)}) }}</td>
                                    <td>{{ exam.students|length }}</td>
                                    <td>
                                        <a href="{{ path('show_exam', { uuid: exam.uuid }) }}">{{ 'label.details'|trans }}</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>
            </div>

            <div class="col-md-3">
                <div class="card">
                    <div class="list-group list-group-flush">
                        <a href="{{ path('export_tuition', { uuid: tuition.uuid }) }}" class="list-group-item list-group-item-action">
                            <i class="fas fa-download"></i> {{ 'lists.tuitions.export.csv'|trans }}
                        </a>

                        <a href="#" class="list-group-item list-group-item-action" data-clipboard-text="{% for membership in memberships %}{{ membership.student.email }}{% if not loop.last %};{% endif %}{% endfor %}">
                            <i class="fa fa-copy"></i> {{ 'lists.tuitions.export.copy'|trans }}
                        </a>

                        <a href="mailto:{% for membership in memberships %}{{ membership.student.email }}{% if not loop.last %};{% endif %}{% endfor %}" class="list-group-item list-group-item-action">
                            <i class="fa fa-envelope"></i> {{ 'lists.tuitions.export.mail'|trans }}
                        </a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fa fa-info-circle"></i> {{ 'label.last_import'|trans }}</h5>
                        <p>
                            {% if last_import is not null %}
                                {{ last_import.updatedAt|format_datetime }}
                            {% else %}
                                {{ 'label.never'|trans }}
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}