{% extends "main.html.twig" %}

{% block title %}{{ 'lists.tuitions.label'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="container-fluid px-0">
        <div class="row">
            {% if studentFilter.currentStudent == null and gradeFilter.currentGrade == null and teacherFilter.currentTeacher == null %}
            <div class="col-md-12">
            {% else %}
            <div class="col-md-9">
            {% endif %}
                {% include "_messages.html.twig" %}

                {% if studentFilter.currentStudent == null and gradeFilter.currentGrade == null and teacherFilter.currentTeacher == null %}
                {% elseif tuitions|length == 0 %}
                    <div class="bs-callout bs-callout-info">
                        <h4>{{ 'info.label'|trans }}</h4>

                        <p>{{ 'lists.tuitions.empty'|trans }}</p>
                    </div>
                {% else %}
                <div class="card">
                    <div class="card-header">
                        {% if studentFilter.currentStudent != null %}
                            {{ 'lists.tuitions.heading.student'|trans({'%student%': studentFilter.currentStudent|student }) }} <span class="badge badge-secondary">{{ studentFilter.currentStudent.grade.name }}</span>
                        {% elseif teacherFilter.currentTeacher != null %}
                            {{ 'lists.tuitions.heading.teacher'|trans({'%teacher%': teacherFilter.currentTeacher|teacher }) }}
                        {% elseif gradeFilter.currentGrade != null %}
                            {{ 'lists.tuitions.heading.grade'|trans({'%grade%': gradeFilter.currentGrade.name }) }}
                        {% endif %}
                    </div>

                    <table class="table table-striped table-bordered">
                        <colgroup>
                            <col class="column-md">
                            <col>
                            {% if teacherFilter.currentTeacher == null %}
                            <col class="column-lg">
                            {% endif %}
                            {% if studentFilter.currentStudent == null %}
                            <col class="column-md">
                            <col class="column-md">
                            {% else %}
                            <col class="column-md">
                            {% endif %}
                            <col class="column-md">
                        </colgroup>

                        <thead>
                        <tr>
                            <th>{{ 'label.name'|trans }}</th>
                            <th>{{ 'label.subject'|trans }}</th>
                            {% if teacherFilter.currentTeacher == null %}
                            <th>{{ 'label.teacher'|trans }}</th>
                            {% endif %}
                            {% if studentFilter.currentStudent == null %}
                            <th>{{ 'label.study_group'|trans }}</th>
                            <th>{{ 'label.students_simple'|trans }}</th>
                            {% else %}
                            <th>{{ 'lists.tuitions.type'|trans }}</th>
                            {% endif %}
                            <th></th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for tuition in tuitions %}
                            <tr>
                                <td>{{ tuition.name }}</td>
                                <td>{{ tuition.subject.name }}</td>
                                {% if teacherFilter.currentTeacher == null %}
                                <td>
                                    {% if tuition.teacher is not null %}
                                        <a href="{{ path('list_tuitions', { teacher: tuition.teacher.acronym }) }}">{{ tuition.teacher|teacher }}</a>
                                    {% else %}
                                        <span class="badge badge-secondary">{{ 'label.nobody'|trans }}</span>
                                    {% endif %}
                                </td>
                                {% endif %}
                                {% if studentFilter.currentStudent == null %}
                                    <td>
                                        {% if tuition.studyGroup is not null %}
                                            <a href="{{ path('list_studygroups', { study_group: tuition.studyGroup.uuid}) }}">{{ tuition.studyGroup.name }}</a>
                                        {% else %}
                                            <span class="badge badge-secondary">{{ 'label.none'|trans }}</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if tuition.studyGroup is not null %}
                                            {{ tuition.studyGroup.memberships|length }}
                                        {% else %}
                                            <span class="badge badge-secondary">{{ 'label.nobody'|trans }}</span>
                                        {% endif %}
                                    </td>
                                {% else %}
                                    <td>{{ memberships[tuition.externalId] }}</td>
                                {% endif %}
                                <td>
                                    <a href="{{ path('list_tuition', { uuid: tuition.uuid }) }}">{{ 'label.details'|trans }}</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endif %}

            {% if studentFilter.currentStudent == null and gradeFilter.currentGrade == null and teacherFilter.currentTeacher == null %}
            {% else %}
            </div>
            <div class="col-md-3">
            {% endif %}
                <div class="card">
                    <div class="card-body pb-1">
                        {% include "_filter/grade.html.twig" %}

                        {% include "_filter/teacher.html.twig" %}

                        {% include "_filter/student.html.twig" %}
                    </div>

                    <div class="card-footer">
                        <a href="{{ path('list_tuitions') }}" class="btn btn-primary btn-sm">{{ 'filter.reset'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}