{% extends "main.html.twig" %}

{% block post_javascript %}
    <script src="{{ asset('build/collection.js') }}"></script>
    <script src="{{ asset('build/editor.js') }}"></script>
{% endblock %}

{% block title %}{{ 'messages.add.label'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('admin') }}">{{ 'admin.label'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('admin_messages') }}">{{ 'admin.messages.label'|trans }}</a></li>
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block content %}

    {{ form_start(form) }}

    {{ form_row(form.group_general) }}

    <div class="card mb-3">
        <div class="card-header">{{ 'label.attachments'|trans }}</div>

        <div class="card-body">
            <div class="attachments" data-collection="attachments" data-prototype="{{ form_widget(form.group_attachments.attachments.vars.prototype)|e('html_attr') }}">
                {% for attachment in form.group_attachments.attachments %}
                    {{ form_widget(attachment) }}
                {% endfor %}
            </div>

            {{ form_errors(form.group_attachments.attachments) }}

            <!-- {{ form_end(form.group_attachments) }} -->
        </div>

        <div class="card-footer">
            <button class="btn btn-outline-primary btn-sm btn-add" type="button" data-collection="attachments">
                <i class="fa fa-plus"></i> {{ 'actions.add'|trans }}
            </button>
        </div>
    </div>

    {{ form_row(form.group_confirmations) }}

    {{ form_row(form.group_download) }}

    <div class="card mb-3">
        <div class="card-header">{{ 'label.messages_files.label'|trans }}</div>

        <div class="card-body">
            {{ form_row(form.group_upload.isUploadsEnabled) }}
            {{ form_row(form.group_upload.uploadEnabledUserTypes) }}
            {{ form_row(form.group_upload.uploadEnabledStudyGroups) }}
            {{ form_row(form.group_upload.uploadDescription) }}

            <div class="files" data-collection="files" data-prototype="{{ form_row(form.group_upload.files.vars.prototype)|e('html_attr') }}">
                {% for file in form.group_upload.files %}
                    {{ form_row(file) }}
                {% endfor %}
            </div>

            {{ form_errors(form.group_upload.files) }}

            <button class="btn btn-outline-primary btn-sm btn-add" type="button" data-collection="files">
                <i class="fa fa-plus"></i> {{ 'actions.add'|trans }}
            </button>

            <!-- {{ form_end(form.group_upload) }} -->
        </div>
    </div>

    <div class="buttons">
        <button type="submit" class="btn btn-primary btn-sm">
            <i class="fa fa-plus"></i> {{ 'actions.add'|trans }}
        </button>

        <a href="{{ path('admin_messages') }}" class="btn btn-secondary btn-sm">
            <i class="fa fa-arrow-left"></i> {{ 'actions.back'|trans }}
        </a>
    </div>

    {{ form_end(form) }}

{% endblock %}