{% extends "main.html.twig" %}

{% block post_javascript %}
    <script src="{{ asset('build/message-downloads.js') }}"></script>
{% endblock %}

{% block title %}{{ 'messages.downloads.label'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('admin') }}">{{ 'admin.label'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('admin_messages') }}">{{ 'admin.messages.label'|trans }}</a></li>
        <li class="breadcrumb-item">{{ message.title }}</li>
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% macro printUsers(view, message, users, backup) %}
    {% if users|length == 0 %}
        <tr class="table-warning">
            <td colspan="4">
                <i class="fa fa-user"></i> {{ backup }}
            </td>
        </tr>
    {% endif %}

    {% for user in users %}
        <tr class="pointer" data-toggle="table-collapse" data-target=".file-{{ user.id }}">
            <td colspan="4">
                <div class="d-flex">
                    <span class="mr-auto align-self-center"><i class="fa fa-user"></i> {{ user|user }}</span>

                    <i class="fa fa-chevron-down float-right indicator align-self-center"></i>
                </div>
            </td>
        </tr>

        {% for file in view.userDownloads(user) %}
            <tr class="collapse file-{{ user.id }}">
                <td class="align-middle">
                    <a href="{{ path('download_message_download', { message: message.id, user: user.id, filename: file.basename }) }}" class="btn btn-primary btn-sm"><i class="fa fa-download"></i></a>
                    <a href="{{ path('remove_message_download', { message: message.id, user: user.id, filename: file.basename }) }}" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></a>
                    {{ file.basename }}
                </td>
                <td class="align-middle">{{ file.size|filesize }}</td>
                <td class="align-middle">{{ file.timestamp|todatetime|format_datetime }}</td>
            </tr>
        {% endfor %}
    {% endfor %}
{% endmacro %}

{% block content %}
    <div class="container-fluid px-0">
        <div class="row">
            <div class="col-md-9" id="explorer">
                {# Students #}
                {% for grade in grades %}
                    <div class="card">
                        <div class="card-header d-flex pointer" data-toggle="table-collapse" data-target="#downloads-{{ grade.grade.id }}">
                            <span class="mr-auto align-self-center">{{ grade.grade.name }}</span>

                            <i class="fa fa-chevron-up float-right indicator align-self-center"></i>
                        </div>

                        <div id="downloads-{{ grade.grade.id }}">
                            <div class="pointer card-header d-flex" data-toggle="table-collapse" data-target="#downloads-students-{{ grade.grade.id }}">
                                <span class="mr-auto align-self-center">{{ 'user_type.student'|trans({}, 'enums') }}</span>
                                <i class="fa fa-chevron-down float-right indicator align-self-center"></i>
                            </div>

                            <table class="table table-striped table-bordered collapse card-table" id="downloads-students-{{ grade.grade.id }}">
                                <colgroup>
                                    <col>
                                    <col class="column-lg">
                                    <col class="column-lg">
                                </colgroup>
                                <thead>
                                <tr>
                                    <th>{{ 'label.file'|trans }}</th>
                                    <th>{{ 'label.filesize'|trans }}</th>
                                    <th>{{ 'label.date'|trans }}</th>
                                </tr>
                                </thead>

                                <tbody>
                                {% for student in grade.students %}
                                    {% set users = view.studentUsers(student) %}
                                    {{ _self.printUsers(view, message, users, student|student ) }}
                                {% endfor %}
                                </tbody>
                            </table>

                            <div class="pointer card-header d-flex" data-toggle="table-collapse" data-target="#downloads-parents-{{ grade.grade.id }}">
                                <span class="mr-auto align-self-center">{{ 'user_type.parent'|trans({}, 'enums') }}</span>
                                <i class="fa fa-chevron-down float-right indicator align-self-center"></i>
                            </div>

                            <table class="table table-striped table-bordered collapse card-table" id="downloads-parents-{{ grade.grade.id }}">
                                <colgroup>
                                    <col>
                                    <col class="column-lg">
                                    <col class="column-lg">
                                </colgroup>
                                <thead>
                                <tr>
                                    <th>{{ 'label.file'|trans }}</th>
                                    <th>{{ 'label.filesize'|trans }}</th>
                                    <th>{{ 'label.date'|trans }}</th>
                                </tr>
                                </thead>

                                <tbody>
                                {% for student in grade.students %}
                                    {% set users = view.parentUsers(student) %}
                                    {{ _self.printUsers(view, message, users, student|student ) }}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% endfor %}
                {# Teachers #}
                {% if teachers|length > 0 %}
                    <div class="card">
                        <div class="pointer card-header d-flex" data-toggle="table-collapse" data-target="#downloads-teachers">
                            <span class="mr-auto align-self-center">{{ 'user_type.teacher'|trans({}, 'enums') }}</span>
                            <i class="fa fa-chevron-down float-right indicator align-self-center"></i>
                        </div>

                        <table class="table table-striped table-bordered collapse" id="downloads-teachers">
                            <colgroup>
                                <col>
                                <col class="column-lg">
                                <col class="column-lg">
                            </colgroup>
                            <thead>
                            <tr>
                                <th>{{ 'label.file'|trans }}</th>
                                <th>{{ 'label.filesize'|trans }}</th>
                                <th>{{ 'label.date'|trans }}</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for teacher in teachers %}
                                {% set users = view.teacherUsers(teacher) %}
                                {{ _self.printUsers(view, message, users, teacher|teacher ) }}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}

                {# Users #}
                {% for group in userGroups %}
                    <div class="card">
                        <div class="pointer card-header d-flex" data-toggle="table-collapse" data-target="#downloads-users">
                            <span class="mr-auto align-self-center">{{ group.userType|enum }}</span>
                            <i class="fa fa-chevron-down float-right indicator align-self-center"></i>
                        </div>

                        <table class="table table-striped table-bordered collapse" id="downloads-users">
                            <colgroup>
                                <col>
                                <col class="column-lg">
                                <col class="column-lg">
                            </colgroup>
                            <thead>
                            <tr>
                                <th>{{ 'label.file'|trans }}</th>
                                <th>{{ 'label.filesize'|trans }}</th>
                                <th>{{ 'label.date'|trans }}</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for user in group.users %}
                                {{ _self.printUsers(view, message, [ user ], user|user ) }}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endfor %}
            </div>

            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">{{ 'messages.downloads.dropzone.label'|trans }}</h4>
                        <p>{{ 'messages.downloads.dropzone.help'|trans }}</p>

                        <div id="dropzone" class="dropzone" data-csrf-token-name="{{ csrf_token_name }}" data-csrf-token="{{ csrf_token(csrf_token_id) }}" data-url="{{ path('upload_message_downloads', { id: message.id }) }}" style="min-height: 150px;">
                            <div id="dropzone-files"></div>
                        </div>

                        <template id="dropzone-preview">
                            <div class="file">
                                <div class="filename"><span data-dz-name></span></div>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" data-dz-uploadprogress></div>
                                </div>
                                <div class="error-message">
                                    <span data-dz-errormessage></span>
                                </div>
                            </div>
                        </template>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}