{% extends "main.html.twig" %}

{% block title %}{{ 'messages.overview.label'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('admin') }}">{{ 'admin.label'|trans }}</a></li>
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block content %}
    {{ knp_menu_render('dataMenu', {'currentClass': 'active', 'template': 'admin/_menu.html.twig' }) }}

    <div class="container-fluid px-0">
        <div class="row">
            <div class="col-md-9">
                {% if groups|length == 0 %}
                    <div class="bs-callout bs-callout-info">
                        <h4>{{ 'info.label'|trans }}</h4>

                        <p>{{ 'messages.overview.empty'|trans }}</p>
                    </div>
                {% endif %}

                {% for group in groups %}
                    <div class="card">
                        <div class="card-header">
                            {% if group.expired %}{{ 'admin.messages.overview.expired'|trans }}{% else %}{{ 'admin.messages.overview.active'|trans }}{% endif %} <span class="badge badge-pill badge-primary">{{ group.messages|length }}</span>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-striped table-hover card-table">
                                <colgroup>
                                    <col>
                                    <col class="column-320">
                                    <col class="column-md">
                                    <col class="column-320">
                                    <col class="column-sm">
                                </colgroup>

                                <thead>
                                <tr>
                                    <th>{{ 'label.title'|trans }}</th>
                                    <th>{{ 'label.visibility'|trans }}</th>
                                    <th>{{ 'message.expires'|trans }}</th>
                                    <th>{{ 'label.study_groups'|trans({'%count%': 0}) }}</th>
                                    <th></th>
                                </tr>
                                </thead>

                                <tbody>
                                {% for message in group.messages %}
                                    <tr>
                                        <td class="align-middle">{{ message.title }}</td>
                                        <td class="align-middle">{% include "_includes/visibilities.html.twig" with { visibilities: message.visibilities } only %}</td>
                                        <td class="align-middle">
                                            {{ message.expireDate|format_date }}
                                        </td>
                                        <td class="align-middle">{% include "_includes/study_groups.html.twig" with { studyGroups: message.studyGroups, id: message.uuid } only %}</td>
                                        <td class="align-middle">
                                            <div class="dropdown d-inline">
                                                <button type="button" class="btn btn-outline-secondary btn-sm" data-toggle="dropdown">
                                                    <i class="fas fa-ellipsis-v"></i>
                                                </button>

                                                <div class="dropdown-menu dropdown-menu-right">
                                                    {% if is_granted('view', message) %}
                                                        <a href="{{ path('show_message', { uuid: message.uuid }) }}" class="dropdown-item">
                                                            <i class="fas fa-envelope-open-text"></i> {{ 'actions.view'|trans }}
                                                        </a>
                                                    {% endif %}

                                                    {% if is_granted('edit', message) %}
                                                        <a href="{{ path('edit_message', { uuid: message.uuid }) }}" class="dropdown-item">
                                                            <i class="fa fa-edit"></i> {{ 'actions.edit'|trans }}
                                                        </a>

                                                        {% if message.mustConfirm %}
                                                            <a href="{{ path('message_confirmations', { uuid: message.uuid }) }}" class="dropdown-item">
                                                                <i class="fas fa-tasks"></i> {{ 'message.confirmations.label'|trans }}
                                                            </a>
                                                        {% endif %}

                                                        {% if message.downloadsEnabled %}
                                                            <a href="{{ path('message_downloads_admin', { uuid: message.uuid }) }}" class="dropdown-item">
                                                                <i class="fa fa-download"></i> {{ 'messages.downloads.label'|trans }}
                                                            </a>
                                                        {% endif %}
                                                        {% if message.uploadsEnabled %}
                                                            <a href="{{ path('message_uploads_admin', { uuid: message.uuid }) }}" class="dropdown-item">
                                                                <i class="fa fa-upload"></i> {{ 'messages.uploads.label'|trans }}
                                                            </a>
                                                        {% endif %}
                                                    {% endif %}
                                                    {% if is_granted('remove', message) %}
                                                        <a href="{{ path('remove_message', { uuid: message.uuid }) }}" class="dropdown-item text-danger">
                                                            <i class="fa fa-trash"></i> {{ 'actions.remove'|trans }}
                                                        </a>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="col-md-3">
                <div class="card">
                    <div class="list-group list-group-flush">
                        <a href="{{ path('add_message') }}" class="list-group-item list-group-item-action">
                            <i class="fa fa-plus"></i> {{ 'messages.add.label'|trans }}
                        </a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        {% include "_filter/grade.html.twig" %}

                        {% include "_filter/user_type.html.twig" with { class: 'mb-0'} %}
                    </div>

                    <div class="card-footer">
                        <a href="{{ path('admin_messages') }}" class="btn btn-primary btn-sm">{{ 'filter.reset'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}