{% extends "main.html.twig" %}

{% block title %}{{ 'messages.poll.result.label'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('messages') }}">{{ 'messages.overview.label'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('show_message', { uuid: message.uuid }) }}">{{ message.title }}</a></li>
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="container-fluid px-0">
        <div class="row">
            <div class="col-md-9">
                {# Students #}
                {% for grade in grades %}
                    <div class="card">
                        <div class="card-header">
                            {{ grade.grade.name }}
                        </div>

                        <div class="table-responsive">
                            <table class="table table-striped table-bordered card-table">
                                <colgroup>
                                    <col>
                                    {% for i in range(1, message.pollNumChoices) %}
                                        <col class="column-md">
                                    {% endfor %}
                                </colgroup>

                                <thead>
                                <tr>
                                    <th>{{ 'label.student'|trans }}</th>
                                    {% for i in range(1, message.pollNumChoices) %}
                                        <th>{{ 'messages.poll.choice'|trans({'%rank%': i}) }}</th>
                                    {% endfor %}
                                </tr>
                                </thead>

                                <tbody>
                                {% for student in grade.students %}
                                    {% set vote = view.studentVote(student) %}
                                    <tr class="{% if vote is null or vote.completed == false%}table-danger{% else %}table-success{% endif %}">
                                        <td>{{ student|student }}</td>
                                        {% for i in range(1, message.pollNumChoices) %}
                                            <td>
                                                {% if vote is not null %}
                                                    {% set choice = vote.getChoice(i - 1) %}
                                                    {% if choice is null %}
                                                        <span class="badge badge-primary">{{ 'label.not_available'|trans }}</span>
                                                    {% else %}
                                                        {{ choice.choice.label }}
                                                    {% endif %}
                                                {% endif %}
                                            </td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% endfor %}

                {# Teachers #}
                {% if teachers|length > 0 %}
                <div class="card">
                    <div class="card-header">
                        {{ 'label.teachers_simple'|trans }}
                    </div>

                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover card-table">
                            <colgroup>
                                <col>
                                {% for i in range(1, message.pollNumChoices) %}
                                    <col class="column-md">
                                {% endfor %}
                            </colgroup>

                            <thead>
                            <tr>
                                <th>{{ 'label.teacher'|trans }}</th>
                                {% for i in range(1, message.pollNumChoices) %}
                                    <th>{{ 'messages.poll.choice'|trans({'%rank%': i}) }}</th>
                                    {% endfor %}
                            </tr>
                            </thead>

                            <tbody>
                            {% for teacher in teachers %}
                                {% set vote = view.teacherVote(student) %}
                                <tr class="{% if vote is null or vote.completed == false%}table-danger{% else %}table-success{% endif %}">
                                    <td>{{ teacher|teacher }}</td>
                                    {% for i in range(1, message.pollNumChoices) %}
                                        <td>
                                            {% if vote is not null %}
                                                {% set choice = vote.getChoice(i - 1) %}
                                                {% if choice is null %}
                                                    <span class="badge badge-primary">{{ 'label.not_available'|trans }}</span>
                                                {% else %}
                                                    {{ choice.choice.label }}
                                                {% endif %}
                                            {% endif %}
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                {% endif %}
            </div>

            <div class="col-md-3 sticky-sidebar">
                <div class="card">
                    <div class="list-group list-group-flush">
                        <a href="{{ path('export_poll_result', { uuid: message.uuid }) }}" class="list-group-item list-group-item-action">
                            <i class="fa fa-download"></i> {{ 'messages.poll.result.export.label'|trans }}
                        </a>
                    </div>
                </div>

                <div class="card">
                    {% if view.students|length > 0 %}
                    <div class="card-body">
                        <h4 class="card-title">
                            <i class="fas fa-poll"></i> {{ 'messages.poll.result.progress.students'|trans }}
                        </h4>

                        <div class="progress">
                            {% set progress = view.studentVotesCount / view.students|length * 100 %}
                            <div class="progress-bar" role="progressbar" style="width: {{ progress }}%;" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100">{{ progress }}%</div>
                        </div>
                    </div>
                    {% endif %}

                    {% if view.teachers|length > 0 %}
                    <div class="card-body">
                        <h4 class="card-title">
                            <i class="fas fa-poll"></i> {{ 'messages.poll.result.progress.teachers'|trans }}
                        </h4>

                        <div class="progress">
                            {% set progress = view.teacherVotesCount / view.teachers|length * 100 %}
                            <div class="progress-bar" role="progressbar" style="width: {{ progress }}%;" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100">{{ progress }}%</div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}