{% extends "main.html.twig" %}

{% block post_javascript %}
    <script src="{{ asset('build/zipper.js') }}"></script>
{% endblock %}

{% block title %}{{ 'messages.uploads.label'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('admin') }}">{{ 'admin.label'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('admin_messages') }}">{{ 'admin.messages.label'|trans }}</a></li>
        <li class="breadcrumb-item">{{ message.title }}</li>
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% macro progressBar(progressView) %}
    <span class="float-right me-2 align-self-center">
        {{ 'progress.status'|trans({'%current%': progressView.current, '%total%': progressView.total }) }}
    </span>

    <div class="progress float-right me-2 bg-danger align-self-center" style="width: 50px;">
        <div class="progress-bar bg-success" role="progressbar" style="width: {{ progressView.percentage }}%"></div>
    </div>
{% endmacro %}

{% macro printUsers(view, message, users, backup) %}
    {% if users|length == 0 %}
        <tr class="table-warning">
            <td colspan="4">
                <div class="d-flex">
                    <div class="flex-fill align-self-center">
                        <i class="fa fa-user me-1"></i> {{ backup }}
                    </div>
                    <div class="align-self-center">
                        <i class="fa fa-exclamation-triangle"></i> {{ 'messages.downloads.user_missing'|trans }}
                    </div>
                </div>
            </td>
        </tr>
    {% endif %}

    {% for user in users %}
        {% set completed = view.userUploads(user, message.files, true)|length == message.files|length %}
        <tr class="pointer {% if completed %}table-success{% else %}table-warning{% endif %}" data-toggle="table-collapse" data-target=".file-{{ user.uuid }}">
            <td colspan="4">
                <div class="d-flex">
                    <span class="me-auto align-self-center"><i class="fa fa-user"></i> {{ user|user }}</span>

                    <i class="fa fa-chevron-down float-right indicator align-self-center"></i>
                </div>
            </td>
        </tr>

        {% for file in view.userUploads(user, message.files) %}
            {% set downloadUrl = path('download_message_upload', { message: message.uuid, user: user.uuid, file: file.messageFile.uuid }) %}
            {% if file.uploaded and user_upload_exists(file) %}
                <tr class="collapse file-{{ user.uuid }}" data-zip="file" data-zip-filename="{{ user.username }}/{{ file.filename|e }}" data-zip-url="{{ downloadUrl }}">
                    <td class="align-middle">{{ file.messageFile.label }}</td>
                    <td class="align-middle"><a href="{{ downloadUrl }}" class="btn btn-primary btn-sm"><i class="fa fa-download"></i></a> {{ file.filename }}</td>
                    <td class="align-middle">{{ file.size|filesize }}</td>
                    <td class="align-middle">{{ file.updatedAt|format_datetime }}</td>
                </tr>
            {% else %}
                <tr class="collapse file-{{ user.uuid }}">
                    <td class="align-middle">{{ file.messageFile.label }}</td>
                    <td class="align-middle" colspan="3">{{ 'messages.uploads.missing'|trans }}</td>
                </tr>
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endmacro %}

{% block content %}
    {{ knp_menu_render('dataMenu', {'currentClass': 'active', 'template': 'admin/_menu.html.twig' }) }}

    <div class="container-fluid px-0">
        <div class="row">
            <div class="col-md-9" id="explorer">
                {# Students #}
                {% for grade in grades %}
                    <div class="card">
                        <div class="card-header d-flex pointer" data-toggle="table-collapse" data-target="#uploads-{{ grade.grade.uuid }}">
                            <span class="me-auto align-self-center">{{ grade.grade.name }}</span>

                            <i class="fa fa-chevron-up float-right indicator align-self-center"></i>
                        </div>

                        <div id="uploads-{{ grade.grade.uuid }}">
                            <div class="pointer card-header d-flex" data-toggle="table-collapse" data-target="#uploads-students-{{ grade.grade.uuid }}">
                                <span class="me-auto align-self-center">{{ 'user_type.student'|trans({}, 'enums') }}</span>

                                {{ _self.progressBar(view.studentProgress(grade.students, message.files)) }}
                                <i class="fa fa-chevron-down float-right indicator align-self-center"></i>
                            </div>

                            <div class="table-responsive">
                                <table class="table table-bordered collapse card-table" id="uploads-students-{{ grade.grade.uuid }}">
                                    <colgroup>
                                        <col class="column-lg">
                                        <col>
                                        <col class="column-lg">
                                        <col class="column-lg">
                                    </colgroup>
                                    <thead>
                                    <tr>
                                        <th>{{ 'label.name'|trans }}</th>
                                        <th>{{ 'label.file'|trans }}</th>
                                        <th>{{ 'label.filesize'|trans }}</th>
                                        <th>{{ 'label.date'|trans }}</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    {% for student in grade.students %}
                                        {% set users = view.studentUsers(student) %}
                                        {{ _self.printUsers(view, message, users, student|student ) }}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>

                            <div class="pointer card-header d-flex" data-toggle="table-collapse" data-target="#uploads-parents-{{ grade.grade.uuid }}">
                                <span class="me-auto align-self-center">{{ 'user_type.parent'|trans({}, 'enums') }}</span>

                                {{ _self.progressBar(view.parentProgress(grade.students, message.files)) }}
                                <i class="fa fa-chevron-down float-right indicator align-self-center"></i>
                            </div>

                            <div class="table-responsive">
                                <table class="table table-bordered collapse card-table" id="uploads-parents-{{ grade.grade.uuid }}">
                                    <colgroup>
                                        <col class="column-lg">
                                        <col>
                                        <col class="column-lg">
                                        <col class="column-lg">
                                    </colgroup>
                                    <thead>
                                    <tr>
                                        <th>{{ 'label.name'|trans }}</th>
                                        <th>{{ 'label.file'|trans }}</th>
                                        <th>{{ 'label.filesize'|trans }}</th>
                                        <th>{{ 'label.date'|trans }}</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    {% for student in grade.students %}
                                        {% set users = view.parentUsers(student) %}
                                        {{ _self.printUsers(view, message, users, student|student ) }}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {# Teachers #}
                {% if teachers|length > 0 %}
                    <div class="card">
                        <div class="pointer card-header d-flex" data-toggle="table-collapse" data-target="#uploads-teachers">
                            <span class="me-auto align-self-center">{{ 'user_type.teacher'|trans({}, 'enums') }}</span>

                            {{ _self.progressBar(view.teacherProgress(teachers, message.files)) }}
                            <i class="fa fa-chevron-down float-right indicator align-self-center"></i>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-bordered card-table collapse" id="uploads-teachers">
                                <colgroup>
                                    <col class="column-lg">
                                    <col>
                                    <col class="column-lg">
                                    <col class="column-lg">
                                </colgroup>
                                <thead>
                                <tr>
                                    <th>{{ 'label.name'|trans }}</th>
                                    <th>{{ 'label.file'|trans }}</th>
                                    <th>{{ 'label.filesize'|trans }}</th>
                                    <th>{{ 'label.date'|trans }}</th>
                                </tr>
                                </thead>

                                <tbody>
                                {% for teacher in teachers %}
                                    {% set users = view.teacherUsers(teacher) %}
                                    {{ _self.printUsers(view, message, users, teacher|teacher ) }}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% endif %}

                {# Users #}
                {% for group in userGroups %}
                    <div class="card">
                        <div class="pointer card-header d-flex" data-toggle="table-collapse" data-target="#uploads-users">
                            <span class="me-auto align-self-center">{{ group.userType|enum }}</span>

                            {{ _self.progressBar(view.progress(group.users, message.files)) }}
                            <i class="fa fa-chevron-down float-right indicator align-self-center"></i>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-bordered card-table collapse" id="uploads-users">
                                <colgroup>
                                    <col class="column-lg">
                                    <col>
                                    <col class="column-lg">
                                    <col class="column-lg">
                                </colgroup>
                                <thead>
                                <tr>
                                    <th>{{ 'label.name'|trans }}</th>
                                    <th>{{ 'label.file'|trans }}</th>
                                    <th>{{ 'label.filesize'|trans }}</th>
                                    <th>{{ 'label.date'|trans }}</th>
                                </tr>
                                </thead>

                                <tbody>
                                    {% for user in group.users %}
                                        {{ _self.printUsers(view, message, [ user ], user|user ) }}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="col-md-3">
                <div class="card">
                    <div class="list-group list-group-flush">
                        <a href="#" class="list-group-item list-group-item-action" data-toggle="table-show-all" data-container="#explorer">
                            <i class="fas fa-chevron-down"></i> {{ 'actions.show_all'|trans }}
                        </a>

                        <a href="#" class="list-group-item list-group-item-action" data-toggle="table-collapse-all" data-container="#explorer">
                            <i class="fas fa-chevron-up"></i> {{ 'actions.collapse_all'|trans }}
                        </a>

                        <a href="#" class="list-group-item list-group-item-action" data-action="zip" data-files="#explorer" data-progress="#zip-progress">
                            <i class="far fa-file-archive"></i> {{ 'messages.uploads.download.label'|trans }}
                        </a>
                    </div>
                </div>

                <div class="card" id="zip-progress" style="display: none;">
                    <div class="card-body">
                        <span class="w-100" data-zip-progress-file></span>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 0" data-zip-progress-bar></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}