{% extends "main.html.twig" %}

{% block title %}{{ 'book.entry.cancel.label'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('book') }}">{{ 'book.label'|trans }}</a></li>
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block content %}
    {{ form_start(form) }}

    <div class="card">
        <div class="card-header">
            <i class="fas fa-calendar-alt"></i>
            {{ lesson.date|format_date }}

            <i class="fas fa-chalkboard"></i>
            {{ lesson.tuition.subject }}

            {% for grade in lesson.tuition.studyGroup.grades %}
                <span class="badge text-bg-primary me-1">
                    {{ grade.name }}
                </span>
            {% endfor %}


            {% for teacher in lesson.tuition.teachers %}
                <span class="ms-1">
                    <i class="fa fa-chalkboard-teacher"></i> {{ teacher|teacher }}
                </span>
            {% endfor %}
        </div>

        <div class="card-body">
            {{ form_widget(form) }}
        </div>
    </div>

    <div class="buttons">
        <button type="submit" class="btn btn-primary btn-sm">
            <i class="fa fa-save"></i> {{ 'actions.save'|trans }}
        </button>

        <a href="{{ path('book') }}" class="btn btn-secondary btn-sm">
            <i class="fa fa-arrow-left"></i> {{ 'actions.back'|trans }}
        </a>
    </div>

    {{ form_end(form) }}
{% endblock %}