{% extends "main.html.twig" %}

{% block title %}{{ 'book.export.label'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('book') }}">{{ 'book.label'|trans }}</a></li>
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block content %}
    {% set currentFilter = {
        section: sectionFilter.currentSection ? sectionFilter.currentSection.uuid.toString : null,
        grade: gradeFilter.currentGrade ? gradeFilter.currentGrade.uuid.toString : null,
        teacher: teacherFilter.currentTeacher ? teacherFilter.currentTeacher.uuid.toString : null
    } %}

    <div class="container-fluid px-0">
        <div class="row">
            <div class="col-md-9">
                {% for group in groups %}
                    <div class="card">
                        <div class="card-header">{{ group.key }}</div>

                        <div class="table-responsive">
                            <table class="table table-hover table-striped card-table">
                                <colgroup>
                                    <col>
                                    <col class="column-md">
                                    <col class="column-md">
                                </colgroup>

                                <thead>
                                <tr>
                                    <th></th>
                                    <th>{{ 'book.missing.label'|trans }}</th>
                                    <th>{{ 'book.export.label'|trans }}</th>
                                </tr>
                                </thead>

                                <tbody>
                                {% if gradeFilter.currentGrade is not null %}
                                    {% set missing = 0 %}
                                    {% set holt = 0 %}
                                    {% for tuition in group.items %}
                                        {% if missingCounts[tuition.id] is defined %}
                                            {% set missing = missing + missingCounts[tuition.id] %}
                                        {% endif %}
                                        {% if holdCounts[tuition.id] is defined %}
                                            {% set holt = holt + holdCounts[tuition.id] %}
                                        {% endif %}
                                    {% endfor %}

                                    <tr>
                                        <td class="align-middle">
                                            {{ gradeFilter.currentGrade.name }}
                                            <br>
                                            <span class="badge badge-primary">
                                                {% include "_includes/grade_teachers.html.twig" with { section: sectionFilter.currentSection, grade: gradeFilter.currentGrade } only %}
                                            </span>
                                        </td>
                                        <td>
                                            {{ missing }} / {{ holt }}
                                        </td>
                                        <td>
                                            <a href="{{ path('book_export_grade_json', { grade: gradeFilter.currentGrade.uuid, section: sectionFilter.currentSection.uuid }) }}" class="btn btn-primary btn-sm" title="{{ 'book.export.json.label'|trans }}">
                                                <i class="far fa-file-code"></i>
                                            </a>

                                            <a href="{{ path('book_export_grade_xml', { grade: gradeFilter.currentGrade.uuid, section: sectionFilter.currentSection.uuid }) }}" class="btn btn-primary btn-sm" title="{{ 'book.export.xml.label'|trans }}">
                                                <i class="far fa-file-code"></i>
                                            </a>

                                            <button type="button" class="btn btn-primary btn-sm" title="{{ 'book.export.pdf.label'|trans }}"
                                                    data-export-url="{{ path('book_export_grade_json', { grade: gradeFilter.currentGrade.uuid, section: sectionFilter.currentSection.uuid }) }}"
                                                    data-regular-font-url="{{ path('xhr_font_regular') }}"
                                                    data-bold-font-url="{{ path('xhr_font_bold') }}">
                                                <i class="far fa-file-pdf"></i>
                                            </button>
                                        </td>
                                    </tr>
                                {% endif %}

                                {% for tuition in group.items %}
                                    <tr>
                                        <td class="align-middle">
                                            {{ tuition.name }}

                                            {% if tuition.teachers is not empty %}
                                            <br>
                                            <span class="badge badge-primary">
                                                {{ tuition.teachers|teachers }}
                                            </span>
                                            {% endif %}
                                        </td>
                                        <td class="align-middle">
                                            {% if missingCounts[tuition.id] is defined and holdCounts[tuition.id] is defined %}
                                                {{ missingCounts[tuition.id] }} / {{  holdCounts[tuition.id] }}
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if tuition.isBookEnabled and holdCounts[tuition.id] is defined and holdCounts[tuition.id] > 0 %}
                                                <a href="{{ path('book_export_tuition_json', { tuition: tuition.uuid, section: sectionFilter.currentSection.uuid }) }}" class="btn btn-primary btn-sm" title="{{ 'book.export.json.label'|trans }}">
                                                    <i class="far fa-file-code"></i>
                                                </a>

                                                <a href="{{ path('book_export_tuition_xml', { tuition: tuition.uuid, section: sectionFilter.currentSection.uuid }) }}" class="btn btn-primary btn-sm" title="{{ 'book.export.xml.label'|trans }}">
                                                    <i class="far fa-file-code"></i>
                                                </a>

                                                <button type="button" class="btn btn-primary btn-sm" title="{{ 'book.export.pdf.label'|trans }}"
                                                        data-export-url="{{ path('book_export_tuition_json', { tuition: tuition.uuid, section: sectionFilter.currentSection.uuid }) }}"
                                                        data-regular-font-url="{{ path('xhr_font_regular') }}"
                                                        data-bold-font-url="{{ path('xhr_font_bold') }}">
                                                    <i class="far fa-file-pdf"></i>
                                                </button>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        {% include "_filter/section.html.twig" %}

                        {% include "_filter/teacher.html.twig" with { params: currentFilter|merge({grade: null}), allowClear: true, path: 'book_export'} %}

                        {% include "_filter/grade.html.twig" with { params: currentFilter|merge({teacher: null}) } %}
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fas fa-key"></i> {{ 'book.export.password.label'|trans }}</h5>
                        <p>
                            {{ 'book.export.password.info'|trans }}
                        </p>

                        <div id="key" class="hide">{{ key }}</div>

                        <div class="input-group">
                            <input type="password" id="passphrase" class="form-control" autocomplete="one-time-code" />
                            <div class="input-group-append">
                                <button type="button" id="password_btn" data-passphrase="#passphrase" data-key="#key" class="btn btn-outline-primary">
                                    <i class="fas fa-check"></i>
                                </button>
                            </div>
                        </div>

                        <div class="bs-callout bs-callout-success hide mb-0">
                            {{ 'book.export.password.success'|trans }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block post_javascript %}
    <script src="{{ asset('build/export-book.js') }}"></script>

    <div class="modal fade" id="export-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ 'book.export.pdf.label'|trans }}</h5>
                </div>

                <div class="modal-body">
                    <p>
                        {{ 'book.export.pdf.message'|trans }}
                    </p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}