{% extends "main.html.twig" %}

{% block title %}{{ 'book.label'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% macro subject(tuition) %}
    {% if tuition.displayName is not empty %}
        {{ tuition.displayName|upper }}
    {% elseif show_coursename(tuition.studyGroup.grades) %}
        {{ tuition.studyGroup.name|upper }}
    {% else %}
        {{ tuition.subject.abbreviation|upper }}
    {% endif %}
{% endmacro %}

{% block content %}
    {% set currentFilter = {
        section: sectionFilter.currentSection ? sectionFilter.currentSection.uuid.toString : null,
        grade: gradeFilter.currentGrade ? gradeFilter.currentGrade.uuid.toString : null,
        tuition: tuitionFilter.currentTuition ? tuitionFilter.currentTuition.uuid.toString : null,
        teacher: teacherFilter.currentTeacher ? teacherFilter.currentTeacher.uuid.toString : null
    } %}

    {% set csrfToken = csrf_token('book_entry') %}

    <div class="container-fluid px-0">
        <div class="row">
            <div class="col-md-9">
                {% if overview is null %}

                {% else %}
                    <div class="card">
                        <div class="card-header border-bottom-0">
                            {% if tuitionFilter.currentTuition is not null %}
                                {% set currentMonth = selectedDate ? selectedDate.format('m') %}

                                <ul class="nav nav-pills card-header-pills flex-fill" data-trigger="resize-hide">
                                    {% if selectedDate != null %}
                                        <li class="nav-item align-self-center" data-resize="show">
                                            <a class="nav-link" href="{{ path('book', currentFilter|merge({'date': (selectedDate|clone).modify('-1 month').format('Y-m-d')})) }}">
                                                <i class="fas fa-chevron-left"></i>
                                            </a>
                                        </li>
                                    {% endif %}

                                    {% for month, monday in monthStarts %}
                                        <li class="nav-item" {% if currentMonth == month %}data-resize="prevent"{% endif %}>
                                            <a class="nav-link {% if currentMonth == month %}active{% endif %}" href="{{ path('book', currentFilter|merge({'date': monday.format('Y-m-d')})) }}">
                                                <div>
                                                    <i class="fas fa-calendar-alt"></i> {{ ('date.months.'~month)|trans }}
                                                </div>
                                                <div class="{% if currentMonth != month %}text-muted{% endif %}">
                                                    {{ monday|format_date }}
                                                </div>
                                            </a>
                                        </li>
                                    {% endfor %}

                                    {% if selectedDate != null %}
                                        <li class="nav-item align-self-center" data-resize="show">
                                            <a class="nav-link" href="{{ path('book', currentFilter|merge({'date': (selectedDate|clone).modify('+1 month').format('Y-m-d')})) }}">
                                                <i class="fas fa-chevron-right"></i>
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                            {% else %}
                                {% set currentWeek = selectedDate ? selectedDate.format('W') : null %}

                                <ul class="nav nav-pills card-header-pills flex-fill" data-trigger="resize-hide">
                                    {% if selectedDate != null %}
                                    <li class="nav-item align-self-center" data-resize="show">
                                        <a class="nav-link" href="{{ path('book', currentFilter|merge({'date': (selectedDate|clone).modify('-7 days').format('Y-m-d')})) }}">
                                            <i class="fas fa-chevron-left"></i>
                                        </a>
                                    </li>
                                    {% endif %}

                                    {% for week, monday in weekStarts %}
                                        <li class="nav-item" {% if currentWeek == week %}data-resize="prevent"{% endif %}>
                                            <a class="nav-link {% if currentWeek == week %}active{% endif %}" href="{{ path('book', currentFilter|merge({'date': monday.format('Y-m-d')})) }}">
                                                <div>
                                                    <i class="fas fa-calendar-alt"></i> {{ 'admin.exams.week'|trans({'%week%': week}) }}
                                                </div>
                                                <div class="{% if currentWeek != week %}text-muted{% endif %}">
                                                    {{ monday|format_date }}
                                                </div>
                                            </a>
                                        </li>
                                    {% endfor %}

                                    {% if selectedDate != null %}
                                    <li class="nav-item align-self-center" data-resize="show">
                                        <a class="nav-link" href="{{ path('book', currentFilter|merge({'date': (selectedDate|clone).modify('+7 days').format('Y-m-d')})) }}">
                                            <i class="fas fa-chevron-right"></i>
                                        </a>
                                    </li>
                                    {% endif %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>

                    {% set hasMissingExcuses = missingExcusesCount > 0 and sectionFilter.currentSection is not null %}
                    {% set showResponsibilities = gradeFilter.currentGrade is not null or (tuitionFilter.currentTuition is not null and tuitionFilter.currentTuition.studyGroup.grades|length == 1) %}
                    {% set showBoth = hasMissingExcuses and showResponsibilities %}

                    {% if hasMissingExcuses or showResponsibilities %}
                        <div class="row {% if showBoth %}row-cols-1 row-cols-md-2 {% endif%} mb-3">
                        {% if missingExcusesCount > 0 and sectionFilter.currentSection is not null %}
                            <div class="col">
                                <div class="card border-warning h-100 mb-0">
                                    <div class="card-body">
                                        <h4 class="card-title">
                                            <i class="fas fa-user-times"></i>
                                            {{ 'book.open.label'|trans }}
                                            <span class="badge badge-danger badge-pill">{{ missingExcusesCount }}</span>
                                        </h4>
                                        <p>{{ 'book.open.status'|trans }}</p>

                                        <ul class="list-unstyled mb-0">
                                            {% for info in missingExcuses %}
                                                <li>
                                                    <a href="{{ path('book_student', currentFilter|merge({ student: info.student.uuid.toString })) }}">
                                                        <i class="fas fa-user-graduate"></i> {{ info.student|student }}
                                                        <span class="badge badge-danger badge-pill">{{ info.notExcusedOrNotSetLessonsCount }}</span>
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        {% if showResponsibilities %}
                            <div class="col">
                                <div class="card h-100 mb-0">
                                    <div class="card-body">
                                        {% set grade = gradeFilter.currentGrade %}
                                        {% if tuitionFilter.currentTuition is not null %}
                                            {% set grade = tuitionFilter.currentTuition.studyGroup.grades.first %}
                                        {% endif %}

                                        <h4 class="card-title">
                                            <i class="fas fa-tasks"></i>
                                            {{ 'book.responsibilities.label'|trans }}

                                            {% if grade is not null %}
                                                <span class="badge badge-primary">{{ grade.name }}</span>
                                            {% endif %}
                                        </h4>

                                        <p>
                                            <i class="fas fa-info-circle"></i> {{ 'book.responsibilities.empty'|trans }}
                                        </p>
                                    </div>

                                    {% if responsibilities|length > 0 %}
                                    <div class="list-group list-group-flush">
                                        {% for resp in responsibilities %}
                                            <div class="list-group-item d-flex py-2">
                                                <div class="align-self-center flex-fill">
                                                    {{ resp.task }}: {{ resp.person }}
                                                </div>

                                                <div class="dropdown d-inline">
                                                    <button type="button" class="btn btn-outline-secondary btn-sm dropdown-toggle" data-toggle="dropdown">
                                                        <i class="fas fa-ellipsis-v"></i>
                                                    </button>

                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a href="{{ path('edit_grade_responsibility', { uuid: resp.uuid })}}" class="dropdown-item">
                                                            <i class="fa fa-edit"></i> {{ 'actions.edit'|trans }}
                                                        </a>

                                                        <a href="{{ path('remove_grade_responsibility', { uuid: resp.uuid })}}" class="dropdown-item text-danger">
                                                            <i class="fa fa-trash"></i> {{ 'actions.remove'|trans }}
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    {% endif %}

                                    {% if gradeFilter.currentGrade is not null %}
                                    <div class="card-footer">
                                        <a href="{{ path('add_grade_responsibility', { grade: gradeFilter.currentGrade.uuid, section: sectionFilter.currentSection.uuid }) }}" class="btn btn-outline-primary btn-sm">
                                            <i class="fas fa-plus"></i> {{ 'book.responsibilities.add.label'|trans }}
                                        </a>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}

                        </div>
                    {% endif %}

                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">
                                <i class="far fa-comments"></i> {{ 'book.comment.label'|trans }}
                            </h4>
                            <p class="mb-0">
                                <i class="fas fa-info-circle"></i> {{ 'book.comment.info'|trans }}
                            </p>
                        </div>

                        <div class="list-group list-group-flush">
                        {% for comment in overview.comments %}
                            <div class="list-group-item d-flex align-items-center">
                                <div class="book-lesson m-0 p-0">
                                    <i class="far fa-comment-alt"></i>
                                </div>

                                <div class="flex-fill">
                                    <div class="d-flex align-items-center mb-1">
                                        <div>
                                            <i class="fas fa-calendar-alt"></i> {{ comment.date|format_date }}
                                        </div>

                                        <div class="ml-2">
                                            <i class="fas fa-chalkboard-teacher"></i> {{ comment.teacher|teacher }}
                                        </div>

                                        {% for student in comment.students %}
                                            <div class="ml-2">
                                                <i class="fas fa-user-graduate"></i> {{ student|student }}
                                            </div>
                                        {% endfor %}
                                    </div>

                                    <div>
                                        {{ comment.text }}
                                    </div>
                                </div>

                                {% if is_granted('ROLE_BOOK_ENTRY_CREATOR') %}
                                    <div class="dropdown d-inline">
                                        <button type="button" class="btn btn-outline-secondary btn-sm dropdown-toggle" data-toggle="dropdown">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </button>

                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a href="{{ path('edit_book_comment', { uuid: comment.uuid }) }}" class="dropdown-item" title="{{ 'book.comment.edit.label'|trans }}">
                                                <i class="fas fa-edit"></i> {{ 'actions.edit'|trans }}
                                            </a>

                                            <a href="{{ path('remove_book_student', { uuid: comment.uuid }) }}" class="dropdown-item" title="{{ 'book.comment.remove.label'|trans }}">
                                                <i class="fas fa-trash"></i> {{ 'actions.remove'|trans }}
                                            </a>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                        </div>

                        <div class="card-footer">
                            <a href="{{ path('add_book_comment') }}" class="btn btn-outline-primary btn-sm">
                                <i class="fas fa-plus"></i> {{ 'book.comment.add.label'|trans }}
                            </a>
                        </div>
                    </div>

                    <div id="app">
                    {% for day in overview.days %}
                        <div class="card">
                            <div class="card-header d-flex align-items-center">
                                <div class="flex-fill">
                                    <i class="fas fa-calendar-alt"></i>
                                    {{ day.date|format_date }}
                                    <span class="text-muted">{{ day.date.format('N')|weekday }}</span>
                                </div>

                                {% set actions = [] %}
                                {% set tuitionUrls = [ ] %}
                                {% for lesson in day.lessons %}
                                    {% if lesson.entry is null %}
                                        {% set actions = actions|merge([url('xhr_cancel_lesson', { uuid: lesson.lesson.uuid })]) %}
                                        {% set tuitionUrls = tuitionUrls|merge([url('xhr_tuition', { uuid: lesson.lesson.tuition.uuid })]) %}
                                    {% endif %}
                                {% endfor %}

                                {% if actions|length > 0 %}
                                <lesson-cancel-bulk-button csrftoken="{{ csrf_token('cancel_lesson') }}"
                                                           :actions="{{ actions|json_encode }}"
                                                           :date="new Date('{{ day.date.format('Y-m-d') }}')"
                                                           :tuition-urls="{{ tuitionUrls|json_encode }}"
                                                           button="{{ 'book.entry.cancel.all'|trans }}"></lesson-cancel-bulk-button>

                                {% endif %}
                            </div>

                            <div class="list-group list-group-flush">
                                {% if overview.hasLessonsWithinFreeTimespans(day.date) %}
                                    {% for timespan in overview.freeTimespans(day.date) %}
                                        <div class="list-group-item d-flex align-items-center bg-primary-light">
                                            <div class="book-lesson m-0 p-0">
                                                <i class="far fa-lightbulb"></i>
                                            </div>

                                            <div class="d-flex align-items-center flex-fill">
                                                <div class="badge badge-secondary">
                                                    {{ 'book.entry.propose_cancel.label'|trans|upper }}
                                                </div>

                                                {% set reason = 'book.entry.propose_cancel.message'|trans({
                                                    '%lessons%': 'label.exam_lessons'|trans({'%start%': timespan.lessonStart, '%end%': timespan.lessonEnd, '%count%': timespan.lessonEnd - timespan.lessonStart}),
                                                    '%reason%': timespan.reason
                                                }) %}
                                                <div class="ml-2 flex-fill">
                                                    {{ reason }}
                                                </div>

                                                {% set actions = [] %}
                                                {% set tuitionUrls = [ ] %}
                                                {% for lesson in day.lessons %}
                                                    {% if timespan.lessonStart <= lesson.lesson.lessonStart and lesson.lesson.lessonEnd <= timespan.lessonEnd%}
                                                        {% set actions = actions|merge([url('xhr_cancel_lesson', { uuid: lesson.lesson.uuid })]) %}
                                                        {% set tuitionUrls = tuitionUrls|merge([url('xhr_tuition', { uuid: lesson.lesson.tuition.uuid })]) %}
                                                    {% endif %}
                                                {% endfor %}

                                                <lesson-cancel-bulk-button csrftoken="{{ csrf_token('cancel_lesson') }}"
                                                                           :actions="{{ actions|json_encode }}"
                                                                           :tuition-urls="{{ tuitionUrls|json_encode }}"
                                                                           :date="new Date('{{ timespan.date.format('Y-m-d') }}')"
                                                                           reason="{{ timespan.reason }}"
                                                                           button="{{ 'book.entry.cancel.lessons'|trans({'%lessons%': 'label.exam_lessons'|trans({'%start%': timespan.lessonStart, '%end%': timespan.lessonEnd, '%count%': timespan.lessonEnd - timespan.lessonStart})}) }}"></lesson-cancel-bulk-button>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endif %}

                                {% for lesson in day.lessons %}
                                    {% if lesson.entry is empty or lesson.lessonNumber == lesson.lesson.lessonStart %}
                                    <div class="list-group-item d-flex align-items-center">
                                        <div class="book-lesson m-0 p-0">
                                            {% if lesson.entry is not null %}
                                                {% set last_id = lesson.entry.id %}
                                                {% set start = lesson.entry.lessonStart %}
                                                {% set end = lesson.entry.lessonEnd %}

                                                {% for lessonNumber in start..end %}
                                                    {{ lessonNumber }}<br>
                                                {% endfor %}

                                            {% else %}
                                                {{ lesson.lessonNumber }}
                                            {% endif %}
                                        </div>
                                        <div class="d-flex align-items-center flex-fill">
                                        {% if lesson.entry is null %}
                                            <div class="badge badge-secondary">
                                                {{ _self.subject(lesson.lesson.tuition) }}
                                            </div>

                                            {% if lesson.substitution is not null %}
                                                <div class="ml-2">
                                                    <i class="fas fa-random" title="{{ 'book.entry.substitution'|trans }}"></i>
                                                </div>
                                            {% endif %}

                                            <div class="ml-2">
                                                <i class="fas fa-users"></i>
                                                {% set grades = [ ] %}
                                                {% for grade in lesson.lesson.tuition.studyGroup.grades %}
                                                    {% set grades = grades|merge([grade]) %}
                                                {% endfor %}

                                                {{ grades|grades }}
                                            </div>

                                            {% for teacher in lesson.lesson.tuition.teachers %}
                                                <div class="ml-2">
                                                    <i class="fas fa-chalkboard-teacher"></i>
                                                    {{ teacher.acronym }}
                                                </div>
                                            {% endfor %}

                                            <div class="ml-2 text-danger flex-fill">
                                                <i class="fas fa-exclamation-triangle"></i> {{ 'book.entry.missing'|trans }}
                                            </div>

                                            {% if lesson.lesson.tuition.isBookEnabled %}
                                            <div class="ml-2">
                                                <entry students-url="{{ url('xhr_students') }}"
                                                       teachers-url="{{ url('xhr_teachers') }}"
                                                       url="{{ path('xhr_lesson_entry', { start: lesson.lessonNumber, lesson: lesson.lesson.uuid.toString }) }}"
                                                       csrfname="_token"
                                                       :lesson-number="{{ lesson.lessonNumber }}"
                                                       {% if app.user.teacher is not null %}teacher="{{ app.user.teacher.acronym }}"{% endif %}
                                                       csrftoken="{{ csrfToken }}"
                                                       create-action="{{ path('add_entry', { uuid: lesson.lesson.uuid }) }}"
                                                       edit-action=""
                                                       cancel-action="{{ path('cancel_lesson', { uuid: lesson.lesson.uuid }) }}"></entry>
                                            </div>
                                            {% endif %}
                                        {% else %}
                                            <div class="flex-fill">
                                                <div class="d-flex align-items-center">
                                                    <div class="badge badge-primary">
                                                        {{ _self.subject(lesson.entry.tuition) }}

                                                        {% if lesson.entry.replacementSubject is not empty %}
                                                            ⟶ {{ lesson.entry.replacementSubject|upper }}
                                                        {% endif %}
                                                    </div>

                                                    <div class="ml-2">
                                                        <i class="fas fa-users"></i>
                                                        {% for grade in lesson.entry.tuition.studyGroup.grades %}
                                                            {{ grade.name }}{% if not loop.last %}, {% endif %}
                                                        {% endfor %}
                                                    </div>

                                                    <div class="ml-2">
                                                        <i class="fas fa-chalkboard-teacher"></i>
                                                        {{ lesson.entry.teacher|teacher }}

                                                        {% if lesson.entry.replacementTeacher is not null %}
                                                            ⟶ {{ lesson.entry.replacementTeacher|teacher }}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                {% if lesson.entry.isCancelled %}
                                                    <div class="mt-1 d-flex align-items-baseline">
                                                        <i class="fas fa-times"></i>
                                                        <p class="mb-0 ml-1">
                                                            {{ 'book.entry.cancel_reason'|trans({ '%reason%': lesson.entry.cancelReason}) }}
                                                        </p>
                                                    </div>
                                                {% else %}
                                                    <div class="mt-1 d-flex align-items-baseline">
                                                        <i class="fas fa-info-circle"></i>
                                                        <p class="mb-0 ml-1">
                                                            {{ lesson.entry.topic }}
                                                        </p>
                                                    </div>
                                                {% endif %}

                                                {% if lesson.entry.exercises is not empty %}
                                                    <div class="mt-1 d-flex align-items-baseline">
                                                        <i class="fas fa-tasks"></i>
                                                        <p class="mb-0 ml-1">
                                                            {{ lesson.entry.exercises }}
                                                        </p>
                                                    </div>
                                                {% endif %}
                                                {% if lesson.entry.comment is not empty %}
                                                    <div class="mt-1 d-flex align-items-baseline">
                                                        <i class="far fa-comment-alt"></i>
                                                        <p class="mb-0 ml-1">
                                                            {{ lesson.entry.comment }}
                                                        </p>
                                                    </div>
                                                {% endif %}
                                            </div>

                                            {% if absentStudentsByLesson[lesson.entry.uuid.toString] is defined or lateStudentsByLesson[lesson.entry.uuid.toString] is defined %}
                                                <div class="ml-2" style="min-width: 20%">
                                                    <ul class="list-unstyled mb-0">
                                                        {% for attendance in lateStudentsByLesson[lesson.entry.uuid.toString] %}
                                                            <li><i class="fa fa-user-clock"></i> {{ attendance.student|student }} <span class="badge badge-primary">{{ 'book.attendance.late_minutes'|trans({'%count%': attendance.lateMinutes}) }}</span> </li>
                                                        {% endfor %}

                                                        {% for attendance in absentStudentsByLesson[lesson.entry.uuid.toString] %}
                                                            <li><i class="fa fa-user-times"></i> {{ attendance.student|student }}
                                                                {% if attendance.absentLessons == 0 %}
                                                                    <span class="badge badge-info">0 FS</span>
                                                                {% endif %}

                                                                {% if attendance.absentLessons > 0 %}
                                                                    {% if attendance.excuseStatus == 2 %}
                                                                        <span class="badge badge-danger">{{ 'book.excuse_status_short.not_excused'|trans }}</span>
                                                                    {% elseif attendance.excuseStatus == 1 %}
                                                                        <span class="badge badge-success">{{ 'book.excuse_status_short.excused'|trans }}</span>
                                                                    {% else %}
                                                                        <span class="badge badge-warning">{{ 'book.excuse_status_short.not_set'|trans }}</span>
                                                                    {% endif %}
                                                                {% endif %}
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            {% endif %}

                                            {% if lesson.lesson != null and lesson.lesson.tuition.isBookEnabled %}
                                            <div class="ml-2">
                                                <entry students-url="{{ url('xhr_students') }}"
                                                       teachers-url="{{ url('xhr_teachers') }}"
                                                       url="{{ path('xhr_lesson_entry', { start: lesson.lessonNumber, lesson: lesson.lesson.uuid.toString }) }}"
                                                       :lesson-number="{{ lesson.lessonNumber }}"
                                                       csrfname="_token"
                                                       csrftoken="{{ csrfToken }}"
                                                       create-action="{{ path('add_entry', { uuid: lesson.lesson.uuid }) }}"
                                                       edit-action="{{ path('edit_entry', { uuid: lesson.entry.uuid }) }}"
                                                       cancel-action="{{ path('cancel_lesson', { uuid: lesson.lesson.uuid }) }}"></entry>
                                            </div>

                                            <div class="ml-2">
                                                <a href="{{ path('remove_entry', { uuid: lesson.entry.uuid }) }}" class="btn btn-danger btn-sm" title="{{ 'book.entry.remove.label'|trans }}">
                                                    <i class="fas fa-trash"></i>
                                                </a>
                                            </div>
                                            {% endif %}
                                        {% endif %}
                                        </div>
                                    </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="col-md-3 sticky-sidebar">
                {% if is_granted("ROLE_BOOK_ENTRY_CREATOR") %}
                <div class="card">
                    <div class="list-group list-group-flush">
                        <a href="{{ path('add_book_comment') }}" class="list-group-item list-group-item-action">
                            <i class="fas fa-plus"></i> {{ 'book.comment.add.label'|trans }}
                        </a>

                        <a href="{{ path('add_excuse') }}" class="list-group-item list-group-item-action">
                            <i class="fas fa-plus"></i> {{ 'book.excuse_note.add.label'|trans }}
                        </a>
                    </div>
                </div>
                {% endif %}

                {% if ownGrades|length > 0 or ownTuitions|length > 0 %}
                    <div class="card">
                        <div class="list-group list-group-flush">
                            {% for grade in ownGrades %}
                                <a href="{{ path('book', { section: sectionFilter.currentSection.uuid.toString, grade: grade.uuid.toString }) }}" class="list-group-item list-group-item-action {% if gradeFilter.currentGrade == grade %}active{% endif %}">
                                    <i class="fas fa-users"></i> {{ grade.name }}
                                </a>
                            {% endfor %}
                            {% for tuition in ownTuitions %}
                                {% if tuition.isBookEnabled %}
                                    <a href="{{ path('book', { section: sectionFilter.currentSection.uuid.toString , tuition: tuition.uuid.toString }) }}" class="list-group-item list-group-item-action {% if tuitionFilter.currentTuition == tuition %}active{% endif %}">
                                        <i class="fas fa-chalkboard"></i>
                                        {% if tuition.displayName is not empty %}
                                            {{ tuition.displayName }}
                                        {% else %}
                                            {{ tuition.name }}
                                        {% endif %}
                                        ({% for grade in tuition.studyGroup.grades %}{{ grade.name }}{% if not loop.last %}, {% endif %}{% endfor %})
                                    </a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

                <div class="card">
                    <div class="card-body">
                        {% include "_filter/section.html.twig" %}

                        {% include "_filter/teacher.html.twig" with { params: currentFilter|merge({grade: null, tuition: null})} %}

                        {% include "_filter/grade.html.twig" with { params: currentFilter|merge({tuition: null, teacher: null}) } %}

                        {% include "_filter/tuition.html.twig" with { params: currentFilter|merge({grade: null, teacher: null}) } %}

                        <form role="form" method="get" class="form hidden-print">
                            {% include "_filter/_params.html.twig" with { params: currentFilter } %}

                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                </div>
                                <input class="form-control" type="date" name="date" data-trigger="submit" pattern="\d{4}-\d{2}-\d{2}" value="{% if selectedDate != null %}{{ selectedDate.format('Y-m-d') }}{% endif %}">
                            </div>
                        </form>
                    </div>

                    <div class="card-footer">
                        <a href="{{ path('book') }}" class="btn btn-primary btn-sm">
                            {{ 'filter.reset'|trans }}
                        </a>
                    </div>
                </div>


            </div>
        </div>
    </div>
{% endblock %}

{% block post_javascript %}
    <script src="{{ asset('build/book.js') }}"></script>
{% endblock %}