{% extends "main.html.twig" %}

{% block title %}{{ 'book.integrity_check.label'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('book') }}">{{ 'book.label'|trans }}</a></li>
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="bs-callout bs-callout-warning">
        <h5>{{ 'experimental.title'|trans }}</h5>
        <p>{{ 'experimental.info'|trans }}</p>
    </div>

    <div class="container-fluid px-0">
        <div class="row">
            <div class="col-md-9">
                {% if results is not empty %}
                    <div class="card" id="app">
                        <div class="table table-striped table-card border-top-0" id="result">
                            <div class="table-head table-row">
                                <div class="table-col column-md">{{ 'label.date'|trans }}</div>
                                <div class="table-col column-md">{{ 'label.lesson'|trans }}</div>
                                <div class="table-col column-md">{{ 'label.teacher'|trans }}</div>
                                <div class="table-col column-md">{{ 'label.tuition'|trans }}</div>
                                <div class="table-col fill">{{ 'book.integrity_check.violation'|trans }}</div>
                            </div>

                            {% for result in results %}
                                {% set student = result.student %}
                                {% set violations = result.violations %}
                                {% set nonSuppressedViolationsCount = result.nonSuppressedViolationsCount %}
                                {% set grade = student.grade(sectionFilter.currentSection) %}

                                <div class="table-row border-bottom pointer {% if nonSuppressedViolationsCount == 0 %}bg-success-subtle{% else %}bg-danger-subtle{% endif %}" data-toggle="table-collapse" data-target="#result-{{ student.uuid }}" data-is-collapsed="true">
                                    <div class="table-col fill">
                                        <span class="me-auto align-self-center p-0 bg-transparent">
                                            <i class="fas fa-user"></i> {{ student|student }}
                                            <span class="badge text-bg-primary">
                                                {{ student.grade(sectionFilter.currentSection) }}
                                            </span>

                                            <span class="text-muted">
                                                {% if result.lastRun is not null %}
                                                    {{ result.lastRun|format_datetime }}
                                                {% else %}
                                                    {{ 'label.never'|trans }}
                                                {% endif %}
                                            </span>
                                        </span>

                                        {% if nonSuppressedViolationsCount > 0 %}
                                            <span class="bg-transparent me-2">
                                                <i class="fas fa-exclamation-triangle"></i> {{ nonSuppressedViolationsCount|length }}
                                            </span>

                                            <i class="fa fa-chevron-down indicator align-self-center bg-transparent p-0"></i>
                                        {% else %}
                                            <span class="bg-transparent pe-0">
                                                <i class="fas fa-check"></i> {{ 'book.integrity_check.no_violation'|trans }}
                                            </span>

                                            {% if violations|length > 0 %}
                                                <i class="fa fa-chevron-down indicator align-self-center bg-transparent p-0 ms-2"></i>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                                {% if violations|length > 0 %}
                                <div class="collapse" id="result-{{ student.uuid }}">
                                    {% for violation in violations %}
                                        <div class="table-row border-bottom">
                                            <div class="table-col column-md {% if violation.isSuppressed %}text-muted{% endif %}">
                                                {{ violation.date|format_date }}
                                            </div>
                                            <div class="table-col column-md">
                                                {{ 'label.substitution_lessons'|trans({'%start%': violation.lessonNumber, '%end%': violation.lessonNumber, '%count%': 0}) }}
                                            </div>
                                            {% if violation.lesson is not null and violation.lesson.tuition is not null %}
                                                <div class="table-col column-md {% if violation.isSuppressed %}text-muted{% endif %}">
                                                    {% for teacher in violation.lesson.tuition.teachers %}
                                                        {{ teacher.acronym }}{% if not loop.last %}, {% endif %}
                                                    {% endfor %}
                                                </div>
                                                <div class="table-col column-md {% if violation.isSuppressed %}text-muted{% endif %}">
                                                    {{ violation.lesson.tuition.name }}
                                                </div>
                                            {% else %}
                                                <div class="table-col column-md"></div>
                                                <div class="table-col column-md"></div>
                                            {% endif %}
                                            <div class="table-col fill {% if violation.isSuppressed %}text-muted{% endif %}">
                                                {{ violation.message }}
                                            </div>

                                            <div class="table-col">
                                                {% if grade is not null %}
                                                    <a href="{{ path('book_student', { student: student.uuid, section: sectionFilter.currentSection.uuid, grade: grade.uuid }) }}#{{ violation.date.format('Y-m-d') }}"
                                                       class="btn btn-outline-primary btn-sm"
                                                       target="_blank">
                                                        <i class="fas fa-external-link"></i>
                                                    </a>
                                               {% endif %}

                                                {% if is_granted('suppress', violation) %}
                                                    <div class="ms-1">
                                                        <suppress-button url="{{ path('app_book_togglesuppressviolation', { uuid: violation.uuid}) }}"
                                                                         csrfname="_token"
                                                                         csrftoken="{{ csrf_token(csrfTokenId) }}"
                                                                         :state="{{ violation.isSuppressed ? 'true' : 'false' }}"></suppress-button>
                                                    </div>
                                                {% endif %}
                                            </div>

                                        </div>
                                    {% endfor %}

                                    <div class="table-row border-bottom">
                                        <div class="table-col fill">

                                            {% if grade is not null %}
                                                <a href="{{ path('book_student', { student: student.uuid, section: sectionFilter.currentSection.uuid, grade: grade.uuid }) }}" class="btn btn-outline-primary btn-sm me-2" target="_blank">
                                                    <i class="fas fa-external-link"></i> {{ 'book.students.label'|trans }}
                                                </a>
                                            {% endif %}

                                            <a href="{{ path('student_absences', { section: sectionFilter.currentSection.uuid, student: student.uuid }) }}" class="btn btn-outline-primary  btn-sm" target="_blank">
                                                <i class="fas fa-external-link"></i> {{ 'absences.label'|trans }}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>

                    <button type="button" data-toggle="table-show-all" data-container="#result" class="btn btn-outline-primary btn-sm">
                        {{ 'actions.show_all'|trans }}
                    </button>
                {% else %}
                    <div class="bs-callout bs-callout-info">
                        <p>{{ 'book.integrity_check.empty'|trans }}</p>
                    </div>

                {% endif %}
            </div>

            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        {% include "_filter/section.html.twig" %}

                        {% include "_filter/study_group.html.twig" with { params: { section: sectionFilter.currentSection.uuid }} %}

                        {% include "_filter/teacher.html.twig" with { params: { section: sectionFilter.currentSection.uuid }} %}
                    </div>
                </div>

                {% if studyGroupFilter.currentStudyGroup is not null or teacherFilter.currentTeacher is not null %}
                    {% set currentQuery = {
                        section: sectionFilter.currentSection.uuid,
                        teacher: teacherFilter.currentTeacher != null ? teacherFilter.currentTeacher.uuid : null,
                        study_group: studyGroupFilter.currentStudyGroup != null ? studyGroupFilter.currentStudyGroup.uuid : null
                    } %}

                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ 'book.integrity_check.run.label'|trans }}</h5>

                            <p>{{ 'book.integrity_check.run.help'|trans }}</p>

                            <a href="{{ path('book_integrity_check', currentQuery|merge({ run: '✓' })) }}" class="btn btn-primary btn-sm">
                                <i class="fas fa-play"></i> {{ 'book.integrity_check.run.button'|trans }}
                            </a>
                        </div>
                    </div>
                {% endif %}

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fas fa-info-circle"></i> {{ 'book.integrity_check.label'|trans }}</h5>

                        <p>
                            {{ 'book.integrity_check.info'|trans }}
                        </p>
                    </div>

                    <div class="list-group list-group-flush">
                        {% for check in enabledChecks %}
                            <div class="list-group-item">
                                <p class="mb-0"><i class="fas fa-clipboard-check"></i> {{ ('book.integrity_check.checks.'~check.name ~'.label')|trans }}</p>

                                {% set help = ('book.integrity_check.checks.'~check.name ~'.help')|trans %}

                                {% if help is not empty %}
                                    <p class="text-muted mt-2">{{ help }}</p>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block post_javascript %}
    <script src="{{ asset('build/book.js') }}"></script>
{% endblock %}