{% extends "main.html.twig" %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('book') }}">{{ 'book.label'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('book_students') }}">{{ 'book.students.label'|trans }}</a></li>
        <li class="breadcrumb-item">
            <a href="{{ path('book_students', { grade: student.grade(sectionFilter.currentSection).uuid.toString, section: sectionFilter.currentSection.uuid }) }}">
                {{ student.grade(sectionFilter.currentSection).name }}
            </a>
        </li>
        <li class="breadcrumb-item">{{ student.lastname }}, {{ student.firstname }}</li>
    </ol>
{% endblock %}

{% block content %}

    {% set currentFilter = {
        section: sectionFilter.currentSection ? sectionFilter.currentSection.uuid.toString : null,
        grade: gradeFilter.currentGrade ? gradeFilter.currentGrade.uuid.toString : null,
        tuition: tuitionFilter.currentTuition ? tuitionFilter.currentTuition.uuid.toString : null,
        teacher: teacherFilter.currentTeacher ? teacherFilter.currentTeacher.uuid.toString : null
    } %}

    <div class="container-fluid px-0">
        <div class="row">
            <div class="col-md-9" id="app">
                <div class="card-deck mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="counter">
                                <i class="fas fa-comments"></i>
                                {{ info.comments|length }}
                            </div>
                        </div>
                    </div>

                    <div class="card {% if info.lateMinutesCount > 0 %}border-warning{% endif %}">
                        <div class="card-body">
                            <div class="counter">
                                <i class="fas fa-clock"></i>
                                {{ 'book.attendance.late_minutes'|trans({'%count%': info.lateMinutesCount }) }}
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <div class="counter">
                                <i class="fas fa-user-times"></i>
                                {{ info.absentLessonsCount }}
                            </div>
                        </div>
                    </div>

                    <div class="card {% if info.notExcusedAbsentLessonsCount > 0 %}bg-danger text-white{% endif %}">
                        <div class="card-body">
                            <div class="counter">
                                <i class="fas fa-exclamation-circle"></i>
                                {{ info.notExcusedAbsentLessonsCount }}
                            </div>
                        </div>
                    </div>
                </div>

                {% for group in groups %}
                    <div class="card">
                        <div class="card-header">
                            <i class="fas fa-calendar-alt"></i>
                            {{ group.date|format_date }}
                            <span class="text-muted">{{ group.date.format('N')|weekday }}</span>
                        </div>

                        <div class="list-group list-group-flush">
                        {% for comment in group.comments %}

                            <div class="list-group-item d-flex align-items-center">
                                <div class="book-lesson m-0 p-0">
                                    <i class="far fa-comment-alt"></i>
                                </div>

                                <div class="flex-fill">
                                    <div class="d-flex align-items-center mb-1">
                                        <div>
                                            <i class="fas fa-chalkboard-teacher"></i> {{ comment.teacher|teacher }}
                                        </div>

                                        {% for student in comment.students %}
                                            <div class="ml-2">
                                                <i class="fas fa-user-graduate"></i> {{ student|student }}
                                            </div>
                                        {% endfor %}
                                    </div>

                                    <div>
                                        {{ comment.text }}
                                    </div>
                                </div>

                                {% if is_granted('ROLE_BOOK_ENTRY_CREATOR') %}
                                    <div class="ml-2">
                                        <a href="{{ path('edit_book_comment', { uuid: comment.uuid }) }}" class="btn btn-primary btn-sm" title="{{ 'book.comment.edit.label'|trans }}">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                    </div>
                                    <div class="ml-2">
                                        <a href="{{ path('remove_book_student', { uuid: comment.uuid }) }}" class="btn btn-danger btn-sm" title="{{ 'book.comment.remove.label'|trans }}">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                        </div>

                        <div class="list-group list-group-flush">
                            {% set already_shown_attendances = [ ] %} {# just a temporary hack until we streamline all the book models #}

                            {% for lesson_attendance in group.attendances %}
                                {% set attendance = lesson_attendance.attendance %}
                                {% set entry = attendance.entry %}
                                {% set has_excuses = lesson_attendance.excuses|length > 0 %}

                                {% if attendance.uuid.toString not in already_shown_attendances %}
                                    <attendance uuid="{{ attendance.uuid.toString }}"
                                                teacher="{{ entry.teacher|teacher }}"
                                                tuition="{{ entry.tuition.name }}"
                                                subject="{{ entry.subject }}"
                                                comment="{{ attendance.comment }}"
                                                :lesson-start="{{ entry.lessonStart }}"
                                                :lesson-end="{{ entry.lessonEnd }}"
                                                :absent-lessons="{{ attendance.absentLessons }}"
                                                :late-minutes="{{ attendance.lateMinutes }}"
                                                :excuse-status="{{ attendance.excuseStatus }}"
                                                :type="{{ attendance.type }}"
                                                :step="5"
                                                :has-excuses="{% if has_excuses %}true{% else %}false{% endif %}"
                                                csrftoken="{{ csrf_token('update_attendance') }}"
                                                url="{{ path('xhr_update_attendance', { uuid: attendance.uuid.toString }) }}"
                                    ></attendance>
                                {% endif %}

                                {% set already_shown_attendances = already_shown_attendances|merge([attendance.uuid.toString ]) %}
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            <i class="far fa-id-card"></i> {{ student.lastname }}, {{ student.firstname }}
                        </h5>

                        <p>
                            <i class="fas fa-envelope"></i> <a href="mailto:{{ student.email }}">{{ student.email }}</a>
                        </p>

                        <p>
                            <i class="fas fa-graduation-cap"></i>
                            {% include "_includes/grade_teachers.html.twig" with { grade: student.grade(sectionFilter.currentSection), section: sectionFilter.currentSection } %}
                        </p>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        {% include "_filter/section.html.twig" %}

                        {% include "_filter/teacher.html.twig" with { params: currentFilter|merge({grade: null, tuition: null})} %}

                        {% include "_filter/grade.html.twig" with { params: currentFilter|merge({tuition: null, teacher: null}) } %}

                        {% include "_filter/tuition.html.twig" with { params: currentFilter|merge({grade: null, teacher: null}) } %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block post_javascript %}
    <script src="{{ asset('build/book.js') }}"></script>
{% endblock %}