{% extends "main.html.twig" %}

{% block title %}{{ 'book.students.label'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('book') }}">{{ 'book.label'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('book_students') }}">{{ 'book.students.label'|trans }}</a></li>
        {% if gradeFilter.currentGrade != null %}
            <li class="breadcrumb-item">{{ gradeFilter.currentGrade.name }}</li>
        {% elseif tuitionFilter.currentTuition != null %}
            <li class="breadcrumb-item">
                {% for grade in tuitionFilter.currentTuition.studyGroup.grades %}{{ grade.name }}{% if not loop.last %}, {% endif %}{% endfor %}:
                {{ tuitionFilter.currentTuition.subject }} [{{ tuitionFilter.currentTuition.name }}]
            </li>
        {% endif %}
    </ol>
{% endblock %}

{% block content %}
    {% set currentFilter = {
        section: sectionFilter.currentSection ? sectionFilter.currentSection.uuid.toString : null,
        grade: gradeFilter.currentGrade ? gradeFilter.currentGrade.uuid.toString : null,
        tuition: tuitionFilter.currentTuition ? tuitionFilter.currentTuition.uuid.toString : null,
        teacher: teacherFilter.currentTeacher ? teacherFilter.currentTeacher.uuid.toString : null
    } %}

    <div class="container-fluid px-0">
        <div class="row">
            <div class="col-md-9">
                <div class="card">
                    <div class="table-responsive">
                        <table class="table table-hover table-striped card-table">
                            <colgroup>
                                <col>
                                <col class="column-sm">
                                <col class="column-md">
                                <col class="column-md">
                                <col class="column-sm">
                                <col class="column-sm">
                                {% for flag in flags %}
                                <col class="column-sm">
                                {% endfor %}
                                <col class="column-100">
                            </colgroup>

                            <thead>
                            <tr>
                                <th>{{ 'label.student'|trans }}</th>
                                <th class="rotate-90"><div>{{ 'book.students.comments'|trans }}</div></th>
                                <th class="rotate-90"><div>{{ 'book.students.late'|trans }}</div></th>
                                <th class="rotate-90"><div>{{ 'book.students.absent'|trans }}</div></th>
                                <th class="rotate-90"><div>{{ 'book.students.not_excused'|trans }}</div></th>
                                <th class="rotate-90"><div>{{ 'book.students.not_set'|trans }}</div></th>
                                {% for flag in flags %}
                                    <th class="rotate-90">
                                        <div>{{ flag.description }}</div>
                                    </th>
                                {% endfor %}
                                <th></th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for studentInfo in info %}
                                {% set student = studentInfo.student %}
                                <tr>
                                    <td class="align-middle">
                                        <i class="fas fa-user"></i>
                                        {% if sectionFilter.currentSection != null %}
                                            {{ student.lastname }}, {{ student.firstname }}

                                            <span class="badge text-bg-primary">
                                                {{ student.grade(sectionFilter.currentSection) }}
                                            </span>
                                        {% else %}
                                            {{ student.lastname }}, {{ student.firstname }}
                                        {% endif %}
                                    </td>
                                    {% set comments = studentInfo.comments|length %}
                                    <td class="align-middle {% if comments > 0 %}bg-warning{% endif %} nowrap">
                                        <i class="fas fa-comments"></i>

                                        <a href="{{ path('book_student_comments', { student: student.uuid}|merge(currentFilter)) }}">
                                             {{ comments }}
                                        </a>
                                    </td>
                                    {% set lateMinutes = studentInfo.lateMinutesCount %}
                                    <td class="align-middle {% if lateMinutes > 0 %}bg-warning{% endif %}">
                                        <i class="far fa-clock"></i>

                                        <a href="{{ path('book_student_attendance', { student: student.uuid }|merge(currentFilter)) }}">
                                            {{ 'book.attendance.late_minutes'|trans({'%count%': lateMinutes }) }}
                                        </a>
                                    </td>

                                    <td class="align-middle {% if studentInfo.absentLessonsCount > 0 %}bg-warning{% endif %} nowrap">
                                        <i class="fas fa-user-times"></i>

                                        <a href="{{ path('book_student_attendance', { student: student.uuid }|merge(currentFilter)) }}">
                                            {{ studentInfo.absentLessonsCount }} / {{ studentInfo.totalLessonsCount }}
                                        </a>
                                    </td>

                                    {% set nonExcusedCount = studentInfo.notExcusedAbsentLessonsCount %}
                                    <td class="align-middle {% if nonExcusedCount > 0 %}bg-danger text-white{% endif%} nowrap">
                                        <i class="fas fa-exclamation-circle"></i> {{ nonExcusedCount }}
                                    </td>

                                    {% set nonSetCount = studentInfo.notExcusedOrNotSetLessonsCount %}
                                    <td class="align-middle {% if nonSetCount > 0 %}bg-danger text-white{% endif%} nowrap">
                                        <i class="fas fa-exclamation-circle"></i> {{ nonSetCount }}
                                    </td>

                                    {% for flag in flags %}
                                        {% set count = studentInfo.attendanceFlagCount(flag) %}
                                        <td class="align-middle nowrap">
                                            <span class="fa-stack fa-1x" title="{{ flag.description }}">
                                                <i class="{{ flag.icon }} fa-stack-1x"></i>
                                                {% if flag.stackIcon is not empty %}
                                                    <i class="{{ flag.stackIcon }} fa-stack-1x text-danger"></i>
                                                {% endif %}
                                            </span>

                                            {% if count is null %}
                                                0
                                            {% else %}
                                                {{ count.count }}
                                            {% endif %}
                                        </td>
                                    {% endfor %}

                                    <td class="align-middle nowrap">
                                        {% if sectionFilter.currentSection != null %}
                                            <a href="{{ path('book_student_attendance', { student: student.uuid }|merge(currentFilter)) }}" class="btn btn-primary btn-sm" title="{{ 'book.attendance.label'|trans }}">
                                                <i class="fas fa-user-check"></i>
                                            </a>
                                            <a href="{{ path('book_student_comments', { student: student.uuid}|merge(currentFilter)) }}" class="btn btn-primary btn-sm" title="{{ 'book.students.comments'|trans }}">
                                                <i class="fas fa-comments"></i>
                                            </a>
                                            <a href="{{ path('gradebook', { section: sectionFilter.currentSection.uuid, student: student.uuid}) }}" class="btn btn-primary btn-sm" title="{{ 'book.grades.label'|trans }}">
                                                <i class="fas fa-graduation-cap"></i>
                                            </a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                {% include '@Common/includes/pagination.html.twig' with {
                    currentFilters: currentFilter,
                    currentPage: page,
                    paginationPath: 'book_students',
                    lastPage: pages,
                    showAlwaysFirstAndLast: true
                } only %}
            </div>

            <div class="col-md-3">

                <div class="card">
                    <div class="card-body">
                        {% include "_filter/section.html.twig" %}
                        {% include "_filter/teacher.html.twig" with { params: currentFilter|merge({grade: null, tuition: null})} %}

                        {% include "_filter/grade.html.twig" with { params: currentFilter|merge({tuition: null, teacher: null}) } %}

                        {% include "_filter/tuition.html.twig" with { params: currentFilter|merge({grade: null, teacher: null}) } %}
                    </div>

                    <div class="card-footer">
                        <a href="{{ path('book_students') }}" class="btn btn-primary btn-sm">
                            {{ 'filter.reset'|trans }}
                        </a>
                    </div>
                </div>

                {% if ownGrades|length > 0 or ownTuitions|length > 0 %}
                    <div class="card">
                        <div class="list-group list-group-flush">
                            {% for grade in ownGrades %}
                                <a href="{{ path('book_students', { section: sectionFilter.currentSection.uuid.toString, grade: grade.uuid.toString }) }}" class="list-group-item list-group-item-action {% if gradeFilter.currentGrade == grade %}active{% endif %}">
                                    <i class="fas fa-users"></i> {{ grade.name }}
                                </a>
                            {% endfor %}
                            {% for tuition in ownTuitions %}
                                <a href="{{ path('book_students', { section: sectionFilter.currentSection.uuid.toString , tuition: tuition.uuid.toString }) }}" class="list-group-item list-group-item-action {% if tuitionFilter.currentTuition == tuition %}active{% endif %}">
                                    <i class="fas fa-chalkboard"></i>
                                    {% if tuition.displayName is not empty %}
                                        {{ tuition.displayName }}
                                    {% else %}
                                        {{ tuition.name }}
                                    {% endif %}
                                    ({% for grade in tuition.studyGroup.grades %}{{ grade.name }}{% if not loop.last %}, {% endif %}{% endfor %})
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}