{% extends "main.html.twig" %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('book') }}">{{ 'book.label'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('book_students') }}">{{ 'book.students.label'|trans }}</a></li>
        <li class="breadcrumb-item">
            <a href="{{ path('book_students', { grade: student.grade(sectionFilter.currentSection).uuid.toString, section: sectionFilter.currentSection.uuid }) }}">
                {{ student.grade(sectionFilter.currentSection).name }}
            </a>
        </li>
        <li class="breadcrumb-item">{{ student.lastname }}, {{ student.firstname }}</li>
    </ol>
{% endblock %}

{% block content %}

    {% set currentFilter = {
        section: sectionFilter.currentSection ? sectionFilter.currentSection.uuid.toString : null,
        grade: gradeFilter.currentGrade ? gradeFilter.currentGrade.uuid.toString : null,
        tuition: tuitionFilter.currentTuition ? tuitionFilter.currentTuition.uuid.toString : null,
        teacher: teacherFilter.currentTeacher ? teacherFilter.currentTeacher.uuid.toString : null
    } %}

    <div class="container-fluid px-0">
        <div class="row">
            <div class="col-md-9" id="app">
                <div class="card-deck mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="counter">
                                <i class="fas fa-comments"></i>
                                {{ info.comments|length }}
                            </div>
                        </div>
                    </div>

                    <div class="card {% if info.lateMinutesCount > 0 %}border-warning{% endif %}">
                        <div class="card-body">
                            <div class="counter">
                                <i class="fas fa-clock"></i>
                                {{ 'book.attendance.late_minutes'|trans({'%count%': info.lateMinutesCount }) }}
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <div class="counter">
                                <i class="fas fa-user-times"></i>
                                {{ info.absentLessonsCount }}
                            </div>
                        </div>
                    </div>

                    <div class="card {% if info.notExcusedAbsentLessonsCount > 0 %}bg-danger text-white{% endif %}">
                        <div class="card-body">
                            <div class="counter">
                                <i class="fas fa-exclamation-circle"></i>
                                {{ info.notExcusedAbsentLessonsCount }}
                            </div>
                        </div>
                    </div>
                </div>

                <attendance-overview :entries="{{ entries|json_encode }}"
                                     :comments="{{ comments|json_encode }}"
                                     :attendances="{{ info.presentLessonAttendances|merge(info.lateLessonAttendances)|merge(info.absentLessonAttendances)|json_encode }}"
                                     :day-groups="{{ groups|json_encode }}"
                                     url="{{ path('xhr_update_attendance', { uuid: 'uuid'}) }}"
                                     absences-url="{{ path('xhr_student_absences', { student: student.uuid, lesson: 'lesson'} ) }}"
                                     csrftoken="{{ csrf_token('update_attendance') }}"
                                     :max-lessons="{{ numberOfLessons }}" />
            </div>

            <div class="col-md-3 sticky-sidebar">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            <i class="far fa-id-card"></i> {{ student.lastname }}, {{ student.firstname }}
                        </h5>

                        <p>
                            <i class="fas fa-envelope"></i> <a href="mailto:{{ student.email }}">{{ student.email }}</a>
                        </p>

                        <p>
                            <i class="fas fa-graduation-cap"></i>
                            {% include "_includes/grade_teachers.html.twig" with { grade: student.grade(sectionFilter.currentSection), section: sectionFilter.currentSection } %}
                        </p>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        {% include "_filter/section.html.twig" %}

                        {% include "_filter/teacher.html.twig" with { params: currentFilter|merge({grade: null, tuition: null})} %}

                        {% include "_filter/grade.html.twig" with { params: currentFilter|merge({tuition: null, teacher: null}) } %}

                        {% include "_filter/tuition.html.twig" with { params: currentFilter|merge({grade: null, teacher: null}) } %}
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fas fa-info-circle"></i> {{ 'info.label'|trans }}</h5>

                        <p>{{ 'book.students.overview.info'|trans }}</p>
                    </div>

                    <div class="list-group list-group-flush">
                        <div class="list-group-item list-group-item-success">
                            <i class="fas fa-user-check"></i> {{ 'book.attendance.type.present'|trans }}
                        </div>
                        <div class="list-group-item list-group-item-warning">
                            <i class="fas fa-user-clock"></i> {{ 'book.attendance.type.late'|trans }}
                        </div>
                        <div class="list-group-item list-group-item-danger">
                            <i class="fas fa-user-times"></i> {{ 'book.attendance.type.absent'|trans }}
                        </div>
                        <div class="list-group-item list-group-item-danger">
                            <i class="fas fa-check"></i> {{ 'book.students.excused'|trans }}
                        </div>
                        <div class="list-group-item list-group-item-danger">
                            <i class="fas fa-question"></i> {{ 'book.students.not_set'|trans }}
                        </div>
                        <div class="list-group-item list-group-item-danger">
                            <i class="fas fa-times"></i> {{ 'book.students.not_excused'|trans }}
                        </div>
                        <div class="list-group-item list-group-item-secondary">
                            <i class="far fa-calendar-times"></i> {{ 'book.entry.cancel.label'|trans }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block post_javascript %}
    <script src="{{ asset('build/book.js') }}"></script>
{% endblock %}