<form role="form" method="get" class="form hidden-print">
    {% include "_filter/_params.html.twig" %}

    <div class="form-group">
        <label for="grade" class="control-label">{{ 'label.grade'|trans }}:</label>
        <select name="grade" id="grade" class="form-control" data-trigger="{{ trigger|default("submit") }}" data-choice="true">
            <option value="" placeholder>{{ 'label.select.grade'|trans }}</option>
            {% for g in gradeFilter.grades %}
                <option value="{{ g.uuid }}" {% if gradeFilter.currentGrade != null and gradeFilter.currentGrade.uuid == g.uuid %}selected="selected"{% endif %}>{{ g.getName() }}</option>
            {% endfor %}
        </select>
    </div>
</form>