<form role="form" method="get" class="form hidden-print">
    {% include "_filter/_params.html.twig" %}

    <div class="mb-3 {{ class|default('') }}">
        <label for="grade" class="form-label">{{ 'label.grade'|trans }}:</label>

        {% if gradeFilter.grades|length == 1 %}
            {% set grade = gradeFilter.grades|first %}
            <button type="submit" name="grade" id="grade" value="{{ grade.uuid }}" class="btn btn-outline-secondary btn-block text-left {% if gradeFilter.currentGrade != null and gradeFilter.currentGrade.id == grade.id %}active{% endif %}">
                {{ grade.name }}

                {% set teachers = [] %}
                {%- for t in grade.teachers|sort_gradeteachers -%}
                    {%- if sectionFilter is defined and sectionFilter.currentSection == t.section -%}
                        {% set teachers = teachers|merge([t.teacher.acronym]) %}
                    {%- endif -%}
                {%- endfor -%}
                {% if teachers|length > 0 %}({{ teachers|join(', ') }}){% endif %}
            </button>
        {% else %}
        <select name="grade" id="grade" class="form-control" data-trigger="{{ trigger|default("submit") }}" data-choice="true">
            <option value="" placeholder>{{ 'label.select.grade'|trans }}</option>
            {% for g in gradeFilter.grades %}
                <option value="{{ g.uuid }}" {% if gradeFilter.currentGrade != null and gradeFilter.currentGrade.uuid == g.uuid %}selected="selected"{% endif %}>
                    {{ g.getName() }}

                    {% set teachers = [] %}
                    {%- for t in g.teachers|sort_gradeteachers -%}
                        {%- if sectionFilter is defined and sectionFilter.currentSection == t.section -%}
                            {% set teachers = teachers|merge([t.teacher.acronym]) %}
                        {%- endif -%}
                    {%- endfor -%}
                    {% if teachers|length > 0 %}({{ teachers|join(', ') }}){% endif %}
                </option>
            {% endfor %}
        </select>
        {% endif %}
    </div>
</form>