{% if isChoice is not defined %}
    {% set isChoice = true %}
{% endif %}
{% if forceChoice is not defined %}
    {% set forceChoice = false %}
{% endif %}
<form role="form" method="get" class="form hidden-print">
    {% include "_filter/_params.html.twig" %}

    <div class="mb-3 {{ class|default('') }}">
        <label for="student" class="form-label">{{ 'label.student'|trans }}:</label>

        {% if studentFilter.studentCount < 10 and not forceChoice %}
            <div class="btn-group-vertical w-100 filter" role="group">
                {% for group in studentFilter.studentGradeGroups %}
                    {% for s in group.students %}
                        <button type="submit" name="student" value="{{ s.uuid }}" class="btn btn-outline-secondary text-start {% if studentFilter.currentStudent != null and studentFilter.currentStudent.id == s.id %}active{% endif%} {% if not loop.last %}border-bottom-0{% endif %}">
                            {{ s|student }} {% if group.grade is not null %}<span class="badge bg-primary">{{ group.grade.name }}</span>{% endif %}
                        </button>
                    {% endfor %}
                {% endfor %}
            </div>
        {% else %}
        <select name="student" id="student" class="form-control" data-trigger="{{ trigger|default("submit") }}" data-choice="{{ isChoice ? 'true' : 'false' }}">
            <option value="" placeholder>{{ 'label.select.student'|trans }}</option>
            {% for group in studentFilter.studentGradeGroups %}
                <optgroup label="{% if group.grade is not null %}{{ group.grade.name }}{% endif %}">
                    {% for s in group.students %}
                        <option value="{{ s.uuid }}"{% if studentFilter.currentStudent != null and studentFilter.currentStudent.id == s.id %}selected="selected"{% endif %}>{{ s|student }} {% if group.grade is not null %}[{{ group.grade.name }}]{% endif %}</option>
                    {% endfor %}
                </optgroup>
            {% endfor %}
        </select>
        {% endif %}
    </div>
</form>