<form role="form" method="get" class="form hidden-print">
    {% include "_filter/_params.html.twig" %}

    <div class="mb-3 {{ class|default('') }}">
        <label for="subjects" class="form-label">{{ 'label.subjects'|trans }}:</label>
        <select name="subjects[]" id="subjects" multiple="multiple" class="form-control" data-trigger="submit" data-choice="true">
            <option value="">{{ 'label.select.subjects'|trans }}</option>
            {% for s in subjectFilter.subjects %}
                <option value="{{ s.uuid }}" {% if s in subjectFilter.currentSubjects %}selected="selected"{% endif %}>{{ s.name }}</option>
            {% endfor %}
        </select>
    </div>
</form>