<form role="form" method="get" class="form hidden-print">
    {% include "_filter/_params.html.twig" %}

    <div class="mb-3 {{ class|default('') }}">
        <label for="subject" class="form-label">{{ 'label.subject'|trans }}:</label>
        <select name="subject" id="subject" class="form-control" data-trigger="submit" data-choice="true">
            <option value="" placeholder>{{ 'label.select.subject'|trans }}</option>
            {% for s in subjectFilter.subjects %}
                <option value="{{ s.uuid }}" {% if subjectFilter.currentSubject is not null and  s.id == subjectFilter.currentSubject.id %}selected="selected"{% endif %}>{{ s.name }}</option>
            {% endfor %}
        </select>
    </div>
</form>