<form role="form" method="get" class="form">
    {% include "_filter/_params.html.twig" %}

    <div class="mb-3 {{ class|default('') }}">
        <label for="tuition" class="form-label">{{ 'label.tuition'|trans }}:</label>
        <select name="tuition" id="tuition" class="form-control" data-trigger="{{ trigger|default("submit") }}" data-choice="true">
            <option value="" placeholder>{{ 'label.select.tuition'|trans }}</option>
            {% for tuition in tuitionFilter.tuitions %}
                <option value="{{ tuition.uuid }}" {% if tuitionFilter.currentTuition != null and tuitionFilter.currentTuition.id == tuition.id %}selected="selected"{% endif %}>
                    {{ tuition.name }} ({% for grade in tuition.studyGroup.grades %}{{ grade.name }}{% if not loop.last %}, {% endif %}{% endfor %})
                </option>
            {% endfor %}
        </select>
    </div>
</form>