<form role="form" method="get" class="form hidden-print">
    {% include "_filter/_params.html.twig" %}

    <div class="mb-3 {{ class|default('') }}">
        <label for="user" class="form-label">{{ 'label.user'|trans }}:</label>
        <select name="user" id="user" class="form-control" data-trigger="submit" data-choice="true">
            {% for group in userFilter.groups %}
                <optgroup label="{{ group.key }}">
                    {% for user in group.items %}
                        <option value="{{ user.uuid }}"{% if userFilter.currentUser != null and userFilter.currentUser.id == t.id %}selected="selected"{% endif %}>{{ user.username }} ({{ user|user }})</option>
                    {% endfor %}
                </optgroup>
            {% endfor %}
        </select>
    </div>
</form>