<form role="form" method="get" class="form hidden-print">
    {% include "_filter/_params.html.twig" %}

    <div class="mb-3 {{ class|default('') }}">
        <label for="usertype" class="form-label">{{ 'label.usertype'|trans }}:</label>
        <select name="user_type" id="usertype" class="form-control" data-trigger="submit" data-choice="true">
            {% if userTypeFilter.handleNull %}
                <option value="" {% if userTypeFilter.currentType is null %}selected="selected"{% endif %}>{{ 'label.select.all'|trans }}</option>
            {% else %}
            <option value="" placeholder>{{ 'label.select.usertype'|trans }}</option>
            {% endif %}
            {% for t in userTypeFilter.types %}
                <option value="{{ t.value }}" {% if userTypeFilter.currentType != null and userTypeFilter.currentType.value == t.value %}selected="selected"{% endif %}>{{ t|enum }}</option>
            {% endfor %}
        </select>
    </div>
</form>