<!DOCTYPE html>
<html lang="de">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="msapplication-config" content="none"/>
    <title>
        {% include "timetable/_title.html.twig" %}
    </title>

    <link rel="stylesheet" type="text/css" href="{{ asset('build/timetable.css') }}" />

    {% block head %}{% endblock %}
</head>

<body class="timetable-print">
{% if timetable != null %}
        <div class="clearfix">
            <strong>
                {% include "timetable/_title.html.twig" %}
            </strong>

            <div class="pull-right">
                {{ 'plans.timetable.print.date'|trans({'%date%': 'now'|date('d.m.Y H:i:s')}) }}
            </div>
        </div>

        <hr>

        {% for week in timetable.weeks %}
            <div class="timetable-week">
            <strong>{{ week.label }}</strong>

            <table class="table table-bordered timetable">
                <colgroup>
                    <col class="column-lesson">
                    {% for day in week.days %}
                        <col>
                    {% endfor %}
                </colgroup>

                <thead>
                <th>{{ 'label.lesson'|trans }}</th>
                {% for day in week.days %}
                    <th>{{ day.date.format('w')|weekday }}</th>
                {% endfor %}
                </thead>

                <tbody>
                {% for i in 1..week.maxLessons %}
                    {% if week.maxLessons > 0 %}
                        {% if week.hasSupervisionBefore(i) and supervisionLabels[i] is defined and supervisionLabels[i] is not empty %}
                            <tr>
                                <td>{{ supervisionLabels[i] }}</td>

                                {% for day in week.days %}
                                    {% set lessons = day.getTimetableLessonsContainer(i) %}
                                    <td>
                                        {% for supervision in lessons.beforeSupervisions %}
                                            {% include 'timetable/supervision.html.twig' %}
                                        {% endfor %}
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endif %}

                        <tr>
                            <td>
                                <strong>{{ i }}.</strong>
                            </td>
                            {% for day in week.days %}
                                {% set lessons = day.getTimetableLessonsContainer(i) %}
                                {% if lessons.rowspan > 0 %}
                                    <td {% if lessons.rowspan > 1 %}rowspan="{{ lessons.rowspan }}"{% endif%} class="align-middle">
                                        {% for lesson in lessons.lessons %}
                                            {% include 'timetable/lesson_print.html.twig' with { student: studentFilter.currentStudent, memberships: memberships }%}
                                            {% if not loop.last %}<hr>{% endif %}
                                        {% endfor %}
                                    </td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        {% endfor %}
{% endif %}

</body>