{% extends 'main.html.twig' %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ asset('build/timetable.scss') }}" media="print" />
{% endblock %}

{% block title %}{{ 'plans.timetable.label'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block content %}

    <div class="container-fluid px-0">
        <div class="row">
            <div class="col-md-9">
            {% include "_messages.html.twig" %}

            {% if timetable is null %}
            <div class="bs-callout bs-callout-info">
                <h4>{{ 'info.label'|trans }}</h4>
                <p>
                    {{ 'plans.timetable.not_available'|trans }}
                </p>
            </div>
            {% else %}
                <div class="card">
                    <div class="card-header">
                        {% set urlSubjects = [ ] %}
                        {% if subjectFilter.currentSubjects is not empty %}
                            {% for subject in subjectFilter.currentSubjects %}
                                {% set urlSubjects = urlSubjects|merge([subject.uuid.toString()]) %}
                            {% endfor %}
                        {% endif %}
                        {% set urlTeachers = [ ] %}
                        {% if teachersFilter.currentTeachers is not empty %}
                            {% for teacher in teachersFilter.currentTeachers %}
                                {% set urlTeachers = urlTeachers|merge([teacher.uuid.toString() ]) %}
                            {% endfor %}
                        {% endif %}

                        {% set currentFilter = {
                            section: sectionFilter.currentSection ? sectionFilter.currentSection.uuid.toString : null,
                            grade: gradeFilter.currentGrade ? gradeFilter.currentGrade.uuid.toString() : null,
                            student: studentFilter.currentStudent ? studentFilter.currentStudent.uuid.toString() : null,
                            teachers: (urlTeachers is not empty ? urlTeachers : null),
                            subjects: (urlSubjects is not empty ? urlSubjects : null),
                            room: roomFilter.currentRoom ? roomFilter.currentRoom.uuid.toString() : null
                        }
                        %}

                        {% set currentWeek = selectedDate ? selectedDate.format('W') : null %}

                        <ul class="nav nav-pills card-header-pills" data-trigger="resize-hide">
                            {% if selectedDate != null %}
                                {% set previousDate = (selectedDate|clone).modify('-7 days') %}
                                {% set canNavigatePrevious = is_in_datetime_array(previousDate, weekStarts) %}
                                <li class="nav-item align-self-center" data-resize="show">
                                    <a class="nav-link {% if not canNavigatePrevious %}disabled{% endif %}" href="{{ path('timetable', currentFilter|merge({'date': previousDate.format('Y-m-d')})) }}">
                                        <i class="fas fa-chevron-left"></i>
                                    </a>
                                </li>
                            {% endif %}

                            {% for week, monday in weekStarts %}
                                <li class="nav-item" {% if currentWeek == week %}data-resize="prevent"{% endif %}>
                                    <a class="nav-link {% if currentWeek == week %}active{% endif %}" href="{{ path('timetable', currentFilter|merge({'date': monday.format('Y-m-d')})) }}">
                                        <div>
                                            <i class="fas fa-calendar-alt"></i> {{ 'admin.exams.week'|trans({'%week%': week}) }}
                                        </div>
                                        <div class="{% if currentWeek != week %}text-muted{% endif %}">
                                            {{ monday|format_date }}
                                        </div>
                                    </a>
                                </li>
                            {% endfor %}

                            {% if selectedDate != null %}
                                {% set nextDate = (selectedDate|clone).modify('+7 days') %}
                                {% set canNavigateNext = is_in_datetime_array(nextDate, weekStarts) %}
                                <li class="nav-item align-self-center" data-resize="show">
                                    <a class="nav-link {% if not canNavigateNext %}disabled{% endif %}" href="{{ path('timetable', currentFilter|merge({'date': nextDate.format('Y-m-d')})) }}">
                                        <i class="fas fa-chevron-right"></i>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>

                    <div class="card-body">
                        <h5 class="card-title mb-0">
                            {% include "timetable/_title.html.twig" %}
                        </h5>
                    </div>
                </div>
                {% for week in timetable.weeks %}
                    <div class="card">
                        <div class="card-header">
                            {{ week.label }}

                            <span class="badge text-bg-secondary">
                                {{ 'admin.exams.week'|trans({'%week%': week.week}) }}
                            </span>

                            <span class="badge text-bg-primary">
                                {{ week.startDate|format_date }}-{{ week.endDate|format_date }}
                            </span>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-bordered timetable card-table">
                                <colgroup>
                                    <col class="col-lesson" />
                                    {% for day in week.days %}
                                        <col class="col-day" />
                                    {% endfor %}
                                </colgroup>

                                <thead>
                                <th>{{ 'label.lesson'|trans }}</th>
                                {% for day in week.days %}
                                    <th{% if day.isCurrentDay or day.isUpcomingDay %} class="current" {% endif %}>
                                        {{ day.date.format('w')|weekday }}
                                        {% if day.isCurrentDay %}
                                            <span class="badge text-bg-secondary">{{ 'plans.timetable.today'|trans }}</span>
                                        {% endif %}
                                        {% if day.isUpcomingDay %}
                                            <span class="badge text-bg-secondary">{{ 'plans.timetable.upcoming'|trans }}</span>
                                        {% endif %}
                                        {% if day.isFree %}
                                            <span class="badge text-bg-secondary">{{ 'plans.timetable.free'|trans }}</span>
                                        {% endif %}
                                    </th>
                                {% endfor %}
                                </thead>

                                <tbody>
                                {% for i in 1..week.maxLessons  %}
                                    {% if week.maxLessons > 0 %}
                                        {% if week.hasSupervisionBefore(i) and supervisionLabels[i] is defined and supervisionLabels[i] is not empty %}
                                            <tr>
                                                <td class="align-middle">
                                                    {{ supervisionLabels[i] }}
                                                </td>

                                                {% for day in week.days %}
                                                    {% set lessons = day.getTimetableLessonsContainer(i) %}
                                                    {% set background = supervisionColor %}

                                                    <td class="align-middle {% if day.isCurrentDay or day.isUpcomingDay %}current{% endif %} {% if day.isFree %}text-secondary{% endif %}" {% if background != null and lessons.beforeSupervisions|length > 0 %}style="background: {{ background }}; color: {{ foreground(background) }}"{% endif %}>
                                                        {% for supervision in lessons.beforeSupervisions %}
                                                            {% include 'timetable/supervision.html.twig' %}
                                                        {% endfor %}
                                                    </td>
                                                {% endfor %}
                                            </tr>
                                        {% endif %}
                                            <tr>
                                                <td>
                                                    {% set start = startTimes[i] %}
                                                    {% set end = endTimes[i] %}
                                                    <strong>{{ i }}.</strong>
                                                    <span class="text-muted d-block w-100">
                                                        {{ start }} - {{ end }}
                                                    </span>
                                                </td>
                                                {% for day in week.days %}
                                                    {% set lessons = day.getTimetableLessonsContainer(i) %}
                                                    {% set background = null %}
                                                    {% set foreground = null %}

                                                    {% set subject = null %}

                                                    {% if lessons.lessons|length == 1 %}
                                                        {% if (lessons.lessons|first).tuition is not null %}
                                                            {% set subject = (lessons.lessons|first).tuition.subject %}
                                                        {% else %}
                                                            {% set subject = (lessons.lessons|first).subject ?? null %}
                                                        {% endif %}
                                                    {% endif %}

                                                    {% if subject is not null and subject.color is not empty %}
                                                        {% set background = subject.color %}
                                                        {% set foreground = foreground(background) %}
                                                    {% endif %}

                                                    {% if lessons.rowspan > 0 %}
                                                        <td {% if lessons.rowspan > 1 %}rowspan="{{ lessons.rowspan }}"{% endif%} class="align-middle {% if day.isCurrentDay or day.isUpcomingDay %}current{% endif %} {% if day.isFree %}text-secondary{% endif %}{% if lessons.rowspan > 1 and i+lessons.rowspan-1 == week.maxLessons %} border-bottom-0{% endif %}"  {% if background != null %}style="background: {{ background }}; color: {{ foreground }}"{% endif %}>
                                                            {% for lesson in lessons.lessons %}
                                                                {% if compact|default(false) == true %}
                                                                    {% include 'timetable/lesson_print.html.twig' with { student: studentFilter.currentStudent, memberships: memberships, subject: subject }%}
                                                                {% else %}
                                                                    {% include 'timetable/lesson.html.twig' with { student: studentFilter.currentStudent, memberships: memberships, subject: subject }%}
                                                                {% endif %}
                                                                {% if not loop.last %}<hr>{% endif %}
                                                            {% endfor %}
                                                        </td>
                                                    {% endif %}
                                                {% endfor %}
                                            </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            </div>

            <div class="col-md-3 sticky-sidebar">
                <div class="card">
                    <div class="list-group list-group-flush">
                        {% if timetable is not null %}
                        <a href="{{ path('timetable', query|merge({'print': true})) }}" class="list-group-item list-group-item-action" target="_blank">
                            <i class="fa fa-print"></i> {{ 'plans.timetable.print.label'|trans }}
                        </a>
                        {% endif %}
                        <a href="{{ path('timetable_export') }}" class="list-group-item list-group-item-action">
                            <i class="fas fa-download"></i> {{ 'plans.timetable.export.label'|trans }}
                        </a>
                        {% if is_granted('view_supervisions') %}
                            <a href="{{ path('timetable_supervisions') }}" class="list-group-item list-group-item-action">
                                <i class="fas fa-eye"></i> {{ 'plans.timetable.supervisions.label'|trans }}
                            </a>
                        {% endif %}

                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('admin_settings_timetable') }}" class="list-group-item list-group-item-action">
                                <i class="fa fa-wrench"></i> {{ 'admin.settings.label'|trans }}
                            </a>
                        {% endif %}
                    </div>
                </div>

                {% if contains_active_filters([teachersFilter, studentFilter, gradeFilter, subjectFilter, roomFilter]) %}
                <div class="card">
                    <div class="card-body">
                        {% set params = {
                            section: sectionFilter.currentSection ? sectionFilter.currentSection.uuid.toString : null,
                            date: selectedDate.format('Y-m-d')
                        }
                        %}

                        {% include "_filter/section.html.twig" %}

                        {% if teachersFilter.teachers|length > 0 %}
                            {% include "_filter/teachers.html.twig" with { canSwitch: true, params: params } %}
                        {% endif %}

                        {% if studentFilter.studentGradeGroups|length > 0 %}
                            {% include "_filter/student.html.twig" with { params: params } %}
                        {% endif %}

                        {% if gradeFilter.grades|length > 0 %}
                            {% include "_filter/grade.html.twig" with { params: params } %}
                        {% endif %}

                        {% if roomFilter.rooms|length > 0 %}
                            {% include "_filter/room.html.twig" with { params: params } %}
                        {% endif %}

                        {% if subjectFilter.subjects|length > 0 %}
                            {% include "_filter/subjects.html.twig" with { params: params } %}
                        {% endif %}

                        <form role="form" method="get" class="form hidden-print">
                            {% include "_filter/_params.html.twig" with { params: params } %}

                            <div class="input-group">
                                <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                <input class="form-control" type="date" name="date" data-trigger="submit" pattern="\d{4}-\d{2}-\d{2}" value="{% if selectedDate != null %}{{ selectedDate.format('Y-m-d') }}{% endif %}">
                            </div>
                        </form>
                    </div>

                    <div class="card-footer">
                        <a href="{{ path('timetable') }}" class="btn btn-primary btn-sm">{{ 'filter.reset'|trans }}</a>
                    </div>
                </div>
                {% endif %}

                <form method="post">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><i class="fas fa-users-cog"></i> {{ 'dashboard.settings.label'|trans }}</h5>

                            <div class="mb-3">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="true" id="only_one_week" name="only_one_week" {% if onlyOneWeek %}checked="checked"{% endif %}>
                                    <label for="only_one_week" class="form-check-label">
                                        {{ 'plans.timetable.only_one_week'|trans }}
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary btn-sm">
                                <i class="fa fa-save"></i> {{ 'actions.save'|trans }}
                            </button>
                        </div>
                    </div>
                </form>

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fa fa-info-circle"></i> {{ 'label.last_import'|trans }}</h5>
                        <p class="mb-0">
                            <span class="text-muted">{{ 'label.lessons'|trans }}</span>

                            {% if last_import_lessons is not null %}
                                {{ last_import_lessons.updatedAt|format_datetime }}
                            {% else %}
                                {{ 'label.never'|trans }}
                            {% endif %}
                        </p>
                        <p>
                            <span class="text-muted">{{ 'label.supervisions'|trans }}</span>

                            {% if last_import_supervisions is not null %}
                                {{ last_import_supervisions.updatedAt|format_datetime }}
                            {% else %}
                                {{ 'label.never'|trans }}
                            {% endif %}
                        </p>
                    </div>
                </div>

                <div class="w-100">
                    <a href="#" class="btn btn-primary btn-sm float-right" data-trigger="scroll">
                        <i class="fa fa-arrow-up"></i> {{ 'actions.top'|trans }}
                    </a>
                </div>
            </div>
        </div>
    </div>


{% endblock %}