{% extends 'main.html.twig' %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ asset('build/timetable.scss') }}" media="print" />
{% endblock %}

{% block title %}{{ 'plans.timetable.label'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block content %}
    {% include "_messages.html.twig" %}

    <div class="card">
        <div class="card-body">
            <div class="row">
                {% if teacherFilter.teachers|length > 0 %}
                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                        {% include "_filter/teacher.html.twig" %}
                    </div>
                {% endif %}

                {% if studentFilter.studentGradeGroups|length > 0 %}
                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                        {% include "_filter/student.html.twig" %}
                    </div>
                {% endif %}

                {% if gradeFilter.grades|length > 0 %}
                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                        {% include "_filter/grade.html.twig" %}
                    </div>
                {% endif %}

                {% if subjectFilter.subjects|length > 0 %}
                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                        {% include "_filter/room.html.twig" %}
                    </div>
                {% endif %}

                {% if roomFilter.rooms|length > 0 %}
                    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                        {% include "_filter/subjects.html.twig" %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    {% if periods|length == 0 %}
    <div class="bs-callout bs-callout-info">
        <h4>{{ 'info.label'|trans }}</h4>
        <p>
            {{ 'plans.timetable.not_available'|trans }}
        </p>
    </div>
    {% endif %}

    {% if periods|length > 0 %}
        <div class="card">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    {% for period in periods %}
                        <li class="nav-item">
                            <a class="nav-link{% if currentPeriod != null and period.id == currentPeriod.id %} active{% endif %}" href="{{ path('timetable', { period: period.getId(), grade: gradeFilter.currentGrade, student: studentFilter.currentStudent ? studentFilter.currentStudent.id, teacher: teacherFilter.currentTeacher ? teacherFilter.currentTeacher.id, subject: subjectFilter.currentSubjects, room: roomFilter.currentRoom ? roomFilter.currentRoom.id }) }}">
                                <i class="fa fa-calendar"></i> {{ period.getName() }}
                                <div class="text-muted">{{ period.getStart().format('d.m.Y') }} - {{ period.getEnd().format('d.m.Y') }}</div>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="card-body">
                {% if timetable != null %}
                        <h5 class="card-title">
                            {% include "timetable/_title.html.twig" %}
                        </h5>

                        {% for week in timetable.weeks %}
                            <h6 class="card-subtitle mb-3">{{ week.weekType }}</h6>

                            <table class="table table-bordered timetable">
                                <colgroup>
                                    <col class="col-lesson" />
                                    {% for day in week.days %}
                                        <col class="col-day" />
                                    {% endfor %}
                                </colgroup>

                                <thead>
                                <th>{{ 'label.lesson'|trans }}</th>
                                {% for day in week.days %}
                                    <th{% if day.isCurrentDay or day.isUpcomingDay %} class="current" {% endif %}>{{ day.day|weekday }} {% if day.isCurrentDay %}<span class="badge badge-secondary">{{ 'plans.timetable.today'|trans }}</span>{% endif %}{% if day.isUpcomingDay %}<span class="badge badge-secondary">{{ 'plans.timetable.upcoming'|trans }}</span>{% endif %}</th>
                                {% endfor %}
                                </thead>

                                <tbody>
                                {% for i in 1..week.maxLessons  %}
                                    {% if week.maxLessons > 0 %}
                                        {% if continue is not defined %}{% set continue = false %}{% endif %}
                                        {% if not continue %}
                                            {% set isCombined = week.areCombinedLessons(i, i+1) %}
                                            {% if week.hasSupervisionBefore(i) %}
                                                <tr>
                                                    <td>
                                                        {{ supervisionLabels[i] }}
                                                    </td>

                                                    {% for day in week.days %}
                                                        {% set lessons = day.getTimetableLesson(i) %}
                                                        {% set background = null %}
                                                        {% set foreground = null %}

                                                        {#
                                                        {% if lessons.supervisions|length > 0 and subjects[supervisionSubject] is defined and subjects[supervisionSubject].getColor() != null %}
                                                            {% set background = '#' ~ subjects[supervisionSubject].getColor() %}
                                                            {% set foreground = background|foreground %}
                                                        {% endif %}
                                                        #}

                                                        <td{% if day.isCurrentDay %} class="current" {% endif %} {% if background != null %}style="background: {{ background }}; color: {{ foreground }}"{% endif %}>
                                                            {% for supervision in lessons.supervisions %}
                                                                {% include 'timetable/supervision.html.twig' %}
                                                            {% endfor %}
                                                        </td>
                                                    {% endfor %}
                                                </tr>
                                            {% endif %}

                                            <tr>
                                                <td>
                                                    {% set start = startTimes[i] %}
                                                    {% if isCombined %}
                                                        <strong>{{ i }}./{{ i+1 }}.</strong>
                                                        {% set end = endTimes[i+1] %}
                                                    {% else %}
                                                        <strong>{{ i }}.</strong>
                                                        {% set end = endTimes[i] %}
                                                    {% endif %}
                                                    {% if start != null and end != null %}
                                                    <span class="text-muted">
                                                        {{ start }} - {{ end }}
                                                    </span>
                                                    {% endif %}
                                                </td>
                                                {% for day in week.days %}
                                                    {% set lessons = day.getTimetableLesson(i) %}
                                                    {% if not lessons.isCollapsed %}

                                                        {% set background = null %}
                                                        {% set foreground = null %}

                                                        {#
                                                        {% if lessons.lessons|length == 1 and subjects[lessons.lessons[0].getSubject()] is defined and subjects[lessons.lessons[0].getSubject()].getColor() != null %}
                                                            {% set background = '#' ~ subjects[lessons.lessons[0].getSubject()].getColor() %}
                                                            {% set foreground = background|foreground %}
                                                        {% endif %}
                                                        #}

                                                        <td{% if lessons.includeNextLesson and not isCombined %} rowspan="2"{% endif %}{% if day.isCurrentDay %} class="current" {% endif %} {% if background != null %}style="background: {{ background }}; color: {{ foreground }}"{% endif %}>
                                                            {% for lesson in lessons.lessons %}
                                                                {% include 'timetable/lesson.html.twig' %}
                                                                {% if not loop.last %}<hr />{% endif %}
                                                            {% endfor %}
                                                        </td>
                                                    {% endif %}
                                                {% endfor %}
                                            </tr>
                                            {% if isCombined %}
                                                {% set continue = true %}
                                            {% endif %}
                                        {% else %}
                                            {% set continue = false %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="bs-callout bs-callout-info">
                        <h4>Information</h4>
                        <p>
                             {{ 'plans.timetable.not_available_for_period'|trans }}
                        </p>
                    </div>
                {% endif %}
        </div>
    {% endif %}
    </div>


{% endblock %}