{% extends 'main.html.twig' %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ asset('build/timetable.scss') }}" media="print" />
{% endblock %}

{% block title %}Stundenplan{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path('dashboard') }}">Übersicht</a></li>
        <li class="active">Stundenplan</li>
    </ol>
{% endblock %}

{% block content %}
    {% include "_messages.html.twig" %}

    <div class="contentbox">
        <div class="row">
            {% if teacherFilter.teachers|length > 0 %}
                <div class="col-md-4 col-sm-4 col-xs-12">
                    {% include "_filter/teacher.html.twig" %}
                </div>
            {% endif %}

            {% if studentFilter.studentGradeGroups|length > 0 %}
                <div class="col-md-4 col-sm-4 col-xs-12">
                    {% include "_filter/student.html.twig" %}
                </div>
            {% endif %}

            {% if gradeFilter.grades|length > 0 %}
                <div class="col-md-4 col-sm-4 col-xs-12">
                    {% include "_filter/grade.html.twig" %}
                </div>
            {% endif %}

            {% if subjectFilter.subjects|length > 0 %}
                <div class="col-md-4 col-sm-4 col-xs-12">
                    {% include "_filter/room.html.twig" %}
                </div>
            {% endif %}

            {% if roomFilter.rooms|length > 0 %}
                <div class="col-md-4 col-sm-4 col-xs-12">
                    {% include "_filter/subjects.html.twig" %}
                </div>
            {% endif %}
        </div>
    </div>

    {% if periods|length == 0 %}
    <div class="bs-callout bs-callout-info">
        <h4>Information</h4>
        <p>
            Aktuell ist kein Stundenplan verfügbar.
        </p>
    </div>
    {% endif %}

    {% if periods|length > 0 %}
        <div class="row">
            {% for period in periods %}
            <div class="col-sm widget link-widget">
                <a class="content" href="{{ path('timetable', { period: period.getId(), grade: gradeFilter.currentGrade, student: studentFilter.currentStudent ? studentFilter.currentStudent.id, teacher: teacherFilter.currentTeacher ? teacherFilter.currentTeacher.id, subject: subjectFilter.currentSubjects, room: roomFilter.currentRoom ? roomFilter.currentRoom.id }) }}">
                    <i class="fa fa-calendar"></i> {{ period.getName() }}
                    <small>{{ period.getStart().format('d.m.Y') }} - {{ period.getEnd().format('d.m.Y') }}</small>
                </a>
            </div>
            {% endfor %}
        </div>

        {% if timetable != null %}
            <div class="contentbox">
                <h4>
                    Stundenplan für
                    {% if studentFilter.currentStudent != null %}{{ studentFilter.currentStudent|student }}
                    {% elseif teacherFilter.currentTeacher != null %}{{ teacherFilter.currentTeacher|teacher }}
                    {% elseif roomFilter.currentRoom != null %}{{ roomFilter.currentRoom.name }}
                    {% elseif gradeFilter.currentGrade != null %}{{ gradeFilter.currentGrade.name }}
                    {% elseif subjectFilter.currentSubjects|length > 0%}TODO{% endif %}
                </h4>

            {% for week in timetable.weeks %}
                    <h5>{{ week.weekType }}</h5>

                    <div class="table-responsive">
                    <table class="table table-bordered timetable">
                        <colgroup>
                            <col class="col-lesson" />
                            {% for day in week.days %}
                                <col class="col-day" />
                            {% endfor %}
                        </colgroup>

                        <thead>
                        <th>Stunde</th>
                        {% for day in week.days %}
                            <th{% if day.isCurrentDay %} class="current" {% endif %}>{{ day.day|weekday }} {% if day.isCurrentDay %}<span class="label label-default">heute</span>{% endif %}</th>
                        {% endfor %}
                        </thead>

                        <tbody>
                        {% for i in 1..week.maxLessons if week.maxLessons > 0 %}
                            {% if continue is not defined %}{% set continue = false %}{% endif %}
                            {% if not continue %}
                                {% set isCombined = week.areCombinedLessons(i, i+1) %}
                                {% if week.hasSupervisionBefore(i) %}
                                    <tr>
                                        <td>
                                            {{ supervisionLabels[i] }}
                                        </td>

                                        {% for day in week.days %}
                                            {% set lessons = day.getTimetableLesson(i) %}
                                            {% set background = null %}
                                            {% set foreground = null %}

                                            {#
                                            {% if lessons.supervisions|length > 0 and subjects[supervisionSubject] is defined and subjects[supervisionSubject].getColor() != null %}
                                                {% set background = '#' ~ subjects[supervisionSubject].getColor() %}
                                                {% set foreground = background|foreground %}
                                            {% endif %}
                                            #}

                                            <td{% if day.isCurrentDay %} class="current" {% endif %} {% if background != null %}style="background: {{ background }}; color: {{ foreground }}"{% endif %}>
                                            {% for supervision in lessons.supervisions %}
                                                {% include 'timetable/supervision.html.twig' %}
                                            {% endfor %}
                                            </td>
                                        {% endfor %}
                                    </tr>
                                {% endif %}

                                <tr>
                                    <td>
                                        {% set start = startTimes[i] %}
                                        {% if isCombined %}
                                            <strong>{{ i }}./{{ i+1 }}.</strong>
                                            {% set end = endTimes[i+1] %}
                                        {% else %}
                                            <strong>{{ i }}.</strong>
                                            {% set end = endTimes[i] %}
                                        {% endif %}
                                        {% if start != null and end != null %}
                                            ({{ start }} - {{ end }})
                                        {% endif %}
                                    </td>
                                    {% for day in week.days %}
                                        {% set lessons = day.getTimetableLesson(i) %}
                                        {% if not lessons.isCollapsed %}

                                            {% set background = null %}
                                            {% set foreground = null %}

                                            {#
                                            {% if lessons.lessons|length == 1 and subjects[lessons.lessons[0].getSubject()] is defined and subjects[lessons.lessons[0].getSubject()].getColor() != null %}
                                                {% set background = '#' ~ subjects[lessons.lessons[0].getSubject()].getColor() %}
                                                {% set foreground = background|foreground %}
                                            {% endif %}
                                            #}

                                            <td{% if lessons.includeNextLesson and not isCombined %} rowspan="2"{% endif %}{% if day.isCurrentDay %} class="current" {% endif %} {% if background != null %}style="background: {{ background }}; color: {{ foreground }}"{% endif %}>
                                                {% for lesson in lessons.lessons %}
                                                    {% include 'timetable/lesson.html.twig' %}
                                                    {% if not loop.last %}<hr />{% endif %}
                                                {% endfor %}
                                            </td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                                {% if isCombined %}
                                    {% set continue = true %}
                                {% endif %}
                            {% else %}
                                {% set continue = false %}
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                    </div>
            {% endfor %}
            </div>
        {% else %}
            <div class="bs-callout bs-callout-info">
                <h4>Information</h4>
                <p>
                    Für diese Periode ist kein Stundenplan verfügbar.
                </p>
            </div>
        {% endif %}
    {% endif %}
    </div>


{% endblock %}