<!DOCTYPE html>
<html lang="de">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="msapplication-config" content="none"/>
    <title>
        {% include "timetable/_title.html.twig" %}
    </title>

    <link rel="stylesheet" type="text/css" href="{{ asset('build/timetable.css') }}" />

    {% block head %}{% endblock %}
</head>

<body class="timetable-print">
{% if timetable != null %}
        <div class="clearfix">
            <strong>
                {% include "timetable/_title.html.twig" %}
            </strong>

            <div class="pull-right">
                {{ 'plans.timetable.print.date'|trans({'%date%': 'now'|date('d.m.Y H:i:s')}) }}
            </div>
        </div>

        <hr>

        {% for week in timetable.weeks %}
            <div class="timetable-week">
            <strong>{{ week.weekName }}</strong>

            <table class="table table-bordered timetable">
                <colgroup>
                    <col class="column-lesson">
                    {% for day in week.days %}
                        <col>
                    {% endfor %}
                </colgroup>

                <thead>
                <th>{{ 'label.lesson'|trans }}</th>
                {% for day in week.days %}
                    <th>{{ day.day|weekday }}</th>
                {% endfor %}
                </thead>

                <tbody>
                {% for i in 1..week.maxLessons %}
                    {% if continue is not defined %}{% set continue = false %}{% endif %}
                    {% if not continue %}
                        {% set isCombined = week.areCombinedLessons(i, i+1) %}
                        {% if week.hasSupervisionBefore(i) %}
                            <tr>
                                <td>{{ supervisionLabels[i] }}</td>

                                {% for day in week.days %}
                                    {% set lessons = day.getTimetableLesson(i) %}
                                    <td>
                                        {% for supervision in lessons.beforeSupervisions %}
                                            {% include 'timetable/supervision.html.twig' %}
                                        {% endfor %}
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endif %}

                        <tr>
                            <td>
                                {% set start = startTimes[i] %}
                                {% if isCombined %}
                                    <strong>{{ i }}./{{ i+1 }}.</strong>
                                    {% set end = endTimes[i+1] %}
                                {% else %}
                                    <strong>{{ i }}.</strong>
                                    {% set end = endTimes[i] %}
                                {% endif %}
                                {% if start != null and end != null %}
                                    {{ start }} - {{ end }}
                                {% endif %}
                            </td>
                            {% for day in week.days %}
                                {% set lessons = day.getTimetableLesson(i) %}
                                {% if not lessons.isCollapsed %}
                                    <td{% if lessons.includeNextLesson and not isCombined %} rowspan="2"{% endif %}{% if day.isCurrentDay %} class="current" {% endif %}>
                                        {% for lesson in lessons.lessons %}
                                            {% include 'timetable/lesson_print.html.twig' with { student: studentFilter.currentStudent, memberships: memberships }%}
                                            {% if not loop.last %}<hr>{% endif %}
                                        {% endfor %}
                                    </td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                        {% if isCombined %}
                            {% set continue = true %}
                        {% endif %}
                    {% else %}
                        {% set continue = false %}
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        {% endfor %}
{% endif %}

</body>