{% if lesson != null %}
    <div class="lesson print">
        {%- set gradesWithCourseNames = gradesWithCourseNames|default([]) -%}
        {%- set showCourseName = false -%}
        {%- for grade in lesson.grades -%}
            {% if grade.id in gradesWithCourseNames -%}
                {% set showCourseName = true -%}
            {% endif -%}
        {%- endfor -%}
        {%- set subject = lesson.subject -%}
        {%- if lesson.tuition is not null -%}
            {%- set subject = lesson.tuition.subject -%}
        {%- endif -%}
        {%- set tuition = lesson.tuition -%}
        {%- set room = lesson.location -%}
        {%- if lesson.room is not null -%}
            {%- set room = lesson.room.name -%}
        {%- endif -%}
        <strong>
            {%- if tuition is not null -%}
                {% if tuition.displayName is not empty -%}
                    {{ tuition.displayName }}
                {%- elseif showCourseName -%}
                    {{ tuition.studyGroup.name }}
                {%- else -%}
                    {{ tuition.subject.abbreviation }}
                {%- endif -%}
            {%- elseif subject is not null -%}
                {{ subject.abbreviation }}
            {%- else -%}
                {{ lesson.subjectName }}
            {%- endif -%}
        </strong>

        {% if teachersFilter.currentTeachers|length > 0 %}
            {{ lesson.grades|grades }}
        {% endif %}
        {% if teachersFilter.currentTeachers|length != 1 %}
            {%- for teacher in lesson.teachers -%}
                {{ teacher.getAcronym() }}{%- if not loop.last -%}, {%- endif -%}
            {%- endfor -%}
        {% endif %}

        {% if roomFilter.currentRoom != null %}
            ({{ grades|grades }})
        {% elseif not lesson.room is null %}
            ({{ lesson.room.name }})
        {% endif %}

        {% if studentFilter.currentStudent is not null and lesson.tuition is not null and memberships[lesson.tuition.studyGroup.id] is defined %}
            [{{ memberships[lesson.tuition.studyGroup.id] }}]
        {% endif %}
    </div>
{% endif %}