{% if lesson != null %}

    {%- set gradesWithCourseNames = gradesWithCourseNames|default([]) -%}
    {%- set showCourseName = false -%}
    {%- for grade in lesson.tuition.studyGroup.grades -%}
        {% if grade.id in gradesWithCourseNames -%}
            {% set showCourseName = true -%}
        {% endif -%}
    {%- endfor -%}
    <strong>
        <a href="{{ path('list_tuition', { uuid: lesson.tuition.uuid }) }}" title="{{ lesson.tuition.subject.name }}">
            {% if lesson.tuition.displayName is not empty -%}
                {{ lesson.tuition.displayName }}
            {%- elseif showCourseName -%}
                {{ lesson.tuition.studyGroup.name }}
            {%- else -%}
                {%- if lesson.tuition.subject.replaceSubjectAbbreviation -%}
                    {{ lesson.tuition.subject.name }}
                {%- else -%}
                    {{ lesson.tuition.subject.abbreviation }}
                {%- endif -%}
            {%- endif -%}
        </a>
    </strong>

    {% if roomFilter.currentRoom != null %}
        ({% for g in lesson.tuition.studyGroup.grades %}{{ g.name }}{% if not loop.last %}, {% endif %}{% endfor %})
    {% elseif not lesson.room is null %}
        ({{ lesson.room.name }})
    {% endif %}

    {% if student is not null and lesson.tuition is not null and memberships[lesson.tuition.studyGroup.id] is defined %}
        [{{ memberships[lesson.tuition.studyGroup.id] }}]
    {% endif %}
    {% if teachersFilter.currentTeachers|length != 1 %}
        <br>
        {{ lesson.tuition.teacher|teacher }}
    {% endif %}
    {% if teachersFilter.currentTeachers|length > 0 or subjectFilter.currentSubjects|length > 0 %}
        <br>
        {% for g in lesson.tuition.studyGroup.grades %}{{ g.name }}{% if not loop.last %}, {% endif %}{% endfor %}
    {% endif %}
{% endif %}