{% if lesson != null %}
    <div class="lesson print">
        {%- set gradesWithCourseNames = gradesWithCourseNames|default([]) -%}
        {%- set showCourseName = false -%}
        {%- for grade in lesson.tuition.studyGroup.grades -%}
            {% if grade.id in gradesWithCourseNames -%}
                {% set showCourseName = true -%}
            {% endif -%}
        {%- endfor -%}
        <strong>
            {% if lesson.tuition.displayName is not empty -%}
                {{ lesson.tuition.displayName }}
            {%- elseif showCourseName -%}
                {{ lesson.tuition.studyGroup.name }}
            {%- else -%}
                {{ lesson.tuition.subject.abbreviation }}
            {%- endif -%}
        </strong>

        {% if teachersFilter.currentTeachers|length > 0 %}
            {% for g in lesson.tuition.studyGroup.grades %}{{ g.name }}{% if not loop.last %}, {% endif %}{% endfor %}
        {% endif %}
        {% if teachersFilter.currentTeachers|length != 1 %}
            {%- for teacher in lesson.teachers -%}
                {{ teacher.getAcronym() }}{%- if not loop.last -%}, {%- endif -%}
            {%- endfor -%}
        {% endif %}

        {% if roomFilter.currentRoom != null %}
            ({% for g in lesson.tuition.studyGroup.grades %}{{ g.name }}{% if not loop.last %}, {% endif %}{% endfor %})
        {% elseif not lesson.room is null %}
            ({{ lesson.room.name }})
        {% endif %}

        {% if studentFilter.currentStudent is not null and lesson.tuition is not null and memberships[lesson.tuition.studyGroup.id] is defined %}
            [{{ memberships[lesson.tuition.studyGroup.id] }}]
        {% endif %}
    </div>
{% endif %}