{% if lesson != null %}
    {%- set gradesWithCourseNames = gradesWithCourseNames|default([]) -%}
    {%- set showCourseName = false -%}
    {%- set grades = lesson.grades -%}
    {%- for grade in grades -%}
        {% if grade.id in gradesWithCourseNames -%}
            {% set showCourseName = true -%}
        {% endif -%}
    {%- endfor -%}
    {%- set subject = lesson.subject -%}
    {%- if lesson.tuition is not null -%}
        {%- set subject = lesson.tuition.subject -%}
    {%- endif -%}
    {%- set tuition = lesson.tuition -%}
    {%- set room = lesson.location -%}
    {%- if lesson.room is not null -%}
        {%- set room = lesson.room.name -%}
    {%- endif -%}
    <strong>
        {% set link = null %}
        {% if tuition is not null and is_granted('view', tuition) %}
            {% set link = path('list_tuition', { uuid: tuition.uuid }) %}
        {% endif %}
        <a {% if link is not empty %}href="{{ link }}"{% endif%} {% if subject is not null %}title="{{ subject.name }}"{% endif %}>
            {%- if tuition is not null -%}
                {% if tuition.displayName is not empty -%}
                    {{ tuition.displayName }}
                {%- elseif showCourseName -%}
                    {{ tuition.studyGroup.name }}
                {%- else -%}
                    {%- if tuition.subject.replaceSubjectAbbreviation -%}
                        {{ tuition.subject.name }}
                    {%- else -%}
                        {{ tuition.subject.abbreviation }}
                    {%- endif -%}
                {%- endif -%}
            {%- elseif subject is not null -%}
                {%- if subject.replaceSubjectAbbreviation -%}
                    {{ subject.name }}
                {%- else -%}
                    {{ subject.abbreviation }}
                {%- endif -%}
            {%- endif -%}
        </a>
    </strong>

    {% if roomFilter.currentRoom != null %}
        ({% for g in grades %}{{ g.name }}{% if not loop.last %}, {% endif %}{% endfor %})
    {% elseif not room is null %}
        ({{ room }})
    {% endif %}

    {% if student is not null and lesson.tuition is not null and memberships[lesson.tuition.studyGroup.id] is defined %}
        [{{ memberships[lesson.tuition.studyGroup.id] }}]
    {% endif %}
    {% if teachersFilter.currentTeachers|length != 1 %}
        <br>
        {{ lesson.teachers|teachers }}
    {% endif %}
    {% if teachersFilter.currentTeachers|length > 0 or subjectFilter.currentSubjects|length > 0 %}
        <br>
        {% for g in grades %}{{ g.name }}{% if not loop.last %}, {% endif %}{% endfor %}
    {% endif %}
{% endif %}