{% extends "main.html.twig" %}

{% block title %}{{ 'admin.subjects.label'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('admin') }}">{{ 'admin.label'|trans }}</a></li>
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% macro show_boolean(value, true_tooltip, false_tooltip) %}
    {% if value %}
        <i class="fa fa-check" title="{{ true_tooltip|trans }}"></i>
    {% else %}
        <i class="fa fa-times" title="{{ false_tooltip|trans }}"></i>
    {% endif %}
{% endmacro %}

{% block content %}
    {{ knp_menu_render('dataMenu', {'currentClass': 'active', 'template': 'admin/_menu.html.twig' }) }}

    <div class="container-fluid px-0">
        <div class="row">
            <div class="col-md-9">
                {% if subjects|length == 0 %}
                    <div class="bs-callout bs-callout-info">
                        <h4>{{ 'info.label'|trans }}</h4>

                        <p>{{ 'admin.subjects.empty'|trans }}</p>
                    </div>
                {% else %}
                    <div class="card">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover card-table">
                                <colgroup>
                                    <col>
                                    <col>
                                    <col class="column-md">
                                    <col class="column-md">
                                    <col class="column-md">
                                    <col class="column-sm">
                                </colgroup>

                                <thead>
                                <tr>
                                    <th>{{ 'label.abbreviation'|trans }}</th>
                                    <th>{{ 'label.name'|trans }}</th>
                                    <th>{{ 'admin.subjects.visibility.short'|trans }}</th>
                                    <th>{{ 'admin.subjects.replace.short'|trans }}</th>
                                    <th>{{ 'lists.label'|trans }}</th>
                                    <th></th>
                                </tr>
                                </thead>

                                <tbody>
                                {% for subject in subjects %}
                                    <tr>
                                        <td class="align-middle">
                                            {{ subject.abbreviation }}

                                            {% if subject.color is not empty %}
                                                <span class="color-rect" style="background-color: {{ subject.color }}"></span>
                                            {% endif %}
                                        </td>
                                        <td class="align-middle">{{ subject.name }}</td>
                                        <td class="align-middle">
                                            {{ _self.show_boolean(subject.visibleGrades, 'admin.subjects.visibility.grades', 'admin.subjects.visibility.grades') }}
                                            {{ _self.show_boolean(subject.visibleStudents, 'admin.subjects.visibility.students', 'admin.subjects.visibility.students') }}
                                            {{ _self.show_boolean(subject.visibleTeachers, 'admin.subjects.visibility.teachers', 'admin.subjects.visibility.teachers') }}
                                            {{ _self.show_boolean(subject.visibleRooms, 'admin.subjects.visibility.rooms', 'admin.subjects.visibility.rooms') }}
                                            {{ _self.show_boolean(subject.visibleSubjects, 'admin.subjects.visibility.subjects', 'admin.subjects.visibility.subjects') }}
                                        </td>
                                        <td class="align-middle">
                                            {{ _self.show_boolean(subject.replaceSubjectAbbreviation, 'admin.subjects.replace.long', 'admin.subjects.replace.long_false') }}
                                        </td>
                                        <td class="align-middle">
                                            {{ _self.show_boolean(subject.visibleLists, 'admin.subjects.visibility.lists', 'admin.subjects.visibility.lists_false') }}
                                        </td>
                                        <td class="align-middle">
                                            <div class="dropdown d-inline">
                                                <button type="button" class="btn btn-outline-secondary btn-sm" data-toggle="dropdown">
                                                    <i class="fas fa-ellipsis-v"></i>
                                                </button>

                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a href="{{ path('edit_subject', { uuid: subject.uuid }) }}" class="dropdown-item">
                                                        <i class="fa fa-edit"></i> {{ 'actions.edit'|trans }}
                                                    </a>

                                                    <a href="{{ path('remove_subject', { uuid: subject.uuid }) }}" class="dropdown-item text-danger">
                                                        <i class="fa fa-trash"></i> {{ 'actions.remove'|trans }}
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% endif %}
            </div>

            <div class="col-md-3">
                <div class="card">
                    <div class="list-group list-group-flush">
                        <a href="{{ path('new_subject') }}" class="list-group-item list-group-item-action">
                            <i class="fa fa-plus"></i> {{ 'admin.subjects.add.label'|trans }}
                        </a>
                    </div>
                </div>


            </div>
        </div>
    </div>
{% endblock %}