{% extends "main.html.twig" %}

{% block title %}{{ 'admin.teachers.label'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('admin') }}">{{ 'admin.label'|trans }}</a></li>
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block content %}
    {{ knp_menu_render('dataMenu', {'currentClass': 'active', 'template': 'admin/_menu.html.twig' }) }}

    <div class="container-fluid px-0">
        <div class="row">
            <div class="col-md-9">
                {% if teachers|length == 0 %}
                    <div class="bs-callout bs-callout-info">
                        <h5>{{ 'info.label'|trans }}</h5>

                        <p>{{ 'admin.teachers.overview.empty'|trans }}</p>
                    </div>
                {% else %}
                    <div class="card">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover card-table">
                                <colgroup>
                                    <col class="column-md">
                                    <col>
                                    <col>
                                    <col class="column-md">
                                    <col class="column-lg">
                                    <col class="column-sm">
                                </colgroup>

                                <thead>
                                <tr>
                                    <th>{{ 'label.acronym'|trans }}</th>
                                    <th>{{ 'label.firstname'|trans }}</th>
                                    <th>{{ 'label.lastname'|trans }}</th>
                                    <th>{{ 'label.title'|trans }}</th>
                                    <th>{{ 'label.tags'|trans }}</th>
                                    <th></th>
                                </tr>
                                </thead>

                                <tbody>
                                {% for teacher in teachers %}
                                    <tr>
                                        <td class="align-middle">{{ teacher.acronym }}</td>
                                        <td class="align-middle">{{ teacher.firstname}}</td>
                                        <td class="align-middle">{{ teacher.lastname }}</td>
                                        <td class="align-middle">{{ teacher.title }}</td>
                                        <td class="align-middle">
                                            {% for tag in teacher.tags %}{{ tag.name }}{% if not loop.last %}, {% endif %}{% endfor %}
                                        </td>
                                        <td class="align-middle">
                                            <div class="dropdown">
                                                <button type="button" class="btn btn-outline-secondary btn-sm dropdown-toggle" data-bs-toggle="dropdown">
                                                    <i class="fas fa-ellipsis-v"></i>
                                                </button>

                                                <div class="dropdown-menu dropdown-menu-end">
                                                    <a href="{{ path('edit_teacher', { uuid: teacher.uuid }) }}" class="dropdown-item">
                                                        <i class="fa fa-edit"></i> {{ 'actions.edit'|trans }}
                                                    </a>

                                                    <a href="{{ path('remove_teacher', { uuid: teacher.uuid }) }}" class="dropdown-item text-danger">
                                                        <i class="fa fa-trash"></i> {{ 'actions.remove'|trans }}
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% endif %}
            </div>

            <div class="col-md-3">
                <div class="card">
                    <div class="list-group list-group-flush">
                        <a href="{{ path('add_teacher') }}" class="list-group-item list-group-item-action">
                            <i class="fa fa-plus"></i> {{ 'admin.teachers.add.label'|trans }}
                        </a>

                        <a href="{{ path('admin_teacher_tags') }}" class="list-group-item list-group-item-action">
                            <i class="fa fa-cogs"></i> {{ 'admin.teachers.tags.label'|trans }}
                        </a>
                    </div>
                </div>


            </div>
        </div>
    </div>
{% endblock %}