{% extends "main.html.twig" %}

{% block title %}{{ 'admin.rooms.tags.label'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('admin') }}">{{ 'admin.label'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('admin_rooms') }}">{{ 'admin.rooms.label'|trans }}</a> </li>
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="container-fluid px-0">
        <div class="row">
            <div class="col-md-9">
                {% if tags|length == 0 %}
                    <div class="bs-callout bs-callout-info">
                        <h4>{{ 'info.label'|trans }}</h4>

                        <p>{{ 'admin.rooms.tags.empty'|trans }}</p>
                    </div>
                {% else %}
                    <div class="card">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover card-table">
                                <colgroup>
                                    <col>
                                    <col>
                                    <col class="column-md">
                                </colgroup>

                                <thead>
                                <tr>
                                    <th>{{ 'label.name'|trans }}</th>
                                    <th>{{ 'label.description'|trans }}</th>
                                    <th></th>
                                </tr>
                                </thead>

                                <tbody>
                                {% for tag in tags %}
                                    <tr>
                                        <td>{{ tag.name }}</td>
                                        <td>{{ tag.description }}</td>
                                        <td>
                                            <a href="{{ path('edit_room_tag', { uuid: tag.uuid }) }}" class="btn btn-primary btn-sm" title="{{ 'admin.rooms.tags.edit.label'|trans }}">
                                                <i class="fa fa-edit"></i>
                                            </a>

                                            <a href="{{ path('remove_room_tag', { uuid: tag.uuid }) }}" class="btn btn-danger btn-sm" title="{{ 'admin.rooms.tags.remove.label'|trans }}">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% endif %}
            </div>

            <div class="col-md-3">
                <div class="card">
                    <div class="list-group list-group-flush">
                        <a href="{{ path('add_room_tag') }}" class="list-group-item list-group-item-action">
                            <i class="fa fa-plus"></i> {{ 'admin.rooms.tags.add.label'|trans }}
                        </a>

                        <a href="{{ path('admin_rooms') }}" class="list-group-item list-group-item-action">
                            <i class="fa fa-arrow-left"></i> {{ 'actions.back'|trans }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}