{% extends "main.html.twig" %}

{% block title %}{{ 'admin.sections.edit.label'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('admin') }}">{{ 'admin.label'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('admin_sections') }}">{{ 'admin.sections.label'|trans }}</a></li>
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block content %}
    {{ knp_menu_render('dataMenu', {'currentClass': 'active', 'template': 'admin/_menu.html.twig' }) }}

    {{ form_start(form) }}

    <div class="card border-danger">
        <div class="card-header bg-danger text-white">{{ 'remove.header'|trans }}</div>

        <div class="card-body">
            <div class="bs-callout bs-callout-danger">
                <h5>{{ 'admin.sections.remove.caution.header'|trans }}</h5>

                <p>{{ 'admin.sections.remove.caution.message'|trans }}</p>

                <ul>
                    <li>{{ 'admin.sections.remove.caution.students'|trans }}</li>
                    <li>{{ 'admin.sections.remove.caution.teachers'|trans }}</li>
                    <li>{{ 'admin.sections.remove.caution.tuition'|trans }}</li>
                    <li>{{ 'admin.sections.remove.caution.study_groups'|trans }}</li>
                    <li>{{ 'admin.sections.remove.caution.book'|trans }}</li>
                    <li>{{ 'admin.sections.remove.caution.grades'|trans }}</li>
                    <li>{{ 'admin.sections.remove.caution.absences'|trans }}</li>
                    <li>{{ 'admin.sections.remove.caution.timetable'|trans }}</li>
                    <li>{{ 'admin.sections.remove.caution.exams'|trans }}</li>
                    <li>{{ 'admin.sections.remove.caution.notifications'|trans }}</li>
                    <li>{{ 'admin.sections.remove.caution.substitutions'|trans }}</li>
                    <li>{{ 'admin.sections.remove.caution.appointments'|trans }}</li>
                    <li>{{ 'admin.sections.remove.caution.parents_day'|trans }}</li>
                </ul>

                <p>
                    <i class="fas fa-info-circle"></i> {{ 'admin.sections.remove.caution.notice'|trans }}
                </p>
            </div>


            {{ form_widget(form.group_general.confirm) }}
        </div>
    </div>

    <div class="buttons">
        <button type="submit" class="btn btn-danger btn-sm">
            <i class="fa fa-trash"></i> {{ 'actions.remove'|trans }}
        </button>

        <a href="javascript:history.back();" class="btn btn-secondary btn-sm">
            <i class="fa fa-arrow-left"></i> {{ 'actions.back'|trans }}
        </a>
    </div>

    {{ form_end(form) }}
{% endblock %}