{% extends "main.html.twig" %}

{% block title %}{{ 'cron.label'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('system') }}">{{ 'system.label'|trans }}</a> </li>
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="table-responsive">
            <table class="table table-hover table-bordered table-striped card-table">
                <colgroup>
                    <col>
                    <col class="column-lg">
                    <col class="column-md">
                    <col class="column-md">
                </colgroup>

                <thead>
                <tr>
                    <th>{{ 'cron.command'|trans }}</th>
                    <th>{{ 'cron.overview.last_run'|trans }}</th>
                    <th>{{ 'cron.overview.next_run'|trans }}</th>
                    <th>{{ 'cron.overview.last_result'|trans }}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for job in jobs %}
                    <tr>
                        <td>{{ job.command }}</td>
                        <td>
                            {% if job.lastUse is not null %}
                                {{ job.lastUse|format_datetime }}
                            {% endif %}
                        </td>
                        <td>
                            {% if job.nextRun is not null %}
                                {{ job.nextRun|format_datetime }}
                            {% endif %}
                        </td>
                        <td>
                            {% set result = results[job.command]|default(null) %}
                            {% if result is not null %}
                                {{ result.statusCode }}
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ path('show_cronjob', { id: job.id }) }}" class="btn btn-primary btn-sm" title="{{ 'cron.show.label'|trans }}">
                                <i class="fa fa-list"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}