{% extends "main.html.twig" %}

{% block title %}{{ 'plans.substitutions.label'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% macro replacement(original, replacement) %}
    {% if original is not empty and replacement is not empty %}<s>{{ original }}</s> ⟶ {% elseif original is not empty %}{{ original }}{% endif %}{% if replacement is not empty %}{{ replacement }}{% endif %}
{% endmacro %}

{% block content %}
    {% set currentFilter = {
        date: selectedDate ? selectedDate.format('Y-m-d') : null,
        student: studentFilter.currentStudent ? studentFilter.currentStudent.uuid.toString() : null,
        grade: gradeFilter.currentGrade ? gradeFilter.currentGrade.uuid : null,
        teacher: teacherFilter.currentTeacher ? teacherFilter.currentTeacher.uuid.toString() : null
    } %}

    <div class="container-fluid px-0">
        <div class="row">
            <div class="col-md-9">
                {% include "_messages.html.twig" %}

                <div class="card">
                    <div class="card-header">
                        <ul class="nav nav-pills card-header-pills" data-trigger="resize-hide">
                            {% set previousDate = selectedDate|previous_date %}
                            {% set canNavigatePrevious = is_in_datetime_array(previousDate, days) %}
                            <li class="nav-item" data-resize="show">
                                <a class="nav-link {% if not canNavigatePrevious %}disabled{% endif %}" {% if canNavigatePrevious %}href="{{ path('substitutions', currentFilter|merge({ date: previousDate|date('Y-m-d') })) }}" {% endif %}>
                                    <i class="fa fa-chevron-left"></i>
                                </a>
                            </li>

                            {% for day in days %}
                                <li class="nav-item" {% if selectedDate == day%}data-resize="prevent"{% endif%}>
                                    <a class="nav-link{% if selectedDate == day %} active{% endif %}" href="{{ path('substitutions', currentFilter|merge({ date: day|date('Y-m-d') })) }}">
                                        <i class="fa fa-calendar"></i> {{ day.format('w')|weekday(true) }}., {{ day.format('date.format_short'|trans) }} {% if counts[loop.index0] is defined %}<span class="badge badge-primary badge-pill">{{ counts[loop.index0] }}</span>{% endif %}
                                    </a>
                                </li>
                            {% endfor %}

                            {% set nextDate = selectedDate|next_date %}
                            {% set canNavigateNext = is_in_datetime_array(nextDate, days) %}
                            <li class="nav-item" data-resize="show">
                                <a class="nav-link {% if not canNavigateNext %}disabled{% endif %}" {% if canNavigateNext %}href="{{ path('substitutions', currentFilter|merge({ date: nextDate|date('Y-m-d') })) }}" {% endif %}>
                                    <i class="fa fa-chevron-right"></i>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="card-body">
                        {% include "_includes/infotexts.html.twig" with { infotexts: infotexts} only %}
                        {% include "_includes/absences.html.twig" with { absentTeachers: absentTeachers, absentStudyGroups: absentStudyGroups } only %}

                        {% if groups|length == 0 %}
                            <div class="bs-callout bs-callout-info">
                                <h4>{{ 'info.label'|trans }}</h4>
                                <p>{{ 'plans.substitutions.empty'|trans }}</p>
                            </div>
                        {% endif %}

                        {% for group in groups %}
                            <h5 class="card-title">
                                {% if group.grade is defined %}{{ group.grade.name|default('plans.substitutions.no_grade'|trans) }}{% endif %}
                                {% if group.teacher is defined %}{{ group.teacher.acronym }} ({{ group.teacher|teacher(false) }}){% endif %}
                            </h5>

                            {% if view == 'table' %}
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover card-table">
                                        <colgroup>
                                            <col class="column-md">
                                            <col class="column-lg">
                                            <col class="column-md">
                                            <col class="column-md">
                                            <col class="column-lg">
                                            <col class="column-md">
                                            <col>
                                        </colgroup>
                                        <thead>
                                        <tr>
                                            <th>{{ 'label.lesson'|trans }}</th>
                                            <th>{{ 'label.study_group'|trans }}</th>
                                            <th>{{ 'label.room'|trans }}</th>
                                            <th>{{ 'label.subject'|trans }}</th>
                                            <th>{{ 'label.teacher'|trans }}</th>
                                            <th>{{ 'label.type'|trans }}</th>
                                            <th>{{ 'label.remark'|trans }}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            {% for substitution in group.substitutions %}
                                                {% set duration = substitution.lessonEnd - substitution.lessonStart %}
                                                <tr>
                                                    <td class="align-middle">
                                                        {% if substitution.startsBefore %}
                                                            {{ substitution.lessonStart|before_lesson }}
                                                        {% else %}
                                                            {{ 'label.substitution_lessons'|trans({'%start%': substitution.lessonStart, '%end%': substitution.lessonEnd, '%count%': duration }) }}
                                                        {% endif %}
                                                    </td>
                                                    <td class="align-middle">{{ _self.replacement(substitution.studyGroups|studygroups, substitution.replacementStudyGroups|studygroups) }}</td>
                                                    <td class="align-middle">{{ _self.replacement(substitution.room, substitution.replacementRoom) }}</td>
                                                    <td class="align-middle">{{ _self.replacement(substitution.subject, substitution.replacementSubject) }}</td>
                                                    <td class="align-middle">{{ _self.replacement(substitution.teachers|teachers, substitution.replacementTeachers|teachers) }}</td>
                                                    <td class="align-middle">{{ substitution.type }}</td>
                                                    <td class="align-middle">{{ substitution.remark }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            {% else %}
                                {% for substitution in group.substitutions %}
                                    {% include "_includes/substitution.html.twig" with { substitution: substitution } only %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        {% if teacherFilter.teachers|length > 0 %}
                            {% include "_filter/teacher.html.twig" %}
                        {% endif %}

                        {% if studentFilter.studentGradeGroups|length > 0 %}
                            {% include "_filter/student.html.twig" %}
                        {% endif %}

                        {% if gradeFilter.grades|length > 0 %}
                            {% include "_filter/grade.html.twig" %}
                        {% endif %}

                        <div class="form-group">
                            <div class="btn-group" role="group" aria-label="{{ 'plans.substitutions.view.label'|trans }}" title="{{ 'plans.substitutions.view.label'|trans }}">
                                <a href="{{ path('substitutions', currentFilter|merge({'view': 'table'})) }}" class="btn btn-outline-secondary {% if view == 'table' %}active{% endif %}">
                                    <i class="fa fa-table"></i> {{ 'plans.substitutions.view.table'|trans }}
                                </a>

                                <a href="{{ path('substitutions', currentFilter|merge({'view': 'card'})) }}" class="btn btn-outline-secondary {% if view == 'card' %}active{% endif %}">
                                    <i class="fa fa-list"></i> {{ 'plans.substitutions.view.card'|trans }}
                                </a>
                            </div>
                        </div>

                        <div class="form-group mb-0">
                            <div class="btn-group" role="group" aria-label="{{ 'plans.substitutions.group_by.label'|trans }}" title="{{ 'plans.substitutions.group_by.label'|trans }}">
                                <a href="{{ path('substitutions', currentFilter|merge({'group_by': 'teachers'})) }}" class="btn btn-outline-secondary {% if groupBy == 'teachers' %}active{% endif %}">
                                    <i class="fa fa-table"></i> {{ 'plans.substitutions.group_by.teachers'|trans }}
                                </a>

                                <a href="{{ path('substitutions', currentFilter|merge({'group_by': 'grades'})) }}" class="btn btn-outline-secondary {% if groupBy == 'grades' %}active{% endif %}">
                                    <i class="fa fa-list"></i> {{ 'plans.substitutions.group_by.grades'|trans }}
                                </a>
                            </div>
                        </div>
                    </div>

                    {% if contains_active_filters([teacherFilter, studentFilter, gradeFilter]) %}
                        <div class="card-footer">
                            <a href="{{ path('substitutions') }}" class="btn btn-primary btn-sm">{{ 'filter.reset'|trans }}</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}