{% extends "main.html.twig" %}

{% block title %}{{ 'parents_day.appointments.remove.label'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('parents_day') }}">{{ 'parents_day.label'|trans }}</a></li>
        <li class="breadcrumb-item">{{ appointment.parentsDay.title }} <span class="badge text-bg-primary">{{ appointment.parentsDay.date|format_date }}</span></li>
        <li class="breadcrumb-item">{{ appointment.start|format_time('short') }}-{{ appointment.end|format_time('short') }}</li>
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block content %}
    {{ form_start(form) }}

    <div class="card border-danger">
        <div class="card-header bg-danger text-white">{{ 'remove.header'|trans }}</div>

        <div class="card-body">
            <div class="bs-callout bs-callout-danger">
                <p>{{ 'parents_day.appointments.remove.info'|trans }}</p>
            </div>

            {{ form_widget(form.group_general.confirm) }}
        </div>
    </div>

    <div class="buttons">
        <button type="submit" class="btn btn-danger btn-sm">
            <i class="fa fa-trash"></i> {{ 'remove.confirm'|trans }}
        </button>

        <a href="{{ path('resource_reservations')}}" class="btn btn-secondary btn-sm">
            <i class="fa fa-arrow-left"></i> {{ 'actions.back'|trans }}
        </a>
    </div>

    {{ form_end(form) }}
{% endblock %}