{% extends "import/_import.html.twig" %}

{% block title %}{{ 'import.settings.label'|trans }}{% endblock %}

{% block post_javascript %}
    <script src="{{ asset('build/collection.js') }}"></script>
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('admin_settings') }}">{{ 'import.label'|trans }}</a></li>
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block import_content %}
    <div class="card">
        <div class="card-header">{{ 'import.substitutions.gpu.label'|trans }}</div>

        <div class="card-body">
            {{ form_row(form.substitution_days) }}
            {{ form_row(form.collapse_substitutions) }}

            <div class="mb-3 row">
                {{ form_label(form.ignored_substitution_types) }}

                <div class="col-sm-10">
                    <div class="rules" data-collection="ignored_substitution_types" data-prototype="{{ form_widget(form.ignored_substitution_types.vars.prototype)|e('html_attr') }}">
                        {% for type in form.ignored_substitution_types %}
                            {{ form_widget(type) }}
                        {% endfor %}
                    </div>

                    {{ form_errors(form.ignored_substitution_types) }}
                    {{ form_help(form.ignored_substitution_types) }}

                    {% do form.ignored_substitution_types.setRendered(true) %}

                    <button class="btn btn-outline-primary btn-sm btn-add" type="button" data-collection="ignored_substitution_types">
                        <i class="fa fa-plus"></i> {{ 'actions.add'|trans }}
                    </button>
                </div>
            </div>

            {{ form_row(form.events_type) }}
            {{ form_row(form.remove_absences_on_event) }}
        </div>
    </div>

    <div class="card">
        <div class="card-header">{{ 'import.exams.label'|trans }}</div>

        <div class="card-body">
            {{ form_row(form.exam_writers) }}
            {{ form_row(form.ignore_options_regexp) }}
        </div>

        <div class="card-footer">
            <a href="{{ path('admin_settings_import') }}" class="btn btn-outline-primary btn-sm" target="_blank">
                <i class="fas fa-external-link-alt"></i> {{ 'admin.settings.import.exam_rules.label'|trans }}
            </a>
        </div>
    </div>

    <div class="card">
        <div class="card-header">{{ 'import.settings.students.label'|trans }}</div>

        <div class="card-body">
            <div class="bs-callout bs-callout-info">
                {{ 'import.settings.students.info'|trans }}
            </div>

            {{ form_row(form.student_id_format) }}
            {{ form_row(form.student_id_firstname_letters) }}
            {{ form_row(form.student_id_lastname_letters) }}
            {{ form_row(form.student_id_birthday_format) }}

            <div class="mb-3 row">
                <div class="col-md-2"></div>
                <div class="col-md-10">
                    <a href="{{ 'import.settings.students.birthday_format.url.url'|trans }}" class="btn btn-outline-primary btn-sm" target="_blank">
                        <i class="fas fa-external-link-alt"></i> {{ 'import.settings.students.birthday_format.url.label'|trans }}
                    </a>
                </div>
            </div>

            {{ form_row(form.student_id_separator) }}
        </div>

        <div class="card-footer">
            <span class="badge text-bg-primary">{{ 'import.settings.students.preview.label'|trans }}</span>
            {{ student_preview }}

            <span class="text-muted">{{ 'import.settings.students.preview.help'|trans }}</span>
        </div>
    </div>

    <div class="card">
        <div class="card-header">{{ 'import.settings.overrides.label'|trans }}</div>

        <div class="card-body">
            <p>
                {{ 'import.settings.overrides.help'|trans }}
            </p>

            <div class="rules" data-collection="overrides" data-prototype="{{ form_widget(form.overrides.vars.prototype)|e('html_attr') }}">
                {% for override in form.overrides %}
                    {{ form_widget(override) }}
                {% endfor %}
            </div>

            {{ form_errors(form.overrides) }}
            {{ form_help(form.overrides) }}

            {% do form.overrides.setRendered(true) %}
        </div>

        <div class="card-footer">
            <button class="btn btn-outline-primary btn-sm btn-add" type="button" data-collection="overrides">
                <i class="fa fa-plus"></i> {{ 'actions.add'|trans }}
            </button>
        </div>
    </div>

    <div class="card">
        <div class="card-header">{{ 'import.settings.week_overrides.label'|trans }}</div>
        <div class="card-body">
            <p>
                {{ 'import.settings.week_overrides.help'|trans }}
            </p>

            <div class="week_overrides" data-collection="week_overrides" data-prototype="{{ form_widget(form.week_overrides.vars.prototype)|e('html_attr') }}">
                {% for override in form.week_overrides %}
                    {{ form_widget(override) }}
                {% endfor %}
            </div>

            {{ form_errors(form.week_overrides) }}
            {{ form_help(form.week_overrides) }}

            {% do form.week_overrides.setRendered(true) %}
        </div>

        <div class="card-footer">
            <button class="btn btn-outline-primary btn-sm btn-add" type="button" data-collection="week_overrides">
                <i class="fa fa-plus"></i> {{ 'actions.add'|trans }}
            </button>
        </div>
    </div>

    <div class="card">
        <div class="card-header">{{ 'import.settings.weeks.label'|trans }}</div>

        <div class="card-body">
            <p>
                {{ 'import.settings.weeks.help'|trans }}
            </p>

            <div class="rules" data-collection="weeks" data-prototype="{{ form_widget(form.weeks.vars.prototype)|e('html_attr') }}">
                {% for week in form.weeks %}
                    {{ form_widget(week) }}
                {% endfor %}
            </div>

            {{ form_errors(form.weeks) }}
            {{ form_help(form.weeks) }}

            {% do form.weeks.setRendered(true) %}

            {{ form_row(form.import_weeks) }}
        </div>

        <div class="card-footer">
            <button class="btn btn-outline-primary btn-sm btn-add" type="button" data-collection="weeks">
                <i class="fa fa-plus"></i> {{ 'actions.add'|trans }}
            </button>

            <a href="{{ path('admin_timetable') }}" class="btn btn-outline-primary btn-sm" target="_blank">
                <i class="fas fa-external-link-alt"></i> {{ 'admin.timetable.weeks.label'|trans }}
            </a>
        </div>
    </div>
{% endblock %}