{% extends "admin/_form.html.twig" %}

{% block title %}{{ 'admin.absence_types.add.label'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('admin') }}">{{ 'admin.label'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('admin_absence_types') }}">{{ 'admin.absence_types.label_students'|trans }}</a></li>
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block inner %}
    {{ form_start(form) }}

    <div class="card">
        <div class="card-header">{{ 'label.general'|trans }}</div>

        <div class="card-body">
            {{ form_row(form.name) }}
            {{ form_row(form.details) }}
            {{ form_row(form.bookLabel) }}
            {{ form_row(form.mustApprove)}}
            {{ form_row(form.isTypeWithZeroAbsenceLessons)}}
            {{ form_row(form.bookAttendanceType)}}
            {{ form_row(form.bookExcuseStatus) }}
            {{ form_row(form.subjects) }}
            {{ form_row(form.notifySubjectTeacher) }}
            {{ form_row(form.flags) }}
            {{ form_row(form.allowedUserTypes)}}
        </div>
    </div>

    <div class="card">
        <div class="card-header">{{ 'label.additional_recipients.label'|trans }}</div>
        <div class="card-body">
            <p>{{ 'label.additional_recipients.help'|trans }}</p>

            <div data-collection="recipients" data-prototype="{{ form_widget(form.additionalRecipients.vars.prototype)|e('html_attr') }}">
                {% for recipient in form.additionalRecipients %}
                    {{ form_widget(recipient) }}
                {% endfor %}
            </div>

            {{ form_errors(form.additionalRecipients) }}
            {{ form_help(form.additionalRecipients) }}

            {% do form.additionalRecipients.setRendered %}
        </div>

        <div class="card-footer">
            <button class="btn btn-outline-primary btn-sm btn-add" type="button" data-collection="recipients">
                <i class="fa fa-plus"></i> {{ 'actions.add'|trans }}
            </button>
        </div>
    </div>

    <div class="buttons">
        <button type="submit" class="btn btn-primary btn-sm">
            <i class="fa fa-plus"></i> {{ 'actions.add'|trans }}
        </button>

        <a href="{{ path('admin_absence_types') }}" class="btn btn-secondary btn-sm">
            <i class="fa fa-arrow-left"></i> {{ 'actions.back'|trans }}
        </a>
    </div>

    {{ form_end(form) }}
{% endblock %}