{% extends "main.html.twig" %}

{% block title %}{{ 'admin.absence_types.label_students'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('admin') }}">{{ 'admin.label'|trans }}</a></li>
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% macro show_boolean(value, true_tooltip, false_tooltip) %}
    {% if value %}
        <i class="fa fa-check" title="{{ true_tooltip|trans }}"></i>
    {% else %}
        <i class="fa fa-times" title="{{ false_tooltip|trans }}"></i>
    {% endif %}
{% endmacro %}

{% block content %}
    {{ knp_menu_render('dataMenu', {'currentClass': 'active', 'template': 'admin/_menu.html.twig' }) }}

    <div class="container-fluid px-0">
        <div class="row">
            <div class="col-md-9">
                {% if absence_types|length == 0 %}
                    <div class="bs-callout bs-callout-info">
                        <h4>{{ 'info.label'|trans }}</h4>

                        <p>{{ 'admin.absence_types.empty'|trans }}</p>
                    </div>
                {% else %}
                    <div class="card">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover card-table">
                                <colgroup>
                                    <col>
                                    <col class="column-md">
                                    <col class="column-sm">
                                </colgroup>

                                <thead>
                                <tr>
                                    <th>{{ 'label.name'|trans }}</th>
                                    <th>{{ 'label.must_approve.label'|trans }}</th>
                                    <th></th>
                                </tr>
                                </thead>

                                <tbody>
                                {% for type in absence_types %}
                                    <tr>
                                        <td>
                                            {{ type.name }}
                                        </td>
                                        <td>
                                            {{ _self.show_boolean(type.mustApprove, 'label.must_approve.help', 'label.must_approve.help') }}
                                        </td>
                                        <td>
                                            <div class="dropdown">
                                                <button type="button" class="btn btn-outline-secondary btn-sm dropdown-toggle" data-bs-toggle="dropdown">
                                                    <i class="fas fa-ellipsis-v"></i>
                                                </button>

                                                <div class="dropdown-menu dropdown-menu-end">
                                                    <a href="{{ path('edit_absence_type', { uuid: type.uuid })}}" class="dropdown-item">
                                                        <i class="fa fa-edit"></i> {{ 'actions.edit'|trans }}
                                                    </a>

                                                    <a href="{{ path('remove_absence_type', { uuid: type.uuid })}}" class="dropdown-item text-danger">
                                                        <i class="fa fa-trash"></i> {{ 'actions.remove'|trans }}
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% endif %}
            </div>

            <div class="col-md-3">
                <div class="card">
                    <div class="list-group list-group-flush">
                        <a href="{{ path('add_absence_type') }}" class="list-group-item list-group-item-action">
                            <i class="fa fa-plus"></i> {{ 'admin.absence_types.add.label'|trans }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}