{% extends "main.html.twig" %}

{% block title %}{{ 'admin.label'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="card-deck mb-3">
        {% for item in menu.admin %}
            <div class="card">
                <a href="{{ item.uri }}" class="card-body">
                    <h5 class="card-title">{{ item.label|trans }}</h5>
                </a>
            </div>

            {% if loop.index % 4 == 0 %}
                </div>
                <div class="card-deck mb-3">
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}