{% extends "main.html.twig" %}

{% block title %}{{ 'admin.exams.add.label'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('admin') }}">{{ 'admin.label'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('admin_exams') }}">{{ 'admin.exams.label'|trans }}</a></li>
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block post_javascript %}
    <script src="{{ asset('build/tuition-choice-filter.js') }}"></script>
{% endblock %}

{% block content %}
    {{ knp_menu_render('dataMenu', {'currentClass': 'active', 'template': 'admin/_menu.html.twig' }) }}

    {{ form_start(form) }}

    <div class="card">
        <div class="card-header">{{ 'label.general'|trans }}</div>
        <div class="card-body">
            {{ form_row(form.date) }}
            {{ form_row(form.lessonStart) }}
            {{ form_row(form.lessonEnd) }}
            {{ form_row(form.description) }}
            {% if form.tuitionTeachersCanEditExam is defined %}
                {{ form_row(form.tuitionTeachersCanEditExam) }}
            {% endif %}
        </div>
    </div>

    <div class="card">
        <div class="card-header">{{ 'label.tuitions'|trans }}</div>
        <div class="card-body">
            {{ form_row(form.tuitions) }}

            <div class="my-2 row">
                <label for="tuition_filter" class="col-md-2 col-form-label">{{ 'label.filter'|trans }}</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" data-tuition-filter-target="#exam_tuitions">
                </div>
            </div>

            {{ form_row(form.addStudents) }}
        </div>
    </div>

    {{ form_widget(form) }}

    <div class="buttons">
        <button type="submit" class="btn btn-primary btn-sm">
            <i class="fa fa-plus"></i> {{ 'actions.add'|trans }}
        </button>

        <a href="{{ path('admin_exams') }}" class="btn btn-secondary btn-sm">
            <i class="fa fa-arrow-left"></i> {{ 'actions.back'|trans }}
        </a>
    </div>

    {{ form_end(form) }}
{% endblock %}