{% extends "main.html.twig" %}

{% block title %}{{ 'admin.exams.label'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('admin') }}">{{ 'admin.label'|trans }}</a></li>
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block content %}
    {{ knp_menu_render('dataMenu', {'currentClass': 'active', 'template': 'admin/_menu.html.twig' }) }}

    <div class="container-fluid px-0">
        <div class="row">
            <div class="col-md-9">
                {% if groups|length == 0 %}
                    <div class="bs-callout bs-callout-info">
                        <h5>{{ 'info.label'|trans }}</h5>

                        <p>{{ 'plans.exams.empty'|trans }}</p>
                    </div>
                {% endif %}

                {% for week in groups %}
                <div class="card">
                    <div class="card-header">
                        {% if week.weekOfYear is not null %}
                            {{ 'admin.exams.week'|trans({'%week%': week.weekOfYear.weekNumber}) }}
                        {% else %}
                            {{ 'plans.exams.not_planned'|trans }}
                        {% endif %}
                    </div>

                    <div class="table-responsive">
                        <table class="table table-striped table-hover card-table">
                            <colgroup>
                                <col class="column-md">
                                <col class="column-md">
                                <col>
                                <col class="column-md">
                                <col class="column-sm">
                            </colgroup>
                            <thead>
                            <tr>
                                <th>{{ 'label.date'|trans }}</th>
                                <th>{{ 'plans.exams.time'|trans }}</th>
                                <th>{{ 'label.tuitions'|trans }}</th>
                                <th>{{ 'label.students_simple'|trans }}</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for exam in week.exams %}
                                {% if week.weekOfYear is not null %}
                                    {% set errors = validation_errors(exam) %}
                                {% endif %}
                                <tr {% if errors|default([])|length > 0 %} class="table-warning"{% endif %}>
                                    <td class="align-middle">
                                        {% if exam.date is not null %}
                                            {{ exam.date|format_date }}
                                        {% else %}
                                            <span class="badge text-bg-danger">{{ 'plans.exams.not_planned'|trans }}</span>
                                        {% endif %}
                                    </td>
                                    <td class="align-middle">
                                        {% if exam.lessonStart > 0 and exam.lessonEnd > 0 %}
                                            {{ 'label.exam_lessons'|trans({'%start%': exam.lessonStart, '%end%': exam.lessonEnd, '%count%': (exam.lessonEnd - exam.lessonStart)}) }}
                                        {% else %}
                                            <span class="badge text-bg-danger">{{ 'plans.exams.not_planned'|trans }}</span>
                                        {% endif %}
                                    </td>
                                    <td class="align-middle">
                                        {% for tuition in exam.tuitions %}
                                            {{ tuition.name }} ({% for grade in tuition.studyGroup.grades %}{{ grade.name }}{% if not loop.last %}, {% endif %}{% endfor %})
                                            {%- if not loop.last %}, {% endif %}
                                        {% endfor %}
                                        {% if errors|default([])|length > 0 %}
                                        <br>
                                        {% endif %}
                                        {% for error in errors|default([]) %}
                                            <i class="fa fa-exclamation-triangle" title="{{ error.message|trans(error.parameters) }}"></i>
                                        {% endfor %}
                                    </td>
                                    <td class="align-middle">
                                        {% if exam.students|length == 0 %}
                                            <i class="fa fa-exclamation-triangle"></i>
                                        {% endif %}

                                        {{ exam.students|length }}
                                    </td>
                                    <td class="align-middle">
                                        <div class="dropdown">
                                            <button type="button" class="btn btn-outline-secondary btn-sm dropdown-toggle" data-bs-toggle="dropdown">
                                                <i class="fas fa-ellipsis-v"></i>
                                            </button>

                                            <div class="dropdown-menu dropdown-menu-end">
                                                {% if is_granted('edit', exam) %}
                                                    <a href="{{ path('edit_exam', { uuid: exam.uuid }) }}" class="dropdown-item">
                                                        <i class="fa fa-edit"></i> {{ 'actions.edit'|trans }}
                                                    </a>

                                                    <a href="{{ path('edit_exam_students', { uuid: exam.uuid }) }}" class="dropdown-item">
                                                        <i class="fa fa-users"></i> {{ 'admin.exams.students.label'|trans }}
                                                    </a>
                                                {% endif %}

                                                {% if is_granted('unplan', exam) and exam.date is not null %}
                                                    <a href="{{ path('unplan_exam', { uuid: exam.uuid }) }}" class="dropdown-item">
                                                        <i class="fa fa-trash"></i> {{ 'admin.exams.unplan.label'|trans }}
                                                    </a>
                                                {% endif %}

                                                {% if is_granted('remove', exam) %}
                                                    <a href="{{ path('remove_exam', { uuid: exam.uuid }) }}" class="dropdown-item text-danger">
                                                        <i class="fa fa-trash"></i> {{ 'actions.remove'|trans }}
                                                    </a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                {% endfor %}

                {% include '@Common/includes/pagination.html.twig' with {
                    currentFilters: {
                        section: sectionFilter.currentSection ? sectionFilter.currentSection.uuid.toString : null,
                        grade: gradeFilter.currentGrade ? gradeFilter.currentGrade.uuid.toString : null,
                        teacher: teacherFilter.currentTeacher ? teacherFilter.currentTeacher.uuid.toString : null,
                        student: studentFilter.currentStudent ? studentFilter.currentStudent.uuid.toString : null
                    },
                    currentPage: page,
                    paginationPath: 'admin_exams',
                    lastPage: pages,
                    showAlwaysFirstAndLast: true
                } only %}
            </div>

            <div class="col-md-3">
                {% if is_granted('new-exam') %}
                <div class="card">
                    <div class="list-group list-group-flush">
                        <a href="{{ path('new_exam') }}" class="list-group-item list-group-item-action">
                            <i class="fas fa-plus"></i> {{ 'admin.exams.add.label'|trans }}
                        </a>
                        <a href="{{ path('bulk_exams') }}" class="list-group-item list-group-item-action">
                            <i class="fas fa-plus"></i> {{ 'admin.exams.bulk.label'|trans }}
                        </a>
                        {% if is_granted('ROLE_EXAMS_ADMIN') %}
                            <a href="{{ path('reassign_student_exams', { student: studentFilter.currentStudent ? studentFilter.currentStudent.uuid.toString : null}) }}" class="list-group-item list-group-item-action">
                                <i class="fas fa-sync"></i> {{ 'admin.exams.reassign.label'|trans }}
                            </a>
                        {% endif %}
                    </div>
                </div>
                {% endif %}

                <div class="card">
                    <div class="card-body">
                        {% set section = sectionFilter.currentSection ? sectionFilter.currentSection.uuid.toString : null %}
                        {% set teacher = teacherFilter.currentTeacher ? teacherFilter.currentTeacher.uuid.toString : null %}
                        {% set grade = gradeFilter.currentGrade ? gradeFilter.currentGrade.uuid.toString : null %}
                        {% set student = studentFilter.currentStudent ? studentFilter.currentStudent.uuid.toString : null %}

                        {% include "_filter/section.html.twig" with { currentFilter: { teacher: teacher, grade: grade, student: student } } %}

                        {% if gradeFilter.grades|length > 0 %}
                            {% include "_filter/grade.html.twig" with { currentFilter: { section: section } } %}
                        {% endif %}

                        {% if teacherFilter.teachers|length > 0 %}
                            {% include "_filter/teacher.html.twig" with { currentFilter: { section: section }, allowClear: true, path: 'admin_exams' } %}
                        {% endif %}

                        {% if studentFilter.studentCount > 0 %}
                            {% include "_filter/student.html.twig" with { currentFilter: { section: section, class: 'mb-0' }} %}
                        {% endif %}
                    </div>

                    <div class="card-footer">
                        <a href="{{ path('admin_exams') }}" class="btn btn-primary btn-sm">{{ 'filter.reset'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}