{% extends "main.html.twig" %}

{% block title %}{{ 'plans.appointments.label'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% macro applyAllFilters(exclude, studentFilter, gradeFilter, categoryFilter, query) %}
    {% if exclude != 'studentId' and studentFilter.currentStudent != null %}
        <input type="hidden" name="studentId" value="{{ studentFilter.currentStudent.id }}">
    {% endif %}
    {% if exclude != 'gradeId' and gradeFilter.currentGrade != null %}
        <input type="hidden" name="gradeId" value="{{ gradeFilter.currentGrade.id }}">
    {% endif %}
    {% if exclude != 'categoryId' and categoryFilter != null and categoryFilter.currentCategories|length > 0 %}
        {% for c in categoryFilter.currentCategories %}<input type="hidden" name="categoryId[]" value="{{ c.id }}">{% endfor %}
    {% endif %}
    {% if exclude != 'query' and query != null %}
        <input type="hidden" name="query" value="{{ query }}">
    {% endif %}
{% endmacro %}

{% block post_javascript %}
    <script src="{{ asset('build/appointments.js') }}"></script>
{% endblock %}

{% block css %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('build/appointments.css') }}" type="text/css">
{% endblock %}

{% block content %}

    {% include "_messages.html.twig" %}

    <div id="appointments" data-url="{{ path('appointments_xhr') }}">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    {% if studentFilter.studentGradeGroups|length > 0 %}
                        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                            {% include "_filter/student.html.twig" with { trigger: 'none' } %}
                        </div>
                    {% endif %}

                    {% if studyGroupFilter.studyGroupGroups|length > 0 %}
                        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                            {% include "_filter/study_group.html.twig" with { trigger: 'none' } %}
                        </div>
                    {% endif %}

                    {% if teacherFilter.teachers|length > 0 %}
                        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                            {% include "_filter/teacher.html.twig" with { trigger: 'none' } %}
                        </div>
                    {% endif %}

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <form role="form" method="get" class="form hidden-print">
                            <div class="form-group">
                                <label for="categories" class="control-label">{{ 'label.categories'|trans }}:</label>
                                <select name="categoryIds" multiple="multiple" id="categories" class="form-control" data-choice="true" placeholder="{{ 'label.select.category'|trans }}">
                                    {% for c in categoryFilter.categories %}
                                    <option data-custom-properties="{{ c.color }}" value="{{ c.id }}" {% if c in categoryFilter.currentCategories %}selected="selected"{% endif %}>{{ c.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div id="calendar"></div>
            </div>
        </div>
    </div>

    {#

    {% if groups|length == 0 %}
        <div class="bs-callout bs-callout-info">
            <h4>{{ 'info.label'|trans }}</h4>
            <p>{{ 'plans.appointments.empty'|trans }}</p>
        </div>
    {% else %}
        <div class="card">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs" role="tablist">
                    {% for group in groups %}
                        <li class="nav-item">
                            <a data-toggle="tab" role="tab" id="events-{{ group.year }}-{{ group.month }}-tab" aria-controls="{{ group.year }}-{{ group.month }}" href="#events-{{ group.year }}-{{ group.month }}" class="nav-link {% if loop.first %}active{% endif %}">
                                <i class="fas fa-calendar"></i> {{ ('date.months.' ~ group.month)|trans }} {{ group.year }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content">
                    {% for group in groups %}
                        <div class="tab-pane fade {% if loop.first %}show active{% endif %}" id="events-{{ group.year }}-{{ group.month}}" role="tabpanel" aria-labelledby="{{ group.year }}-{{ group.month }}-tab">
                            {% for appointment in group.appointments %}
                                {% include "_includes/appointment.html.twig" with { appointment: appointment } only %}
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}

    #}

    <div class="buttons">
        <a href="{{ path('appointments_export') }}" class="btn btn-primary btn-sm">{{ 'plans.appointments.export.label'|trans }}</a>
    </div>

{% endblock %}