{% extends "main.html.twig" %}

{% block title %}{{ 'plans.appointments.label'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block post_javascript %}
    <script src="{{ asset('build/appointments.js') }}"></script>
{% endblock %}

{% block css %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('build/appointments.css') }}" type="text/css">
{% endblock %}

{% block content %}
    <div class="container-fluid px-0" id="appointments" data-url="{{ path('appointments_xhr') }}">
        <div class="row">
            <div class="col-md-9">

                {% include "_messages.html.twig" %}

                <div class="card">
                    <div class="card-body">
                        <div id="calendar"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="list-group list-group-flush">
                        <a href="{{ path('appointments_export') }}" class="list-group-item list-group-item-action">
                            <i class="fas fa-download"></i> {{ 'plans.appointments.export.label'|trans }}
                        </a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        {% if studentFilter.studentGradeGroups|length > 0 %}
                            {% include "_filter/student.html.twig" with { trigger: 'none' } %}
                        {% endif %}

                        {% if studyGroupFilter.studyGroupGroups|length > 0 %}
                            {% include "_filter/study_group.html.twig" with { trigger: 'none' } %}
                        {% endif %}

                        {% if teacherFilter.teachers|length > 0 %}
                            {% include "_filter/teacher.html.twig" with { trigger: 'none' } %}
                        {% endif %}

                        <form role="form" method="get" class="form hidden-print mb-2">
                            <div class="form-group">
                                <label for="categories" class="control-label">{{ 'label.categories'|trans }}:</label>
                                <select name="categories" multiple="multiple" id="categories" class="form-control" data-choice="true">
                                    <option value="">{{ 'label.select.category'|trans }}</option>
                                    {% for c in categoryFilter.categories %}
                                        <option data-custom-properties="{{ c.color }}" value="{{ c.uuid }}" {% if c in categoryFilter.currentCategories %}selected="selected"{% endif %}>{{ c.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </form>

                        <form role="form" method="get">
                            <div class="form-group mb-0">
                                <label for="exam_grades" class="control-label">{{ 'plans.appointments.filter.exam_grades.label'|trans }}:</label>
                                <select name="exam_grades" multiple="multiple" id="exam_grades" class="form-control" data-choice="true">
                                    <option value="">{{ 'plans.appointments.filter.exam_grades.placeholder'|trans }}</option>
                                    {% for g in examGradesFilter.grades %}
                                        <option value="{{ g.uuid }}" {% if g in examGradesFilter.currentGrades %}selected="selected"{% endif %}>{{ g.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer">
                        <a href="{{ path('appointments') }}" class="btn btn-primary btn-sm">{{ 'filter.reset'|trans }}</a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        {{ 'label.categories'|trans }}
                    </div>

                    <ul class="list-group list-group-flush">
                        {% for category in categoryFilter.categories %}
                            <li class="list-group-item"><span class="color-rect" style="background: {{ category.color }}"></span> {{ category.name}} </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}