{% extends "main.html.twig" %}

{% block title %}{{ 'plans.appointments.label'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% macro applyAllFilters(exclude, studentFilter, gradeFilter, categoryFilter, query) %}
    {% if exclude != 'studentId' and studentFilter.currentStudent != null %}
        <input type="hidden" name="studentId" value="{{ studentFilter.currentStudent.id }}">
    {% endif %}
    {% if exclude != 'gradeId' and gradeFilter.currentGrade != null %}
        <input type="hidden" name="gradeId" value="{{ gradeFilter.currentGrade.id }}">
    {% endif %}
    {% if exclude != 'categoryId' and categoryFilter != null and categoryFilter.currentCategories|length > 0 %}
        {% for c in categoryFilter.currentCategories %}<input type="hidden" name="categoryId[]" value="{{ c.id }}">{% endfor %}
    {% endif %}
    {% if exclude != 'query' and query != null %}
        <input type="hidden" name="query" value="{{ query }}">
    {% endif %}
{% endmacro %}

{% block post_javascript %}
    <script src="{{ asset('build/appointments.js') }}"></script>
{% endblock %}

{% block css %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('build/appointments.css') }}" type="text/css">
{% endblock %}

{% block content %}
    <div class="container-fluid px-0" id="appointments" data-url="{{ path('appointments_xhr') }}">
        <div class="row">
            <div class="col-md-9">

                {% include "_messages.html.twig" %}

                <div class="card">
                    <div class="card-body">
                        <div id="calendar"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="list-group list-group-flush">
                        <div class="buttons">
                            <a href="{{ path('appointments_export') }}" class="list-group-item list-group-item-action">
                                <i class="fas fa-download"></i> {{ 'plans.appointments.export.label'|trans }}
                            </a>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        {% if studentFilter.studentGradeGroups|length > 0 %}
                            {% include "_filter/student.html.twig" with { trigger: 'none' } %}
                        {% endif %}

                        {% if studyGroupFilter.studyGroupGroups|length > 0 %}
                            {% include "_filter/study_group.html.twig" with { trigger: 'none' } %}
                        {% endif %}

                        {% if teacherFilter.teachers|length > 0 %}
                            {% include "_filter/teacher.html.twig" with { trigger: 'none' } %}
                        {% endif %}

                        <form role="form" method="get" class="form hidden-print">
                            <div class="form-group">
                                <label for="categories" class="control-label">{{ 'label.categories'|trans }}:</label>
                                <select name="categoryIds" multiple="multiple" id="categories" class="form-control" data-choice="true" placeholder="{{ 'label.select.category'|trans }}">
                                    {% for c in categoryFilter.categories %}
                                        <option data-custom-properties="{{ c.color }}" value="{{ c.id }}" {% if c in categoryFilter.currentCategories %}selected="selected"{% endif %}>{{ c.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}