{% extends "main.html.twig" %}

{% block title %}{{ 'plans.appointments.label'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% macro applyAllFilters(exclude, studentFilter, gradeFilter, categoryFilter, query) %}
    {% if exclude != 'studentId' and studentFilter.currentStudent != null %}
        <input type="hidden" name="studentId" value="{{ studentFilter.currentStudent.id }}">
    {% endif %}
    {% if exclude != 'gradeId' and gradeFilter.currentGrade != null %}
        <input type="hidden" name="gradeId" value="{{ gradeFilter.currentGrade.id }}">
    {% endif %}
    {% if exclude != 'categoryId' and categoryFilter.currentCategory != null %}
        <input type="hidden" name="categoryId" value="{{ categoryFilter.currentCategory.id }}">
    {% endif %}
    {% if exclude != 'query' and query != null %}
        <input type="hidden" name="query" value="{{ query }}">
    {% endif %}
{% endmacro %}

{% block content %}

    {% include "_messages.html.twig" %}

    <div class="card">
        <div class="card-body">
            <div class="row">
                {% if studentFilter.studentGradeGroups|length > 0 %}
                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                        {% include "_filter/student.html.twig" %}
                    </div>
                {% endif %}

                {% if gradeFilter.grades|length > 0 %}
                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                        {% include "_filter/grade.html.twig" %}
                    </div>
                {% endif %}

                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <form role="form" method="get" class="form hidden-print">
                        {{ _self.applyAllFilters('categoryId', studentFilter, gradeFilter, categoryFilter, query) }}

                        <div class="form-group">
                            <label for="category" class="control-label">{{ 'label.category'|trans }}:</label>
                            <select name="categoryId" id="category" class="form-control" data-trigger="submit" data-choice="true">
                                <option value="" placeholder>{{ 'label.select.category'|trans }}</option>
                                {% for c in categoryFilter.categories %}
                                <option data-custom-properties="{{ c.color }}" value="{{ c.id }}" {% if categoryFilter.currentCategory != null and categoryFilter.currentCategory.id == c.id %}selected="selected"{% endif %}>{{ c.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </form>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <form role="form" method="get" class="form hidden-print">
                        {{ _self.applyAllFilters('show-all', studentFilter, gradeFilter, categoryFilter, query) }}

                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" name="showAll" value="true" class="custom-control-input" id="show-all" data-trigger="submit" {% if showAll %}checked="checked"{% endif %}>
                                <label class="custom-control-label" for="show-all">{{ 'plans.appointments.filter.show_past'|trans }}</label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% if groups|length == 0 %}
        <div class="bs-callout bs-callout-info">
            <h4>{{ 'info.label'|trans }}</h4>
            <p>{{ 'plans.appointments.empty'|trans }}</p>
        </div>
    {% else %}
        <div class="card">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs" role="tablist">
                    {% for group in groups %}
                        <li class="nav-item">
                            <a data-toggle="tab" role="tab" id="events-{{ group.year }}-{{ group.month }}-tab" aria-controls="{{ group.year }}-{{ group.month }}" href="#events-{{ group.year }}-{{ group.month }}" class="nav-link {% if loop.first %}active{% endif %}">
                                <i class="fas fa-calendar"></i> {{ ('date.months.' ~ group.month)|trans }} {{ group.year }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content">
                    {% for group in groups %}
                        <div class="tab-pane fade {% if loop.first %}show active{% endif %}" id="events-{{ group.year }}-{{ group.month}}" role="tabpanel" aria-labelledby="{{ group.year }}-{{ group.month }}-tab">
                            {% for appointment in group.appointments %}
                                {% include "_includes/appointment.html.twig" with { appointment: appointment } only %}
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}

    <div class="buttons">
        <a href="{{ path('appointments_export') }}" class="btn btn-primary btn-sm">{{ 'plans.appointments.export.label'|trans }}</a>
    </div>

{% endblock %}