{% extends "main.html.twig" %}

{% block title %}{{ 'book.attendance.export.schild_lernabschnittsdaten.label'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('book') }}">{{ 'book.label'|trans }}</a></li>
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block post_javascript %}
    <script src="{{ asset('build/book-schild-lernabschnittsdaten.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="container-fluid px-0">
        <div class="row">
            <div class="col-md-9">
                <div class="card">
                    <div class="card-body">
                        <form>
                            <div class="row mb-3">
                                <label class="col-form-label col-sm-2" for="file">SchuelerLernabschnittsdaten.dat</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="file" id="file">

                                </div>
                            </div>

                            <div class="row mb-3">
                                <label class="col-form-label col-sm-2" for="file">{{ 'book.attendance.export.schild_lernabschnittsdaten.until_date.label'|trans }}</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="date" id="date">

                                    <div class="form-text mb-0 help-text">
                                        {{ 'book.attendance.export.schild_lernabschnittsdaten.until_date.help'|trans }}
                                    </div>
                                </div>
                            </div>

                            <button type="button" id="export" class="btn btn-primary btn-sm" data-endpoint="{{ path('nrw_schild_lernabschnittsdaten_export_json_bulk') }}"><i class="fas fa-download"></i> {{ 'book.grades.export.schild_leistungsdaten.button'|trans }}</button>
                        </form>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <div id="progress" class="progress" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 0%"></div>
                        </div>

                        <div id="output"></div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            <i class="fas fa-info-circle"></i> {{ 'info.label'|trans }}
                        </h5>

                        <p>{{ 'book.attendance.export.schild_lernabschnittsdaten.info'|trans }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

