{% extends "main.html.twig" %}

{% block title %}{{ 'admin.apps.edit.label'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('admin') }}">{{ 'admin.label'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('admin_apps') }}">{{ 'admin.apps.label'|trans }}</a></li>
        <li class="breadcrumb-item">{{ client.name }}</li>
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block post_javascript %}
    <script src="{{ asset('build/collection.js') }}"></script>
{% endblock %}

{% block content %}
    {{ knp_menu_render('dataMenu', {'currentClass': 'active', 'template': 'admin/_menu.html.twig' }) }}

    {{ form_start(form) }}

    <div class="card">
        <div class="card-header">{{ 'label.general'|trans }}</div>

        <div class="card-body">
            {{ form_row(form.name) }}
            {{ form_row(form.description) }}
            {{ form_row(form.active) }}
        </div>
    </div>

    <div class="card">
        <div class="card-header">{{ 'admin.apps.edit.info.label'|trans }}</div>

        <div class="card-body">
            {{ form_row(form.identifier) }}
            {{ form_row(form.secret) }}
            {{ form_row(form.grants) }}
            {{ form_row(form.scopes) }}
        </div>
    </div>

    <div class="card">
        <div class="card-header">{{ 'admin.apps.edit.redirect_uri.label'|trans }}</div>

        <div class="card-body">
            <div class="redirect_uris" data-collection="redirect_uris" data-prototype="{{ form_widget(form.redirect_uris.vars.prototype)|e('html_attr') }}">
                {% for uri in form.redirect_uris %}
                    {{ form_widget(uri) }}
                {% endfor %}

                {% do form.redirect_uris.setRendered() %}
            </div>

            {{ form_errors(form.redirect_uris) }}
        </div>

        <div class="card-footer">
            <button class="btn btn-outline-primary btn-sm btn-add" type="button" data-collection="redirect_uris">
                <i class="fa fa-plus"></i> {{ 'actions.add'|trans }}
            </button>
        </div>
    </div>

    <div class="buttons">
        <button type="submit" class="btn btn-primary btn-sm">
            <i class="fa fa-save"></i> {{ 'actions.save'|trans }}
        </button>

        <a href="{{ path('admin_apps') }}" class="btn btn-secondary btn-sm">
            <i class="fa fa-arrow-left"></i> {{ 'actions.back'|trans }}
        </a>
    </div>

    {{ form_end(form) }}
{% endblock %}