{% extends "main.html.twig" %}

{% block title %}{{ 'absences.students.label'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block content %}
    {% set currentFilter = {
        section: sectionFilter.currentSection ? sectionFilter.currentSection.uuid.toString : null,
        teacher: (isTeacherX ? '✗' : (teacherFilter.currentTeacher ? teacherFilter.currentTeacher.uuid.toString : null)),
        student: studentFilter.currentStudent ? studentFilter.currentStudent.uuid.toString : null,
        grade: gradeFilter.currentGrade ? gradeFilter.currentGrade.uuid.toString : null,
        type: typeFilter.currentType ? typeFilter.currentType.uuid.toString : null
    } %}

    <div class="container-fluid px-0">
        <div class="row">
            <div class="col-md-9">
                {% if groups|length == 0 %}
                    <div class="bs-callout bs-callout-info">
                        <h5>{{ 'info.label'|trans }}</h5>

                        <p>{{ 'absences.students.empty'|trans }}</p>
                    </div>
                {% else %}
                    {% if teacherFilter.currentTeacher is not null %}
                        <div class="bs-callout bs-callout-info">
                            <h5>{{ 'info.label'|trans }}</h5>
                            <p>{{ 'absences.students.teacher_info'|trans }}</p>
                        </div>
                    {% endif %}

                    {% for group in groups %}
                        <div class="card">
                            <div class="card-header">
                                {% if group.tuition is defined and group.tuition is instanceof('App\\Entity\\Tuition') %}
                                    {% set tuition = group.tuition %}

                                    {% if tuition.displayName is not empty %}
                                        {{ tuition.displayName }}
                                    {% else %}
                                        {{ tuition.name }}
                                    {% endif %} ({{ tuition.subject.name }})

                                    {% for grade in tuition.studyGroup.grades %}<span class="badge text-bg-primary">{{ grade.name }}</span> {% endfor %}
                                {% elseif group.student is defined and group.student is instanceof('App\\Entity\\Student') %}
                                    {{ group.student|student }}
                                {% elseif group.grade is defined and group.grade is instanceof('App\\Entity\\Grade') %}
                                    {{ group.grade.name }}
                                {% else %}
                                    {{ 'label.students_simple'|trans }}
                                {% endif %}
                            </div>

                            <div class="list-group list-group-flush">
                                {% for absence in group.absences %}
                                    <a href="{{ path('show_student_absence', { uuid: absence.uuid }) }}"
                                       class="list-group-item list-group-item-action d-flex justify-content-between align-items-start">
                                        <div class="me-auto">
                                            <div>
                                                {{ absence.type.name }}

                                                {% if absence.type.mustApprove %}
                                                    {% if absence.approvedAt is null %}
                                                        <span class="badge text-bg-warning">
                                                            {{ 'absences.students.approval.pending'|trans }}
                                                        </span>
                                                    {% else %}
                                                        {% if absence.isApproved %}
                                                            <span class="badge text-bg-success">
                                                                {{ 'absences.students.approval.approved'|trans }}
                                                            </span>
                                                        {% else %}
                                                            <span class="badge text-bg-danger">
                                                                {{ 'absences.students.approval.not_approved'|trans }}
                                                            </span>
                                                        {% endif %}
                                                    {% endif %}
                                                {% endif %}

                                                {% if absence.until.date >= today %}
                                                    <span class="badge text-bg-primary">
                                                        {{ 'absences.active'|trans }}
                                                    </span>
                                                {% endif %}

                                                {% set status = excuseStatus[absence.uuid.toString]|default(null) %}
                                                {% if status is not null %}
                                                    {% if status.isCompletelyExcused %}
                                                        <span class="badge text-bg-success">{{ 'absences.students.excuse_status.excused'|trans }}</span>
                                                    {% else %}
                                                        <span class="badge text-bg-warning">{{ 'absences.students.excuse_status.not_excused'|trans }}</span>
                                                    {% endif %}
                                                {% endif %}
                                            </div>

                                            <div class="d-flex align-items-baseline flex-wrap">
                                                <div class="me-2">
                                                    {% set grade = absence.student.grade(section) %}
                                                    {% if grade is not null %}
                                                        <span class="badge text-bg-secondary">{{ grade.name }}</span>
                                                    {% else %}
                                                        <span class="badge text-bg-warning">{{ 'label.not_available'|trans }}</span>
                                                    {% endif %}

                                                    {{ absence.student|student }}
                                                </div>
                                                <div class="me-2">
                                                    <i class="fas fa-calendar"></i> {{ absence.from.date|format_date }} ({{ 'label.exam_lessons'|trans({'%start%': absence.from.lesson, '%count%': 0}) }}) - {{ absence.until.date|format_date }} ({{ 'label.exam_lessons'|trans({'%start%': absence.until.lesson, '%count%': 0}) }})
                                                </div>
                                            </div>
                                        </div>

                                        <div>
                                            {% if absence.messages|length > 0 %}
                                                <span class="badge text-bg-secondary"><i class="fas fa-comment"></i> {{ absence.messages|length }}</span>
                                            {% endif %}
                                            {% if absence.attachments|length > 0 %}
                                                <span class="badge text-bg-secondary"><i class="fa-solid fa-paperclip"></i> {{ absence.attachments|length }}</span>
                                            {% endif %}
                                        </div>
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}

                    {% include '@Common/includes/pagination.html.twig' with {
                        currentFilters: currentFilter,
                        currentPage: page,
                        paginationPath: 'student_absences',
                        lastPage: pages,
                        showAlwaysFirstAndLast: true
                    } only %}
                {% endif %}
            </div>
            <div class="col-md-3 sticky-sidebar">
                <div class="card">
                    <div class="list-group list-group-flush">
                        {% if is_granted('new-absence') %}
                            <a href="{{ path('add_student_absence') }}" class="list-group-item list-group-item-action">
                                <i class="fa fa-plus"></i> {{ 'absences.students.add.label'|trans }}
                            </a>
                        {% endif %}
                        {% if is_granted('new-absence-bulk') %}
                            <a href="{{ path('add_student_absence_bulk') }}" class="list-group-item list-group-item-action">
                                <i class="fa fa-plus"></i> {{ 'absences.students.add_bulk.label'|trans }}
                            </a>
                        {% endif %}
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        {% include "_filter/section.html.twig" %}

                        {% if teacherFilter.teachers|length > 0 %}
                            {% include "_filter/teacher.html.twig" with { allowClear: true, path: 'student_absences' } %}
                        {% endif %}

                        {% include "_filter/student.html.twig" %}

                        {% if gradeFilter.grades|length > 0 %}
                            {% include "_filter/grade.html.twig" %}
                        {% endif %}

                        <form role="form" method="get" class="form hidden-print">
                            {% include "_filter/_params.html.twig" with { params: currentFilter|merge({reason: null}) } %}

                            <div class="mb-3">
                                <label for="type" class="form-label">{{ 'label.type'|trans }}</label>
                                <select name="type" id="type" class="form-control" data-trigger="submit" data-choice="true">
                                    <option value="" placeholder>{{ 'label.all'|trans() }}</option>
                                    {% for type in typeFilter.types %}
                                    <option value="{{ type.uuid }}" {% if typeFilter.currentType != null and typeFilter.currentType == type %}selected="selected"{% endif %}>
                                        {{ type.name }}
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </form>
                    </div>

                    <div class="card-footer">
                        <a href="{{ path('student_absences') }}" class="btn btn-primary btn-sm">
                            {{ 'filter.reset'|trans }}
                        </a>
                    </div>
                </div>

                <div class="w-100">
                    <a href="#" class="btn btn-primary btn-sm float-right" data-trigger="scroll">
                        <i class="fa fa-arrow-up"></i> {{ 'actions.top'|trans }}
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}