{% extends "main.html.twig" %}

{% block title %}{{ 'tools.grade_teacher_intersection.label'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('tools') }}">{{ 'tools.label'|trans }}</a></li>
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block content %}
    {{ knp_menu_render('toolsMenu', {'currentClass': 'active', 'template': 'admin/tools/_menu.html.twig' }) }}

    {{ form_start(form) }}

    <div class="card">
        <div class="card-body">
            {{ form_widget(form) }}
        </div>
    </div>

    <div class="buttons">
        <button type="submit" class="btn btn-primary btn-sm">
            <i class="fa fa-play"></i> {{ 'actions.submit'|trans }}
        </button>
    </div>

    {{ form_end(form) }}

    {% if intersections is not null %}
        <div class="card mt-3">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover card-table">
                    <thead>
                    <tr>
                        <th>{{ 'label.grade'|trans }}</th>
                        <th>{{ 'label.grade'|trans }}</th>
                        <th>{{ 'tools.grade_teacher_intersection.intersection'|trans }}</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for intersection in intersections %}
                        <tr>
                            <td>{{ intersection.leftGrade.name }}</td>
                            <td>{{ intersection.rightGrade.name }}</td>
                            <td>{{ intersection.intersection|join(', ') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
{% endblock %}