{% extends "main.html.twig" %}

{% block title %}{{ 'chat.label'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="container-fluid px-0">
        <div class="row">
            <div class="col-md-9">
                {% if chats|length == 0 %}
                    <div class="bs-callout bs-callout-info">
                        <h5>{{ 'info.label'|trans }}</h5>

                        <p>{{ 'chat.empty'|trans }}</p>
                    </div>
                {% else %}
                    <div class="card">
                        <div class="list-group list-group-flush">
                            {% for chat in chats %}
                                <a href="{{ path('show_chat', { uuid: chat.uuid }) }}" class="list-group-item list-group-item-action">
                                    <div class="d-flex align-items-baseline">
                                        <span class="flex-fill">
                                            {% if unreadCount[chat.id] is defined and unreadCount[chat.id] > 0 %}
                                                <span class="badge text-bg-danger">
                                                    <i class="fas fa-asterisk"></i> {{ unreadCount[chat.id] }}
                                                </span>

                                                <span class="fw-semibold">{{- chat.topic -}}</span>
                                            {% else %}
                                                {{- chat.topic -}}
                                            {% endif %}
                                        </span>

                                        {% for tag in userTags[chat.id] %}
                                            <span class="badge ms-2 d-none d-md-inline-block" style="background: {{ tag.color }}; color: {{ foreground(tag.color) }}">{{ tag.name }}</span>
                                        {% endfor %}

                                        {% set lastMessageDate = lastMessageDates[chat.id] %}
                                        {% if lastMessageDate is not null %}
                                            <span class="badge text-bg-secondary ms-2">
                                                <i class="fas fa-clock"></i> {{ lastMessageDate|format_datetime }}
                                            </span>
                                        {% endif %}

                                        <span class="badge text-bg-secondary ms-2">
                                            <i class="fa-regular fa-comments"></i> {{ messagesCount[chat.id] }}
                                        </span>

                                        {% if attachmentsCount[chat.id] > 0 %}
                                            <span class="badge text-bg-secondary ms-2">
                                            <i class="fa-solid fa-paperclip"></i> {{ attachmentsCount[chat.id] }}
                                        </span>
                                        {% endif %}
                                    </div>
                                    <div class="text-muted">
                                        {% for user in chat.participants %}
                                            {% if app.user != user %}
                                                <i class="fa fa-user"></i> {{ user|fancy_user }}
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="col-md-3 sticky-sidebar">
                <div class="card">
                    <div class="list-group list-group-flush">
                        <a href="{{ path('new_chat') }}" class="list-group-item list-group-item-action">
                            <i class="fa fa-plus"></i> {{ 'chat.add.label'|trans }}
                        </a>
                    </div>
                </div>

                {% if tagFilter.enabled %}
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><i class="fas fa-filter"></i> {{ 'chat.tags.filter'|trans }}</h5>
                        </div>

                        <div class="list-group list-group-flush">
                            {% for tag in tagFilter.tags %}
                                <a href="{{ path('chats', { tag: tag.uuid }) }}" class="list-group-item list-group-item-action {% if tagFilter.currentTag != null and tagFilter.currentTag.uuid == tag.uuid %}active{% endif %}">
                                    <span class="badge" style="background: {{ tag.color }}; color: {{ foreground(tag.color) }}">{{ tag.name }}</span>
                                </a>
                            {% endfor %}
                        </div>

                        <div class="card-footer">
                            <a href="{{ path('chats') }}" class="btn btn-primary btn-sm">
                                {{ 'filter.reset'|trans }}
                            </a>
                        </div>
                    </div>
                {% endif %}

                <div class="w-100">
                    <a href="#" class="btn btn-primary btn-sm float-right" data-trigger="scroll">
                        <i class="fa fa-arrow-up"></i> {{ 'actions.top'|trans }}
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}