{% extends "admin/_main.html.twig" %}

{% block title %}{{ 'admin.wiki.label'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('admin') }}">{{ 'admin.label'|trans }}</a></li>
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% macro wiki_article(article, paddingLeft) %}
    <tr>
        <td class="align-middle">
            <span style="padding-left: {{ paddingLeft }}px;"></span> {% if paddingLeft > 0 %}┗{% endif %}
            {{ article.title }}

            {% include "_includes/_id.html.twig" with { id: article.id } %}
        </td>
        <td class="align-middle">
            {% if article.isOnline %}
                <span class="badge text-bg-success">{{ 'label.online'|trans }}</span>
            {% else %}
                <span class="badge text-bg-danger">{{ 'label.offline'|trans }}</span>
            {% endif %}
        </td>
        <td class="align-middle">
            {% for visibility in article.visibilities %}{{ visibility.userType|enum }}{% if not loop.last %}, {% endif %}{% endfor %}
        </td>
        <td class="align-middle">
            <div class="dropdown">
                <button type="button" class="btn btn-outline-secondary btn-sm dropdown-toggle" data-bs-toggle="dropdown">
                    <i class="fas fa-ellipsis-v"></i>
                </button>

                <div class="dropdown-menu dropdown-menu-end">
                    <a href="{{ path('edit_wiki_article', { uuid: article.uuid }) }}" class="dropdown-item">
                        <i class="fa fa-edit"></i> {{ 'actions.edit'|trans }}
                    </a>
                    <a href="{{ path('wiki_article_versions', { uuid: article.uuid }) }}" class="dropdown-item">
                        <i class="fa fa-history"></i> {{ 'versions.label'|trans }}
                    </a>
                    <a href="{{ path('remove_wiki_article', { uuid: article.uuid }) }}" class="dropdown-item text-danger">
                        <i class="fa fa-trash"></i> {{ 'actions.remove'|trans }}
                    </a>
                </div>
            </div>
        </td>
    </tr>

    {% for child in article.children %}
        {{ _self.wiki_article(child, paddingLeft + 10) }}
    {% endfor %}
{% endmacro %}

{% block inner %}
    {% if tree|length == 0 %}
        <div class="bs-callout bs-callout-info">
            <h5>{{ 'info.label'|trans }}</h5>

            <p>{{ 'admin.wiki.overview.empty'|trans }}</p>
        </div>
    {% else %}
        <div class="card">
            <div class="table-responsive">
                <table class="table table-hover table-striped card-table">
                    <colgroup>
                        <col>
                        <col class="column-sm">
                        <col class="column-320">
                        <col class="column-sm">
                    </colgroup>
                    <thead>
                    <tr>
                        <th>{{ 'label.title'|trans }}</th>
                        <th>{{ 'label.status'|trans }}</th>
                        <th>{{ 'label.visibility'|trans }}</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for article in tree %}
                        {{ _self.wiki_article(article, 0) }}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block sidebar %}
    <div class="card">
        <div class="list-group list-group-flush">
            <a href="{{ path('add_wiki_article') }}" class="list-group-item list-group-item-action">
                <i class="fa fa-plus"></i> {{ 'admin.wiki.add.label'|trans }}
            </a>
        </div>
    </div>
{% endblock %}