{% extends "main.html.twig" %}

{% block title %}{% if article is not null %}{{ article.title }}{% else %}{{ 'wiki.label'|trans }}{% endif %}{% endblock %}

{% macro wiki_breadcrumb(article) %}
    {% if article is not null %}
        {% if article.parent is not null %}
            {{ _self.wiki_breadcrumb(article.parent) }}
        {% endif %}
        <li class="breadcrumb-item"><a href="{{ path('show_wiki_article', { uuid: article.uuid }) }}">{{ article.title }}</a></li>
    {% endif %}
{% endmacro %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('wiki') }}">{{ 'wiki.label'|trans }}</a></li>
        {% if article is not null %}
            {{ _self.wiki_breadcrumb(article.parent) }}
            <li class="breadcrumb-item">{{ block('title') }}</li>
        {% endif %}
    </ol>
{% endblock %}

{% block content %}
    <div class="container-fluid px-0">
        <div class="row">
            <div class="col-md-9">
                {% if article is not null %}
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ article.title }}</h5>

                            {{ article.content|markdown }}
                        </div>
                    </div>
                {% endif %}

                <div class="card-columns">
                    {% for child in childrenWithChildren %}
                        <div class="card">
                            <div class="card-header">
                                <i class="{% if child.icon is not empty %}{{ child.icon }}{% else %}far fa-copy{% endif %}"></i>
                                <a href="{{ path('show_wiki_article', { uuid: child.uuid }) }}">
                                    {{ child.title }}
                                </a>
                            </div>
                            <div class="list-group list-group-flush">
                                {% for c in child.children %}
                                    {% if is_granted('view', c) %}
                                        <a href="{{ path('show_wiki_article', { uuid: c.uuid }) }}" class="list-group-item list-group-item-action">{{ c.title }}</a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}

                    {% if childrenWithoutChildren|length > 0 %}
                        <div class="card">
                            <div class="card-header"><i class="far fa-copy"></i> {{ 'wiki.more_articles'|trans }}</div>

                            <div class="list-group list-group-flush">
                                {% for c in childrenWithoutChildren %}
                                    {% if is_granted('view', c) %}
                                        <a href="{{ path('show_wiki_article', { uuid: c.uuid }) }}" class="list-group-item list-group-item-action">{{ c.title }}</a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="col-md-3 sticky-sidebar">
                {% if article is not null and (is_granted('ROLE_WIKI_ADMIN') or is_granted('edit', article) or is_granted('remove', article)) %}
                <div class="card">
                    <div class="list-group list-group-flush">
                        {% if article is not null %}
                            {% if is_granted('edit', article) %}
                                <a href="{{ path('edit_wiki_article', { uuid: article.uuid, ref: 'view' }) }}" class="list-group-item list-group-item-action">
                                    <i class="fa fa-edit"></i> {{ 'admin.wiki.edit.label'|trans }}
                                </a>

                                <a href="{{ path('wiki_article_versions', { uuid: article.uuid, ref: 'view' }) }}" class="list-group-item list-group-item-action">
                                    <i class="fa fa-history"></i> {{ 'versions.label'|trans }}
                                </a>
                            {% endif %}
                            {% if is_granted('remove', article) %}
                                <a href="{{ path('remove_wiki_article', { uuid: article.uuid, ref: 'view' }) }}" class="list-group-item list-group-item-action list-group-item-danger">
                                    <i class="fa fa-trash"></i> {{ 'admin.wiki.remove.label'|trans }}
                                </a>
                            {% endif %}
                            {% if is_granted('ROLE_WIKI_ADMIN') %}
                                <a href="{{ path('admin_wiki') }}" class="list-group-item list-group-item-action">
                                    <i class="fa fa-cogs"></i> {{ 'admin.label'|trans }}
                                </a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
                {% endif %}

                {% if article is not null %}
                    {% set toc = toc(article.content) %}
                    {% if toc|length > 0 %}
                        <div class="card">
                            <div class="card-header">{{ 'wiki.toc'|trans }}</div>

                            <div class="list-group list-group-flush">
                                {% for heading in toc %}
                                    <a href="#{{ heading.id }}" class="list-group-item list-group-item-action">{{ heading.level }} {{ heading.text }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}

                    {% if article.children|length > 0 %}
                        <div class="card">
                            <div class="card-header">{{ 'wiki.navigation'|trans }}</div>

                            <div class="list-group list-group-flush">
                                {% for c in article.children %}
                                    {% if is_granted('view', c) %}
                                        <a href="{{ path('show_wiki_article', { uuid: c.uuid }) }}" class="list-group-item list-group-item-action">{{ c.title }}</a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}

                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ 'label.details'|trans }}</h5>

                            <p>
                                <span class="text-muted">{{ 'label.lastchange'|trans }}</span> {{ article.updatedAt|format_datetime }}
                            </p>

                            <p>
                                <span class="text-muted">{{ 'label.visibility'|trans }}</span>
                                {% for visibility in visibilities %}{{ visibility.userType|enum }}{% if not loop.last %}, {% endif %}{% endfor %}

                                {% if article.visibilities|length == 0 %}<span class="badge text-bg-info">{{ 'wiki.inherited'|trans }}</span>{% endif %}
                            </p>
                        </div>
                    </div>
                {% endif %}

                <div class="card">
                    <div class="card-header">{{ 'wiki.search'|trans }}</div>

                    <div class="card-body">
                        <form action="{{ path('wiki_search') }}">
                            <div class="input-group">
                                <input type="text" name="q" class="form-control">

                                <button type="submit" class="btn btn-outline-primary"><i class="fa fa-search"></i></button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="w-100">
                    <a href="#" class="btn btn-primary btn-sm float-right" data-trigger="scroll">
                        <i class="fa fa-arrow-up"></i> {{ 'actions.top'|trans }}
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}