<div class="list-group-item p-0 exam">
    <div class="d-flex">
        <div class="align-self-center text-center p-2 exam-lesson">
            <strong>
                {% if loop.first %}
                    {{ prefix }}
                {% endif %}
            </strong>
        </div>

        <div class="align-self-center text-center p-2 exam-lesson text-black-50">
            {{ 'label.substitution_lessons'|trans({'%start%': lesson, '%end%': lesson, '%count%': 0}) }}
        </div>

        <div class="align-self-center d-flex flex-wrap">
            <div class="align-self-center badge text-bg-primary my-1 me-3">
                {{ 'label.exam_supervision'|trans|upper }}
            </div>

            <div class="card-body align-self-center ps-0 py-1 py-sm-1 d-flex flex-wrap">
                {% for tuition in exam.tuitions %}
                    <span>
                        {{ tuition.name }}
                        <span class="mx-1"></span>
                    </span>

                    <span>
                        <i class="fa fa-users"></i> {% for grade in tuition.studyGroup.grades %}{{ grade.name }}{% if not loop.last %}, {% endif %}{% endfor %}
                        <span class="mx-1"></span>
                    </span>

                    <span>
                        <i class="fa fa-graduation-cap"></i> {% for teacher in tuition.teachers %}{{ teacher.acronym }}{% if not loop.last %}, {% endif %}{% endfor %}
                        <span class="mx-1"></span>
                    </span>
                {% endfor %}

                {% if exam.room is not null %}
                    <span>
                    <i class="fa fa-door-open"></i> {{ exam.room.name }}
                </span>
                {% endif %}

                {% if exam.description is not empty %}
                    <span>
                    <i class="fa fa-info-circle"></i> {{ exam.description }}
                </span>
                {% endif %}
            </div>
        </div>
    </div>
</div>