{% extends "@Common/form.html.twig" %}

{% block file_widget -%}
    <{{ element|default('div') }} class="custom-file">
    {%- set type = type|default('file') -%}
    {{- block('form_widget_simple') -}}
    <label for="{{ form.vars.id }}" class="custom-file-label" data-browse="{{ 'label.choose_file'|trans }}">
        {%- if attr.placeholder is defined -%}
            {{- translation_domain is same as(false) ? attr.placeholder : attr.placeholder|trans({}, translation_domain) -}}
        {%- endif -%}
    </label>
    </{{ element|default('div') }}>
{% endblock %}

{%- block vich_file_row -%}
    {%- set force_error = true -%}
    {{- block('form_row') -}}
{%- endblock -%}

{%- block vich_file_widget -%}
    <div class="vich-file">
        {{- form_widget(form.file) -}}
        {%- if form.delete is defined -%}
            {{- form_widget(form.delete) -}}
        {%- endif -%}

        {%- if download_uri -%}
            <a href="{{ download_uri }}">{{ translation_domain is same as(false) ? download_label : download_label|trans({}, translation_domain) }}</a>
        {%- endif -%}
    </div>
{%- endblock -%}

{%- block vich_image_row -%}
    {%- set force_error = true -%}
    {{- block('form_row') -}}
{%- endblock -%}

{%- block vich_image_widget -%}
    <div class="vich-image">
        {{- form_widget(form.file) -}}
        {%- if form.delete is defined -%}
            {{- form_row(form.delete) -}}
        {%- endif -%}

        {%- if image_uri -%}
            <a href="{{ image_uri }}"><img src="{{ image_uri }}" alt="" /></a>
        {%- endif -%}
        {%- if download_uri -%}
            <a href="{{ download_uri }}">{{ translation_domain is same as(false) ? download_label : download_label|trans({}, translation_domain) }}</a>
        {%- endif -%}
    </div>
{%- endblock -%}

{%- block vich_file_label -%}
    {%- set label = label|trans|default(label) -%}
    {{- block('form_label') -}}
{%- endblock -%}
