{% extends '@Common/main.html.twig' %}

{% block menu %}
    {{ knp_menu_render(mainMenu, {'currentClass': 'active' }) }}


    {% set adminMenu = knp_menu_get('adminMenu') %}
    {% if adminMenu.getChild('admin').getChildren()|length > 0 %}
        {{ knp_menu_render('adminMenu', {'currentClass': 'active' }) }}
    {% endif %}
    {% set systemMenu = knp_menu_get('systemMenu') %}
    {% if systemMenu.getChild('system').getChildren()|length > 0 %}
        {{ knp_menu_render('systemMenu', {'currentClass': 'active' }) }}
    {% endif %}
    {{ knp_menu_render('servicesMenu', {'currentClass': 'active' }) }}

    {% set notificationsMenu = knp_menu_get('notificationsMenu') %}
    {% if notificationsMenu.children|length > 0 %}
        {{ knp_menu_render('notificationsMenu', { 'currentClass': 'active'}) }}
    {% endif %}

    {{ knp_menu_render('userMenu', {'currentClass': 'active' }) }}
{% endblock %}

{% block submenu %}
    {{ knp_menu_render(mainMenu, {'currentClass': 'active', 'template': '@Common/submenu.html.twig' }) }}


    {{ knp_menu_render('adminMenu', {'currentClass': 'active', 'template': '@Common/submenu.html.twig' }) }}
    {{ knp_menu_render('systemMenu', {'currentClass': 'active', 'template': '@Common/submenu.html.twig' }) }}
    {{ knp_menu_render('servicesMenu', {'currentClass': 'active', 'template': '@Common/submenu.html.twig' }) }}
    {{ knp_menu_render('userMenu', {'currentClass': 'active', 'template': '@Common/submenu.html.twig' }) }}
{% endblock %}


{% block container %}
    <div class="d-none d-md-block">
        {% block breadcrumb %}{% endblock %}
    </div>

    {% for msg in app.session.flashbag.get('error') %}
        <div class="bs-callout bs-callout-danger">
            <h4>{{ 'error.label'|trans }}</h4>
            <p>{{ msg|trans }}</p>
        </div>
    {% endfor %}

    {% for msg in app.session.flashbag.get('info') %}
        <div class="bs-callout bs-callout-info">
            <h4>{{ 'info.label'|trans }}</h4>
            <p>{{ msg|trans }}</p>
        </div>
    {% endfor %}

    {% for msg in app.session.flashbag.get('success') %}
        <div class="bs-callout bs-callout-success">
            <h4>{{ 'success.label'|trans }}</h4>
            <p>{{ msg|trans }}</p>
        </div>
    {% endfor %}

    {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
        <div class="bs-callout bs-callout-warning">
            <h4>{{ 'profile.switch.active.title'|trans }}</h4>

            <p>
                {{ 'profile.switch.active.message'|trans({'%user%': app.user|user})|raw }}
            </p>

            <a href="{{ path('dashboard') }}?_switch_user=_exit" class="btn btn-primary btn-sm">
                <i class="fa fa-sign-out-alt"></i> {{ 'profile.switch.exit'|trans }}
            </a>
        </div>
    {% endif %}

    {% block content %}{% endblock %}

    <div class="d-show d-md-none mt-3">
        {{ block('breadcrumb') }}
    </div>
{% endblock %}

{% block footer_links %}
    – <i class="fas fa-book"></i> <a href="https://icc.readthedocs.io/" target="_blank">{{ 'external.docs'|trans }}</a>
    – <a href="{{ absolute_url('/docs/api/app') }}">{{ 'api.doc'|trans }}</a>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('build/app.css') }}" type="text/css" />
{% endblock %}

{% block javascript %}
    <script>
        window.webpushKey = "{{ bentools_webpush.server_key }}";
        window.serviceWorkerUrl = "/sw.js";
        window.serverUrl = "{{ url('bentools_webpush.subscription') }}";
    </script>
    <script src="{{ asset('build/app.js') }}"></script>

    <div class="modal fade" tabindex="-1" role="dialog" id="modal_webpush">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">
                {{ 'webpush.label'|trans }}

                <span id="push_status_enabled" class="badge badge-success d-none">
                    {{ 'webpush.state.enabled'|trans }}
                </span>
                <span id="push_status_disabled" class="badge badge-danger d-none">
                    {{ 'webpush.state.disabled'|trans }}
                </span>
                <span id="push_not_supported" class="badge badge-danger">
                    {{ 'webpush.state.not_supported'|trans }}
                </span>
                <span id="push_not_granted" class="badge badge-danger d-none">
                    {{ 'webpush.state.not_granted'|trans }}
                </span>
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="bs-callout bs-callout-success d-none" id="enable_webpush_success">
                <p>{{ 'webpush.enable.success'|trans }}</p>
            </div>
            <div class="bs-callout bs-callout-success d-none" id="disable_webpush_success">
                <p>{{ 'webpush.disable.success'|trans }}</p>
            </div>

            <div class="alert alert-danger">
                <i class="fa fa-exclamation-triangle"></i> {{ 'webpush.caution.experimental'|trans }}
            </div>

            <p>
                {{ 'webpush.info'|trans }}
            </p>

            <a href="{{ path('profile_notifications') }}" class="btn btn-outline-primary btn-sm">
                <i class="far fa-bell"></i> {{ 'webpush.settings'|trans }}
            </a>

            <p id="enable_push_loading" class="d-none">
                <span>
                    <i class="fa fa-spin fa-spinner"></i> {{ 'webpush.enable.loading'|trans }}
                </span>
            </p>

            <p id="disable_push_loading" class="d-none">
                <span>
                    <i class="fa fa-spin fa-spinner"></i> {{ 'webpush.disable.loading'|trans }}
                </span>
            </p>

            <p id="push_not_supported_message">{{ 'webpush.caution.browser'|trans }}</p>
            <p id="push_not_granted_message" class="d-none">{{ 'webpush.caution.browser'|trans }}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="enable_webpush">{{ 'webpush.enable.label'|trans }}</button>
            <button type="button" class="btn btn-danger" id="disable_webpush">{{ 'webpush.disable.label'|trans }}</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'action.cancel'|trans }}</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
