{% extends '@Common/main.html.twig' %}

{% block menu %}
    {{ knp_menu_render('mainMenu', {'currentClass': 'active' }) }}

    {% set importMenu = knp_menu_get('importMenu') %}
    {% if importMenu.getChild('import').getChildren()|length > 0 %}
        {{ knp_menu_render('importMenu', { 'currentClass': 'active' }) }}
    {% endif %}
    {% set adminMenu = knp_menu_get('adminMenu') %}
    {% if adminMenu.getChild('admin').getChildren()|length > 0 %}
        {{ knp_menu_render('adminMenu', {'currentClass': 'active' }) }}
    {% endif %}
    {{ knp_menu_render('servicesMenu', {'currentClass': 'active' }) }}

    {{ knp_menu_render('userMenu', {'currentClass': 'active' }) }}
{% endblock %}

{% block submenu %}
    {{ knp_menu_render('mainMenu', {'currentClass': 'active', 'template': '@Common/submenu.html.twig' }) }}

    {{ knp_menu_render('importMenu', {'currentClass': 'active', 'template': '@Common/submenu.html.twig' })}}
    {{ knp_menu_render('adminMenu', {'currentClass': 'active', 'template': '@Common/submenu.html.twig' }) }}
    {{ knp_menu_render('servicesMenu', {'currentClass': 'active', 'template': '@Common/submenu.html.twig' }) }}
    {{ knp_menu_render('userMenu', {'currentClass': 'active', 'template': '@Common/submenu.html.twig' }) }}
{% endblock %}

{% block container %}
    <div class="d-none d-md-block">
        {% block breadcrumb %}{% endblock %}
    </div>

    {% for msg in app.session.flashbag.get('error') %}
        <div class="bs-callout bs-callout-danger">
            <h5>{{ 'error.label'|trans }}</h5>
            <p>{{ msg|trans }}</p>
        </div>
    {% endfor %}

    {% for msg in app.session.flashbag.get('info') %}
        <div class="bs-callout bs-callout-info">
            <h5>{{ 'info.label'|trans }}</h5>
            <p>{{ msg|trans }}</p>
        </div>
    {% endfor %}

    {% for msg in app.session.flashbag.get('success') %}
        <div class="bs-callout bs-callout-success">
            <h5>{{ 'success.label'|trans }}</h5>
            <p>{{ msg|trans }}</p>
        </div>
    {% endfor %}

    {% if is_granted('IS_IMPERSONATOR') %}
        <div class="bs-callout bs-callout-warning">
            <h5>{{ 'profile.switch.active.title'|trans }}</h5>

            <p>
                {{ 'profile.switch.active.message'|trans({'%user%': app.user|user})|raw }}
            </p>

            <a href="?_switch_user=_exit" class="btn btn-primary btn-sm">
                <i class="fa fa-sign-out-alt"></i> {{ 'profile.switch.exit'|trans }}
            </a>
        </div>
    {% endif %}

    {% block content %}{% endblock %}

    <div class="d-show d-md-none mt-3">
        {{ block('breadcrumb') }}
    </div>
{% endblock %}

{% block footer_links %}
    <span class="d-print-none">
    – <i class="fas fa-book"></i> <a href="https://docs.schulit.de/icc" target="_blank">{{ 'external.docs'|trans }}</a>
    – <a href="{{ absolute_url('/docs/api/app') }}">{{ 'api.doc'|trans }}</a>
    </span>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ preload(asset('build/app.css')) }}" type="text/css" >

    {% set customCSS = customCSS() %}
    {% if customCSS is not empty %}
        <style>
            {{ customCSS }}
        </style>
    {% endif %}
{% endblock %}

{% block javascript %}
<script src="{{ preload(asset('build/app.js')) }}"></script>
{% endblock %}
