{% import "_macros/replacement.html.twig" as _macro %}

{% if availability is null %}
    {{ 'resources.reservations.not_available'|trans }}
{% else %}
    {% if availability.isAvailable %}
        {% if not resource.isReservationEnabled %}
            {{ 'resources.reservations.not_reservable'|trans }}
        {% else %}
            {{ 'resources.reservations.available'|trans }}
        {% endif %}
    {% endif %}

    {% for absence in availability.absences %}
        <div class="d-block">
            <span class="badge text-bg-primary">{{ 'resources.reservations.room_absent'|trans|upper }}</span>

            {%- if absence.lessonStart is not null and absence.lessonEnd is not null %}
                ({{ 'label.substitution_lessons'|trans({'%start%': absence.lessonStart, '%end%': absence.lessonEnd, '%count%': (absence.lessonEnd - absence.lessonStart)}) }})
            {%- else -%}

            {% endif %}
        </div>
    {% endfor %}

    {% if availability.timetableLesson is not null %}
        <div class="d-block">
            {%- set lesson = availability.timetableLesson -%}
            {%- set gradesWithCourseNames = gradesWithCourseNames|default([]) -%}
            {%- set showCourseName = false -%}
            {% if lesson.tuition is not null %}
                {%- for grade in lesson.tuition.studyGroup.grades -%}
                    {% if grade.id in gradesWithCourseNames -%}
                        {% set showCourseName = true -%}
                    {% endif -%}
                {%- endfor -%}
            {% endif %}

            {% if availability.timetableLessonCancelled %}
            <s>
            {% endif %}

            <span class="badge text-bg-primary">
                {% if lesson.tuition is not null %}
                    {% if lesson.tuition.subject.replaceSubjectAbbreviation %}
                        {{ lesson.tuition.subject.name|upper }}
                    {% else %}
                        {{ lesson.tuition.subject.abbreviation|upper }}
                    {% endif %}
                {% elseif lesson.subject is not null %}
                    {{ lesson.subject.name|upper }}
                {% endif %}
            </span>

            <span class="mx-1"></span>

            <i class="fa fa-users"></i>
            {% if showCourseName %}
                {{ lesson.tuition.studyGroup.name }}
                ({% for grade in lesson.grades %}{{ grade.name }}{% if not loop.last %}, {% endif %}{% endfor %})
            {% else %}
                {% for grade in lesson.grades %}{{ grade.name }}{% if not loop.last %}, {% endif %}{% endfor %}
            {% endif %}
            <span class="mx-1"></span>
            <i class="fa fa-door-open"></i> {{ lesson.room.name }}
            <span class="mx-1"></span>
            <i class="fa fa-graduation-cap"></i> {% for teacher in lesson.teachers %}{{ teacher|teacher }}{% if not loop.last %}, {% endif %}{% endfor %}

            {% if availability.timetableLessonCancelled %}
            </s>
            {% endif %}
        </div>
    {% endif %}

    {% if availability.substitution is not null %}
        <div class="d-block">
            {% set substitution = availability.substitution %}

            <span class="badge text-bg-primary align-self-center">
                {% if substitution.type is not empty %}
                    {{ substitution.type|upper }}
                {% else %}
                    {{ 'dashboard.substitution'|trans|upper }}
                {% endif %}
            </span>

            <span class="mx-1"></span>

            {% if (substitution.subject is not empty or substitution.replacementSubject is not empty) %}
                {{ _macro.replacement(substitution.subject, substitution.replacementSubject) }}
                <span class="mx-1"></span>
            {% endif %}

            {% if substitution.studyGroups|length > 0 or substitution.replacementStudyGroups|length > 0 %}
                <i class="fa fa-users"></i> {{ _macro.replacement(substitution.studyGroups|studygroups, substitution.replacementStudyGroups|studygroups) }}
                <span class="mx-1"></span>
            {% endif %}

            <i class="fa fa-graduation-cap"></i> {{ _macro.replacement(substitution.teachers|teachers, substitution.replacementTeachers|teachers) }}
            <span class="mx-1"></span>

            {% if substitution.roomsAsString is not null or substitution.replacementRoomsAsString is not null %}
                <span>
                    <i class="fa fa-door-open"></i> {{ _macro.replacement(substitution.roomsAsString, substitution.replacementRoomsAsString) }}
                    <span class="mx-1"></span>
                </span>
            {% endif %}
        </div>
    {% endif %}

    {% if availability.exams is not empty %}
        {% for exam in availability.exams %}
            <div class="d-block">
                <div class="me-auto align-self-center d-flex flex-wrap">
                    <span class="badge text-bg-primary align-self-center mb-1 me-1">
                        {{ 'label.exam'|trans|upper }}
                    </span>

                    {% for tuition in exam.tuitions %}
                        <span class="d-flex flex-wrap align-self-center mb-1">
                            <span>
                                <span>{{ tuition.name|upper }}</span>
                                <span class="mx-1"></span>
                            </span>
                            <span>
                                <i class="fa fa-users"></i> {% for grade in tuition.studyGroup.grades %}{{ grade.name }}{% if not loop.last %}, {% endif %}{% endfor %}
                                <span class="mx-1"></span>
                            </span>
                            <span>
                                <i class="fa fa-graduation-cap"></i> {% for teacher in tuition.teachers %}{{ teacher|teacher }}{% if not loop.last %}, {% endif %}{% endfor %}
                                <span class="mx-1"></span>
                            </span>
                        </span>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    {% endif %}

    {% if availability.reservation is not null %}
        <div class="d-block">
            {% set reservation = availability.reservation %}
            <span class="badge text-bg-primary">
                {{ 'resources.reservations.reservation'|trans|upper }}
            </span>

            <i class="fa fa-clock"></i>
            {{ 'label.substitution_lessons'|trans({'%start%': reservation.lessonStart, '%end%': reservation.lessonEnd, '%count%': (reservation.lessonEnd-reservation.lessonStart)}) }}

            <i class="fa fa-graduation-cap"></i>
            {{ reservation.teacher|teacher }}
        </div>
    {% endif %}
{% endif %}