{% extends "main.html.twig" %}

{% block title %}{{ 'messages.overview.label'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block content %}
<div class="container-fluid px-0">
    <div class="row">
        <div class="col-md-9">
        {% if messages|length == 0 %}
            <div class="bs-callout bs-callout-info">
                <h4>{{ 'info.label'|trans }}</h4>

                <p>{{ 'messages.overview.empty'|trans }}</p>
            </div>
        {% else %}
            {% for message in messages %}
                {% include "_includes/message.html.twig" %}
            {% endfor %}
        {% endif %}
        </div>
        <div class="col-md-3">
            {% if is_granted('new-message') or is_granted('ROLE_MESSAGE_ADMIN') or is_granted('ROLE_MESSAGE_CREATOR') %}
            <div class="card">
                <div class="list-group list-group-flush">
                    {% if is_granted('new-message') %}
                        <a href="{{ path('add_message') }}" class="list-group-item list-group-item-action">
                            <i class="fa fa-plus"></i> {{ 'messages.add.label'|trans }}
                        </a>
                    {% endif %}

                    {% if is_granted('ROLE_MESSAGE_ADMIN') or is_granted('ROLE_MESSAGE_CREATOR') %}
                        <a href="{{ path('admin_messages') }}" class="list-group-item list-group-item-action">
                            <i class="fa fa-cogs"></i> {{ 'admin.messages.overview.label'|trans }}
                        </a>
                    {% endif %}
                </div>
            </div>
            {% endif %}

            <div class="card">
                <div class="card-body">
                    {% set studentParam = (studentFilter.currentStudent == null) ? null : studentFilter.currentStudent.uuid %}
                    {% set userTypeParam = (userTypeFilter.currentType == null or userTypeFilter.types|length == 0) ? null : userTypeFilter.currentType.value %}

                    {% if studentFilter.studentGradeGroups|length > 0 %}
                        {% include "_filter/student.html.twig" with { params: { archive: archive, user_type: userTypeParam } } %}
                    {% endif %}

                    {% if userTypeFilter.types|length > 0 %}
                        {% include "_filter/user_type.html.twig" with { params: { archive: archive, student: studentParam } } %}
                    {% endif %}

                    <form role="form" method="get" class="form hidden-print">
                        {% include "_filter/_params.html.twig" with { params: { user_type: userTypeParam, student: studentParam } } %}

                        <label class="control-label">{{ 'label.options'|trans }}:</label>
                        <div class="form-group mb-0">
                            <div class="custom-control custom-checkbox">

                                <input class="custom-control-input" data-trigger="submit" type="checkbox" value="✓" id="archive" name="archive" {% if archive %} checked="checked"{% endif %}>
                                <label for="archive" class="custom-control-label">
                                    {{ 'messages.overview.archive'|trans }}
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}