{% extends "main.html.twig" %}

{% block title %}{{ 'messages.overview.label'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block content %}
    {% set studentParam = (studentFilter.currentStudent == null) ? null : studentFilter.currentStudent.uuid %}
    {% set userTypeParam = (userTypeFilter.currentType == null or userTypeFilter.types|length == 0) ? null : userTypeFilter.currentType.value %}
<div class="container-fluid px-0">
    <div class="row">
        <div class="col-md-9">
        {% if groups|length == 0 %}
            <div class="bs-callout bs-callout-info">
                <h5>{{ 'info.label'|trans }}</h5>

                <p>{{ 'messages.overview.empty'|trans }}</p>
            </div>
        {% else %}
            {% for group in groups %}
                <div class="card">
                    <div class="card-header">{{ 'admin.exams.week'|trans({'%week%': group.week.weekNumber}) }}</div>
                    <div class="list-group list-group-flush">
                        {% for message in group.messages %}
                            {% set missingUploads = missing_uploads(message) %}

                            {% set mustConfirm = message.mustConfirm and is_granted('confirm', message) and not is_confirmed(message) %}
                            {% set mustUpload = message.uploadsEnabled and is_granted('upload', message) and missingUploads|length > 0 %}
                            {% set userDownloads = message_downloads(message) %}
                            {% set hasPoll = message.pollEnabled and is_granted('poll', message) %}

                            <a class="d-flex align-items-center list-group-item list-group-item-action {% if message.priority.value == 'emergency' %}list-group-item-danger{% elseif message.priority.value == 'important' %}list-group-item-warning{% endif %}" href="{{ path('show_message', { uuid: message.uuid }) }}">
                                <div class="flex-fill">
                                    {{ message.title }}
                                </div>

                                <div class="flex-shrink-0">
                                    {% if (message.attachments|length > 0 or userDownloads|length > 0) %}
                                        <button class="btn btn-outline-secondary btn-sm" type="button">
                                            <i class="fa fa-download"></i>
                                        </button>
                                    {% endif %}

                                    {% if not is_confirmed(message) and is_granted('confirm', message) %}
                                        <button class="btn btn-warning btn-sm" title="{{ 'actions.confirm'|trans }}">
                                            <i class="fa fa-check"></i>
                                        </button>
                                    {% endif %}

                                    {% if message.uploadsEnabled and is_granted('upload', message) %}
                                        <button class="btn {% if missingUploads|length > 0 %}btn-warning{% else %}btn-success{% endif %} btn-sm" title="{{ 'messages.uploads.info'|trans }}">
                                            <i class="fa fa-upload"></i>
                                        </button>
                                    {% endif %}

                                    {% if hasPoll %}
                                        <button class="btn btn-primary btn-sm" title="{{ 'messages.poll.info'|trans }}">
                                            <i class="fas fa-poll"></i>
                                        </button>
                                    {% endif %}
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}

            {% include '@Common/includes/pagination.html.twig' with {
                currentFilters: {
                    user_type: userTypeParam,
                    student: studentParam,
                    query: query
                },
                currentPage: page,
                paginationPath: 'messages',
                lastPage: pages,
                showAlwaysFirstAndLast: true
            } only %}
        {% endif %}
        </div>
        <div class="col-md-3 sticky-sidebar">
            {% if is_granted('new-message') or is_granted('ROLE_MESSAGE_ADMIN') or is_granted('ROLE_MESSAGE_CREATOR') %}
            <div class="card">
                <div class="list-group list-group-flush">
                    {% if is_granted('new-message') %}
                        <a href="{{ path('add_message') }}" class="list-group-item list-group-item-action">
                            <i class="fa fa-plus"></i> {{ 'messages.add.label'|trans }}
                        </a>
                    {% endif %}

                    {% if is_granted('ROLE_MESSAGE_ADMIN') or is_granted('ROLE_MESSAGE_CREATOR') %}
                        <a href="{{ path('admin_messages') }}" class="list-group-item list-group-item-action">
                            <i class="fa fa-cogs"></i> {{ 'admin.messages.overview.label'|trans }}
                        </a>
                    {% endif %}
                </div>
            </div>
            {% endif %}

            <div class="card">
                <div class="card-body">
                    {% if studentFilter.studentGradeGroups|length > 0 %}
                        {% include "_filter/student.html.twig" with { params: { user_type: userTypeParam, query: query } } %}
                    {% endif %}

                    {% if userTypeFilter.types|length > 0 %}
                        {% include "_filter/user_type.html.twig" with { params: { student: studentParam, query: query } } %}
                    {% endif %}

                    {% include "_filter/query.html.twig" with { q: query, params: { query: query, student: studentParam, user_type: userTypeParam }, class: 'mb-0', route: 'messages' } %}
                </div>

                <div class="card-footer">
                    <a href="{{ path('messages') }}" class="btn btn-primary btn-sm">{{ 'filter.reset'|trans }}</a>
                </div>
            </div>

            <div class="w-100">
                <a href="#" class="btn btn-primary btn-sm float-right" data-trigger="scroll">
                    <i class="fa fa-arrow-up"></i> {{ 'actions.top'|trans }}
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}