{% extends "main.html.twig" %}

{% block title %}{{ message.title }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('messages') }}">{{ 'messages.overview.label'|trans }}</a></li>
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block content %}
{% set missingUploads = missing_uploads(message) %}

{% set mustConfirm = message.mustConfirm and is_granted('confirm', message) and not is_confirmed(message) %}
{% set mustUpload = message.uploadsEnabled and is_granted('upload', message) and missingUploads|length > 0 %}
{% set userDownloads = message_downloads(message) %}

<div class="container-fluid px-0">
    <div class="row">
        <div class="col-md-9">
            <div class="card {% if mustConfirm %}border-warning{% endif %}">
                <div class="card-body">
                    <div class="d-flex align-items-center flex-wrap {% if not is_dismissed(message) %}mb-2{% endif %}">
                        <h5 class="card-title me-auto mb-0 me-2">{{ message.title }}</h5>

                        <div class="flex-shrink-0">
                            {% if message.mustConfirm and is_granted('confirm', message) %}
                                {% if not is_confirmed(message) and is_granted('confirm', message) %}
                                    <a href="{{ path('confirm_message', { uuid: message.uuid }) }}" class="btn btn-warning btn-sm" title="{{ 'actions.confirm'|trans }}">
                                        <i class="fa fa-check"></i>
                                    </a>
                                {% else %}
                                    <button type="button" class="btn btn-success btn-sm" title="{{ 'messages.confirm.confirmed'|trans }}">
                                        <i class="fa fa-check"></i>
                                    </button>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>

                    {{ message.content|markdown }}
                </div>
                {% set userDownloads = message_downloads(message) %}

                {% if message.attachments|length > 0 or userDownloads|length > 0 %}
                    <div class="card-footer">
                        <ul class="nav nav-pills card-header-pills">
                            {% for attachment in message.attachments %}
                                <li class="nav-item">
                                    <a class="nav-link link-hover" href="{{ path('download_message_attachment', { uuid: attachment.uuid, message: message.uuid }) }}"><i class="fa fa-download"></i> {{ attachment.filename }}</a>
                                </li>
                            {% endfor %}
                            {% if message.downloadsEnabled %}
                                {% for file in userDownloads %}
                                    <li class="nav-item">
                                        <a class="nav-link link-hover" href="{{ path('download_user_file', { uuid: message.uuid, filename: file.basename }) }}"><i class="fa fa-download"></i> {{ file.basename }}</a>
                                    </li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                {% endif %}

                {% if message.mustConfirm and is_granted('confirm', message) and not is_dismissed(message) and not is_confirmed(message) %}
                    <div class="card-footer bg-warning text-dark">
                        <i class="fa fa-info-circle"></i> {% if is_granted('confirm', message) %}{{ 'messages.confirm.prompt'|trans }}{% else %}{{ 'messages.confirm.info'|trans }}{% endif %}
                    </div>
                {% endif %}
            </div>

            {% if message.uploadsEnabled and is_granted('upload', message) %}
                <div class="card{% if missing|length > 0 %} border-warning{% endif %}">
                    <div class="card-body">
                        <h5 class="card-title">
                            {{ 'messages.uploads.label'|trans }}

                            {% if missing|length > 0 %}
                                <span class="badge text-bg-warning">
                                    {{ 'messages.uploads.status.missing'|trans({'%count%': missing|length})}}
                                </span>
                            </span>
                            {% else %}
                                <span class="badge text-bg-success">
                                    {{ 'messages.uploads.status.good'|trans()}}
                                </span>
                            {% endif %}

                        </h5>

                        {% if message.uploadDescription is not empty %}
                            {{ message.uploadDescription|markdown }}
                        {% endif %}

                        {{ form_start(form) }}

                        {% for item in form.uploads %}
                            {{ form_row(item.file) }}

                            {%  set upload = item.vars.data %}

                            <div class="mb-3 row">
                                <div class="col-sm-2"></div>
                                <div class="col-sm-10">
                                    <div class="bs-callout {% if not upload.uploaded %}bs-callout-warning{% else %}bs-callout-success{% endif %} pe-0 pe-0" role="alert">
                                    {% if upload.uploaded %}
                                        <div class="d-flex pe-3">
                                            <span class="me-auto align-self-center">
                                                <i class="fa fa-check-circle"></i> {{ upload.filename }}
                                                <span class="text-muted">{{ upload.size|filesize }} <i class="fa fa-calendar"></i> {{ upload.updatedAt|format_datetime }}</span>
                                            </span>

                                            <a href="{{ path('download_uploaded_user_file', { message: message.uuid, uuid: upload.messageFile.uuid }) }}" class="btn btn-primary btn-sm align-self-center me-2"><i class="fa fa-download"></i></a>
                                            <a href="{{ path('remove_uploaded_user_file', { message: message.uuid, uuid: upload.messageFile.uuid }) }}" class="btn btn-danger btn-sm align-self-center"><i class="fa fa-trash"></i></a>
                                        </div>
                                    {% else %}
                                        <li class="fa fa-times-circle"></li> {{ 'messages.uploads.missing'|trans }}
                                    {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        {{ form_rest(form.uploads) }}

                        <button type="button" class="btn btn-outline-primary btn-sm" data-trigger="submit" data-confirm="#confirm-upload">
                            <i class="fas fa-upload"></i> {{ 'actions.upload'|trans }}
                        </button>
                        {{ form_end(form) }}
                    </div>
                </div>
            {% endif %}

            {% if message.pollEnabled and is_granted('poll', message) %}
                {% set showInfo = false %}
                {% for choice in message.pollChoices %}
                    {% if choice.description is not empty %}
                        {% set showInfo = true %}
                    {% endif %}
                {% endfor %}

                <div class="card">
                    {{ form_start(voteForm) }}
                    <div class="card-body">
                        <h5 class="card-title">
                            <i class="far fa-check-square"></i>
                            {{ 'messages.poll.my'|trans }}
                        </h5>

                        {% if not allow_vote %}
                            <div class="alert alert-info">
                                <i class="fa fa-info-circle"></i>  {{ 'messages.poll.expired'|trans }}
                            </div>
                        {% endif %}

                        {% if vote is not null and not vote.completed %}
                            <div class="alert alert-danger">
                                {{ 'messages.poll.incomplete'|trans }}
                            </div>
                        {% endif %}

                        {% if vote is not null and vote.createdAt is not null %}
                            <div class="alert alert-success">
                                <i class="fa fa-check-circle"></i> {{ 'messages.poll.submitted_at.time'|trans({'%datetime%': vote.createdAt|format_datetime }) }}
                            </div>
                        {% else %}
                            <div class="alert alert-danger">
                                {{ 'messages.poll.submitted_at.never'|trans }}
                            </div>
                        {% endif %}

                        {{ form_widget(voteForm) }}

                        <button type="submit" class="btn btn-primary btn-sm {% if not allow_vote %}disabled{% endif %}">
                            <i class="fas fa-save"></i> {{ 'messages.poll.submit'|trans }}
                        </button>
                    </div>

                    {{ form_end(voteForm) }}

                    {% if showInfo %}
                        <div class="list-group list-group-flush">
                            {% for choice in message.pollChoices %}
                                <div class="list-group-item flush-last-p">
                                    <h5 class="mb-1">{{ choice.label }}</h5>

                                    {% if choice.description is not null %}
                                        {{ choice.description|markdown }}
                                    {% else %}
                                        <p>{{ 'messages.poll.choice_description'|trans }}</p>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        </div>

        <div class="col-md-3 sticky-sidebar">
            {% if is_granted('edit', message) or is_granted('remove', message) %}
            <div class="card">
                <div class="list-group list-group-flush">
                    {% if is_granted('edit', message) %}
                        <a href="{{ path('edit_message', { uuid: message.uuid, ref: 'view' }) }}" class="list-group-item list-group-item-action">
                            <i class="fa fa-edit"></i> {{ 'admin.messages.edit.label'|trans }}
                        </a>

                        {% if message.mustConfirm %}
                            <a href="{{ path('message_confirmations', { uuid: message.uuid }) }}" class="list-group-item list-group-item-action">
                                <i class="fas fa-tasks"></i> {{ 'message.confirmations.label'|trans }}
                            </a>
                        {% endif %}

                        {% if message.downloadsEnabled %}
                            <a href="{{ path('message_downloads_admin', { uuid: message.uuid }) }}" class="list-group-item list-group-item-action">
                                <i class="fa fa-download"></i> {{ 'messages.downloads.label'|trans }}
                            </a>
                        {% endif %}
                        {% if message.uploadsEnabled %}
                            <a href="{{ path('message_uploads_admin', { uuid: message.uuid }) }}" class="list-group-item list-group-item-action">
                                <i class="fa fa-upload"></i> {{ 'messages.uploads.label'|trans }}
                            </a>
                        {% endif %}
                    {% endif %}
                    {% if is_granted('remove', message) %}
                        <a href="{{ path('remove_message', { uuid: message.uuid, ref: 'view' })}}" class="list-group-item list-group-item-action list-group-item-danger">
                            <i class="fa fa-trash"></i> {{ 'admin.messages.remove.label'|trans }}
                        </a>
                    {% endif %}
                </div>
            </div>
            {% endif %}

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ 'label.details'|trans }}</h5>

                    <p>
                        <span class="text-muted">{{ 'label.author'|trans }}</span> {{ message.createdBy|user }}
                    </p>

                    <p>
                        <span class="text-muted">{{ 'message.expires'|trans }}</span> {{ message.expireDate|format_date }}
                    </p>

                    <p>
                        <span class="text-muted">{{ 'label.lastchange'|trans }}</span> {{ message.updatedAt|format_datetime }}
                    </p>

                    <p>
                        <span class="text-muted">{{ 'label.visibility'|trans }}</span>
                        {% for visibility in message.visibilities %}{{ visibility.userType|enum }}{% if not loop.last %}, {% endif %}{% endfor %}
                    </p>

                    {% if message.studyGroups|length > 0 %}
                        <p>
                            <span class="text-muted">{{ 'label.study_groups'|trans({'%count%': message.studyGroups|length }) }}</span> {% include '_includes/study_groups.html.twig' with { studyGroups: message.studyGroups, details: true } only  %}
                        </p>
                    {% endif %}
                </div>
            </div>

            <div class="w-100">
                <a href="#" class="btn btn-primary btn-sm float-right" data-trigger="scroll">
                    <i class="fa fa-arrow-up"></i> {{ 'actions.top'|trans }}
                </a>
            </div>
        </div>
    </div>
</div>

    <div id="confirm-upload" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ 'messages.uploads.confirm.title'|trans }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>{{ 'messages.uploads.confirm.message'|trans }}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ 'actions.cancel'|trans }}</button>
                    <button type="button" class="btn btn-primary confirm">{{ 'messages.uploads.confirm.button'|trans }}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
