{% extends "main.html.twig" %}

{% block post_javascript %}
    <script src="{{ asset('build/editor.js') }}"></script>
{% endblock %}

{% block title %}{{ 'admin.appointments.add.label'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('admin') }}">{{ 'admin.label'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('admin_appointments') }}">{{ 'admin.appointments.label'|trans }}</a></li>
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block content %}
    {{ knp_menu_render('dataMenu', {'currentClass': 'active', 'template': 'admin/_menu.html.twig' }) }}


    {% if not is_granted('ROLE_APPOINTMENTS_ADMIN') %}
        <div class="bs-callout bs-callout-warning">
            <h4>{{ 'important'|trans }}</h4>

            <p>{{ 'admin.appointments.add.confirmation_info'|trans }}</p>
        </div>

        <div class="bs-callout bs-callout-danger">
            <h4>{{ 'caution'|trans }}</h4>

            <p>{{ 'admin.appointments.add.workflow_info'|trans }}</p>
        </div>
    {% endif %}

    {{ form_start(form) }}
    {{ form_widget(form) }}

    <div class="buttons">
        <button type="submit" class="btn btn-primary btn-sm">
            <i class="fa fa-plus"></i> {{ 'actions.add'|trans }}
        </button>

        <a href="{{ path('admin_appointments') }}" class="btn btn-secondary btn-sm">
            <i class="fa fa-arrow-left"></i> {{ 'actions.back'|trans }}
        </a>
    </div>

    {{ form_end(form) }}

{% endblock %}