{% extends "main.html.twig" %}

{% block title %}{{ 'admin.appointments.label'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('admin') }}">{{ 'admin.label'|trans }}</a></li>
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block content %}

    {{ knp_menu_render('dataMenu', {'currentClass': 'active', 'template': 'admin/_menu.html.twig' }) }}

    {% set currentFilter = {
        q: q,
        category: categoryFilter.currentCategory != null ? categoryFilter.currentCategory.uuid.toString : null,
        confirmed: confirmed is null ? null : (not confirmed ? '✗' : '✓' )}
    %}

    <div class="container-fluid px-0">
        <div class="row">
            <div class="col-md-9">
                {% if notConfirmedCount > 0 and is_granted('ROLE_APPOINTMENTS_ADMIN') %}
                <div class="bs-callout bs-callout-info">
                    <h4>{{ 'info.label'|trans }}</h4>
                    <p>{{ 'admin.appointments.overview.not_confirmed'|trans({ '%count%': notConfirmedCount }) }}</p>
                    <a href="{{ path('admin_appointments', { confirmed: '✗'}) }}" class="btn btn-primary btn-sm">
                        {{ 'action.show'|trans }}
                    </a>
                </div>
                {% endif %}

                {% if groups|length == 0 %}
                    <div class="bs-callout bs-callout-info">
                        <h4>{{ 'info.label'|trans }}</h4>

                        <p>{{ 'admin.appointments.overview.empty'|trans }}</p>
                    </div>
                {% else %}
                    {% for group in groups %}
                        <div class="card">
                            <div class="card-header">{{ ('date.months.' ~ group.month)|trans }} {{ group.year }} <span class="badge badge-pill badge-primary">{{ group.appointments|length }}</span> </div>

                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover card-table">
                                    <colgroup>
                                        <col>
                                        <col class="column-lg">
                                        <col class="column-lg">
                                        <col class="column-lg">
                                        <col class="column-lg">
                                        <col class="column-md">
                                        <col class="column-md">
                                    </colgroup>

                                    <thead>
                                    <tr>
                                        <th>{{ 'label.title'|trans }} </th>
                                        <th>{{ 'label.start'|trans }}</th>
                                        <th>{{ 'label.end'|trans }}</th>
                                        <th>{{ 'label.study_groups'|trans({'%count%': 0}) }}</th>
                                        <th>{{ 'label.organizers'|trans }}</th>
                                        <th>{{ 'label.confirmed'|trans }}</th>
                                        <th> </th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    {% for appointment in group.appointments %}
                                        {% if appointment.isAllDay %}
                                            {% set start = appointment.start|format_date %}
                                        {% else %}
                                            {% set start = appointment.start|format_datetime %}
                                        {% endif %}
                                        {% if appointment.end is not null %}
                                            {% if appointment.isAllDay %}
                                                {% set end = appointment.end|format_date %}
                                            {% else %}
                                                {% set end = appointment.end|format_datetime %}
                                            {% endif %}

                                            {% set date = 'date.range'|trans({'%from%': start, '%to%': end }) %}
                                        {% else %}
                                            {% set date = start %}
                                        {% endif %}

                                        <tr>
                                            <td class="align-middle">
                                                {{ appointment.title }}

                                                <span class="badge" style="background: {{ appointment.category.color }}; color: {{ foreground(appointment.category.color) }}">{{ appointment.category.name }}</span>
                                            </td>
                                            <td class="align-middle">{{ start }}</td>
                                            <td class="align-middle">{{ end }}</td>
                                            <td class="align-middle">
                                                {% include '_includes/study_groups.html.twig' with { studyGroups: appointment.studyGroups, id: appointment.uuid } only %}
                                            </td>
                                            <td class="align-middle">
                                                {% for organizer in appointment.organizers %}{{ organizer|teacher }}{% if not loop.last or appointment.externalOrganizers is not null %}, {% endif %}{% endfor %}{{ appointment.externalOrganizers }}
                                            </td>
                                            <td class="align-middle">
                                                {% if appointment.confirmed %}
                                                    <i class="fa fa-check"></i>
                                                {% else %}
                                                    <i class="fa fa-times"></i>
                                                {% endif %}
                                            </td>
                                            <td class="align-middle">
                                                {% if is_granted('edit', appointment) %}
                                                    <a href="{{ path('edit_appointment', { uuid: appointment.uuid }) }}" class="btn btn-primary btn-sm" title="{{ 'actions.edit'|trans }}">
                                                        <i class="fa fa-edit"></i>
                                                    </a>
                                                {% endif %}
                                                {% if not appointment.confirmed and is_granted('confirm', appointment) %}
                                                    <a href="{{ path('confirm_appointment', { uuid: appointment.uuid }) }}" class="btn btn-primary btn-sm" title="{{ 'actions.confirm'|trans }}">
                                                        <i class="fa fa-check"></i>
                                                    </a>
                                                {% endif %}
                                                {% if is_granted('remove', appointment) %}
                                                    <a href="{{ path('remove_appointment', { uuid: appointment.uuid }) }}" class="btn btn-danger btn-sm" title="{{ 'actions.remove'|trans }}">
                                                        <i class="fa fa-trash"></i>
                                                    </a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    {% endfor %}

                    {% include '@Common/includes/pagination.html.twig' with {
                        currentFilters: currentFilter,
                        currentPage: page,
                        paginationPath: 'admin_appointments',
                        lastPage: pages,
                        showAlwaysFirstAndLast: true
                    } only %}
                {% endif %}
            </div>

            <div class="col-md-3">
                <div class="card">
                    <div class="list-group list-group-flush">
                        {% if is_granted('new-appointment') %}
                            <a href="{{ path('add_appointment') }}" class="list-group-item list-group-item-action">
                                <i class="fa fa-plus"></i> {{ 'admin.appointments.add.label'|trans }}
                            </a>
                        {% endif %}

                        {% if is_granted('ROLE_APPOINTMENTS_ADMIN') %}
                            <a href="{{ path('admin_appointment_categories') }}" class="list-group-item list-group-item-action">
                                <i class="fa fa-cogs"></i> {{ 'admin.appointments.categories.label'|trans }}
                            </a>
                        {% endif %}
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <form role="form" method="get" class="form hidden-print">
                            {% include "_filter/_params.html.twig" with { params: currentFilter } %}

                            <div class="form-group">
                                <label for="category" class="control-label">{{ 'label.category'|trans }}:</label>
                                <select name="category" id="category" class="form-control" data-trigger="submit" data-choice="true">
                                    <option value="" placeholder>{{ 'label.select.category'|trans }}</option>
                                    {% for c in categoryFilter.categories %}
                                        <option value="{{ c.uuid }}" {% if categoryFilter.currentCategory != null and categoryFilter.currentCategory.id == c.id %}selected="selected"{% endif %}>{{ c.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </form>

                        {% include "_filter/query.html.twig" with { params: currentFilter, route: 'admin_appointments' } %}

                        <form role="form" method="get" class="form hidden-print">
                            {% include "_filter/_params.html.twig" with { params: currentFilter|merge({confirmed: null}) } %}

                            <div class="form-group mb-0">
                                <div class="btn-group" role="group" aria-label="Ansicht" data-original-title="Ansicht">
                                    <button name="confirmed" value="" class="btn btn-outline-secondary {% if confirmed is null %}active{% endif %}">
                                        {{ 'label.all'|trans }}
                                    </button>

                                    <button name="confirmed" value="✓" class="btn btn-outline-secondary {% if confirmed %}active{% endif %}">
                                        {{ 'label.confirmed'|trans }}
                                    </button>

                                    <button name="confirmed" value="✗" class="btn btn-outline-secondary {% if confirmed is same as(false) %}active{% endif %}">
                                        {{ 'label.not_confirmed'|trans }}
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="card-footer">
                        <a href="{{ path('admin_appointments') }}" class="btn btn-primary btn-sm">{{ 'filter.reset'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}