{% extends "main.html.twig" %}

{% block title %}{{ 'admin.appointments.label'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('admin') }}">{{ 'admin.label'|trans }}</a></li>
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block content %}

    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <form role="form" method="get" class="form hidden-print">
                        <div class="form-group">
                            <label for="category" class="control-label">{{ 'label.category'|trans }}:</label>
                            <select name="categoryId" id="category" class="form-control" data-trigger="submit" data-choice="true">
                                <option value="" placeholder>{{ 'label.select.category'|trans }}</option>
                                {% for c in categoryFilter.categories %}
                                    <option value="{{ c.id }}" {% if categoryFilter.currentCategory != null and categoryFilter.currentCategory.id == c.id %}selected="selected"{% endif %}>{{ c.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </form>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-12">
                    {% include "_filter/query.html.twig" with { params: { q: q, categoryId: categoryFilter.currentCategory != null ? categoryFilter.currentCategory.id : null }, route: 'admin_appointments' } %}
                </div>
            </div>
        </div>
    </div>

    {% if groups|length == 0 %}
        <div class="bs-callout bs-callout-info">
            <h4>{{ 'info.label'|trans }}</h4>

            <p>{{ 'admin.appointments.overview.empty'|trans }}</p>
        </div>
    {% else %}
        {% for group in groups %}
            <div class="card">
                <div class="card-header">{{ ('date.months.' ~ group.month)|trans }} {{ group.year }} <span class="badge badge-pill badge-primary">{{ group.appointments|length }}</span> </div>

                <table class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>{{ 'label.title'|trans }} </th>
                        <th>{{ 'label.category'|trans }}</th>
                        <th>{{ 'label.start'|trans }}</th>
                        <th>{{ 'label.end'|trans }}</th>
                        <th>{{ 'label.study_groups'|trans }}</th>
                        <th>{{ 'label.organizers'|trans }}</th>
                        <th> </th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for appointment in group.appointments %}
                        {% if appointment.isAllDay %}
                            {% set start = appointment.start|format_date %}
                        {% else %}
                            {% set start = appointment.start|format_datetime %}
                        {% endif %}
                        {% if appointment.end is not null %}
                            {% if appointment.isAllDay %}
                                {% set end = appointment.end|format_date %}
                            {% else %}
                                {% set end = appointment.end|format_datetime %}
                            {% endif %}

                            {% set date = 'date.range'|trans({'%from%': start, '%to%': end }) %}
                        {% else %}
                            {% set date = start %}
                        {% endif %}

                        <tr>
                            <td>{{ appointment.title }}</td>
                            <td><span class="color-rect" style="background: {{ appointment.category.color }}"></span> {{ appointment.category.name }}</td>
                            <td>{{ start }}</td>
                            <td>{{ end }}</td>
                            <td>
                                {% include '_includes/study_groups.html.twig' with { studyGroups: appointment.studyGroups, id: appointment.id } only %}
                            </td>
                            <td>
                                {% for organizer in appointment.organizers %}{{ organizer|teacher }}{% if not loop.last or appointment.externalOrganizers is not null %}, {% endif %}{% endfor %}{{ appointment.externalOrganizers }}
                            </td>
                            <td>
                                {% if is_granted('edit', appointment) %}
                                    <a href="{{ path('edit_appointment', { id: appointment.id }) }}" class="btn btn-primary btn-sm">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                {% endif %}
                                {% if is_granted('remove', appointment) %}
                                    <a href="{{ path('remove_appointment', { id: appointment.id }) }}" class="btn btn-danger btn-sm">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endfor %}
    {% endif %}

    <div class="buttons">
        {% if is_granted('new-appointment') %}
            <a href="{{ path('add_appointment') }}" class="btn btn-primary btn-sm">
                <i class="fa fa-plus"></i> {{ 'admin.appointments.add.label'|trans }}
            </a>
        {% endif %}

        <a href="{{ path('admin_appointment_categories') }}" class="btn btn-secondary btn-sm">
            <i class="fa fa-cogs"></i> {{ 'admin.appointments.categories.label'|trans }}
        </a>


    </div>
{% endblock %}