{% extends "main.html.twig" %}

{% block title %}{{ 'book.grades.label'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('book') }}">{{ 'book.label'|trans }}</a></li>
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block post_javascript %}

    <script src="{{ asset('build/gradebook.js') }}"></script>
{% endblock %}

{% block content %}
    {% set currentFilter = {
        section: sectionFilter.currentSection ? sectionFilter.currentSection.uuid.toString : null,
        student: studentFilter.currentStudent ? studentFilter.currentStudent.uuid.toString : null,
        tuition: tuitionFilter.currentTuition ? tuitionFilter.currentTuition.uuid.toString : null,
        grade: gradeFilter.currentGrade ? gradeFilter.currentGrade.uuid.toString : null
    } %}

    {% set isStudentsView = studentFilter.currentStudent != null %}
    {% set isGradeView = gradeFilter.currentGrade != null %}
    {% set isForeignTuition = true %}

    {% if tuitionFilter.currentTuition is not null %}
        {% for ownTuition in ownTuitions %}
            {% if ownTuition.id == tuitionFilter.currentTuition.id %}
                {% set isForeignTuition = false %}
            {% endif %}
        {% endfor %}
    {% endif %}

    <div class="container-fluid px-0">
        <div class="row">
            <div class="col-md-9">
                {% if overview == null %}
                    <div class="bs-callout bs-callout-info">
                        <h4>{{ 'info.label'|trans }}</h4>
                        {% if tuitionFilter.currentTuition is not null %}
                            <p>{{ 'book.grades.not_enabled'|trans }}</p>
                        {% else %}
                            <p>{{ 'book.grades.none'|trans }}</p>
                        {% endif %}
                    </div>
                {% else %}
                    {% if isStudentsView %}
                        <div class="bs-callout bs-callout-info">
                            <h4>{{ 'info.label'|trans }}</h4>
                            <p>{{ 'book.grades.info.no_edit_in_student_view'|trans }}</p>
                        </div>
                    {% elseif tuitionFilter.currentTuition is not null %}
                        {% if isForeignTuition %}
                            <div class="bs-callout bs-callout-info">
                                <h4>{{ 'info.label'|trans }}</h4>
                                <p>{{ 'book.grades.info.foreign_tuition'|trans }}</p>
                            </div>
                        {% endif %}
                    {% endif %}

                    <form method="post" id="gradeform">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('gradebook') }}" />

                        <div class="card">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover card-table">
                                    <colgroup>
                                        <col>
                                        {% for category in overview.categories %}
                                        <col class="{% if isGradeView or isStudentsView %}column-sm{% else %}column-md{% endif %}">
                                        {% endfor %}
                                    </colgroup>

                                    <thead>
                                    <tr>
                                        {% if isStudentsView %}
                                            <th>{{ 'label.tuition'|trans }}</th>
                                        {% else %}
                                            <th>{{ 'label.student'|trans }}</th>
                                        {% endif %}
                                        {% for category in overview.categories %}
                                            <th class="{% if isGradeView or isStudentsView %}rotate-90{% else %}text-center{% endif %}">
                                                <div>
                                                    {% if isGradeView %}<span class="badge badge-primary">{{ category.tuition.name }}</span>{% endif%} {{ category.category.displayName }}
                                                </div>
                                            </th>
                                        {% endfor %}
                                    </tr>
                                    </thead>

                                    <tbody>
                                    {% set tabindex = 1000 %}
                                    {% set rowCount = overview.rows|length %}
                                    {% for row in overview.rows %}
                                        {% set rowIdx = loop.index0 %}
                                        <tr>
                                            <td class="align-middle">
                                                {% if row.tuitionOrStudent is instanceof('App\\Entity\\Tuition') %}
                                                    {{ row.tuitionOrStudent.name }}
                                                {% else %}
                                                    {{ row.tuitionOrStudent|student }}
                                                {% endif %}
                                            </td>
                                            {% for category in overview.categories %}
                                                <td class="align-middle text-center">
                                                    {% if isStudentsView %}
                                                        {% set grade = row.grade(row.tuitionOrStudent, category.category) %}
                                                    {% else %}
                                                        {% set grade = row.grade(category.tuition, category.category) %}
                                                    {% endif %}
                                                    {% set name = 'grades[' ~ row.tuitionOrStudent.uuid ~ '][' ~ category.category.uuid ~ ']' ~ '[' ~ category.tuition.uuid ~ ']' %}

                                                    {% set id = name|replace({'[': '_', ']': '_'}) %}
                                                    {% set isReadonly = isStudentsView or isForeignTuition %}

                                                    <input type="hidden" data-encrypted="{{ grade != null ? grade.encryptedGrade|e('html_attr') : '' }}" value="{{ grade != null ? grade.encryptedGrade|e('html_attr') : '' }}" data-select="#{{ id }}" name="{{ name }}">

                                                    {% if isReadonly %}
                                                        <span id="{{ id }}"><i class="fas fa-lock"></i></span>
                                                    {% else %}
                                                        <select class="custom-select" tabindex="{{ tabindex + (rowCount*loop.index0) + rowIdx }}" disabled="disabled" id="{{ id }}">
                                                            <option value=""></option>
                                                            {% for value in category.category.gradeType.values %}
                                                                <option value="{{ value }}">{{ value }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    {% endif %}
                                                </td>
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        {% if not isStudentsView %}
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('gradebook') }}">

                        <button type="submit" class="btn btn-primary btn-sm">
                            <i class="fas fa-save"></i> {{ 'actions.save'|trans }}
                        </button>
                        {% endif %}
                    </form>
                {% endif %}
            </div>

            <div class="col-md-3 sticky-sidebar">
                {% if ownTuitions|length > 0 or ownGrades|length > 0 %}
                    <div class="card">
                        <div class="list-group list-group-flush">
                            {% for grade in ownGrades %}
                                <a href="{{ path('gradebook', { section: sectionFilter.currentSection.uuid.toString , grade: grade.uuid.toString }) }}" class="list-group-item list-group-item-action {% if gradeFilter.currentGrade == grade %}active{% endif %}">
                                    <i class="fas fa-users"></i> {{ grade.name }}
                                </a>
                            {% endfor %}

                            {% for tuition in ownTuitions %}
                                {% if tuition.isBookEnabled %}
                                    <a href="{{ path('gradebook', { section: sectionFilter.currentSection.uuid.toString , tuition: tuition.uuid.toString }) }}" class="list-group-item list-group-item-action {% if tuitionFilter.currentTuition == tuition %}active{% endif %}">
                                        <i class="fas fa-chalkboard"></i>
                                        {% if tuition.displayName is not empty %}
                                            {{ tuition.displayName }}
                                        {% else %}
                                            {{ tuition.name }}
                                        {% endif %}
                                        ({% for grade in tuition.studyGroup.grades %}{{ grade.name }}{% if not loop.last %}, {% endif %}{% endfor %})
                                    </a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

                <div class="card">
                    <div class="card-body">
                        {% include "_filter/section.html.twig" %}

                        {% include "_filter/tuition.html.twig" with { params: currentFilter|merge({student: null, null: null})} %}

                        {% include "_filter/student.html.twig" with { params: currentFilter|merge({tuition:null, grade: null})} %}

                        {% include "_filter/grade.html.twig" with { params: currentFilter|merge({student: null, tuition: null})} %}
                    </div>
                </div>

                {% if overview is not null %}
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fas fa-key"></i> {{ 'book.grades.password.title'|trans }}</h5>
                        <p>
                            {{ 'book.grades.password.info'|trans }}
                        </p>

                        <div id="key" class="hide" data-ttl="{{ ttl }}">{{ key }}</div>

                        <div class="input-group">
                            <input type="password" id="passphrase" class="form-control" autocomplete="off" data-enter="#password_btn" />
                            <div class="input-group-append">
                                <button type="button" id="password_btn" data-passphrase="#passphrase" data-key="#key" class="btn btn-outline-primary">
                                    <i class="fas fa-check"></i>
                                </button>
                            </div>
                        </div>

                        <div class="bs-callout bs-callout-success hide mb-0">
                            <p>{{ 'book.grades.password.success'|trans }}</p>

                            {% if ttl > 0 %}
                                <p>{{ 'book.grades.password.ttl'|trans({'%seconds%': ttl }) }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

