<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ 'invalid_account.title'|trans({}, 'security') }}</title>

    <link rel="stylesheet" href="{{ asset('build/app.css') }}" type="text/css">
</head>

<body>
    <div class="container-fluid p-4">
        <h1>{{ 'invalid_account.title'|trans({}, 'security') }}</h1>

        <p>{{ message }}</p>

        <p class="text-muted">
            Exception: {{ type }}
        </p>
    </div>
</body>
</html>