{% extends "main.html.twig" %}

{% block title %}{{ 'sick_notes.add.label'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        {% if is_granted('view-sicknotes') %}
            <li class="breadcrumb-item"><a href="{{ path('sick_notes') }}">{{ 'sick_notes.label'|trans }}</a></li>
        {% endif %}
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="container-fluid px-0">
        <div class="row">
            <div class="col-md-9">
                {{ form_start(form) }}

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fa fa-info-circle"></i> {{ 'info.label'|trans }}</h5>

                        {% if settings.introductionText is not null %}
                            {{ settings.introductionText|markdown }}
                        {% endif %}

                        <p>
                            {{ 'sick_notes.add.privacy.info'|trans }}
                            {% if settings.retentionDays > 0 %}
                                {{ 'sick_notes.history.retention'|trans({'%count%': settings.retentionDays }) }}
                            {% endif %}
                        </p>

                        {% if settings.privacyUrl is not null %}
                            <a href="{{ settings.privacyUrl }}" target="_blank" class="btn btn-outline-primary btn-sm">
                                <i class="fa fa-external-link-alt"></i> {{ 'sick_notes.add.privacy.link'|trans }}
                            </a>
                        {% endif %}
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">{{ 'label.general'|trans }}</div>
                    <div class="card-body">
                        {{ form_row(form.student) }}
                        {{ form_row(form.reason)}}
                        {{ form_row(form.orderedBy) }}
                        {{ form_row(form.until) }}
                        {{ form_row(form.message) }}
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">{{ 'sick_notes.add.contact.label'|trans }}</div>
                    <div class="card-body">
                        <div class="bs-callout bs-callout-info">
                            {{ 'sick_notes.add.contact.info'|trans }}
                        </div>

                        {{ form_row(form.phone) }}
                        {{ form_row(form.email) }}
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">{{ 'sick_notes.add.attachments.label'|trans }}</div>
                    <div class="card-body">
                        <div class="bs-callout bs-callout-info">
                            {{ 'sick_notes.add.attachments.info'|trans }}
                        </div>

                        {{ form_row(form.attachments) }}
                    </div>
                </div>

                <div class="buttons">
                    <button type="submit" class="btn btn-primary btn-sm">
                        <i class="fa fa-envelope"></i> {{ 'sick_notes.add.send'|trans }}
                    </button>
                </div>

                {{ form_end(form) }}
            </div>

            <div class="col-md-3 sticky-sidebar">
                <div class="card">
                    <div class="card-header">
                        {{ 'sick_notes.history.label'|trans }}
                    </div>

                    <div class="card-body">
                        <p>{{ 'sick_notes.history.info'|trans }}</p>
                    </div>

                        <ul class="list-group list-group-flush">
                            {% if sick_notes|length == 0 %}
                                <li class="list-group-item">
                                    {{ 'sick_notes.history.empty'|trans }}
                                </li>
                            {% endif %}

                            {% for note in sick_notes %}
                                <li class="list-group-item">
                                    <div>
                                        {{ 'sick_notes.history.note'|trans({ '%student%': note.student|student, '%date%': note.until|format_date }) }}
                                    </div>
                                    <small class="text-secondary">
                                        <i class="fa fa-calendar-alt"></i> {{ note.createdAt|format_datetime }}
                                    </small>
                                </li>
                            {% endfor %}
                        </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    {{ parent() }}

    <script>
        function showOrHideOrderedBy() {
            let currentSelection = null;
            let element = document.getElementById('sick_note_orderedBy');
            let parent = element.closest('.form-group');

            document.querySelectorAll('input[name="sick_note[reason]"]').forEach(function(el) {
                if(el.checked) {
                    currentSelection = el.value;
                }
            });

            if(currentSelection === 'quarantine') {
                parent.querySelector('input').required = true;
                parent.classList.remove('hide');
            } else {
                parent.querySelector('input').required = false;
                parent.classList.add('hide');
            }
        }

        document.addEventListener('DOMContentLoaded', function() {
            document.querySelectorAll('input[name="sick_note[reason]"]').forEach(function(el) {
                el.addEventListener('change', showOrHideOrderedBy);
            });

            showOrHideOrderedBy();
        });
    </script>
{% endblock %}