{% extends "main.html.twig" %}

{% block title %}{{ 'sick_notes.show.label'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('sick_notes') }}">{{ 'sick_notes.label'|trans }}</a></li>
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="container-fluid px-0">
        <div class="row">
            <div class="col-md-9">
                <div class="card">
                    <div class="card-body flush-last-p">
                        <h4 class="card-title">
                            {{ 'sick_notes.show.header'|trans({'%student%': note.student|student}) }}

                            <span class="badge badge-primary">
                                {{ note.reason|enum }}

                                {%- if note.orderedBy is not empty -%}
                                    : {{ note.orderedBy }}
                                {%- endif -%}
                            </span>
                        </h4>

                        {{ note.message|markdown }}
                    </div>

                    {% if note.attachments|length > 0 %}
                        <div class="card-footer">
                            <ul class="nav nav-pills card-header-pills">
                                {% for attachment in note.attachments %}
                                    <li class="nav-item">
                                        <a class="nav-link link-hover" href="{{ path('download_sick_note_attachment', { uuid: attachment.uuid }) }}">
                                            <i class="fa fa-download"></i> {{ attachment.filename }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="col-md-3">
                {% if note.email is not empty or note.phone is not empty %}
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">{{ 'sick_notes.show.contact'|trans }}</h4>

                            {% if note.email is not empty %}
                                <p>
                                    <i class="fas fa-envelope"></i>
                                    <a href="mailto:{{ note.email }}">
                                        {{ note.email }}
                                    </a>
                                </p>
                            {% endif %}

                            {% if note.phone is not empty %}
                                <p>
                                    <i class="fas fa-phone"></i>
                                    <a href="tel:{{ note.phone }}">
                                        {{ note.phone }}
                                    </a>
                                </p>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}

                <div class="card">
                    <div class="card-body">
                        <p>
                            <span class="text-muted">{{ 'sick_notes.add.absent_from'|trans }}</span>
                            {{ note.from.date|format_date }} ({{ 'label.exam_lessons'|trans({'%start%': note.from.lesson, '%count%': 0}) }})
                        </p>

                        <p>
                            <span class="text-muted">{{ 'sick_notes.add.absent_until'|trans }}</span>
                            {{ note.until.date|format_date }} ({{ 'label.exam_lessons'|trans({'%start%': note.until.lesson, '%count%': 0}) }})
                        </p>

                        <p>
                            <span class="text-muted">{{ 'sick_notes.created_by'|trans }}</span>
                            {{ note.createdBy|user }}
                        </p>

                        <p>
                            <span class="text-muted">{{ 'sick_notes.created_at'|trans }}</span>
                            {{ note.createdAt|format_datetime }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
