{% extends "main.html.twig" %}
{% import "dashboard/widgets.html.twig" as dashboard %}

{% block title %}{{ 'dashboard.label'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">{{ 'dashboard.label'|trans }}</li>
    </ol>
{% endblock %}

{% block content %}

    {% set currentFilter = { student: studentFilter.currentStudent ? studentFilter.currentStudent.uuid : null, teacher: teacherFilter.currentTeacher ? teacherFilter.currentTeacher.acronym : null, user_type: userTypeFilter.currentType ?  userTypeFilter.currentType.value : null } %}

    <div class="container-fluid px-0">
        <div class="row">
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header">
                        <ul class="nav nav-pills card-header-pills" data-trigger="resize-hide">
                            {% set previousDate = selectedDate|previous_date %}
                            <li class="nav-item" data-resize="show">
                                <a class="nav-link" href="{{ path('dashboard', currentFilter|merge({ date: previousDate|date('Y-m-d') })) }}">
                                    <i class="fa fa-chevron-left"></i>
                                </a>
                            </li>

                            {% for day in days %}
                                <li class="nav-item">
                                    <a class="nav-link{% if selectedDate == day %} active{% endif %}" {% if selectedDate == day %}data-resize="prevent"{% endif %} href="{{ path('dashboard', currentFilter|merge({ date: day|date('Y-m-d') })) }}">
                                        <i class="fa fa-calendar"></i> {{ day.format('w')|weekday(true) }}., {{ day.format('date.format_short'|trans) }}
                                    </a>
                                </li>
                            {% endfor %}

                            {% set nextDate = selectedDate|next_date %}
                            <li class="nav-item" data-resize="show">
                                <a class="nav-link" href="{{ path('dashboard', currentFilter|merge({ date: nextDate|date('Y-m-d') })) }}">
                                    <i class="fa fa-chevron-right"></i>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="card-body">
                        {% if view.empty %}
                            <div class="bs-callout bs-callout-info">
                                <h4>{{ 'info.label'|trans }}</h4>

                                <p>{{ 'dashboard.empty'|trans }}</p>
                            </div>
                        {% endif %}

                        <ul class="nav nav-pills nav-justified mb-3 mx-n1">
                            <a href="#infotexts" class="nav-item nav-link bg-primary text-white mx-1">
                                {{ 'dashboard.nav.infotexts'|trans({'%count%': view.infotexts|length}) }}
                                <span class="badge badge-light">
                                    {{ view.infotexts|length }}
                                </span>
                            </a>
                            {% if is_granted('view-absences') %}
                                <a href="#absences" class="nav-item nav-link bg-primary text-white mx-1">
                                    {{ 'plans.substitutions.absence.teacher'|trans() }}

                                    <span class="badge badge-light">
                                        {{ view.absentTeachers|length }}
                                    </span>
                                </a>
                                <a href="#absences" class="nav-item nav-link bg-primary text-white mx-1">
                                    {{ 'plans.substitutions.absence.study_groups'|trans() }}

                                    <span class="badge badge-light">
                                        {{ view.absentStudyGroups|length }}
                                    </span>
                                </a>
                            {% endif %}
                        </ul>

                        {# Messages #}
                        {% for message in view.messages %}
                            {% include "_includes/message.html.twig" with { message: message } only %}
                        {% endfor %}

                        {# Loop lessons #}
                        {% for lesson in view.lessons %}
                            {% if view.itemsBefore(lesson)|length > 0 %}
                                {% for item in view.itemsBefore(lesson) %}
                                    {% set type = item.blockName %}

                                    {% if type == 'supervision' %}
                                        {{ dashboard.supervision(item, lesson, supervisionLabels) }}
                                    {% elseif type == 'substitution' %}
                                        {{ dashboard.substitution(item, lesson) }}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}

                            {% if view.items(lesson)|length > 0 %}
                                {% for item in view.items(lesson) %}
                                    {% set type = item.blockName %}

                                    {% if type == 'exam' %}
                                        {{ dashboard.exam(item, lesson) }}
                                    {% elseif type == 'lesson' %}
                                        {{ dashboard.lesson(item, lesson, gradesWithCourseNames) }}
                                    {% elseif type == 'supervision' %}
                                        {{ dashboard.supervision(item, lesson, supervisionLabels) }}
                                    {% elseif type == 'substitution' %}
                                        {{ dashboard.substitution(item, lesson) }}
                                    {% elseif type == 'appointment' %}
                                        {{ dashboard.appointment(item, lesson) }}
                                    {% elseif type == 'invigilator' %}
                                        {{ dashboard.invigilator(item, lesson) }}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}

                        {# Daily infos #}
                        <a id="infotexts"></a>
                        {% include "_includes/infotexts.html.twig" with { infotexts: view.infotexts } only %}

                        {# Absences #}
                        <a id="absences"></a>
                        {% include "_includes/absences.html.twig" with {absentTeachers: view.absentTeachers, absentStudyGroups: view.absentStudyGroups} only %}
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        {% set studentParam = (studentFilter.currentStudent == null) ? null : studentFilter.currentStudent.uuid %}
                        {% set userTypeParam = (userTypeFilter.currentType == null or userTypeFilter.types|length == 0) ? null : userTypeFilter.currentType.value %}
                        {% set dateParam = selectedDate|date('Y-m-d') %}

                        {% if teacherFilter.teachers|length > 0 %}
                            {% include "_filter/teacher.html.twig" with { params: {} } %}
                        {% endif %}

                        {% if studentFilter.studentGradeGroups|length > 0 %}
                            {% include "_filter/student.html.twig" with { params: { user_type: userTypeParam, date: dateParam } } %}
                        {% endif %}

                        {% if userTypeFilter.types|length > 0 %}
                            {% include "_filter/user_type.html.twig" with { params: { student: studentParam, date: dateParam } } %}
                        {% endif %}

                        <form role="form" method="get" class="form hidden-print">
                            {% include "_filter/_params.html.twig" with { params: currentFilter } %}

                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                </div>
                                <input class="form-control" type="date" name="date" data-trigger="submit" pattern="\d{4}-\d{2}-\d{2}" value="{{ dateParam }}">
                            </div>

                            <!--
                            <div class="form-group">
                                <label for="usertype">{{ 'label.date'|trans }}:</label>
                                <input class="form-control" type="date" name="date" data-trigger="submit" pattern="\d{4}-\d{2}-\d{2}" value="{{ dateParam }}">
                            </div>-->
                        </form>
                    </div>

                    <div class="card-footer">
                        <a href="{{ path('dashboard') }}" class="btn btn-primary btn-sm">{{ 'filter.reset'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}