{% extends "main.html.twig" %}
{% import "dashboard/widgets.html.twig" as dashboard %}

{% macro subject(tuition) %}
    {% if tuition.displayName is not empty %}
        {{ tuition.displayName|upper }}
    {% elseif show_coursename(tuition.studyGroup.grades) %}
        {{ tuition.studyGroup.name|upper }}
    {% else %}
        {{ tuition.subject.abbreviation|upper }}
    {% endif %}
{% endmacro %}

{% block title %}{{ 'dashboard.label'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">{{ 'dashboard.label'|trans }}</li>
    </ol>
{% endblock %}

{% block icons %}
    {% set totalMessages = view.priorityMessages|length + view.messages|length %}
    {% set dismissed = 0 %}
    {% for message in view.messages|merge(view.priorityMessages) %}
        {% if is_dismissed(message) %}
            {% set dismissed = dismissed + 1 %}
        {% endif %}
    {% endfor %}

    <ul class="nav nav-pills card-header-pills">
        {% if view.substitutionMentions|length > 0 %}
            <li class="nav-item">
                <a href="#mentions" class="nav-link" data-trigger="scroll" title="{{ 'dashboard.substitution_mentions'|trans }}">
                    <i class="fas fa-quote-left"></i> {{ view.substitutionMentions|length }}
                </a>
            </li>
        {% endif %}

        {% if view.infotexts|length > 0 %}
            <li class="nav-item">
                <a href="#infotexts" class="nav-link" data-trigger="scroll" title="{{ 'dashboard.infotexts'|trans }}">
                    <i class="fas fa-info-circle"></i> {{ view.infotexts|length }}
                </a>
            </li>
        {% endif %}

        {% if view.exams|length > 0 %}
            <li class="nav-item">
                <a href="#exams" class="nav-link" data-trigger="scroll" title="{{ 'label.exams'|trans }}">
                    <i class="fas fa-edit"></i> {{ view.exams|length }}
                </a>
            </li>
        {% endif %}

        {% if totalMessages > 0 and (totalMessages - dismissed) > 0 %}
            <li class="nav-item">
                <a href="#messages" class="nav-link" data-trigger="scroll" title="{{ 'messages.overview.label'|trans }}">

                    <i class="fas fa-envelope-open-text"></i> {{ totalMessages - dismissed }} / {{ totalMessages }}
                </a>
            </li>
        {% endif %}
        {% if view.appointments|length > 0 %}
            <li class="nav-item">
                <a href="#appointments" class="nav-link" data-trigger="scroll" title="{{ 'dashboard.appointments'|trans }}">
                    <i class="far fa-calendar"></i> {{ view.appointments|length }}
                </a>
            </li>
        {% endif %}
        {% if is_granted('view-absences') and (view.absentTeachers|length > 0 or view.absentStudyGroups|length > 0) %}
            <li class="nav-item">
                <a href="#absences" class="nav-link" data-trigger="scroll" title="{{ 'dashboard.absences'|trans() }}">
                    <i class="fas fa-users-slash"></i> {{ view.absentTeachers|length + view.absentStudyGroups|length}}
                </a>
            </li>
        {% endif %}
        {% if view.exercises is not null and view.exercises.entriesWithExercise|length > 0 %}
            <li class="nav-item">
                <a href="#exercises" class="nav-link" data-trigger="scroll" title="{{ 'dashboard.exercises'|trans }}">
                    <i class="fas fa-tasks"></i> {{ view.exercises.entriesWithExercise|length }}
                </a>
            </li>
        {% endif %}
        {% if view.teacherBirthdays|length > 0 or view.studentBirthdays|length > 0 %}
            <li class="nav-item">
                <a href="#birthdays" class="nav-link" data-trigger="scroll" title="{{ 'dashboard.birthdays'|trans }}">
                    <i class="fas fa-birthday-cake"></i> {{ (view.teacherBirthdays|length + view.studentBirthdays|length) }}
                </a>
            </li>
        {% endif %}

        <li class="nav-item pull-right d-md-none d-lg-none d-xl-none">
            <a href="#filter" class="nav-link" data-trigger="scroll">
                <i class="fas fa-filter"></i> {{ 'filter.label'|trans }}
            </a>
        </li>
    </ul>
{% endblock %}

{% block priority_messages %}
    {% for message in view.priorityMessages %}
        {% include "_includes/message.html.twig" with { message: message } only %}
    {% endfor %}
{% endblock %}

{% block agenda %}
    <div id="app">
    {% if view.lessons|length > 0 %}
        <div class="spacer">
            <span><i class="fas fa-clock"></i> {{ 'dashboard.agenda'|trans }}</span>
        </div>
        {% for lessonNumber in view.lessonNumbers %}
            {% set lesson = view.lesson(lessonNumber, true) %}

            {% if lesson is not null %}
                {% for item in lesson.items %}
                    {% set type = item.blockName %}

                    {% if type == 'supervision' %}
                        {{ dashboard.supervision(item, lessonNumber, null, null, lesson.warning, false, supervisionLabels) }}
                    {% elseif type == 'substitution' %}
                        {{ dashboard.substitution(item, lessonNumber, startTimes[lessonNumber], endTimes[lessonNumber], lesson.warning) }}
                    {% endif %}
                {% endfor %}
            {% endif %}

            {% set lesson = view.lesson(lessonNumber, false) %}
            {% if lesson is not null %}
                {% for item in lesson.items %}
                    {% set type = item.blockName %}

                    {% if type == 'exam' %}
                        {{ dashboard.exam(item, lessonNumber, startTimes[lessonNumber], lesson.warning, endTimes[lessonNumber]) }}
                    {% elseif type == 'lesson' %}
                        {{ dashboard.lesson(item, lessonNumber, startTimes[lessonNumber], endTimes[lessonNumber], lesson.warning, lesson.isCurrent, gradesWithCourseNames) }}
                    {% elseif type == 'free_lesson' %}
                        {{ dashboard.free_lesson(item, lessonNumber, startTimes[lessonNumber], endTimes[lessonNumber], lesson.warning, lesson.isCurrent) }}
                    {% elseif type == 'supervision' %}
                        {{ dashboard.supervision(item, lessonNumber, startTimes[lessonNumber], endTimes[lessonNumber], lesson.warning, false, supervisionLabels) }}
                    {% elseif type == 'substitution' %}
                        {{ dashboard.substitution(item, lessonNumber, startTimes[lessonNumber], endTimes[lessonNumber], lesson.warning, lesson.isCurrent) }}
                    {% elseif type == 'appointment' %}
                        {{ dashboard.appointment(item, lessonNumber, startTimes[lessonNumber], endTimes[lessonNumber], lesson.warning, lesson.isCurrent) }}
                    {% elseif type == 'exam_supervision' %}
                        {{ dashboard.exam_supervision(item, lessonNumber, startTimes[lessonNumber], endTimes[lessonNumber], lesson.warning, lesson.isCurrent) }}
                    {% elseif type == 'reservation' %}
                        {{ dashboard.reservation(item, lessonNumber, startTimes[lessonNumber], endTimes[lessonNumber]) }}
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% endif %}
    </div>
{% endblock %}

{% block mentions %}
    {% if view.substitutionMentions|length > 0 %}
        <div class="spacer">
            <span><a id="mentions"></a><i class="fas fa-quote-left"></i> {{ 'dashboard.substitution_mentions'|trans }}</span>
        </div>

        {% for mention in view.substitutionMentions %}
            {{ dashboard.substitution(mention, null, null, null, false, false) }}
        {% endfor %}
    {% endif %}
{% endblock %}

{% block daily_info %}
    {% if view.infotexts|length > 0 or view.absentStudyGroups|length > 0 or view.absentTeachers|length > 0 %}
        <div class="spacer">
            <span><a id="absences"></a><a id="infotexts"></a><i class="fas fa-info-circle"></i> {{ 'dashboard.daily_info'|trans }}</span>
        </div>

        {# Infotexts #}
        {% include "_includes/infotexts.html.twig" with { infotexts: view.infotexts } only %}

        {# Absences #}
        {% include "_includes/absences.html.twig" with {absentTeachers: view.absentTeachers, absentStudyGroups: view.absentStudyGroups} only %}

        {# Birthdays #}
        {% if view.teacherBirthdays|length > 0 or view.studentBirthdays|length > 0 %}
            <div class="card">
                <div class="card-body mb-n2">
                    {% for teacher in view.teacherBirthdays %}
                        <div class="mb-2">
                            <i class="fa fa-birthday-cake align-self-baseline me-2"></i> {{ teacher|teacher }}
                        </div>
                    {% endfor %}

                    {% for student in view.studentBirthdays %}
                        <div class="mb-2">
                            <i class="fa fa-birthday-cake align-self-baseline me-2"></i> {{ student|student(true) }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}

{% block exams %}
    {% if view.exams|length > 0 %}
        <div class="spacer">
            <span><a id="exams"></a><i class="fas fa-edit"></i> {{ 'label.exams'|trans }}</span>
        </div>

        {% for exam in view.exams %}
            {{ dashboard.exam(exam, null, null, null) }}
        {% endfor %}
    {% endif %}
{% endblock %}

{% block appointments %}
    {% if view.appointments|length > 0 %}
        <div class="spacer">
            <span><a id="appointments"></a><i class="fas fa-calendar"></i> {{ 'dashboard.appointments'|trans }}</span>
        </div>

        {% for appointment in view.appointments %}
            {{ dashboard.appointment(appointment) }}
        {% endfor %}
    {% endif %}
{% endblock %}

{% block exercises %}
    {% if view.exercises is not null and view.exercises.entriesWithExercise|length > 0 %}
        <div class="spacer mb-2">
            <span>
                <a id="exercises"></a>
                <i class="fas fa-tasks"></i> {{ 'dashboard.exercises'|trans }}
                <span class="badge text-bg-secondary">{{ view.exercises.grade.name }}</span>
            </span>
        </div>

        <div class="mb-2 text-center text-secondary">
            {{ view.exercises.start|format_date }} - {{ view.exercises.end|format_date }}
        </div>

        {% for entry in view.exercises.entriesWithExercise %}
            <div class="card">
                <div class="card-body">
                    <div class="mb-2">
                        <span class="badge text-bg-primary">
                            {{ _self.subject(entry.tuition) }}

                            {% if entry.replacementSubject is not empty %}
                                ⟶ {{ entry.replacementSubject|upper }}
                            {% endif %}
                        </span>

                        <i class="fas fa-calendar-alt"></i>
                        {{ entry.lesson.date|format_date }}
                    </div>

                    <div>
                        {{ entry.exercises }}
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block messages %}
    <a id="messages"></a>
    {% for message in view.messages %}
        {% include "_includes/message.html.twig" with { message: message } only %}
    {% endfor %}
{% endblock %}

{% block content %}

    {% set currentFilter = { student: studentFilter.currentStudent ? studentFilter.currentStudent.uuid.toString() : null, teacher: teacherFilter.currentTeacher ? teacherFilter.currentTeacher.uuid.toString() : null, user_type: userTypeFilter.currentType ?  userTypeFilter.currentType.value : null } %}

    <div class="container-fluid px-0">
        <div class="row">
            <div class="col-md-9">
                <div class="card">
                    {% set rendered_icons = block('icons') %}
                    <div class="card-header d-flex align-items-center border-bottom-0">
                        <ul class="nav nav-pills card-header-pills flex-fill" data-trigger="resize-hide">
                            {% set previousDate = selectedDate|previous_date(settings.skipWeekends) %}
                            <li class="nav-item" data-resize="show">
                                <a class="nav-link" href="{{ path('dashboard', currentFilter|merge({ date: previousDate|date('Y-m-d') })) }}">
                                    <i class="fa fa-chevron-left"></i>
                                </a>
                            </li>

                            {% for day in days %}
                                <li class="nav-item">
                                    <a class="nav-link{% if selectedDate == day %} active{% endif %}" {% if selectedDate == day %}data-resize="prevent"{% endif %} href="{{ path('dashboard', currentFilter|merge({ date: day|date('Y-m-d') })) }}">
                                        <i class="fa fa-calendar"></i> {{ day.format('w')|weekday(true) }}., {{ day.format('date.format_short'|trans) }}
                                    </a>
                                </li>
                            {% endfor %}

                            {% set nextDate = selectedDate|next_date(settings.skipWeekends) %}
                            <li class="nav-item" data-resize="show">
                                <a class="nav-link" href="{{ path('dashboard', currentFilter|merge({ date: nextDate|date('Y-m-d') })) }}">
                                    <i class="fa fa-chevron-right"></i>
                                </a>
                            </li>
                        </ul>

                        <div class="d-none d-lg-block d-xl-block">
                            {{ rendered_icons|raw }}
                        </div>
                    </div>

                    {% if rendered_icons|trim is not empty %}
                    <div class="card-header d-block d-lg-none d-xl-none border-bottom-0">
                        {{ rendered_icons|raw }}
                    </div>
                    {% endif %}
                </div>

                {% if view.empty %}
                    <div class="bs-callout bs-callout-info">
                        <h4>{{ 'info.label'|trans }}</h4>

                        <p>{{ 'dashboard.empty'|trans }}</p>
                    </div>
                {% endif %}

                {% set collisions = view.numberOfCollisions %}
                {% if collisions > 0 %}
                    <div class="alert alert-danger border-danger d-flex">
                        <span class="align-self-center me-2">
                            <i class="fa fa-exclamation-triangle"></i>
                        </span>

                        <span class="align-self-center">
                            {{ 'dashboard.collision.label'|trans({'%count%': collisions}) }} {{ 'dashboard.collision.hint'|trans }}
                        </span>
                    </div>
                {% endif %}

                {% block dashboard %}{% endblock %}
            </div>
            <div class="col-md-3 sticky-sidebar">

                {% set canCreateMessage = is_granted('new-message') %}
                {% set canCreateAbsence = is_granted('new-absence') %}
                {% set canCreateBulkAbsence = is_granted('new-absence-bulk') %}
                {% set canCreateReservation = is_granted('new-reservation') %}
                {% set canCreateExcuseNote = is_granted('ROLE_BOOK_ENTRY_CREATOR') %}
                {% set canCreateTeacherAbsence = is_granted('new-teacher-absence') %}

                {% if canCreateMessage or canCreateAbsence or canCreateBulkAbsence or canCreateReservation or canCreateExcuseNote or canCreateTeacherAbsence %}
                    <div class="card">
                        <div class="list-group list-group-flush">
                            {% if canCreateMessage %}
                                <a href="{{ path('add_message') }}" class="list-group-item list-group-item-action">
                                    <i class="fas fa-plus"></i> {{ 'messages.add.label'|trans }}
                                </a>
                            {% endif %}
                            {% if canCreateReservation %}
                                <a href="{{ path('add_room_reservation') }}" class="list-group-item list-group-item-action">
                                    <i class="fas fa-plus"></i> {{ 'resources.reservations.add.label'|trans }}
                                </a>
                            {% endif %}
                            {% if canCreateTeacherAbsence %}
                                <a href="{{ path('add_teacher_absence') }}" class="list-group-item list-group-item-action">
                                    <i class="fas fa-plus"></i> {{ 'absences.teachers.add.label'|trans }}
                                    <span class="badge text-bg-primary">{{ 'label.teachers_simple'|trans }}</span>
                                </a>
                            {% endif %}
                            {% if canCreateAbsence %}
                                <a href="{{ path('add_student_absence') }}" class="list-group-item list-group-item-action">
                                    <i class="fas fa-plus"></i> {{ 'absences.students.add.label'|trans }}
                                    {% if canCreateTeacherAbsence %}
                                        <span class="badge text-bg-primary">{{ 'label.students_simple'|trans }}</span>
                                    {% endif %}
                                </a>
                            {% endif %}
                            {% if canCreateBulkAbsence %}
                                <a href="{{ path('add_student_absence_bulk') }}" class="list-group-item list-group-item-action">
                                    <i class="fas fa-plus"></i> {{ 'absences.students.add_bulk.label'|trans }}
                                    {% if canCreateTeacherAbsence %}
                                        <span class="badge text-bg-primary">{{ 'label.students_simple'|trans }}</span>
                                    {% endif %}
                                </a>
                            {% endif %}
                            {% if canCreateExcuseNote %}
                                <a href="{{ path('add_excuse') }}" class="list-group-item list-group-item-action">
                                    <i class="fas fa-plus"></i> {{ 'book.excuse_note.add.label'|trans }}
                                </a>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}

                <div class="card" id="filter">
                    <div class="card-body">
                        {% set studentParam = (studentFilter.currentStudent == null) ? null : studentFilter.currentStudent.uuid %}
                        {% set userTypeParam = (userTypeFilter.currentType == null or userTypeFilter.types|length == 0) ? null : userTypeFilter.currentType.value %}
                        {% set dateParam = selectedDate|date('Y-m-d') %}

                        {% if teacherFilter.teachers|length > 0 %}
                            {% include "_filter/teacher.html.twig" with { params: { date: dateParam } } %}
                        {% endif %}

                        {% if roomFilter.rooms|length > 0 %}
                            {% include "_filter/room.html.twig" with { params: { date: dateParam } } %}
                        {% endif %}

                        {% if studentFilter.studentGradeGroups|length > 0 %}
                            {% include "_filter/student.html.twig" with { params: { user_type: userTypeParam, date: dateParam } } %}
                        {% endif %}

                        {% if userTypeFilter.types|length > 0 %}
                            {% include "_filter/user_type.html.twig" with { params: { student: studentParam, date: dateParam } } %}
                        {% endif %}

                        <form role="form" method="get" class="form hidden-print">
                            {% include "_filter/_params.html.twig" with { params: currentFilter } %}

                            <div class="input-group">
                                <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                <input class="form-control" type="date" name="date" data-trigger="submit" pattern="\d{4}-\d{2}-\d{2}" value="{{ dateParam }}">
                            </div>
                        </form>

                        <div class="mt-3 mb-0">
                            {% if section is not null %}
                                <i class="fas fa-sliders-h"></i> {{ section.displayName }}
                            {% else %}
                                <i class="fas fa-sliders-h"></i> {{ 'label.not_available'|trans }}
                            {% endif %}
                        </div>
                    </div>

                    <div class="card-footer">
                        <a href="{{ path('dashboard') }}" class="btn btn-primary btn-sm">{{ 'filter.reset'|trans }}</a>
                    </div>
                </div>

                {% if studentFilter.currentStudent and section != null %}
                    {% set student = studentFilter.currentStudent %}
                    <div class="card">
                        <div class="card-body">
                            {% set grade = student.grade(section) %}
                            <h5 class="card-title">
                                <i class="far fa-address-card"></i> {{ student|student }}

                                {% if grade is not null %}
                                    ({{ grade.name }})
                                {% endif %}
                            </h5>

                            {% if student.email is not empty %}
                                <p>
                                    <i class="fas fa-envelope" title="{{ 'label.email'|trans }}"></i> <a href="mailto:{{ student.email }}">{{ student.email }}</a>
                                </p>
                            {% endif %}
                            {% if grade is not null %}
                            <p>
                                <i class="fas fa-graduation-cap" title="{{ 'lists.study_groups.grade_teacher'|trans }}"></i>
                                {% for teacher in grade.teachers|sort_gradeteachers|only_section(section) %}
                                    <a href="mailto:{{ teacher.teacher.email }}">{{ teacher.teacher|teacher }}</a>{% if teacher.type == 'substitute' %} <span title="{{ 'lists.teachers.substitute.long'|trans }}">{{ 'lists.teachers.substitute.short'|trans }}</span>{% endif %}
                                    {%- if not loop.last -%}, {% endif -%}
                                {% endfor %}
                            </p>
                            {% endif %}

                            {% if is_granted('show-birthday', student) %}
                                <p>
                                    <i class="fas fa-birthday-cake" title="{{ 'label.birthday'|trans }}"></i> {{ student.birthday|format_date }}

                                    {% set params = { '%date%': selectedDate|format_date } %}
                                    {% if student.isFullAged(selectedDate) %}
                                        <span class="badge text-bg-primary" title="{{ 'label.full_aged.hint_dashboard'|trans(params) }}">
                                        {{ 'label.full_aged.label'|trans }}
                                    </span>
                                    {% else %}
                                        <span class="badge text-bg-primary" title="{{ 'label.not_full_aged.hint_dashboard'|trans(params) }}">
                                        {{ 'label.not_full_aged.label'|trans }}
                                    </span>
                                    {% endif %}
                                </p>
                            {% endif %}

                            <p>
                                <i class="fas fa-user-tag" title="{{ 'label.status'|trans }}"></i> {{ student.status }}
                            </p>
                        </div>
                        <div class="list-group list-group-flush">
                            <a href="{{ path('timetable', { student: student.uuid.toString }) }}" class="list-group-item list-group-item-action">
                                <i class="fas fa-clock"></i> {{ 'plans.timetable.label'|trans }}
                            </a>
                            <a href="{{ path('exams', { student: student.uuid.toString }) }}" class="list-group-item list-group-item-action">
                                <i class="fas fa-edit"></i> {{ 'plans.exams.label'|trans }}
                            </a>
                            <a href="{{ path('appointments', { student: student.uuid.toString }) }}" class="list-group-item list-group-item-action">
                                <i class="far fa-calendar"></i> {{ 'plans.appointments.label'|trans }}
                            </a>
                            {% if is_granted('tuitions') %}
                                <a href="{{ path('list_tuitions', { student: student.uuid.toString }) }}" class="list-group-item list-group-item-action">
                                    <i class="fas fa-chalkboard-teacher"></i> {{ 'label.tuitions'|trans }}
                                </a>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}

                {% if teacherFilter.currentTeacher and section != null %}
                    {% set teacher = teacherFilter.currentTeacher %}
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><i class="far fa-address-card"></i> {{ teacher.firstname }} {{ teacher.lastname }}</h5>

                            {% if teacher.email is not empty %}
                                <p>
                                    <i class="fas fa-envelope" title="{{ 'label.email'|trans }}"></i> <a href="mailto:{{ teacher.email }}">{{ teacher.email }}</a>
                                </p>
                            {% endif %}
                            {% if teacher.grades|length > 0 %}
                            <p>
                                <i class="fas fa-chalkboard-teacher" title="{{ 'lists.study_groups.grade_teacher'|trans }}"></i>
                                {% for gradeTeacher in teacher.grades|only_section(section)|sort_gradeteachers %}
                                    {% set studyGroup = get_study_group_by_grade(gradeTeacher.grade, section) %}
                                    {%- if studyGroup is not null -%}
                                        <a href="{{ path('list_studygroups', { study_group: studyGroup.uuid.toString, section: section.uuid.toString }) }}">{{ gradeTeacher.grade.name }}</a>
                                    {%- else -%}
                                        {{ gradeTeacher.grade.name }}
                                    {%- endif -%}
                                    {% if gradeTeacher.type == 'substitute' %} <span title="{{ 'lists.teachers.substitute.long'|trans }}">{{ 'lists.teachers.substitute.short'|trans }}</span>{% endif %}
                                    {%- if not loop.last -%}, {% endif -%}
                                {% endfor %}
                            </p>
                            {% endif %}
                            <p>
                                <i class="fas fa-graduation-cap" title="{{ 'label.subjects'|trans }}"></i>
                                {% for subject in teacher.subjects %}
                                    <a href="{{ path('list_teachers', { subject: subject.uuid.toString }) }}">
                                        {{- subject.name -}}
                                    </a>{%- if not loop.last %}, {% endif %}
                                {% endfor %}
                            </p>

                            {% if is_granted('show-birthday', teacher) %}
                                <p>
                                    <i class="fas fa-birthday-cake" title="{{ 'label.birthday'|trans }}"></i> {{ teacher.birthday|format_date }}
                                </p>
                            {% endif %}

                            {% set showTags = false %}
                            {% for tag in teacher.tags %}
                                {% if is_granted('view', tag) %}
                                    {% if showTags == false %}
                                        <p>
                                            <i class="fa fa-tags"></i>

                                        {% set showTags = true %}
                                    {% endif %}
                                            <a href="{{ path('list_teachers', { tag: tag.uuid.toString }) }}">{{ tag.name }}</a>{% if not loop.last %}, {% endif %}
                                {% endif %}
                            {% endfor %}
                            {% if showTags == true %}
                                        </p>
                            {% endif %}
                        </div>
                        <div class="list-group list-group-flush">
                            <a href="{{ path('timetable', { teacher: teacher.uuid.toString }) }}" class="list-group-item list-group-item-action">
                                <i class="fas fa-clock"></i> {{ 'plans.timetable.label'|trans }}
                            </a>
                            <a href="{{ path('exams', { teacher: teacher.uuid.toString }) }}" class="list-group-item list-group-item-action">
                                <i class="fas fa-edit"></i> {{ 'plans.exams.label'|trans }}
                            </a>
                            {% if is_granted('tuitions') %}
                                <a href="{{ path('list_tuitions', { teacher: teacher.uuid.toString }) }}" class="list-group-item list-group-item-action">
                                    <i class="fas fa-chalkboard-teacher"></i> {{ 'label.tuitions'|trans }}
                                </a>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}

                <div class="card">
                    <form method="post" action="{{ path('dashboard', currentFilter) }}">
                        <div class="card-body">
                            <h5 class="card-title"><i class="fas fa-users-cog"></i> {{ 'dashboard.settings.label'|trans }}</h5>

                            {% if canIncludeGradeMessages %}
                            <div class="mb-3">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="true" id="include_grade_messages" name="include_grade_messages" {% if includeGradeMessages %} checked="checked"{% endif %}>
                                    <label for="include_grade_messages" class="form-check-label">
                                        {{ 'dashboard.settings.include_grade_messages'|trans }}
                                    </label>
                                </div>
                            </div>
                            {% endif %}

                            <div class="mb-3 mb-0">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="true" id="show_times" name="show_times" {% if showTimes %} checked="checked"{% endif %}>
                                    <label for="show_times" class="form-check-label">
                                        {{ 'dashboard.settings.show_times'|trans }}
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary btn-sm">
                                <i class="fa fa-save"></i> {{ 'actions.save'|trans }}
                            </button>
                        </div>
                    </form>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fa fa-info-circle"></i> {{ 'label.last_import'|trans }}</h5>
                        <p>
                            {% if last_import is not null %}
                                {{ last_import.updatedAt|format_datetime }}
                            {% else %}
                                {{ 'label.never'|trans }}
                            {% endif %}
                        </p>
                    </div>
                </div>

                <div class="w-100">
                    <a href="#" class="btn btn-primary btn-sm float-right" data-trigger="scroll">
                        <i class="fa fa-arrow-up"></i> {{ 'actions.top'|trans }}
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block post_javascript %}
    <script src="{{ asset('build/book.js') }}"></script>
{% endblock %}

{% block notifications %}
    {% if unreadNotificationsCount > 0 %}
        <div class="bs-callout bs-callout-warning">
            <div class="d-flex align-items-center">
                <p class="me-auto mb-0">{{ 'dashboard.notifications.unread'|trans({'%count%': unreadNotificationsCount}) }}</p>
                <div>
                    <a href="{{ path('notifications') }}" class="btn btn-outline-primary btn-sm">
                        {{ 'dashboard.notifications.link'|trans }}
                    </a>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}