{% extends "dashboard/index.html.twig" %}

{% block dashboard %}
    <div class="container-fluid px-0">
        {{ block('notifications') }}
        {{ block('missingEntries') }}

        {{ block('priority_messages') }}

        {{ block('daily_info') }}
        {{ block('agenda') }}
        {{ block('parentsDayAppointments') }}
        {{ block('mentions') }}
        {{ block('additionalItems') }}
        {{ block('exams') }}

        {% if view.messages|length > 0 %}
            <div class="spacer">
                <span><i class="fas fa-envelope-open-text"></i> {{ 'messages.overview.label'|trans }}</span>
            </div>
        {% endif %}
        {{ block('messages') }}
        {{ block('appointments') }}
        {{ block('exercises') }}
    </div>
{% endblock %}