{% macro exam(item) %}
    {% include "_includes/exam.html.twig" with { exam: item.exam, showDate: true } only %}
{% endmacro %}

{% macro lesson(item) %}
    {% set lesson = item.lesson %}
    <div class="card">
        <div class="card-body">
            <div class="row no-gutters">
                <p class="w-100">
                    <strong>{{ 'plans.exams.tuitions'|trans({'%count%': exam.tuitions|length} ) }}:</strong>
                    {{ lesson.tuition.name }}

                    <i class="fa fa-graduation-cap"></i> {% for teacher in lesson.tuition.teachers %}{{ teacher|teacher }}{% if not loop.last %}, {% endif %}{% endfor %}
                    <i class="fa fa-users"></i> {% for grade in lesson.tuition.studyGroup.grades %}{{ grade.name }}{% if not loop.last %}, {% endif %}{% endfor %}
                </p>
                <p class="w-100">
                    <strong>{{ 'label.room'|trans }}:</strong> {{ lesson.room }}
                </p>
            </div>

            {% if item.absentStudents|length > 0 %}
                <div class="card-footer">
                    <strong>{{ 'dashboard.absent_students'|trans }} <span class="badge badge-danger">{{ item.absentStudents|length }} / {{ item.tuituion.studyGroup.memberships|length }}</span>: </strong>
                    {% for student in absentStudents %}{{ 'dashboard.absent_student'|trans({'%student%': student.student|student, '%reason%': student.reason|enum }) }}{% if not loop.last %}, {% endif %}{% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro supervision(item) %}
    <div class="card">
        <div class="card-body">
            <div class="row no-gutters">
                <p class="w-100">
                    <strong>{{ 'dashboard.supervision'|trans }}:</strong> {{ item.supervision.location }}
                </p>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro substitution(item) %}
    {% include "_includes/substitution.html.twig" with { substitution: item.substitution } only %}
{% endmacro %}

{% macro appointment(item) %}
    {% include "_includes/appointment.html.twig" with { appointment: item.appointment } only %}
{% endmacro %}