{% macro replacement(original, replacement) -%}
    {%- if original is same as (replacement) -%}{{ original }}
    {%- else -%}
        {% if original is not empty and replacement is not empty -%}
            <s>{{ original }}</s>
        {%- elseif original is not empty -%}
            {{ original }}
        {% endif %}
        {%- if replacement is not empty %}
            ⟶ {{ replacement }}
        {%- endif -%}
    {%- endif -%}
{% endmacro %}

{% macro show_lesson(lesson, start, end, warning) %}
    <div class="align-self-center text-center p-3 dashboard-lesson text-black-50">
        {% if start is not empty %}
            <div class="d-block lesson-time">
                {{ start }}
            </div>
        {% endif %}

        {{ lesson }}

        {% if end is not empty %}
            <div class="d-block lesson-time">
                {{ end }}
            </div>
        {% endif %}
    </div>
{% endmacro %}

{% macro show_warning(hasWarning) %}
    {% if hasWarning|default(false) %}
        <div class="align-self-center text-center pr-3 text-danger">
            <i class="fa fa-exclamation-triangle" title="{{ 'dashboard.collision.single_label'|trans }} {{ 'dashboard.collision.hint'|trans }}"></i>
        </div>
    {% endif %}
{% endmacro %}

{% macro exam(item, lesson, start, end, hasWarning) %}
    {% set exam = item.exam %}
    <div class="card">
        <div class="d-flex">
            {% if lesson is  null %}
                {% set lesson = 'label.substitution_lessons'|trans({'%start%': exam.lessonStart, '%end%': exam.lessonEnd, '%count%': (exam.lessonEnd - exam.lessonStart)}) %}
            {% endif %}
            {{ _self.show_lesson(lesson, start, end) }}
            {{ _self.show_warning(hasWarning) }}

            <div class="card-body align-self-center d-flex align-items-sm-center pl-0">
                <div class="mr-auto align-self-center d-flex flex-wrap">
                    <span class="d-flex flex-wrap align-self-center mb-1">
                        {% for tuition in exam.tuitions %}

                            <span>
                                <span class="badge badge-primary">{{ tuition.name|upper }}</span>
                                <span class="mx-1"></span>
                            </span>
                            <span>
                                <i class="fa fa-users"></i> {% for grade in tuition.studyGroup.grades %}{{ grade.name }}{% if not loop.last %}, {% endif %}{% endfor %}
                                <span class="mx-1"></span>
                            </span>
                            <span>
                                <i class="fa fa-graduation-cap"></i> {% for teacher in tuition.teachers %}{{ teacher|teacher }}{% if not loop.last %}, {% endif %}{% endfor %}
                                <span class="mx-1"></span>
                            </span>
                        {% endfor %}

                        {% if item.exam.room is not null %}
                            <span>
                                <i class="fa fa-door-open"></i> {{ item.exam.room.name }}
                            </span>
                        {% endif %}
                    </span>
                </div>

                <a href="{{ path('show_exam', { uuid: exam.uuid }) }}" class="btn btn-outline-primary btn-sm align-self-center">
                    {{ 'label.details'|trans }}
                </a>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro exam_supervision(item, lesson, start, end, hasWarning) %}
    <div class="card {% if hasWarning %}border-danger bg-danger-light{% else %}border-warning{% endif %}">
        <div class="d-flex">
            {{ _self.show_lesson(lesson, start, end) }}
            {{ _self.show_warning(hasWarning) }}

            <div class="align-self-center d-flex flex-wrap w-100">
                <span class="align-self-center badge badge-warning my-1 mr-3">{{ 'dashboard.exam_supervision'|trans|upper }}</span>

                <div class="card-body pl-0 py-0 d-flex align-self-center align-items-center flex-column">
                    {% for exam in item.exams %}
                        <div class="d-block d-flex my-1 w-100">
                            <span class="mr-auto align-self-center">
                                <span class="d-flex flex-wrap align-self-center mb-1">
                                    {% for tuition in exam.tuitions %}
                                        <span>
                                            <span class="badge badge-primary">{{ tuition.name|upper }}</span>
                                            <span class="mx-1"></span>
                                        </span>
                                        <span>
                                            <i class="fa fa-users"></i> {% for grade in tuition.studyGroup.grades %}{{ grade.name }}{% if not loop.last %}, {% endif %}{% endfor %}
                                            <span class="mx-1"></span>
                                        </span>
                                        <span>
                                            <i class="fa fa-graduation-cap"></i> {% for teacher in tuition.teachers %}{{ teacher|teacher }}{% if not loop.last %}, {% endif %}{% endfor %}
                                            <span class="mx-1"></span>
                                        </span>
                                    {% endfor %}

                                    {% if exam.room is not null %}
                                        <span>
                                            <i class="fa fa-door-open"></i> {{ exam.room.name }}
                                            <span class="mx-1"></span>
                                        </span>
                                    {% endif %}
                                </span>
                            </span>

                            <a href="{{ path('show_exam', { uuid: exam.uuid }) }}" class="btn btn-outline-primary btn-sm align-self-center">{{ 'label.details'|trans }}</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro lesson(item, lesson, start, end, hasWarning, gradesWithCourseNames) %}
    <div class="card {% if hasWarning %}border-danger bg-danger-light{% elseif item.lesson is not null %}border-primary{% endif %}">
        <div class="d-flex">
            {{ _self.show_lesson(lesson, start, end) }}
            {{ _self.show_warning(hasWarning) }}

            {% if item.lesson is null %}
                <span class="align-self-center badge badge-light badge-card">{{ 'dashboard.free_hour'|trans|upper }}</span>
            {% else %}
            <div class="align-self-center">
                {% for lesson in item.additionalLessons|merge([item.lesson]) %}
                    {%- set gradesWithCourseNames = gradesWithCourseNames|default([]) -%}
                    {%- set showCourseName = false -%}
                    {%- set grades = lesson.grades -%}
                    {%- for grade in grades -%}
                        {% if grade.id in gradesWithCourseNames -%}
                            {% set showCourseName = true -%}
                        {% endif -%}
                    {%- endfor -%}
                    {%- set subject = lesson.subject -%}
                    {%- if lesson.tuition is not null -%}
                        {%- set subject = lesson.tuition.subject -%}
                    {%- endif -%}
                    {%- set tuition = lesson.tuition -%}
                    {%- set room = lesson.location -%}
                    {%- if lesson.room is not null -%}
                        {%- set room = lesson.room.name -%}
                    {%- endif -%}
                    <div class="align-self-center d-flex flex-wrap">
                        <span class="align-self-center badge badge-primary mr-3">
                            {% if tuition is not null %}
                                {% if tuition.displayName is not empty -%}
                                    {{ tuition.displayName|upper }}
                                {%- elseif showCourseName -%}
                                    {{ tuition.studyGroup.name|upper }}
                                {%- else -%}
                                    {%- if tuition.subject.replaceSubjectAbbreviation|upper -%}
                                        {{ tuition.subject.name|upper }}
                                    {%- else -%}
                                        {{ tuition.subject.abbreviation|upper }}
                                    {%- endif -%}
                                {%- endif -%}
                            {% elseif subject is not null %}
                                {%- if subject.replaceSubjectAbbreviation -%}
                                    {{ subject.name|upper }}
                                {%- else -%}
                                    {{ subject.abbreviation|upper }}
                                {%- endif -%}
                            {% endif %}
                        </span>

                        <div class="card-body align-self-center pl-0 py-1 py-sm-1 d-flex flex-wrap">
                            <span>
                                <i class="fa fa-users"></i>
                                {% if showCourseName and lesson.tuition is not null %}
                                    {{ lesson.tuition.studyGroup.name }}
                                    ({% for grade in grades %}{{ grade.name }}{% if not loop.last %}, {% endif %}{% endfor %})
                                {% else %}
                                    {% for grade in grades %}{{ grade.name }}{% if not loop.last %}, {% endif %}{% endfor %}
                                {% endif %}
                                <span class="mx-1"></span>
                            </span>
                            <span>
                                <i class="fa fa-door-open"></i> {% if lesson.room is not null%}{{ lesson.room.name }}{% elseif lesson.location is not empty %}{{ lesson.location }}{% else %}{{ 'label.not_available'|trans }}{% endif %}
                                <span class="mx-1"></span>
                            </span>

                            <span>
                                <i class="fa fa-graduation-cap"></i> {% for teacher in lesson.teachers %}{{ teacher|teacher }}{% if not loop.last %}, {% endif %}{% endfor %}
                            </span>
                        </div>
                    </div>
                {% endfor %}
                </div>
            {% endif %}
        </div>
        {% if item.absentStudentGroups|length > 0 %}
            <div class="card-footer pointer d-flex align-items-center" data-toggle="table-collapse" data-target="#absences-{{ item.lesson.lesson }}">
                <span class="mr-auto align-self-center">
                    <strong>{{ 'dashboard.absent_students'|trans }} <span class="badge badge-warning">{{ item.absentStudentsCount }} / {{ item.lesson.tuition.studyGroup.memberships|length }}</span></strong>
                </span>
                <i class="fa indicator align-self-center fa-chevron-down"></i>
            </div>
            <div class="card-footer collapse border-top-0" id="absences-{{ item.lesson.lesson }}">
                {% for group in item.absentStudentGroups %}
                    <div class="d-flex">
                        <div class="align-self-baseline flex-shrink-0 mr-1">
                            {% if group.isExam %}
                                <i class="fa fa-edit"></i> {% for tuition in group.objective.tuitions %}{{ tuition.name }} ({{ tuition.teachers|teachers }}){% if not loop.last %}, {% endif %}{% endfor %}:
                            {% elseif group.isAppointment %}

                            {% else %}

                            {% endif %}
                        </div>
                        <div class="align-self-baseline w-100">
                            {% for absentStudent in group.students %}{{ absentStudent.student|student }}{% if not loop.last %}, {% endif %}{% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endmacro %}

{% macro free_lesson(item, lesson, start, end, hasWarning) %}
    <div class="card {% if hasWarning %}border-danger bg-danger-light{% else %}border-warning{% endif %}">
        <div class="d-flex">
            {{ _self.show_lesson(lesson, start, end) }}
            {{ _self.show_warning(hasWarning) }}

            <span class="align-self-center badge badge-warning badge-card">{{ 'dashboard.free_lesson'|trans|upper }}</span>
        </div>
    </div>
{% endmacro %}

{% macro supervision(item, lesson, start, end, hasWarning, supervisionLabels) %}
    <div class="card {% if hasWarning %}border-danger bg-danger-light{% else %}border-primary{% endif %}">
        <div class="d-flex">
            {% if not item.supervision.isBefore %}
                {{ _self.show_lesson(lesson, start, end) }}
            {% else %}
                <div class="align-self-center text-center p-3 py-4 dashboard-lesson text-black-50"></div>
            {% endif %}

            {{ _self.show_warning(hasWarning) }}

            <div class="align-self-center d-flex flex-wrap">
                <span class="align-self-center badge badge-primary mr-3">
                    {% if supervisionLabels[lesson] is defined and supervisionLabels[lesson] is not empty %}
                        {{ supervisionLabels[lesson]|upper }}
                    {% else %}
                        {{ 'dashboard.supervision'|trans|upper }}
                    {% endif %}
                </span>

                <div class="card-body pl-0 py-1 py-sm-1">
                     <i class="fas fa-map-marker-alt"></i> {{ item.supervision.location }}
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro substitution(item, lesson, start, end, hasWarning) %}
    {% set substitution = item.substitution %}
    <div class="card {% if hasWarning %}border-danger bg-danger-light{% else %}border-warning{% endif %}">
        <div class="d-flex">
            {% if not substitution.startsBefore %}
                {% if lesson is null %}
                    {% set lesson = 'label.substitution_lessons'|trans({'%start%': substitution.lessonStart, '%end%': substitution.lessonEnd, '%count%': (substitution.lessonEnd - substitution.lessonStart)}) %}
                {% endif %}
                {{ _self.show_lesson(lesson, start, end) }}
            {% else %}
                <div class="align-self-center text-center p-3 py-4 dashboard-lesson text-black-50"></div>
            {% endif %}
            {{ _self.show_warning(hasWarning) }}

            <div class="align-self-center d-flex flex-wrap">
                <span class="badge my-1 mr-3 {% if item.isFreeLesson %}badge-light badge-card{% else %}badge-warning{% endif%} align-self-center">
                    {% if substitution.type is not empty %}
                        {{ substitution.type|upper }}
                    {% else %}
                        {{ 'dashboard.substitution'|trans|upper }}
                    {% endif %}
                </span>

                <div class="card-body align-self-center pl-0 py-1 py-sm-1 d-flex flex-wrap">
                    {% if (substitution.subject is not empty or substitution.replacementSubject is not empty) %}
                        <span>
                            {{ _self.replacement(substitution.subject, substitution.replacementSubject) }}
                            <span class="mx-1"></span>
                        </span>
                    {% endif %}

                    {% if substitution.studyGroups|length > 0 or substitution.replacementStudyGroups|length > 0 %}
                        <span>
                            <i class="fa fa-users"></i> {{ _self.replacement(substitution.studyGroups|studygroups, substitution.replacementStudyGroups|studygroups) }}
                            <span class="mx-1"></span>
                        </span>
                    {% endif %}

                    <span>
                        <i class="fa fa-graduation-cap"></i> {{ _self.replacement(substitution.teachers|teachers, substitution.replacementTeachers|teachers) }}
                        <span class="mx-1"></span>
                    </span>

                    {% if substitution.room is not null or substitution.replacementRoom is not null or substitution.roomName is not null or substitution.replacementRoomName is not null %}
                        <span>
                            <i class="fa fa-door-open"></i> {{ _self.replacement(substitution.room ? substitution.room.name : substitution.roomName, substitution.replacementRoom ? substitution.replacementRoom : substitution.replacementRoomName) }}
                        </span>
                    {% endif %}
                </div>
            </div>
        </div>

        {% if substitution.remark %}
            <div class="card-footer">
                {{ substitution.remark }}
            </div>
        {% endif %}
    </div>
{% endmacro %}

{% macro appointment(appointment) %}
    <div class="card">
        <div class="d-flex">
            <div class="align-self-center text-center p-3 dashboard-lesson text-black-50">
                <i class="fa fa-calendar-alt fa-1em"></i>
            </div>

            <div class="align-self-center d-flex flex-wrap">
                <span class="align-self-center badge badge-light mr-3 my-1">
                    {{ appointment.title|upper }}
                </span>

                <div class="card-body align-self-center pl-0 py-1 py-sm-1 d-flex flex-wrap">
                    {% set icon = "fa-calendar-alt" %}
                    {% if appointment.isAllDay %}
                        {% set start = appointment.start|format_date %}
                    {% elseif appointment.duration.d is same as(0) %}
                        {% set start = appointment.start|format_time %}
                        {% set icon = "fa-clock" %}
                    {% else %}
                        {% set start = appointment.start|format_datetime %}
                    {% endif %}
                    {% if appointment.end is not null %}
                        {% if appointment.isAllDay %}
                            {% set end = appointment.end.modify('-1 second')|format_date %}
                        {% elseif appointment.duration.d is same as(0) %}
                            {% set end = appointment.end|format_time %}
                        {% else %}
                            {% set end = appointment.end|format_datetime %}
                        {% endif %}

                        {% set date = 'date.range'|trans({'%from%': start, '%to%': end }) %}
                    {% else %}
                        {% set date = start %}
                    {% endif %}

                    {% if not appointment.allDay or appointment.duration.d > 1 %}
                        <span>
                            <i class="fa {{ icon }}"></i> {{ date }}
                            <span class="mx-1"></span>
                        </span>
                    {% endif %}

                    {% if appointment.location is not empty %}
                        <span>
                            <i class="fa fa-map-marker-alt"></i> {{ appointment.location }}
                            <span class="mx-1"></span>
                        </span>
                    {% endif %}

                    {% if appointment.studyGroups|length > 0 %}
                        <span>
                            <i class="fa fa-users"></i>
                            {{ appointment.studyGroups|studygroups(true) }}
                            <span class="mx-1"></span>
                        </span>
                    {% endif %}

                    <span class="d-md-inline d-block">
                        <span class="color-rect" style="background: {{ appointment.category.color }}"></span> {{ appointment.category.name }}
                    </span>
                </div>
            </div>
        </div>

        {% if appointment.content is not empty %}
            <div class="card-footer">
                {{ appointment.content }}
            </div>
        {% endif %}

        {% if appointment.organizers|length > 0 or appointment.externalOrganizers is not empty %}
            <div class="card-footer">
                <i class="fa fa-user"></i> {{ appointment.organizers|teachers }}{% if appointment.organizers|length > 0 and appointment.externalOrganizers is not empty %}, {% endif %}{{ appointment.externalOrganizers }}
            </div>
        {% endif %}
    </div>
{% endmacro %}

{% macro reservation(item, lesson, start, end) %}
    {% set reservation = item.reservation %}
    {% set violations = item.violations %}

    <div class="card">
        <div class="d-flex">
            {{ _self.show_lesson(lesson) }}

            {% for error in violations %}
                <div class="align-self-center text-center pr-3 text-danger">
                    <i class="fa fa-exclamation-triangle" title="{{ error.message|trans(error.parameters, 'validators') }}"></i>
                </div>
            {% endfor %}

            <div class="align-self-center d-flex flex-wrap">
                <span class="badge mr-3 my-1 {% if violations|length == 0 %}badge-light badge-card{% else %}badge-warning{% endif%} align-self-center">
                    {{ 'dashboard.reservation'|trans|upper }}
                </span>

                <div class="card-body align-self-center pl-0 py-1 py-sm-1 d-flex flex-wrap">
                    <span>{{ reservation.room.name }}</span>
                    <span class="mx-1"></span>
                    <span class="text-muted">{{ reservation.room.description }}</span>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}