{% extends "main.html.twig" %}

{% block title %}{{ 'plans.rooms.reservations.add.label'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('room_reservations') }}">{{ 'plans.rooms.reservations.label'|trans }}</a> </li>
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block content %}
    {{ form_start(form) }}

    <div class="card">
        <div class="card-header">
            {{ 'label.general'|trans }}
        </div>

        <div class="card-body">
            {{ form_widget(form) }}
        </div>
    </div>

    <div class="buttons">
        <button type="submit" class="btn btn-primary btn-sm">
            <i class="fa fa-plus"></i> {{ 'actions.add'|trans }}
        </button>

        <a href="{{ path('admin_rooms') }}" class="btn btn-secondary btn-sm">
            <i class="fa fa-arrow-left"></i> {{ 'actions.back'|trans }}
        </a>
    </div>

    {{ form_end(form) }}
{% endblock %}