{% extends "main.html.twig" %}

{% block title %}{{ 'absences.teachers.add.label'|trans }}{% endblock %}

{% block post_javascript %}
    <script src="{{ asset('build/editor.js') }}"></script>
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('teacher_absences') }}">{{ 'absences.teachers.label'|trans }}</a></li>
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="bs-callout bs-callout-info">
        <h5>{{ 'info.label'|trans }}</h5>

        <p>{{ 'absences.teachers.add.info'|trans }}</p>
    </div>

    {{ form_start(form) }}

    <div class="card">
        <div class="card-header">{{ 'label.general'|trans }}</div>
        <div class="card-body">
            {{ form_row(form.teacher) }}
            {{ form_row(form.from) }}
            {{ form_row(form.until) }}

            {% include "absences/teachers/_type_widget.html.twig" %}
            {{ form_row(form.message) }}
        </div>
    </div>

    <div class="buttons">
        <button type="submit" class="btn btn-primary btn-sm">
            <i class="fa fa-plus"></i> {{ 'actions.add'|trans }}
        </button>

        <a href="{{ path('teacher_absences') }}" class="btn btn-secondary btn-sm">
            {{ 'actions.cancel'|trans }}
        </a>
    </div>

    {{ form_end(form) }}
{% endblock %}