{% extends "main.html.twig" %}

{% block title %}{{ 'absences.teachers.edit.lessons.label'|trans }}{% endblock %}

{% block post_javascript %}
    <script src="{{ asset('build/editor.js') }}"></script>
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('teacher_absences') }}">{{ 'absences.teachers.label'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('show_teacher_absence', { uuid: absence.uuid }) }}">{{ absence.reason }}</a></li>
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block content %}
    {{ form_start(form) }}

    <div class="card">
        <div class="card-header">{{ 'label.general'|trans }}</div>
        <div class="card-body">
            {{ form_widget(form) }}
        </div>
    </div>


    <div class="buttons">
        <button type="submit" class="btn btn-primary btn-sm">
            <i class="fa fa-envelope"></i> {{ 'actions.save'|trans }}
        </button>

        <a href="{{ path('show_teacher_absence', { uuid: absence.uuid }) }}" class="btn btn-secondary btn-sm">
            {{ 'actions.cancel'|trans }}
        </a>
    </div>

    {{ form_end(form) }}
{% endblock %}