{% extends "main.html.twig" %}

{% block title %}{{ 'student_absences.label'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block content %}
    {% set currentFilter = {
        section: sectionFilter.currentSection ? sectionFilter.currentSection.uuid.toString : null,
        teacher: (isTeacherX ? '✗' : (teacherFilter.currentTeacher ? teacherFilter.currentTeacher.uuid.toString : null)),
        student: studentFilter.currentStudent ? studentFilter.currentStudent.uuid.toString : null,
        grade: gradeFilter.currentGrade ? gradeFilter.currentGrade.uuid.toString : null,
        type: typeFilter.currentType ? typeFilter.currentType.uuid.toString : null
    } %}

    <div class="container-fluid px-0">
        <div class="row">
            <div class="col-md-9">
                {% if groups|length == 0 %}
                    <div class="bs-callout bs-callout-info">
                        <h4>{{ 'info.label'|trans }}</h4>

                        <p>{{ 'student_absences.empty'|trans }}</p>
                    </div>
                {% else %}
                    {% if teacherFilter.currentTeacher is not null %}
                        <div class="bs-callout bs-callout-info">
                            <h4>{{ 'info.label'|trans }}</h4>
                            <p>{{ 'student_absences.teacher_info'|trans }}</p>
                        </div>
                    {% endif %}

                    {% for group in groups %}
                        <div class="card">
                            <div class="card-header">
                                {% if group.tuition is defined and group.tuition is instanceof('App\\Entity\\Tuition') %}
                                    {% set tuition = group.tuition %}

                                    {% if tuition.displayName is not empty %}
                                        {{ tuition.displayName }}
                                    {% else %}
                                        {{ tuition.name }}
                                    {% endif %} ({{ tuition.subject.name }})

                                    {% for grade in tuition.studyGroup.grades %}<span class="badge badge-primary">{{ grade.name }}</span> {% endfor %}
                                {% elseif group.student is defined and group.student is instanceof('App\\Entity\\Student') %}
                                    {{ group.student|student }}
                                {% elseif group.grade is defined and group.grade is instanceof('App\\Entity\\Grade') %}
                                    {{ group.grade.name }}
                                {% else %}
                                    {{ 'label.students_simple'|trans }}
                                {% endif %}
                            </div>

                            <div class="table-responsive">
                                <table class="table table-striped card-table border-top-0">
                                    <colgroup>
                                        <col class="column-lg">
                                        <col>
                                        <col>
                                        <col class="column-lg">
                                        <col class="column-lg">

                                        <col class="column-md">
                                        <col class="column-sm">
                                    </colgroup>
                                    
                                    <thead>
                                    <tr>
                                        <th>{{ 'label.reason'|trans({}, 'enums') }}</th>
                                        <th>{{ 'label.lastname'|trans }}</th>
                                        <th>{{ 'label.firstname'|trans }}</th>
                                        <th>{{ 'student_absences.add.absent_from'|trans }}</th>
                                        <th>{{ 'student_absences.add.absent_until'|trans }}</th>
                                        <th>{{ 'student_absences.created_at'|trans }}</th>
                                        <th>{{ 'label.grade'|trans }}</th>
                                        <th></th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    {% for absence in group.absences %}
                                        <tr>
                                            <td>
                                                {{ absence.type.name }}

                                                {% if absence.type.mustApprove %}
                                                    {% if absence.approvedAt is null %}
                                                        <span class="badge badge-warning">
                                                            {{ 'student_absences.approval.pending'|trans }}
                                                        </span>
                                                    {% else %}
                                                        {% if absence.isApproved %}
                                                            <span class="badge badge-success">
                                                                {{ 'student_absences.approval.approved'|trans }}
                                                            </span>
                                                        {% else %}
                                                            <span class="badge badge-danger">
                                                                {{ 'student_absences.approval.not_approved'|trans }}
                                                            </span>
                                                        {% endif %}
                                                    {% endif %}
                                                {% endif %}

                                                {% if absence.until.date >= today %}
                                                    <span class="badge badge-primary">
                                                        {{ 'student_absences.active'|trans }}
                                                    </span>
                                                {% endif %}
                                            </td>
                                            <td>{{ absence.student.lastname }}</td>
                                            <td>{{ absence.student.firstname }}</td>
                                            <td>{{ absence.from.date|format_date }} ({{ 'label.exam_lessons'|trans({'%start%': absence.from.lesson, '%count%': 0}) }})</td>
                                            <td>{{ absence.until.date|format_date }} ({{ 'label.exam_lessons'|trans({'%start%': absence.until.lesson, '%count%': 0}) }})</td>
                                            <td>{{ absence.createdAt|format_datetime }}</td>

                                            <td>
                                                {% set grade = absence.student.grade(section) %}
                                                {% if grade is not null %}
                                                    {{ grade.name }}
                                                {% else %}
                                                    {{ 'label.not_available'|trans }}
                                                {% endif %}
                                            </td>
                                            <td>
                                                <a href="{{ path('show_absence', { uuid: absence.uuid }) }}" class="btn btn-primary btn-sm">
                                                    <i class="fas fa-info-circle"></i>
                                                </a>

                                                {% if is_granted('edit', absence) %}
                                                    <a href="{{ path('edit_absence', { uuid: absence.uuid }) }}" class="btn btn-primary btn-sm">
                                                        <i class="fas fa-edit"></i>
                                                    </a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    {% endfor %}

                    {% include '@Common/includes/pagination.html.twig' with {
                        currentFilters: currentFilter,
                        currentPage: page,
                        paginationPath: 'absences',
                        lastPage: pages,
                        showAlwaysFirstAndLast: true
                    } only %}
                {% endif %}
            </div>
            <div class="col-md-3 sticky-sidebar">
                <div class="card">
                    <div class="list-group list-group-flush">
                        {% if is_granted('new-absence') %}
                            <a href="{{ path('add_absence') }}" class="list-group-item list-group-item-action">
                                <i class="fa fa-plus"></i> {{ 'student_absences.add.label'|trans }}
                            </a>
                        {% endif %}
                        {% if is_granted('new-absence-bulk') %}
                            <a href="{{ path('add_absence_bulk') }}" class="list-group-item list-group-item-action">
                                <i class="fa fa-plus"></i> {{ 'student_absences.add_bulk.label'|trans }}
                            </a>
                        {% endif %}
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        {% include "_filter/section.html.twig" %}

                        {% if teacherFilter.teachers|length > 0 %}
                            {% include "_filter/teacher.html.twig" with { allowClear: true, path: 'absences' } %}
                        {% endif %}

                        {% include "_filter/student.html.twig" %}

                        {% if gradeFilter.grades|length > 0 %}
                            {% include "_filter/grade.html.twig" %}
                        {% endif %}

                        <form role="form" method="get" class="form hidden-print">
                            {% include "_filter/_params.html.twig" with { params: currentFilter|merge({reason: null}) } %}

                            <div class="form-group">
                                <label for="type" class="control-label">{{ 'label.type'|trans }}</label>
                                <select name="type" id="type" class="form-control" data-trigger="submit" data-choice="true">
                                    <option value="" placeholder>{{ 'label.all'|trans() }}</option>
                                    {% for type in typeFilter.types %}
                                    <option value="{{ type.uuid }}" {% if typeFilter.currentType != null and typeFilter.currentType == type %}selected="selected"{% endif %}>
                                        {{ type.name }}
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </form>
                    </div>

                    <div class="card-footer">
                        <a href="{{ path('absences') }}" class="btn btn-primary btn-sm">
                            {{ 'filter.reset'|trans }}
                        </a>
                    </div>
                </div>

                <div class="w-100">
                    <a href="#" class="btn btn-primary btn-sm float-right" data-trigger="scroll">
                        <i class="fa fa-arrow-up"></i> {{ 'actions.top'|trans }}
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}