{% extends "main.html.twig" %}

{% block title %}{{ 'admin.timetable.periods.label'|trans }}{% endblock %}

{% block content %}
    {% if periods|length == 0 %}
        <div class="bs-callout bs-callout-info">
            <h5>{{ 'info.label'|trans }}</h5>

            <p>{{ 'admin.timetable.periods.overview.empty'|trans }}</p>
        </div>
    {% else %}
        <div class="card">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>{{ 'label.name'|trans }} </th>
                    <th>{{ 'label.start'|trans }}</th>
                    <th>{{ 'label.end'|trans }}</th>
                    <th> </th>
                </tr>
                </thead>

                <tbody>
                {% for period in periods %}
                    <tr>
                        <td>
                            {{ period.name }} <span class="badge badge-secondary">{{ period.externalId }}</span>
                        </td>
                        <td>
                            {{ period.start|format_date }}
                        </td>
                        <td>
                            {{ period.end|format_date }}
                        </td>
                        <td>
                            <a href="{{ path('admin_edit_timetable_period', { id: period.id }) }}" class="btn btn-primary btn-sm">
                                <i class="fa fa-edit"></i>
                            </a>

                            <a href="{{ path('admin_remove_timetable_period', { id: period.id }) }}" class="btn btn-danger btn-sm">
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

    <div class="buttons">
        <a href="{{ path('admin_add_timetable_period') }}" class="btn btn-primary btn-sm">
            <i class="fa fa-plus"></i> {{ 'admin.timetable.periods.add.label'|trans }}
        </a>
    </div>
{% endblock %}