{% extends "main.html.twig" %}

{% block title %}{{ 'admin.tuition_grades.assign.label'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('admin') }}">{{ 'admin.label'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('admin_tuition_grades') }}">{{ 'admin.tuition_grades.label'|trans }}</a></li>
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block post_javascript %}
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('tuition_filter').addEventListener('keyup', function() {
                let value = this.value;
                let select = document.getElementById('assign_tuition_grade_category_tuitions');

                if(select === null) {
                    console.error('select not found');
                    return;
                }

                for(const optgroup of select.children) {
                    optgroup.classList.remove('hide');

                    for(const option of optgroup.children) {
                        option.classList.remove('hide');
                    }
                }

                if(value === null || value === '') {
                    return;
                }

                for(const optgroup of select.children) {
                    let hidden = 0;
                    for(const option of optgroup.children) {
                        if(!option.text.includes(value)) {
                            option.classList.add('hide');
                            hidden++;
                        }
                    }

                    if(optgroup.children.length === hidden) {
                        optgroup.classList.add('hide');
                    }
                }
            });
        });
    </script>

{% endblock %}

{% block content %}
    {{ knp_menu_render('dataMenu', {'currentClass': 'active', 'template': 'admin/_menu.html.twig' }) }}

    {{ form_start(form) }}

    <div class="card">
        <div class="card-header">{{ 'label.general'|trans }}</div>

        <div class="card-body">
            {{ form_widget(form) }}

            <div class="mt-2 row">
                <label for="tuition_filter" class="col-md-2 col-form-label">{{ 'label.filter'|trans }}</label>
                <div class="col-md-10">
                    <input type="text" id="tuition_filter" class="form-control">
                </div>
            </div>
        </div>
    </div>

    <div class="buttons">
        <button type="submit" class="btn btn-primary btn-sm">
            <i class="fa fa-plus"></i> {{ 'actions.save'|trans }}
        </button>

        <a href="{{ path('admin_tuition_grades') }}" class="btn btn-secondary btn-sm">
            <i class="fa fa-arrow-left"></i> {{ 'actions.back'|trans }}
        </a>
    </div>

    {{ form_end(form) }}
{% endblock %}