{% import "knp_menu.html.twig" as macros %}

<div class="card">
    <div class="card-header border-bottom-0">
        <ul class="nav nav-pills card-header-pills">
            {% for child in knp_menu_get('settingsMenu') %}
                {% set isCurrent = false %}
                {%- if matcher.isCurrent(child) or matcher.isAncestor(child) %}
                    {%- set isCurrent = true %}
                {%- endif -%}
                <li class="nav-item">
                    <a href="{{ child.uri }}" class="nav-link {% if matcher.isCurrent(child) %}active{% endif %}" {{ macros.attributes(child.linkAttributes) }}>
                        {% if child.extras['icon'] is defined %}
                            <i class="{{ child.extras['icon'] }}"></i>
                            {{ child.label|trans }}
                        {% else %}
                            {{ child.label|trans }}
                        {% endif %}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>