{% extends "admin/settings/_settings.html.twig" %}

{% block title %}{{ 'admin.settings.appointments.label'|trans }}{% endblock %}

{% block post_javascript %}
    <script src="{{ asset('build/picker.js') }}"></script>
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('admin') }}">{{ 'admin.label'|trans }}</a></li>
        <li class="breadcrumb-item">{{ 'admin.settings.label'|trans }}</li>
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block settings_content %}
    <div class="card">
        <div class="card-header">{{ 'admin.settings.appointments.time_window'|trans }}</div>

        <div class="card-body">
            {% for name, type in userTypes %}
                {{ form_row(form['start_' ~ name]) }}
                {{ form_row(form['end_' ~ name]) }}
            {% endfor %}
        </div>
    </div>

    <div class="card">
        <div class="card-header">{{ 'admin.settings.appointments.exams'|trans }}</div>

        <div class="card-body">
            {{ form_row(form.exam_color) }}
        </div>
    </div>
{% endblock %}