{% extends "admin/settings/_settings.html.twig" %}

{% block title %}{{ 'admin.settings.book.label'|trans }}{% endblock %}

{% block post_javascript %}
    <script src="{{ asset('build/collection.js') }}"></script>
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('admin_settings') }}">{{ 'admin.settings.label'|trans }}</a></li>
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block settings_content %}
    <div class="card">
        <div class="card-header">{{ 'label.general'|trans }}</div>

        <div class="card-body">
            {{ form_row(form.grades_grade_teacher_excuses) }}
            {{ form_row(form.grades_tuition_teacher_excuses) }}

            <div class="mb-3 row">
                {{ form_label(form.exclude_student_status) }}
                <div class="col-md-10">
                    <div class="exclude_student_status" data-collection="exclude_student_status" data-prototype="{{ form_widget(form.exclude_student_status.vars.prototype)|e('html_attr') }}">
                        {% for recipient in form.exclude_student_status %}
                            {{ form_widget(recipient) }}
                        {% endfor %}
                    </div>

                    <button class="btn btn-outline-primary btn-sm btn-add" type="button" data-collection="exclude_student_status">
                        <i class="fa fa-plus"></i> {{ 'actions.add'|trans }}
                    </button>

                    {{ form_errors(form.exclude_student_status) }}
                    {{ form_help(form.exclude_student_status) }}

                    {% do form.exclude_student_status.setRendered %}
                </div>
            </div>

            {{ form_row(form.lesson_topics_visible_for_students_and_parents) }}
            {{ form_row(form.attendances_visible_for_students_and_parents) }}

            {{ form_row(form.regular_font) }}
            {{ form_row(form.bold_font) }}
        </div>
    </div>

    <div class="card">
        <div class="card-header">{{ 'admin.settings.book.attendance_suggestion.label'|trans }}</div>
        <div class="card-body">
            <p>{{ 'admin.settings.book.attendance_suggestion.priority.help'|trans }}</p>

            {{ form_row(form.suggestion_priority_exam) }}
            {{ form_row(form.suggestion_priority_previously_absent) }}
            {{ form_row(form.suggestion_priority_excuse_note) }}

            {% for type in types %}
                {{ form_row(form['suggestion_priority_' ~ type.uuid.toString ]) }}
            {% endfor %}
        </div>
    </div>
{% endblock %}