{% extends "main.html.twig" %}

{% block title %}{{ 'admin.settings.dashboard.label'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('admin_settings') }}">{{ 'admin.settings.label'|trans }}</a></li>
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block content %}
    {{ form_start(form) }}

    <div class="card">
        <div class="card-header">{{ 'plans.substitutions.label'|trans }}</div>

        <div class="card-body">
            {{ form_row(form.removable_types) }}
            {{ form_row(form.additional_types) }}
            {{ form_row(form.free_lesson_types) }}
        </div>
    </div>

    <div class="buttons">
        <button type="submit" class="btn btn-primary btn-sm">
            <i class="fa fa-save"></i> {{ 'actions.save'|trans }}
        </button>
    </div>

    {{ form_end(form) }}
{% endblock %}