{% extends "admin/settings/_settings.html.twig" %}

{% block title %}{{ 'admin.settings.exams.label'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('admin_settings') }}">{{ 'admin.settings.label'|trans }}</a></li>
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block settings_card_body %}
    <div class="card-header">{{ 'label.general'|trans }}</div>

    <div class="card-body">
        {{ form_row(form.visibility) }}
        {{ form_row(form.visible_grades) }}
        {{ form_row(form.window) }}
        {{ form_row(form.window_supervisions) }}
    </div>

    <div class="card-header border-top">{{ 'admin.settings.exams.planning.label'|trans }}</div>

    <div class="card-body">
        {{ form_row(form.number_of_exams_day) }}

        {% for grade in grades %}
            {{ form_row(form['number_of_exams_week_' ~ grade.id ]) }}
        {% endfor %}
    </div>

    <div class="card-header border-top">{{ 'profile.notifications.label'|trans }}</div>

    <div class="card-body">
        {{ form_row(form.notifications_enabled) }}
        {{ form_row(form.notifications_sender) }}
        {{ form_row(form.notifications_replyaddress) }}
    </div>
{% endblock %}