{% extends "main.html.twig" %}

{% block title %}{{ 'admin.settings.timetable.label'|trans }}{% endblock %}

{% block post_javascript %}
    <script src="{{ asset('build/picker.js') }}"></script>
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.label'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('admin_settings') }}">{{ 'admin.settings.label'|trans }}</a></li>
        <li class="breadcrumb-item">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block content %}
    {{ form_start(form) }}

    <div class="card">
        <div class="card-header">{{ 'label.general'|trans }}</div>

        <div class="card-body">
            {{ form_row(form.lessons) }}
            {{ form_row(form.categories) }}
            {{ form_row(form.grades_course_names) }}
            {{ form_row(form.grades_membership_types) }}
        </div>
    </div>

    <div class="card">
        <div class="card-header">{{ 'admin.settings.timetable.lesson.legend'|trans }}</div>

        <div class="card-body">
        {% for i in 1..maxLessons %}
            {% if maxLessons > 0 %}
                {{ form_row(form['lesson_' ~ i ~ '_start']) }}
                {{ form_row(form['lesson_' ~ i ~ '_end']) }}

                {% if i > 1 %}
                    {{ form_row(form['lesson_' ~ i ~ '_collapsible']) }}
                {% endif %}
            {% endif %}
        {% endfor %}
        </div>
    </div>

    <div class="card">
        <div class="card-header">{{ 'admin.settings.timetable.supervision.legend'|trans }}</div>

        <div class="card-body">
            {{ form_row(form.supervision_label) }}
            {{ form_row(form.supervision_color) }}
            {{ form_row(form.supervision_begin) }}

            {% for i in 1..maxLessons %}
                {% if maxLessons > 0  %}
                    {{ form_row(form['supervision_label_before_' ~ i]) }}
                {% endif %}
            {% endfor %}
        </div>
    </div>

    {{ form_widget(form)}}

    <div class="buttons">
        <button type="submit" class="btn btn-primary btn-sm">
            <i class="fa fa-save"></i> {{ 'actions.save'|trans }}
        </button>
    </div>

    {{ form_end(form) }}
{% endblock %}