{% extends "main.html.twig" %}

{% block title %}{{ 'admin.settings.timetable.label'|trans }}{% endblock %}

{% block content %}
    {{ form_start(form) }}

    <div class="contentbox">
        <h4>{{ 'label.general'|trans }}</h4>

        {{ form_row(form.lessons) }}
        {{ form_row(form.categories) }}
    </div>

    <div class="contentbox">
        <h4>{{ 'admin.settings.timetable.lesson.legend'|trans }}</h4>

        {% for i in 1..maxLessons if maxLessons > 0 %}
            {{ form_row(form['lesson_' ~ i ~ '_start']) }}
            {{ form_row(form['lesson_' ~ i ~ '_end']) }}

            {% if i > 1 %}
                {{ form_row(form['lesson_' ~ i ~ '_collapsible']) }}
            {% endif %}
        {% endfor %}
    </div>

    <div class="contentbox">
        <h4>{{ 'admin.settings.timetable.supervision.legend'|trans }}</h4>

        {{ form_row(form.supervision_label) }}
        {{ form_row(form.supervision_begin) }}

        {% for i in 1..maxLessons if maxLessons > 0 %}
            {{ form_row(form['supervision_label_before_' ~ i]) }}
        {% endfor %}
    </div>

    {{ form_widget(form)}}

    <div class="buttons">
        <button type="submit" class="btn btn-primary btn-sm">
            <i class="fa fa-save"></i> {{ 'actions.save'|trans }}
        </button>
    </div>

    {{ form_end(form) }}
{% endblock %}