{% apply inky_to_html|inline_css(css_source('email')) %}
    <spacer size="16"></spacer>

    <container>

        <row class="header">
            <columns>

                <spacer size="16"></spacer>

                <h4 class="text-center">{{ config.name }}</h4>
            </columns>
        </row>
        <row>
            <columns>
                <spacer size="16"></spacer>

                <h1>{{ notification.safeSubject }}</h1>

                <spacer size="16"></spacer>

                <p>{{ 'greeting'|trans({}, 'email') }}</p>

                <p>
                    {{ notification.safeContent }}
                </p>

                <p>
                    {{ 'farewell'|trans({}, 'email') }}
                    {{ sender }}
                </p>

                {% if notification.link is not empty %}
                    {%- set text = notification.linkText -%}

                    {%- if text is empty -%}
                        {%- set text = 'notifications.link'|trans -%}
                    {%- endif -%}

                    <button class="large expanded" href="{{ notification.link }}">
                        {{ notification.linkText }}
                    </button>
                {% endif %}

                <hr/>

                <p>
                    <small>{{ 'footer'|trans({}, 'email') }}</small>
                </p>

                <p>
                    <small>
                        {% if replyTo is not empty %}
                            {{ 'reply.to'|trans({'%address%': replyTo}, 'email') }}
                        {% else %}
                            {{ 'reply.no'|trans({}, 'email') }}
                        {% endif %}
                    </small>
                </p>

                <p>
                    <button class="small expanded" href="{{ url('profile_notifications') }}">{{ 'unsubscribe'|trans({}, 'email') }}</button>
                </p>
            </columns>
        </row>
    </container>
{% endapply %}