{% extends "email/main.html.twig" %}

{% block title %}{{ 'exam.title'|trans({}, 'email') }}{% endblock %}

{% block button_content %}{{ 'exam.link'|trans({}, 'email') }}{% endblock %}
{% block button_url%}{{ url('exams') }}{% endblock %}

{% block preview %}{{ 'exam.content'|trans({}, 'email') }}{% endblock %}

{% block content %}
    <p>
        {{ 'exam.content'|trans({}, 'email') }}
    </p>
{% endblock %}

{% block additional %}{% endblock %}