{% extends "email/main.html.twig" %}

{% block title %}{{ 'message.update.title'|trans({ '%title%': objective.message.title }, 'email') }}{% endblock %}

{% block button_content %}{{ 'message.update.link'|trans({}, 'email') }}{% endblock %}
{% block button_url%}{{ url('show_message', { uuid: objective.message.uuid }) }}{% endblock %}

{% block preview %}{{ 'message.update.content'|trans({ '%title%': objective.message.title }, 'email')|raw }}{% endblock %}

{% block content %}
    <p>
        {{ 'message.update.content'|trans({ '%title%': objective.message.title }, 'email')|raw }}
    </p>

    {% if objective.message.mustConfirm %}
        <p>{{ 'message.must_confirm'|trans({}, 'email') }}</p>
    {% endif %}
    {% if objective.message.attachments|length > 0 %}
        <p>{{ 'message.attachments'|trans({}, 'email') }}</p>
    {% endif %}
    {% if objective.message.isDownloadsEnabled %}
        <p>{{ 'message.has_downloads'|trans({}, 'email') }}</p>
    {% endif %}
    {% if objective.message.isUploadsEnabled %}
        <p>{{ 'message.has_uploads'|trans({}, 'email') }}</p>
    {% endif %}
{% endblock %}

{% block additional_content %}
    <h2>{{ objective.message.title }}</h2>

    {{ objective.message.content|markdown }}
{% endblock %}