{% extends "email/main.html.twig" %}

{% block title %}
    {{ 'student_absence.create.title'|trans({'%type%': type}, 'email') }}
{% endblock %}

{% block button_content %}{{ 'student_absence.link'|trans({}, 'email') }}{% endblock %}
{% block button_url%}{{ link }}{% endblock %}

{% block preview %}
    {{ 'student_absence.create.title'|trans({'%type%': type}, 'email') }}
{% endblock %}

{% block content %}
    <p>
        {{ 'student_absence.create.content'|trans({'%type%': type}, 'email') }}
    </p>
{% endblock %}

{% block additional %}{% endblock %}

{% block notifications %}{% endblock %}

{% block footer_message %}
    {{ 'student_absence.no_reply'|trans({}, 'email') }}
{% endblock %}

{% block greeting %}{% endblock %}
{% block farewell %}{% endblock %}