{% extends "email/main.html.twig" %}

{% block title %}
    {% if is_quarantine %}
        {{ 'sick_note.quarantine.title'|trans({ '%student%': note.student|student, '%grade%': grade}, 'email') }}
    {% else %}
        {{ 'sick_note.sick.title'|trans({ '%student%': note.student|student, '%grade%': grade}, 'email') }}
    {% endif %}
{% endblock %}

{% block button_content %}{{ 'sick_note.link'|trans({}, 'email') }}{% endblock %}
{% block button_url%}{{ url('show_sick_note', { uuid: note.uuid }) }}{% endblock %}

{% block preview %}
    {% if is_quarantine %}
        {{ 'sick_note.quarantine.content'|trans({ '%student%': note.student|student, '%grade%': grade}, 'email') }}
    {% else %}
        {{ 'sick_note.sick.content'|trans({ '%student%': note.student|student, '%grade%': grade}, 'email') }}
    {% endif %}
{% endblock %}

{% block content %}
    <p>
        {% if is_quarantine %}
            {{ 'sick_note.quarantine.content'|trans({ '%student%': note.student|student, '%grade%': grade}, 'email') }}
        {% else %}
            {{ 'sick_note.sick.content'|trans({ '%student%': note.student|student, '%grade%': grade}, 'email') }}
        {% endif %}
    </p>
{% endblock %}

{% block additional %}{% endblock %}

{% block notifications %}{% endblock %}

{% block footer_message %}
    {% if note.email is not empty %}
        {{ 'sick_note.reply.email'|trans({'%email%': note.email }, 'email') }}
    {% else %}
        {{ 'sick_note.reply.no_email'|trans({}, 'email') }}
    {% endif %}
{% endblock %}

{% block greeting %}{% endblock %}
{% block farewell %}{% endblock %}